<% provide(:title, "我的收货地址") %>
<% content_for(:topbar) do %>
<header>
  <%= link_to image_tag('mobile/wshop/ico-back.png'), member_mobile_ec_shops_path(site_id: @site.id) %>
  <h1>管理收货地址</h1>
  <%= link_to image_tag('mobile/wshop/ico-add.png'), new_mobile_ec_address_path(site_id: @site.id), class: 'ico-add' %>
</header>
<% end %>

<section>
  <% if @addresses.each do |address| %>
    <div class="box-p" id="address-box-<%= address.id %>">
      <p class="p-title">
        <%= check_box_tag 'is_default', address.id, address.is_default, data: { id: address.id } %>
        <span>默认地址</span>
        <span class="fr">
          <a href="<%= edit_mobile_ec_address_path(site_id: @site.id, id: address.id) %>" class="ico ico-edit">
            <%= image_tag 'mobile/wshop/ico-edit.png' %>编辑
          </a>
          <%= link_to "#{image_tag('mobile/wshop/ico-detele-gray.png')}删除".html_safe, mobile_ec_address_path(site_id: @site.id, id: address.id), class: 'ico ico-detele', remote: true, method: :delete, confirm: '确定删除该地址？' %>
        </span>
      </p>
      <% if session[:from] == "cart" %>
         <a href="<%= new_mobile_ec_order_path(site_id: @site.id, items: session[:item_ids], address_id: address.id)%>" class="address_list">
           <p><%= address.province.try :name %> <%= address.city.try :name %></p>
           <p><%= address.address %></p>
           <p><%= address.username %>   <%= address.tel %></p>
         </a>
      <% else %>
          <p><%= address.province.try :name %> <%= address.city.try :name %></p>
          <p><%= address.address %></p>
          <p><%= address.username %>   <%= address.tel %></p>
      <% end %>
    </div>
  <% end.blank? %>
    <br>
    <p style="text-align: center;">您还没有添加收货地址！</p>
  <% end %>
</section>

<a href="javascript:scroll(0,0)" class="btn-up ico-up"></a>

<script>
$(function(){
    var addresses = $('input[name="is_default"]');
    addresses.click(function() {
      addresses.removeAttr("checked");
      $(this).get(0).checked = true;
      $.post('/<%= @site.id %>/ec_addresses/' + $(this).data('id') + '/set_default');
    });
  });    
</script>
<style>
   .address_list{
       line-height: 30px;
       /*padding: 0 5%;*/
       width: 100%;
       color: #666666;
       text-align: left;
   }
</style>
