<% title "微房产-预约" %>
<% content_for :ng_app do %>ng-app="app" ng-controller="customersController"<% end %>
<% content_for :header do %>
  <header>
    <!-- <a href="javascript:;" onclick="javascript:history.go(-1);"><span class="back"></span></a> -->
    <span class="text">微房产-预约</span>
    <!-- <a href="javascript:;"><span class="filter"></span></a> -->
  </header>
<% end %>

<%= form_tag merchant_app_houses_url, method: :get do %>
  <%= hidden_field_tag :role, 'account' %>
  <%= hidden_field_tag :role_id, @login_user.id %>
  <%= hidden_field_tag :token, @login_user.auth_token %>
  <div class="search-box">
    <div class="search">
      <div class="s-icon"></div>
      <%= search_field_tag 'mobile_or_name_like', params[:mobile_or_name_like], placeholder: '手机/姓名' %>
    </div>
  </div>
<% end %>

<div infinite-scroll='demo.nextPage()' infinite-scroll-disabled='demo.busy' infinite-scroll-distance='0'>
    <div class="mod-list" ng-repeat="order in demo.orders">
      <dl>
        <dt class="icon-right {{order.dt_class}}">
          <a href='/merchant_app/houses/{{order.id}}?role=account&role_id=<%= @login_user.id %>&token=<%= @login_user.auth_token %>'>{{order.name}}的预约看房</a>
        </dt>
        <dd>
          <p>手机号: {{order.mobile}}</p>
          <p>预约时间: {{order.order_time}}</p>
        </dd>
       </dl>
    </div>
</div>
<div class="mod-load" ng-show='demo.busy' style="display:block">加载中…</div>

<script>
// function customersController($scope,$http) {
//     $http.get('<%= raw "#{MERCHANT_APP_HOST}/v1/orders/houses?role=account&role_id=#{@login_user.id}&token=#{@login_user.auth_token}&search[mobile_or_name_cont]=#{params[:mobile_or_name_like]}" %>')
//     .success(function(response) {
//         if(response.result == 'success'){
// 		  console.log(response);
//           $scope.orders = response.data;
//           // $scope.categories = response.data['categories'];
//         }
//         else{
//           console.log(response);
//         }
//     })
//     .error(function(response) {
//         console.log(response);
//     });
// }

 var app = angular.module('app', ['infinite-scroll']);



 app.controller('customersController', 
      function ($scope, Demo) {
          $scope.demo = new Demo();
      }
 );
  
  // 创建后台数据交互工厂
  app.factory('Demo', function ($http) {
     var Demo = function () {
         this.orders = [];
         this.busy = false;
         this.page = 1;
         this.last_order_id = null;
         this.is_last_page = false;
     };
     
     Demo.prototype.nextPage = function () {
         if (this.busy) return;
         if (this.is_last_page) return;
         this.busy = true;
         var url = '<%= raw "#{MERCHANT_APP_HOST}/v1/orders/houses?role=account&role_id=#{@login_user.id}&token=#{@login_user.auth_token}&search[mobile_or_name_cont]=#{params[:mobile_or_name_like]}&page=" %>'+ this.page;
         $http.get(url).success(function (response) {
             var items = response.data;
             if(items.length == 0){this.is_last_page = true;}
            this.busy = false;
             if(items.length > 0 && this.last_order_id != items[items.length-1]['id']){
console.log(items.length);
             for(var i = 0; i < items.length; i++) {
                 this.orders.push(items[i]);
             }
             this.last_order_id = items[items.length-1].id
       this.page += 1;
             }             
         }.bind(this));
     };
 
     return Demo;
});

 
</script>

