<%= form_for @question, validate: true, :html => {id: "question-form", role: "form" } do |f| %>
    <%= f.hidden_field :wx_mp_user_id, value: current_user.wx_mp_user.try(:id) %>

    <div class="modal-body">
      <div class="form-group">
        <label class="control-label">关键字<span class="required-star">*</span></label>
        <div class="clearfix">
            <%= f.text_field :ask, class: "col-xs-8", placeholder:"请输入关键字" %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">关键字回复匹配方式<span class="required-star">*</span></label>
        <div class="clearfix">
          <%= f.select :match_type, Question.match_type_options,{}, class: "col-xs-8" %>
        </div>
      </div>

      <%- if @question.new_record? %>
          <%- @question.answer = Answer.new %>
      <%- elsif @question.answer.blank? %>
          <%- @question.create_answer(content: '请输入回复内容', answer_type: 1, supplier_id: @question.supplier_id) %>
      <%- end %>

      <%= f.fields_for :answer do |answer| %>
          <%= answer.hidden_field :supplier_id, value: current_user.id %>
          <div class="form-group">
            <label class="control-label">回复类型<span class="required-star">*</span></label>
            <div class="clearfix">
              <%= answer.select :answer_type, Answer.answer_type_options, {}, class: "col-xs-8", id: 'answer_answer_type' %>
            </div>
          </div>

          <div class="form-group">

            <div class="tab-content no-border no-padding" id="tab1">
              <div class="tab-pane active" id="tab-0">
                <div class="form-group">
                  <label class="control-label">文本内容<span class="required-star"> * </span></label>
                  <div class="clearfix">
                    <%= answer.text_area :content, rows: 5, class: 'col-xs-8', validate: true, id: 'answer_content' %>
                  </div>
                </div>
              </div>

              <div id="eventReply"></div>

              <div class="tab-pane" id="tab-1">
                <div class="form-group">
                  <label class="control-label">单图文资源<span class="required-star">*</span></label>

                  <div class="clearfix">
                    <%= answer.select :single_material_id, current_user.materials.root.single_graphic.pluck(:title,:id).map!{|m| [truncate_u(m.first), m.last] }, { selected: answer.object.try(:replyable_id) }, validate: true, id: 'answer_single_material_id', class: 'col-xs-8' %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-8 no-padding">
                    <label class="pull-left">图文预览</label>
                    <!--<a href="javascript:;" class="pull-right">管理图文资源</a>-->
                  </div>

                  <div class="col-sm-8 no-padding" style="margin-top: 30px;">
                    <div class="warpVMS">
                      <div class="vMicroShow">
                        <div class="vMSHead">
                            <span class="title">
                                <%= answer.object.replyable.try(:title) rescue '' %>
                            </span>
                            <br>
                            <span class="grey">
                                <%= answer.object.single_graphic? ? answer.object.replyable.created_at.to_date : Date.today rescue Date.today %>
                            </span>
                        </div>
                        <div class="vMSImg" id="img-1" style="background: url('<%= answer.object.replyable.try(:pic).try(:large)%>')"></div>
                        <div class="vMSFoot">
                          <p class="grey">
                            <%= answer.object.replyable.try(:summary) rescue '' %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="tab-pane" id="tab-2">
                <div class="form-group">
                  <label class="control-label">多图文素材<span class="required-star">*</span></label>
                  <div class="clearfix">
                    <%= answer.select :multiple_material_id, current_user.materials.root.multiple_graphic.pluck(:title,:id).map!{|m| [truncate_u(m.first), m.last] }, { selected: answer.object.try(:replyable_id) }, validate: true, id: 'answer_multiple_material_id', class: 'col-xs-8' %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-8 no-padding">
                    <label class="pull-left">图文预览</label>
                    <!--<a href="javascript:;" class="pull-right">管理图文资源</a>-->
                  </div>

                  <div class="col-sm-8 no-padding" style="margin-top: 30px;">
                    <div class="warpVMS">
                      <div class="vMicroShow">
                        <div class="vMSHead">
                            <span class="title">
                                <%= answer.object.replyable.try(:title)  rescue '' %>
                            </span>
                            <br>
                            <span class="grey">
                                <%= answer.object.single_graphic? ? answer.object.replyable.created_at.to_date : Date.today rescue Date.today %>
                            </span>
                        </div>
                        <div class="vMSImg" id="img-1" style="background: url('<%= answer.object.replyable.try(:pic).try(:large)%>')"></div>
                        <div class="vMSFoot">
                          <p class="grey">
                            <%= answer.object.replyable.try(:summary)  rescue '' %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="tab-pane" id="tab-3">
                <div class="form-group">
                  <label class="">选择活动<span class="required-star"> * </span></label>
                  <div class="clearfix">
                    <%= answer.select :activity_id, current_user.activities.active.unexpired.map{|m| [truncate_u(m.name), m.id] }, { selected: answer.object.try(:replyable_id) }, class: "col-xs-8", validate: true, id: 'answer_activity_id'  %>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-4">
                <label class="">选择语音<span class="required-star"> * </span></label>
                <div class="clearfix">
                  <%= answer.select :audio_id, current_user.materials.audios.select([:id,:audio]).map!{|m| [truncate_u(m.audio.try(:file).try(:filename)), m.id] }, { selected: answer.object.try(:replyable_id) }, validate: true, class: "col-xs-8", id: 'answer_audio_id' %>
                </div>
              </div>

              <div class="tab-pane" id="tab-5">
                <label class="">选择生活小助手<span class="required-star"> * </span></label>
                <div class="clearfix">
                  <%= answer.select :life_assistant_id, (current_user.assistants.helpers.map{|m| [m.try(:name), m.try(:id)]}) , { selected: answer.object.try(:replyable_id) }, validate: true, class: "col-xs-8", id: 'answer_life_assistant_id'  %>
                </div>
              </div>

              <div class="tab-pane" id="tab-6">
                <label class="">选择游戏<span class="required-star"> * </span></label>
                <div class="clearfix">
                  <%= answer.select :game_assistant_id, (current_user.assistants.games.map{|m| [m.try(:name), m.try(:id)]}) , { selected: answer.object.try(:replyable_id) }, validate: true, class: "col-xs-8", id: 'answer_game_assistant_id'  %>
                </div>
              </div>

            </div>


          </div>

      <% end %>


    </div>
    <div class="clearfix"></div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-sm btn-primary" data-fn="submit" value="确定" />
      <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
    </div>
<% end %>
<% content_for :custom_js do %>
<% end %>

<script>

  function select_answer_type() {
    var answer_type = $('#answer_answer_type').val();
    $('#answer_content').closest('.tab-pane').removeClass('active');
    $('#answer_single_material_id').closest('.tab-pane').removeClass('active');;
    $('#answer_multiple_material_id').closest('.tab-pane').removeClass('active');
    $('#answer_activity_id').closest('.tab-pane').removeClass('active');
    $('#answer_audio_id').closest('.tab-pane').removeClass('active');
    $('#answer_life_assistant_id').closest('.tab-pane').removeClass('active');
    $('#answer_game_assistant_id').closest('.tab-pane').removeClass('active');
    $('#faceTitle').hide();
    if (answer_type == 1) {
      $('#answer_content').closest('.tab-pane').addClass('active');
//      $("#answer_content").FormFace({ cid : "#eventReply", btn : "#button" , left : "0" , top : "384px", parent: ".pop" });
//      setTimeout(function() {
//        var title = $('#face-popup');
//        T = title.offset().top;
//        L = title.offset().left;
//        $("#faceTitle").css({'position':'absolute', 'z-index': 9991})
//        $("#faceTitle").css("top", parseInt(T) + "px");  //按钮位置根据实际情况调整
//        $("#faceTitle").css("left", parseInt(L) + "px");
//      }, 10);
      $('#faceTitle').show();
      $('#answer_content').focus();
    } else if (answer_type == 2) {
      $('#answer_activity_id').closest('.tab-pane').addClass('active');
    }else if (answer_type == 3) {
      $('#answer_single_material_id').closest('.tab-pane').addClass('active');
      $('#answer_single_material_id').change();
    } else if (answer_type == 4) {
      $('#answer_multiple_material_id').closest('.tab-pane').addClass('active');
      $('#answer_multiple_material_id').change();
    } else if (answer_type == 5) {
      $('#answer_audio_id').closest('.tab-pane').addClass('active');
    } else if (answer_type == 9) {
      $('#answer_game_assistant_id').closest('.tab-pane').addClass('active');
    } else if (answer_type == 10) {
      $('#answer_life_assistant_id').closest('.tab-pane').addClass('active');
    }
  }

  $(function() {
    select_answer_type();
    $('#answer_single_material_id').change( function() {
      var self = $(this);
      if(self.val() && self.val() != '-1'){
          $.ajax({
              url: '/materials/'+$(this).val(),
              type: "get",
              dataType : "json",
              success : function (data){
                  if(data){
                      self.closest('.tab-pane').find('span.title').html(data['title']);
                      self.closest('.tab-pane').find('span.grey').html(data['created_at'].slice(0,10));
                      self.closest('.tab-pane').find('p.grey').html(data['summary']);
                      self.closest('.tab-pane').find('#img-1').css("background-image", 'url(' + data['pic']['large']['url'] + ')');
                  }
              }
          });
      }else{
          self.closest('.tab-pane').find('span.title').html('素材标题');
          self.closest('.tab-pane').find('span.grey').html("<%= Date.today %>");
          self.closest('.tab-pane').find('p.grey').html('');
          self.closest('.tab-pane').find('#img-1').html('');
      }
    });

    $('#answer_multiple_material_id').change( function() {
      var self = $(this);
      if(self.val() && self.val() != '-1'){
          $.ajax({
              url: '/materials/'+$(this).val(),
              type: "get",
              dataType : "json",
              success : function (data){
                  if(data){
                      self.closest('.tab-pane').find('span.title').html(data['title']);
                      self.closest('.tab-pane').find('span.grey').html(data['created_at'].slice(0,10));
                      self.closest('.tab-pane').find('p.grey').html(data['summary']);
                      self.closest('.tab-pane').find('#img-1').css("background-image", 'url(' + data['pic']['large']['url'] + ')');
                  }
              }
          });
      }else{
          self.closest('.tab-pane').find('span.title').html('素材标题');
          self.closest('.tab-pane').find('span.grey').html("<%= Date.today %>");
          self.closest('.tab-pane').find('p.grey').html('');
          self.closest('.tab-pane').find('#img-1').css("background-image", 'url()');
      }
    });

    $('input[type="submit"]').click(function(event) {
      var question_ask = $('#question_ask').val();
      if (!$('#question_ask').val() ) {
        showTip('warning','请输入关键字');
        $('#question_ask').focus();
        event.preventDefault();
      }else{
        <%- if @question.new_record? %>
          var exists_keywords = <%= raw current_user.questions.pluck(:ask).to_json %>;
        <%- else %>
          var exists_keywords = <%= raw current_user.questions.where("id != ?", @question.try(:id)).pluck(:ask).to_json %>;
        <%- end %>
        if ($.inArray(question_ask, exists_keywords) >= 0){
          showTip('warning','关键字重复，请重新选择关键字');
          $('#question_ask').focus();
          event.preventDefault();
        }else{
          var answer_type = $('#answer_answer_type').val();
          if (answer_type == 1 && !$('#answer_content').val() ) {
            showTip('warning','请输入回复内容');
            $('#answer_content').focus();
            event.preventDefault();
          } else if (answer_type == 2 && !$('#answer_activity_id').val() ) {
            showTip('warning','请选择活动');
            $('#answer_activity_id').focus();
            event.preventDefault();
          } else if (answer_type == 3 && !$('#answer_single_material_id').val() ) {
            showTip('warning','请选择一条单图文素材');
            $('#answer_single_material_id').focus();
            event.preventDefault();
          } else if (answer_type == 4 && !$('#answer_multiple_material_id').val() ) {
            showTip('warning','请选择一条多图文素材');
            $('#answer_multiple_material_id').focus();
            event.preventDefault();
          } else if (answer_type == 5 && !$('#answer_audio_id').val() ) {
            showTip('warning','请选择一条语音素材');
            $('#answer_audio_id').focus();
            event.preventDefault();
          } else if (answer_type == 9 && !$('#answer_game_assistant_id').val() ) {
            showTip('warning','请选择一条小游戏');
            $('#answer_game_assistant_id').focus();
            event.preventDefault();
          } else if (answer_type == 10 && !$('#life_assistant_id').val() ) {
            showTip('warning','请选择一条生活小助手');
            $('#life_assistant_id').focus();
            event.preventDefault();
          }
        }
      }
    });

    $('#answer_answer_type').change( function() {
      select_answer_type();
    });

    $('#answer_content').blur( function() {
//      $(this).closest('form').resetClientSideValidations();
    });

    // innser face to content of answer_content
    $('#answer_content').bind('mousedown', function(e){
//      e.stopPropagation();
    });
    $('#answer_content').bind('focus', function(e){
      $(this).data('position', true);
      $(this).data('monitor', false);
    });
    $('body').bind('mousedown', function(){
//      var el = $('#answer_content'),
//      sel = el.getSelection();
//
//      if (el.data('monitor')) return;
//
//      el.data('pStart', sel.start);
//      el.data('pEnd', sel.end);
//      el.data('monitor', true);
    });
//    $('#answer_content').setSelection(+$('#answer_content').val().length, +$('#answer_content').val().length);

      $('#img-1').css('display', 'block');
      $('#img-1').css('background-size', '100%');
      $('#img-1').css('width', '100%');
      $('#img-1').css('height', '200px');
      $('#img-1').css('background-repeat', 'no-repeat no-repeat');
  });
</script>
