<% content_for :main_content do %>
    <div class="main-content ">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <%= render 'partials/home' %>
          <li><%= link_to '微信基础设置', welcome_wx_mp_users_path %></li>
          <li><%= link_to '关键字回复', questions_path %></li>
        </ul>
        <!-- .breadcrumb -->
        <%= render '/layouts/qrcode' %>

      </div>

      <div class="page-content">
        <div class="row">

          <div class="col-md-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="alert alert-block alert-info">
              <strong class="pull-left">提示：</strong>
              <ul class="vwebsiteHeadAlert">
                <li>当用户在微信公众号输入相应的关键字时，如果能和如下功能相匹配会回复相应的内容。</li>
              </ul>
            </div>
          </div>

          <div class=" col-md-12 ">
            <div class="col-md-3 row">
              <%= form_for @search, url: questions_path, html: { method: :get } do |f| %>
              <div class="input-group input-group-sm input-group-text">
                <%= f.text_field :ask_like, placeholder:"请输入关键字", class: 'col-xs-12' %>
                <span class="input-group-addon">
                    <%= f.submit '查询', class: 'btn btn-sm btn-filter btn-primary' %>
                </span>
              </div>
              <% end %>
            </div>
            <div class="col-md-3 row pull-right">
              <%= link_to '新增', 'javascript:;', class: 'btn btn-primary btn-sm pull-right', data: {toggle: 'modals', target: 'keywordModal', title: "新增关键字", width: '', height:"550", iframe: new_question_path}%>
            </div>
          </div>

          <div class=" col-md-12 margin-top-10">
            <table id="keyWordsTable" class="table table-striped table-bordered table-hover dataTable m">
              <thead>
                  <tr>
                    <th>关键词</th>
                    <th>关键词匹配类型</th>
                    <th>回复类型</th>
                    <th>操作</th>
                  </tr>
              </thead>
              <tboday>
                <% @questions.each do |question| %>
                    <tr>
                      <td><%= question.ask %></td>
                      <td><%= question.match_type_name %></td>
                      <td><%= question.reply_type_text %></td>
                      <td>
                        <%= link_to '编辑', 'javascript:;', data: {toggle: 'modals', target: 'keywordModal', title: '编辑关键字', width: '', height: '550', iframe: edit_question_path(question)} %>
                        <%= link_to '删除', question_path(question), data: {confirm: '确认删除关键字？', url: question_path(question), method: :delete} %>
                      </td>
                    </tr>
                <% end %>
                <% if @questions.count == 0 %>
                    <tr><td colspan="5"><span class="fgreen">还没有自定义关键词</span></td></tr>
                <% end %>
              </tboday>
            </table>
            <%= paginate @questions %>
            <div class="clearfix"></div>
          </div>


        </div>
      </div>

      <div class="modal fade" id="addKeyword">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">新建关键字</h4>
            </div>
            <%#= render 'form' %>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

    </div>

<% end %>
