<header>
	<a class="ico-hd arr-hd" href="javascript:history.go(-1);"></a>
	<h1>发表评论</h1>
</header>
<div class="contxt cont-artical">
	<%= form_for @hotel_comment, url: app_hotel_comments_url(aid: params[:aid], comment_time: Time.now.to_i, source: 'new'), validate: true do |f| %>
	<%= f.hidden_field :site_id %>
	<%= f.hidden_field :hotel_branch_id %>
	<%= f.hidden_field :hotel_id %>
	<%= f.hidden_field :user_id %>
  <%= f.hidden_field :hotel_order_id %>
	<div class="box-cont box-form box-form-comment">
		<p><label>姓名：</label><%= f.text_field :name, placeholder: "请输入您的姓名" %></p>
		<p><label>手机：</label><%= f.text_field :mobile, placeholder: "请输入您的电话号码" %></p>
	</div>
	<div class="box-cont box-form">
    <%= f.text_area :content, placeholder: "请在此输入您的评论", rows: 7 %>
	</div>
	<div class="tcenter"><a class="btn btn-big submit form-submit">发表评论</a></div>
	<% end %>
</div>

<script type="text/javascript">
  $(function(){
	  $(".btn-big").bind('click',function(){
      $hotel_comment_name = $('#hotel_comment_name');
		  $hotel_comment_mobile = $('#hotel_comment_mobile');
		  $hotel_comment_content = $('#hotel_comment_content');
		  if(!$hotel_comment_name || $hotel_comment_name.val()==""){
        alert('姓名不能为空');
        $hotel_comment_name.focus();
		  }else if(!test_mobile_number($hotel_comment_mobile.val()) || $hotel_comment_mobile.val()==""){
        alert('手机号码格式不正确');
        $hotel_comment_mobile.focus();
		  }else if(!$hotel_comment_content || $hotel_comment_content.val()==""){
        alert('评论内容不能为空');
        $hotel_comment_content.focus();
      }else{
		 	  $("form").submit();
		  }
	  });
  });

  // 手机号码正则表达式
  function test_mobile_number(mobile_number) {
    if (mobile_number == undefined) {
      return false;
    }
    var mobile_reg = /^\d{11}$/;
    if (mobile_reg.test(mobile_number)){
      return true;
    };
    return false;
  }
	
</script>