<% content_for :main_content do %>

<div class="main-content ">

  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <%= render 'partials/home' %>
      <li><%= link_to '微信基础设置', replies_path %></li>
      <li><%= link_to '消息设置', wx_messages_path %></li>
    </ul>
    <%= render '/layouts/qrcode' %>
  </div>
  <div class="page-content">
        <div class="row">

   <div class="col-sm-12">
     <div class="alert alert-block alert-info">
       <strong class="pull-left">注意：</strong>
       <ul class="vwebsiteHeadAlert">
         <li> 1、以下“ <span class="required-star">*</span> ”均为必填项。</li>
       </ul>
     </div>
   </div>

   <div class="col-sm-12">

     <div class="col-xs-12 col-md-6 col-lg-7">
       <%=form_tag("/wx/messages/send_message") do%>
         <label>请填写你要发送的文本消息</label>
         <textarea  style="height:200px" class="form-control" name="text_message"></textarea>
          <button type="submit" class="btn btn-sm btn-primary">发送</button>
      <%end%>
     </div>
   </div>
 </div>
 </div>
</div>

<% end %>
