<% content_for :main_content do %>
<div class="main-content">
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="#">首页</a>
      </li>
      <li>
       微硬件
     </li>
     <li>微小票机</li>
   </ul>
   <%= render '/layouts/qrcode' %>
 </div>
<div class="page-content">

  <div class="row">

    <div class="col-xs-6" style="margin-left: 10px;">
      <!-- 开始 template 的表单 -->

      <%= form_for @template do |f| %>
     
      <div class="form-group">
         <%= f.hidden_field :open_id, value: current_user.wx_mp_user.uid %>
         <%= f.hidden_field :template_type, value: 4 %>
      </div>
      <div class="form-group">
        <label>
          <%= f.check_box :is_open, class: "ace" %>
          <span class="lbl"> 开启 </span>
        </label>
      </div>
      
      <div class="form-group">
        <div class="clearfix input-list">
         <%= f.fields_for :thermal_printers do |printer| %>     
            <div class="input-group input-group-sm input-group-text margin-top-10">
              <span class="input-group-addon">http://www.winwemedia.com/recepit/print?supplier_id=</span>
              <%= printer.text_field :no, validate: true, class: "col-xs-12" %>
              <span class="input-group-btn">
                <input type="button" value="添加" class="btn btn-sm btn-filter btn-primary btn-add-print">
              </span>
              <%= printer.check_box '_destroy', class: "cd", style: "display: none;" %>
            </div>
          <% end %>

        </div>
        
      </div>
      

      <div class="form-group ">
         <%= f.submit "保存", class: "btn btn-sm btn-primary" %>
         <a href="/shops/pos", class="btn btn-sm btn-default">取消</a>
      </div>

      <% end %>
    </div>
  </div>
</div>

<% end %>

<% content_for :custom_js do %>

<script type="text/javascript">
  $(function(){
    $("#people").change(function(){
      window.location = $("#btn_"+$(this).val()).attr("href");
    });
    $(".btn-add-print").click(function(){
      var html = '<div class="input-group input-group-sm input-group-text margin-top-10"><span class="input-group-addon">http://www.winwemedia.com/recepit/print?supplier_id=</span><input class="col-xs-12" id="shop_branch_print_template_thermal_printers_attributes_'+Date.now()+'_no" name="shop_branch_print_template[thermal_printers_attributes]['+Date.now()+'][no]" size="30" type="text"><span class="input-group-btn"><input type="button" value="删除" class="btn btn-sm btn-filter btn-primary btn-delete"></span><input class="cd" id="shop_branch_print_template_thermal_printers_attributes_'+Date.now()+'__destroy" name="shop_branch_print_template[thermal_printers_attributes]['+Date.now()+'][_destroy]" type="checkbox" value="1"></div>';

      $(".input-list").append(html);
    });
    $(".input-list").on("click", ".btn-delete", function(){
      $(this).parent().parent().find(".cd").prop("checked", true);
      $(this).closest('.input-group').hide();
    });
    render_print_input();

    $("#shop_branch_print_template_is_open").click(function(){

      render_print_input();
    });
    correct_btn_type();
  });

  function render_print_input(){
    var t = $(".print_r:checked").val();
    // alert(t);
    if(t == "1"){
      $(".input-list").show();
      $(".abc").show();
    }else{
      // $(".input-list").hide();
      // $(".abc").hide();
    }
  }

  function correct_btn_type(){
    $(".input-list").find(".btn-add-print:not(:first)").addClass("btn-delete");
    $(".input-list").find(".btn-add-print:not(:first)").val("删除");
    $(".input-list").find(".btn-add-print:not(:first)").removeClass("btn-add-print");
  }
</script>

<% end %>

<style>
  .cd {
    display: none;
  }
</style>
