<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="format-detection" content="telephone=no">
<meta content="telephone=no" name="format-detection">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>阿狸守护宝贝无忧</title>
  <script language="javascript" src="/javascripts/wxpay/jquery.js"></script>
  <script language="javascript" src="/javascripts/wxpay/lazyloadv3.js"></script>
  <script src="/javascripts/wxpay/md5.js"></script>
  <script src="/javascripts/wxpay/sha1.js"></script>
  <script src="/javascripts/app/wxpay/util.js"></script>
  <style>
      <!--
      * {margin:0;padding:0; outline: 0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
      *,
      *:before,
      *:after {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
      }
      html, body {
          height: 100%
      }
      body {
          position: relative;
          overflow-x: hidden;
          font-size: 14px;
          font-family: arial, "\5FAE\8F6F\96C5\9ED1";
          -webkit-text-size-adjust: none;
      }
      body, p, form, h1, h2, h3, h4, h5, h6, ul, ol, li, section, div, * {
          padding: 0;
          margin: 0
      }
      img {
          border: 0;
          -ms-interpolation-mode: bicubic;
          vertical-align: middle;
          display: inline-block;
      }
      a {
          text-decoration: none;
      }
          /*table*/
      .table {
          height: 100%;
          width: 100%;
          display: table;
          text-align: center;
      }
      .tr{ display:table-row;}
      .td {
          display: table-cell;
          vertical-align: middle;
      }
      .tleft {
          text-align: left;
      }
      .tright {
          text-align: right;
      }
      .tcenter {
          text-align: center;
      }
      .html{ position: relative; max-width: 640px; margin: auto; overflow: hidden; min-height: 100%; padding: 0 0 40px 0;}
      .stage{position: relative; min-height: 100%; -webkit-transition: -webkit-transform .8s;}
      section{width: 100%; min-height: 100%;}
      footer{ height: 35px; line-height: 35px; position: relative; margin-top:-35px; text-align: center; z-index: 0;}
      footer,
      footer a{ color: #888;}
      body{
          background: #f8fdfc;
      }
      .mt20{margin-top: 20px;}
      .btn:active,
      .btn.active{
          opacity:0.8;
          filter:alpha(opacity=80);
          -moz-opacity:0.8;
          -khtml-opacity:0.8;
      }
      .btn{
          border: 0;
          border-radius: 5px;
          display: block;
          width: 60%;
          color: #fff;
          height: 36px;
          line-height: 36px;
          text-align: center;
          margin: auto;
          font-size: 16px;
          box-shadow:none;
          background: #ccc;
      }
      .btn{height: 46px; line-height: 46px; font-size: 16px; background: #5ab6b4; width: auto; margin-left: 20px; margin-right: 20px;}
      body{
          background: #f8fdfc;
      }
      .body-img{
          padding: 140px 0 0 0;
          background: url(/assets/mobile/ali/bg-img-12.png) no-repeat center top;
          background-size: auto 140px;
      }
      .body-navLine-top .html {
          padding: 46px 0 40px 0;
      }
      header{height: 46px; line-height: 46px; position: fixed; width: 100%; background-color:#5ab6b4; left: 0; top:0; overflow: hidden; text-align: center; color: #fff; font-size: 18px;}
      header h3{font-size: 18px; font-weight: 100;}
      header .fa{position: absolute; line-height: 44px; display: block; left: 10px; top:0; font-size: 14px;}
      header .fa:before{font-size: 20px;padding-right: 5px;}
      .green{background: #5ab6b4; color: #fff;}
      .gray{background: #ccc; color: #fff;}
      .text-red{color: #ec0928;}
      .text-green{color: #5ab6b4;}
      .text-gray{color: #666;}
      .text-muted{color: #999;}
      .icon{position: relative; padding-left:20px; }

      .icon:after {
          display: block;
          content: " ";
          width: 14px;
          height: 14px;
          line-height: 16px;
          text-align: center;
          background: #5ab6b4;
          border-radius: 5px;
          position: absolute;
          left: 0;
          top:3px;
          color: #fff;
          font-size: 10px;
      }
      .icon-0:after{
          content: "0";
      }
      .icon-1:after{
          content: "1";
      }
      .icon-2:after{
          content: "2";
      }
      .icon-3:after{
          content: "3";
      }
      .icon-4:after{
          content: "4";
      }
      .icon-5:after{
          content: "5";
      }
      .icon-6:after{
          content: "6";
      }
      .icon-7:after{
          content: "7";
      }
      .icon-8:after{
          content: "8";
      }
      .icon-9:after{
          content: "9";
      }
      .icon-q{color: #666; line-height: 20px; }
      .icon-q:after{content: "Q"; font-weight: 100;background-color: #25a4f9;}
      .icon-a{color: #999; line-height: 20px; }
      .icon-a:after{content: "A"; font-weight: 100;background-color: #78c11a;}
      .mt10{margin-top: 10px;}
      .btn{height: 46px; line-height: 46px; font-size: 16px; background: #5ab6b4; width: auto; margin-left: 20px; margin-right: 20px;}
      .box-event{
          border-radius: 5px;
          /*background:url(/assets/mobile/ali/bg-box.png) #fff no-repeat center bottom;*/
          /*background-size: 100% auto;*/
          overflow: visible;
          position: relative;
          box-shadow: 0 0 5px rgba(0,0,0,0.25);
          margin: 10px 20px;
          padding: 0 0 40px 0;
      }
      .box-event.event-list{padding: 0; background-image: none;}
      .box-event.mt20{
          margin: 20px 20px 10px 20px;
      }
      .box-event>b{
          height: 34px;
          line-height: 34px;
          background: #5ab6b4;
          color: #fff;
          border-radius: 5px 5px 0 0;
          display: block;
          text-align: center;
          font-size: 18px;
          position: relative;
      }
      .box-event b:before{
          position: absolute;
          content: " ";
          border-color: transparent transparent #5ab6b4 transparent;
          width: 0;
          height: 0;
          border-width: 16px 30px;
          border-style: solid;
          top:-30px;
      }
      .box-event.mt20 b:before{
          display: none;
      }
      .box-event p,
      .box-event a{margin: 10px 20px; color: #5ab6b4; min-height: 20px; line-height: 20px;}
      .box-event p.text-gray{color: #666;}
      .box-event.mod-fa p{}
      .mod-fa p.icon:after,
      .mod-fa a.icon:after{top:13px;}
      .event-list>p>*,
      .event-list>a>*{overflow: hidden; display: block;}
      .event-title>*{display: inline-block; text-overflow: ellipsis;
          white-space: nowrap; overflow: hidden; line-height: 30px; height: 30px;}
      .event-title>b{ max-width: 200px;}
      .mod-fa .fa:before{
          position: absolute;
          display: block;
          right: 0;
          top:50%;
          width: 20px;
          height: 20px;
          line-height: 20px;
          color: #999;
          margin: -10px 6px 0 0;
          font-size: 14px;
          text-align: right;
      }
      .mod-fa em{
          font-style: normal;
          display: inline-block;
          float: right;
          line-height: 20px;
          padding: 0 10px;
          border-radius: 1000px;
          font-size: 12px;
          margin-right: 20px;
      }
      .mod-border p,
      .mod-border a{border-bottom: 1px solid #eee; color: #666;width: 98%; overflow:hidden; margin: 0 1%; min-height: 40px;padding-top: 10px; padding-bottom: 10px; line-height: 20px;}
      .mod-border > p:last-child,
      .mod-border > a:last-child{border: 0;}
      .border-full p,
      .border-full a{width: 100%; margin: 0; padding-left: 30px; padding-right: 20px; background-color: #fff;}
      .border-full a.fa:before{right: 10px;}
      .border-full a.icon:after{left: 10px;}
      .border-full p:first-child,
      .border-full a:first-child{border-top:1px solid #eee;}
      .border-full p:last-child,
      .border-full a:last-child{border-bottom:1px solid #eee;}
      .list-text{margin-top:20px;margin-bottom:20px;}
      .list-text>*{line-height: 22px;}
      .list-text>*>*{display:table-cell; vertical-align: text-top;}
      .list-text b{color: #666; width: 100px; text-align: right;}
      .list-img{padding: 0 90px 0 0; background: url(/assets/mobile/ali/bg-img.png) no-repeat right center; background-size: auto 84px; margin-bottom: 0;}
      .title{ font-size: 18px; line-height: 40px; text-align: center; color: #333; font-weight: 100;}
      .article{line-height: 20px; color: #999; padding:20px;word-spacing:normal; word-break:normal; word-break:break-all;}
      .faq{margin: 10px 20px;}
      .mod-form{margin: 10px 20px;}
      .form-li label{line-height: 20px; color: #333;}
      .mod-form .ft .btn{width: 98%; display: block; margin: 10px auto;}
      .mod-list{border:1px solid #eee; box-shadow: 0 0 5px rgba(0,0,0,0.25); margin: 20px; background-color: #fff; padding:2px;}
      .list-li{border-bottom: 1px solid #eee; padding: 10px; line-height: 20px; color: #999;}
      .mod-list .list-li:last-child{border: 0;}
      .list-li b{font-weight: bold; color: #666; width: 100px; float: left; display: block;}
      .list-li span{ display: block; width: 100%;color: #999;}
      @media screen and (orientation:landscape) {
          .body-img{
              background-size: auto 260px;
              padding: 260px 0 0 0;
          }
          .box-event{
              padding: 0 0 100px 0;
          }
      }
      .activity-bg{
          width: 100%;
          padding-top: 5px;
      }
      .box-event{
          padding: 0px;
      }
      -->
  </style>
</head>
<body>
<div class="html" id="html">
  <div class="stage" id="stage">
    <section id="sec-index">
      <div class="body body-img">
        <div class="box-event">
          <b>宝贝无忧宣言</b>
          <p class="text-gray"><%= @order.try(:yongan_ali_policy).try(:message) %></p>
          <span><%= image_tag asset_path('mobile/ali/bg.jpg'), class:"activity-bg"%></span>
        </div>
        <div class="list-text list-img" style="min-height: 85px;">
          <% if @order.wx_user_id == @order.try(:yongan_ali_policy).try(:wx_user_id) %>
              <p></p>
              <p><b>支付金额：</b><span class="text-red">￥<%= @order.amount %></span></p>
              <p></p>
        <% else %>

              <p><b>帮付金额：</b><span class="text-red">￥<%= @order.amount %></span></p>
              <p><b>您的姓名：</b><span class="text-gray"><%= @order.name %></span></p>
              <p><b>祝福语：</b><span class="text-gray"><%= @order.wish %></span></p>
          <% end %>
        </div>
        <a class="btn mt20" href="javascript:void(0);" id="getBrandWCPayRequest" style="margin-top: 5px;">立即支付</a>
      </div>
    </section>
  </div>
</div>
</body>
</html>
<script Language="javascript">

    var oldPackageString;//记住package，方便最后进行整体签名时取用
    var oldTimeStamp ;//记住timestamp，避免签名时的timestamp与传入的timestamp时不一致
    var oldNonceStr ; //记住nonceStr,避免签名时的nonceStr与传入的nonceStr不一致

    //================= getters ==============================
    function getPartnerId()
    {
        // return document.form1.partnerId.value;
        return "<%= @wxpay.partner_id%>"
    }

    function getPartnerKey()
    {
        return "<%= @wxpay.partner_key%>";
    }
    function getAppId()
    {
        // return document.form1.appId.value;
        return "<%= @wxpay.app_id%>"
    }

    function getAppKey()
    {
        return "<%= @wxpay.pay_sign_key%>"
    }

    function getTimeStamp()
    {
        var timestamp=new Date().getTime();
        var timestampstring = timestamp.toString();//一定要转换字符串
        oldTimeStamp = timestampstring;
        return timestampstring;
    }

    function getNonceStr()
    {
        var $chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var maxPos = $chars.length;
        var noceStr = "";
        for (i = 0; i < 32; i++) {
            noceStr += $chars.charAt(Math.floor(Math.random() * maxPos));
        }
        oldNonceStr = noceStr;
        return noceStr;
    }

    function getSignType()
    {
        return "SHA1";
    }

    function getBody(){
        return "<%= YonganAliPolicy::PRODUCT_NAME %>";
    }

    function getNotifyUrl(){
        return "<%= @order.send(:notify_url, "notify") %>"
    }

    function getIp(){
        return "<%= request.remote_ip%>"
    }

    function getPayemnt(){
        return "<%= @payment.out_trade_no%>"
    }

    function getAmount(){
        return "<%= (@payment.amount*100).to_i %>"
    }

    //以下是package组包过程：
    function getPackage()
    {
        var banktype = "WX";
        var body = getBody(); //document.form1.body.value;//商品名称信息，这里由测试网页填入。
        var fee_type = "1";//费用类型，这里1为默认的人民币
        var input_charset = "UTF-8";//字符集，这里将统一使用GBK
        var notify_url = getNotifyUrl(); //"http://www.qq.com";//支付成功后将通知该地址
        var out_trade_no = getPayemnt();//""+getANumber();//订单号，商户需要保证该字段对于本商户的唯一性
        var partner = getPartnerId();//测试商户号
        var spbill_create_ip = getIp();// "127.0.0.1";//用户浏览器的ip，这个需要在前端获取。这里使用127.0.0.1测试值
        var total_fee = getAmount();//document.form1.totalFee.value;//总金额。
        var partnerKey = getPartnerKey();//这个值和以上其他值不一样是：签名需要它，而最后组成的传输字符串不能含有它。这个key是需要商户好好保存的。

        //首先第一步：对原串进行签名，注意这里不要对任何字段进行编码。这里是将参数按照key=value进行字典排序后组成下面的字符串,在这个字符串最后拼接上key=XXXX。由于这里的字段固定，因此只需要按照这个顺序进行排序即可。
        var signString = "bank_type="+banktype+"&body="+body+"&fee_type="+fee_type+"&input_charset="+input_charset+"&notify_url="+notify_url+"&out_trade_no="+out_trade_no+"&partner="+partner+"&spbill_create_ip="+spbill_create_ip+"&total_fee="+total_fee+"&key="+partnerKey;

        var md5SignValue =  ("" + CryptoJS.MD5(signString)).toUpperCase();
        //然后第二步，对每个参数进行url转码，如果您的程序是用js，那么需要使用encodeURIComponent函数进行编码。

        banktype = encodeURIComponent(banktype);
        body=encodeURIComponent(body);
        fee_type=encodeURIComponent(fee_type);
        input_charset = encodeURIComponent(input_charset);
        notify_url = encodeURIComponent(notify_url);
        out_trade_no = encodeURIComponent(out_trade_no);
        partner = encodeURIComponent(partner);
        spbill_create_ip = encodeURIComponent(spbill_create_ip);
        total_fee = encodeURIComponent(total_fee);

        //然后进行最后一步，这里按照key＝value除了sign外进行字典序排序后组成下列的字符串,最后再串接sign=value
        var completeString = "bank_type="+banktype+"&body="+body+"&fee_type="+fee_type+"&input_charset="+input_charset+"&notify_url="+notify_url+"&out_trade_no="+out_trade_no+"&partner="+partner+"&spbill_create_ip="+spbill_create_ip+"&total_fee="+total_fee;
        completeString = completeString + "&sign="+md5SignValue;

        oldPackageString = completeString;//记住package，方便最后进行整体签名时取用

        return completeString;
    }

    //下面是app进行签名的操作：

    function getSign()
    {
        var app_id = getAppId().toString();
        var app_key = getAppKey().toString();
        var nonce_str = oldNonceStr;
        var package_string = oldPackageString;
        var time_stamp = oldTimeStamp;
        //第一步，对所有需要传入的参数加上appkey作一次key＝value字典序的排序
        var keyvaluestring = "appid="+app_id+"&appkey="+app_key+"&noncestr="+nonce_str+"&package="+package_string+"&timestamp="+time_stamp;
        sign = CryptoJS.SHA1(keyvaluestring).toString();
        return sign;
    }

</script>

<script language="javascript">
    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
    var flag = true;
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        //公众号支付
        jQuery('a#getBrandWCPayRequest').click(function(e){
            if(flag){
                flag = false;
                WeixinJSBridge.invoke('getBrandWCPayRequest',{
                    "appId" : getAppId(), //公众号名称，由商户传入
                    "timeStamp" : getTimeStamp(), //时间戳
                    "nonceStr" : getNonceStr(), //随机串
                    "package" : getPackage(),//扩展包
                    "signType" : getSignType(), //微信签名方式:1.sha1
                    "paySign" : getSign() //微信签名
                },function(res){
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                        window.location.href="<%= @order.send(:callback_url, "#{@supplier.id}/yongan/ali_orders/success?order_no=#{@order.order_no}")%>";
                    }else{
                        window.location.href="<%= @order.send(:callback_url, "#{@supplier.id}/yongan/ali_orders/faild?order_no=#{@order.order_no}")%>";
                    }
                });
            }
        });
        // WeixinJSBridge.log('yo~ ready.');
    }, false)

    //隐藏右上角的按钮
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
    });
</script>
