<%= content_for :breadcrumb_li do %>
  <li><%= link_to '用户管理', normal_users_wbbs_topics_path(community_id: @wbbs_community.id, type: params[:type]) %></li>
<%- end %>
<%= content_for :tab do %>
<div id="tab-3" class="tab-pane fade active in">
  <div class="col-sm-12">
    <div class="alert alert-block alert-success ">
      <strong class="pull-left">提示：</strong>
      <ul class="vwebsiteHeadAlert">
        <li>对在社区发送话题或者评论的用户进行管理，对用户进行屏蔽操作即可将该用户所发布的帖子或者评论隐藏（仅该用户自己可见）。</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-12 margin-top-20">
    <table id="drTable" class="table table-striped table-bordered table-hover dataTable ">
      <thead>
      <tr>
        <th width="100">用户名</th>
        <th width="50">发帖数</th>
        <th width="50">点赞数</th>
        <th width="50">评论数</th>
        <th width="50">举报数</th>
        <th width="50">操作</th>
      </tr>
      </thead>
      <tbody>
        <% if @users.each do |user| %>
          <tr>
            <td><%= user.nickname.present? ? user.nickname : '游客' %></td>
            <td><%= user.wbbs_topics_count %></td>
            <td><%= user.wbbs_up_count %></td>
            <td><%= user.wbbs_replies_count  %></td>
            <td><%= user.wbbs_reports_count  %></td>
            <td>
              <%= link_to '屏蔽', forbid_user_wbbs_topic_path(user,community_id: @wbbs_community.id, type: params[:type]), method: 'post', confirm: "你确定要屏蔽此用户？" %>
            </td>
          </tr>
          <% end.blank? %>
          <tr><td colspan="6" class="green text-center">无记录</td></tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>
</div>
<%- end %>
<%= render "biz/wbbs_communities/community" %>