<% content_for :website_top_pic do %>
<header>
  <div class="box-img" id="slider">
    <ul class="box-img-list" >
      <% website_pictures.each do |w| %>
          <li>
            <% if w.url.present? %>
                <a href="<%= w.url%>"><%= image_tag w.pic.try(:big)%></a>
            <% else %>
                <%= image_tag w.pic.try(:big)%>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</header>
<% end if website_pictures.present? %>

<div class="body">
  <div class="box-index table">
    <p class="td">
      <% website_menus.each_with_index do |menu,index| %>
      <a href="<%= menu_url menu %>">
        <b><%= image_tag menu.pic.thumb if menu.pic? %></b>
        <span>
          <%= menu.name %>
        </span>
        <i class="box-bg"></i>
      </a>
      <% end %>
    </p>
  </div>
</div>

<% content_for :load_view_js do %>
    <script type="text/javascript">
        $(function(){
            new Swipe(document.getElementById('slider'), {
                speed:500,
                auto:3000
            });
            var l=$(".box-index p a").length;
            if(l>6){
                $(".box-index").removeClass("table");
                $(".box-index p").removeClass("td");
            }
            window.addEventListener("orientationchange", orientationHandler, false);
        });
        function orientationHandler() {
            $(".box-index").removeClass("table");
            $(".box-index p").removeClass("td");
        }
    </script>
<% end %>