<%
   colors = [
           ["#c26700","#361d00"],
           ["#5e5a59", "#73603d", "#bf8a49", "#f2ca80", "#114243", "#0b674f", "#9c853e", "#69510b"]
   ]
%>

<%
   color_index1 = 0
   color_index2 = 0
%>
<% website_menus.each_with_index do |child, index|%>
    <% if index % 5 == 0%>
        <a href="<%= menu_url child %>" style="background:<%= colors[0][color_index1 % 2]%>;" class="box-index box-fw">
          <span style="background-image:url(<%= child.pic.thumb if child.pic?%>)"><%= child.name %></span>
        </a>
        <% color_index1 += 1%>
    <% else %>
        <a href="<%= menu_url child %>" style="background:<%= colors[1][color_index2 % 8]%>;" class="box-index box-<%= color_index2 % 2 == 0 ? "fl" : "fr"%>">
          <span><%= image_tag child.pic.thumb if child.pic? %><br/><%= child.name %></span>
        </a>
        <% color_index2 += 1%>
    <% end %>
<% end %>