<% if website_pictures.present? %>
    <% content_for :website_top_pic do %>
        <header>
          <div class="box-img" id="slider">
            <ul class="box-img-list">
              <% website_pictures.each do |w| %>
                  <li>
                    <% if w.url.present? %>
                        <a href="<%= w.url%>"><%= image_tag w.pic.try(:large)%></a>
                    <% else %>
                        <%= image_tag w.pic.try(:large)%>
                    <% end %>
                  </li>
              <% end %>
            </ul>
            <div class="box-text">
      <span class="box-bd ellipsis" id="slider-span">
        <%= website_pictures.first.title %></span>
              <div id="pagenavi" class="fr box-img-page">
                <% website_pictures.each_with_index do |w, index| %>
                    <a href="#" class="<%= (index+1) == 1 ? 'active' : ' ' %>
          ">
                      <% index + 1 %></a>
                <% end %></div>
            </div>
          </div>
        </header>
    <% end %>
<% end %>

<div class="body">
  <% website_menus.each_with_index do |menu,index| %>
  <div class="box box-book cont-index">
    <div class="hd"></div>
    <div class="bd">
      <a href="<%= menu_url menu %>" class="box-block"></a>
      <div class="box-index">
        <p class="box-index-hd">
          <%= image_tag menu.pic if menu.pic? %></p>
        <p class="box-index-bd ellipsis">
          <%= menu.name %></p>
      </div>
    </div>
    <div class="ft"></div>
  </div>
  <% end %>
</div>

<style type="text/css">
  .box-index a.last{ margin-right: 0;}
</style>

<% content_for :load_view_js do %>
    <script type="text/javascript">
      $(".box-index a:odd").addClass("last");
    </script>
<% end %>