<% content_for :website_top_pic do %>
    <header>
      <div class="box-img" id="slider">
        <ul class="box-img-list" >
          <% website_pictures.each do |w| %>
              <li>
                <% if w.url.present? %>
                    <a href="<%= w.url%>"><%= image_tag w.pic.try(:large)%></a>
                <% else %>
                    <%= image_tag w.pic.try(:large)%>
                <% end %>
              </li>
          <% end %>
        </ul>
        <div class="box-text">
          <span class="box-bd ellipsis fl" id="slider-span"><%= website_pictures.first.title %></span>
          <div id="pagenavi" class="fr box-img-page">
            <% website_pictures.each_with_index do |w, index| %>
                <a href="#" class="<%= (index+1) == 1 ? 'active' : ' ' %>">
                  <% index + 1 %>
                </a>
            <% end %>
          </div>
          <div class="box-bg"></div>
        </div>
      </div>
    </header>
<% end if website_pictures.present? %>

<% color_array = ["#c66964", "#7f638c", "#ff971e", "#a0c84e", "#b352a3", "#55abdc", "#6a75d1", "#63c53c", "#2c9489", "#ff6162", "#76caca", "#2a80b9", "#e9c500"]%>
<% website_menus.each_with_index do |menu,index| %>
    <a href="<%= menu_url menu %>" class="box box-index <%= index % 13 == 0 ? "fw" : (index % 2 == 1 ? 'fl' : 'fr')%>" style="background-image:url('<%= menu.pic.thumb if menu.pic? %>');background-color: <%= color_array[index % 13]%>">
        <%#= image_tag menu.pic.thumb if menu.pic? %>
        <%= menu.name %>
    </a>
<% end %>
