<% content_for :brokerage_breadcrumb_li do %>
    <li><%= link_to '客户管理', brokerage_clients_path %></li>
<% end %>
<% content_for :brokerage_tab_content do %>
    <div id ="tab-3" class="tab-pane fade active in">
      <div class="row">
        <div class="col-md-12">
          <%= form_for @search, url: {action: action_name}, class: 'box-form form-row', html: { method: :get } do |f| %>
            <div class="col-md-3 row">
              <div class="input-group input-group-text">
                <span class="input-group-addon">客户姓名或电话号码：</span>
                  <div class="clearfix">
                    <%= f.text_field :name_or_mobile_like, class: 'col-xs-12', placeholder: "请输入客户姓名或电话号码" %>
                  </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group input-group-text">
                <span class="input-group-addon">所属经纪人姓名：</span>
                  <div class="clearfix">
                    <%= f.text_field :broker_name_like, class: 'col-xs-12', placeholder: "请输入经纪人姓名" %>
                  </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group input-group-text">
                <span class="input-group-addon">客户状态：</span>
                <%= f.select :commission_type_id_eq, options_for_select(@commission_types.unshift(['全部', '']), @search.commission_type_id_eq), class: 'col-xs-12' %>
              </div>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-primary btn-sm btn-filter">查询</button>
            </div>
          <% end %>
        </div>
        <div class="col-md-12 margin-top-20">
          <table id="couponGateTable" class="table table-striped table-bordered table-hover dataTable ">
            <thead>
              <tr>
                <th style="width: 12%;">姓名</th>
                <th style="width: 12%;">推荐时间</th>
                <th style="width: 12%;">电话</th>
                <th style="width: 12%;">所属经纪人</th>
                <th style="width: 12%;">备注</th>
                <th style="width: 6%;">客户状态</th>
                <th style="width: 6%;">操作</th>
              </tr>
            </thead>
            <tbody>
              <% if @brokerage_clients.each do |brokerage_client| %>
                <tr>
                  <td><%= brokerage_client.name %></td>
                  <td><%= brokerage_client.created_at.to_s[0, 16] %></td>
                  <td><%= brokerage_client.mobile %></td>
                  <td><%= brokerage_client.broker.name %></td>
                  <td><%= brokerage_client.remarks %></td>
                  <td><%= brokerage_client.commission_type.try(:mission_type_name) %></td>
                  <td><%= modal_to '修改状态', edit_brokerage_client_path(brokerage_client), title: :修改客户状态, data: { height: 300} %></td>
                </tr>
              <% end.blank? %>
                <tr><td colspan="6" class="green text-center">暂无数据</td></tr>
              <%- end %>
            </tbody>
          </table>
          <%=  paginate @brokerage_clients %>
        </div>
      </div>
    </div>
<% end %>

<%= render 'huodong/brokerage/brokerage_main_content' %>


