<div class="m-main">
  <%= form_tag sessions_path, id: "session_form", remote: true do %>
    <div class="m-form">
      <div class="m-icon circle"><i class="fa fa-user"></i></div>
      <div class="m-title">微枚迪</div>
      <div class="m-input-text m-input-join-u">
        <%= text_field_tag :login, params[:login], class: "input-focus radius-bl0 radius-br0 validate", data: {tip: "请输入您的账号"} %>
      </div>
      <div class="m-input-text m-input-join-d m-input-pass">
        <%= password_field_tag :password, nil, class: "input-focus radius-tl0 radius-tr0 validate", data: {tip: "请输入密码"} %>
      </div>
      <div class="m-input-text">
        <%= rucaptcha_input_tag(class: 'input-focus validate', placeholder: '请输入验证码') %>
        <div class="m-check-num">
          <a class="rucaptcha-image-box" href="javascript:;"><%= rucaptcha_image_tag %></a>
        </div>
      </div>
      <div class="m-link-tip">
        <!-- <a class="m-link-tip-fg" href="<%= new_password_reset_path %>">忘记密码？</a> -->
        <!-- <a class="m-link-tip-rg" href="<%= register_path %>">注册新账号&gt;</a> -->
      </div>
      <div class="m-input-btn m-input-btn-ps">
        <%= submit_tag "登录", class: "m-input-btn-s", disabled: true, disable_with: "提交中..."%>
      </div>
    </div>
  <% end %>
</div>

<%= content_for :custom_js do %>
  <script>

    $(".rucaptcha-image-box").on('click', function(){
      var img = $(this).find('img:first'),
        currentSrc = img.attr('src');
      img.attr('src', currentSrc.split('?')[0] + '?' + (new Date()).getTime());
    });

    $("#session_form").bind("ajax:success", function(event, xhr, settings) {
      checkInputDel($(".m-input-text"));
      if(xhr["code"]==0){
        location.href=xhr["url"];
      }else{
        checkInput($(".m-input-text").eq(xhr["num"]), xhr["status"], xhr["message"]);
      }
    });

    $(function(){
      $(".m-input-text input").Ztip({
        exceptClass: ["validate"]
      });
    });

    var input = $(".validate");
    input.on("input keyup input", function() {
      var flag = true;
      input.each(function(i) {
        var $val = $(this).val();
        if (!$val || $val =="请输入您的账号" || $val =="请输入验证码") {
          flag = false;
          $(".m-input-btn-s").removeClass("m-input-btn-active").prop("disabled", true);
          return false;
        }
      });
      if(flag){
        $(".m-input-btn-s").addClass("m-input-btn-active").prop("disabled", false);
          console.log()
          $("#password").prev().val($("#login").val());
      }
    });
  </script>
<% end %>
