<div class="gl-ct-inner1">
  <a class="g_pass" data-toggle="modal" data-target="#myModal" href="javascript:;">跳过</a>
  <!-- Modal -->
  <div class="modal fade g_guied_tanchu" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
         <h4 class="modal-title">&nbsp;<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h4>
        </div>
        <div class="modal-body g_padv50" align="center">
         必须跟公众号绑定才能正常使用微枚迪后台功能，建议完成绑定
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-sm btn-primary" data-dismiss="modal" href="javascript:;">继续绑定</a>
          <a href="/" class="btn  btn-sm">稍后绑定</a>
        </div>
      </div>
    </div>
  </div>

  <%= form_for @wx_mp_user, url: step1_binds_url, validate: false, method: :post do |f| %>
    <h3>升级微信公众号&nbsp;<small><a href="/sign_out" class="blue">返回首页</a></small></h3>

    <div class="form-group">
      <label>公众号名称<span class="required-star">*</span></label><a href="https://mp.weixin.qq.com/" class="pull-right font-size13" target="_blank">点击到公众平台查看</a>
      <div class="clearfix">
        <%= f.text_field :name, class: "form-control", placeholder: '您的公众号名称' %>
      </div>
    </div>

    <div class="form-group">
      <label>公众号原始ID<span class="required-star">*</span></label>
      <div class="clearfix">
        <%= f.text_field :openid, class: "form-control", placeholder: '您的公众平台原始ID 如：gh_4350e3b5bb12' %>
      </div>
    </div>

    <div class="form-group">
      <label>微信号</label>
      <div class="clearfix">
        <%= f.text_field :nickname, class: "form-control", placeholder: '您的公众平台微信号' %>
      </div>
    </div>

    <div class="form-group">
      <label>公众号二维码<span class="required-star">*</span></label>
      <div class="clearfix">
        <div class="cieldon-file width-100px " data-type="0" data-height="120" data-width="120" data-name="wx_mp_user[qrcode_key]" data-img="<%= f.object.qrcode_url %>" data-key="<%= f.object.qrcode_key %>"></div>
      </div>
    </div>
    <div class="align-center grey" style="margin-top: -20px">
      <label>步骤太繁琐？您可以选择<a href="<%= rebind_binds_url %>">自动绑定</a></label>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary form-control" value="下一步">
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>


<% content_for :custom_js do %>
  <script>

    $(function(){
      $('input[type="submit"]').click(function(e){
        if(!$('#wx_mp_user_name').val()){
          showTip("warning", "公众号名称不能为空");
          return false;
        }else if(!$('#wx_mp_user_uid').val()){
          showTip("warning", "公众号原始ID不能为空");
          return false;
        }else if(!$('input[name="wx_mp_user[qrcode_key]"]').val()){
          showTip("warning", "公众号二维码不能为空");
          return false;
        }
      });
    });

  </script>
<% end %>
