<% provide(:title, "编辑贺卡") %>
<%= form_for @user_greet_card, 
  :url => mobile_greet_card_user_greet_cards_url(supplier_id: @user_greet_card.greet_card.greet.supplier_id, greet_card_id: @user_greet_card.greet_card_id), method: :post do |f| %>

  <%= f.hidden_field :greet_card_id, value: @user_greet_card.greet_card.id %>
  <%= f.hidden_field :wx_user_id, value: session[:wx_user_id] %>

  <div class="audio">
    <div class="audio-title">
   
      <% if @greet_card.recommand_title_pic.blank? %>
        <%= image_tag(@greet_card.title_pic.large) %>
      <% else %>
        <%= image_tag(@greet_card.recommand_title_pic) %>
      <% end %>

      <%= f.text_field :title,class: "input-text", value: @user_greet_card.greet_card.title %>
      <div class="layout">
        <span>昵称：</span>
        <label>
          <%= f.text_field :sender_name, class: "input-text" %>
        </label>
      </div>
      <% if @user_greet_card.greet_card.card_type == 1 %>
      <div class="layout">
        <span>选择语音：</span>
        <label>
          <%= f.select :user_voice_id, WxUser.find(session[:wx_user_id]).user_voices.map{|user_voice|[user_voice.sound_name, user_voice.id]}, class: "select" %>
        </label>
      </div>
      <% end %>
      <div class="layout">
        <span>贺卡内容：</span>
        <label>
          <%= f.text_area :content, class: "textarea", value: @user_greet_card.greet_card.content %>
        </label>
      </div>
      <a href="javascript:submit_form();" class="btn">贺卡预览</a>
    </div>
  </div>

<% end %>
<script>
  function submit_form(){
    if($("#user_greet_card_title").val() == ''){
      alert("标题不能为空");
    }else if($("#user_greet_card_sender_name").val() == ''){
      alert("昵称不能为空");
    }else if($("#user_greet_card_content").val() == ''){
      alert("内容不能为空");
    }else{
      $("form").submit();
      // alert("提交成功!");
    }
  }
</script>
