<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '微信基础设置', replies_path %></li>
        <li><%= link_to '自动回复', autoreply_replies_path %></li>
      </ul>
      <%= render '/layouts/qrcode' %>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-block alert-info">
            <strong class="pull-left">提示：</strong>
            <ul class="vwebsiteHeadAlert">
              <li>1、当粉丝在您的微信公众号中输入的关键字无法匹配时，会自动推送以下您设置的回复内容；</li>
              <li>2、以下“<em style="color: #ff0000; padding: 0 3px;"> * </em>”均为必填项；</li>
            </ul>
          </div>
        </div>

        <div class=" col-sm-12 ">
          <%= render 'form', {text_allow_blank: true} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
