<% @hotel_branches.each do |branch| %>
    <% pp branch.hotel_pictures.where(is_cover: true)%>
<div class="list-li" onclick="javascript:window.location.href='<%= app_hotels_path %>/<%= branch.id%>?aid=<%= params[:aid] %>& %>&check_in_date=<%= params[:check_in_date] %>&check_out_date=<%= params[:check_out_date] %>&page=1#mp.weixin.qq.com'">
	<div class="hd"><%= image_tag (branch.hotel_pictures.where(is_cover: true).first.try(:path) || '/assets/hotel/1.gif') %></div>
	<div class="bd">
		<b><%= branch.name %></b>
		<p>
			<span class="tleft"><%= branch.district.try(:name) %> | <%= branch.business_district %></span>
			<span><em>￥<%= branch.hotel_room_types.normal.select('MIN(discount_price) as discount_price').first.try(:discount_price) %></em>起</span>
		</p>
		<p><span><%= branch.hotel_comments.count %>条评论</span></p>
	</div>
	<div class="ft"><span class="arrow arr-small"></span></div>
</div>
<% end %>