<% @hotel_room_types.each do |room_type| -%>
<div class="list-li">
  <div class="table">
    <div class="hd box-txt td">
      <a class="box-block list-a"><span class="visuallyhidden">链接</span></a>
      <p><span>普通会员</span><em>￥<%= room_type.price %></em></p>
      <% if !room_type.discount_price.nil? and room_type.discount_price > 0 %><p><span>享 会 员</span><em>￥<%= room_type.discount_price %></em></p><%end%>
    </div>
    <div class="bd td">
      <span><%= room_type.name %></span>
    </div>
    <div class="bd2 td">
      <% available_qty = room_type.hotel_room_settings.normal.where('date between ? and ?', params[:check_in_date], Date.parse(params[:check_out_date])-1.days).select('min(available_qty) available_qty').first.try(:available_qty) %>
      <% if available_qty.nil? or available_qty <= 0 %>
        <a class="btn btn-error btn-small">已满</a>
      <%else%>
        <a class="btn btn-small" href="javascript:void();"  onclick="javascript:window.location.href='<%= new_app_hotel_order_path %>?room_type_id=<%= room_type.id %>&aid=<%= params[:aid] %>& %>&check_in_date=<%= params[:check_in_date] %>&check_out_date=<%= params[:check_out_date] %>'" >预订</a>
      <%end%>
    </div>
  </div>
  <div class="ft">
    <div class="fl">
      <%= image_tag room_type.pic %>
    </div>
    <div class="fr">
      <p><span><%= room_type.is_breakfast ? '有早' : '无早' %></span><span><%= room_type.is_broadband ? '有宽带' : '无宽带' %></span></p>
      <p><span><%= "#{room_type.area} 平方米" unless room_type.area.nil? %></span><span><%= "#{room_type.floor} 楼"  unless room_type.area.nil? %></span></p>
      <% if room_type.is_big_bed %>
      <p><span><%= "大床 "%> <%= " * #{room_type.big_bed_count}" unless room_type.big_bed_count.nil? %></span><span><%= room_type.big_bed_spec %></span></p>
      <%end%>
      <% if room_type.is_small_bed %>
      <p><span><%= "小床 " %> <%= " * #{room_type.small_bed_count}" unless room_type.small_bed_count.nil? %></span><span><%= room_type.small_bed_spec %></span></p>
      <%end%>
    </div>
  </div>
</div>
<% end %>