
<!-- saved from url=(0084)https://ssl.gongyi.qq.com/m/weixin/detail.htm?showwxpaytitle=1#p%3Ddetail%26id%3D816 -->
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
<title>苏州慈善</title>

<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">

<style>
  * {margin:0;padding:0;} img{width:100%;border:none;} a{text-decoration:none;}.fl{float:left;}.fr{float:right;}
  body{font-family:"Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, sans-serif;background:url(http://mat1.gtimg.com/gongyi/m/wx/bg_repeat.jpg) repeat;margin:0;padding:0;-webkit-text-size-adjust:none;}.none{display:none}.clear{clear:both;}
  input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;margin:0;}

  .detail{font-size:16px;margin:auto;}
  .detail .top .img_mark{width:100%;height:86px;margin-top:-86px;display:block;}
  .detail .top .hot{margin-top:-30px;margin-left:13px;color:#ffffff;font-size:18px;text-shadow:1px 1px 3px #414141;font-weight:700;letter-spacing:2px;}
  .detail .top .hot .r{color:#ff4a12;margin:0 3px;}
  .detail .content {margin-top:20px;}
  .detail .content .box{margin-left:20px;border-left:2px solid #d7d7d6;color:#5a5451;}
  .detail .content .box .icon_1{width:12px;height:12px;}
  .detail .content .box .icon_2{width:21px;height:21px;position:absolute;margin-left:-11px;margin-top:-1px;}
  .detail .content .box .icon_3{width:12px;height:12px;position:absolute;margin-left:-7px;margin-top:10px;}
  .detail .content .box .title{margin:10px;margin-left:15px;}
  .detail .content .box .title .t{font-size:16px;font-weight:bold;}
  .detail .content .box .title .c{font-size:16px;margin-left:0px;line-height:22px;}
  .detail .content .box .title p{margin-top:10px;}
  .detail .content .box .money {margin-left:15px;color:#56504d;font-weight:bold;}
  .detail .content .box .money .r{color:#ff4a12;margin:0 3px;}
  .detail .content .box .money .d{color:#afa7a2;margin:0 3px;font-weight:normal;}
  .detail .content .box .pay{margin:20px 10px 15px 15px;}
  .detail .content .box .pay span{float:left;color:#afa7a2;font-size:16px;font-weight:bold;}
  .detail .content .box .pay .nedit{margin:-6px 5px 0 10px;float:left;}
  .detail .content .box .pay .nedit .nei{width:32px;height:35px;}
  .detail .content .box .pay .nedit .neie{width:136px;height:36px;background:url(http://mat1.gtimg.com/gongyi/m/wx/edit_input_b.png)}
  .detail .content .box .pay .nedit .er{width:136px;height:35px;}
  .detail .content .box .pay .nedit input{border-radius:5px;border:1px solid #d2d2d2;width:180px;font-size:20px;font-weight:bold;height:34px;background:#ffffff;text-align:center;color:#fc7d37;-webkit-appearance:none;}
  .detail .content .box .pay .btn{margin-top:10px;width:95%;height:35px;line-height:35px;font-size:16px;color:#ffffff;display:inline-block;border-radius:5px;border:1px #fe7225 solid;text-align:center;background:#ff6c0a;}
  .detail .content .box .pay .prot{font-size:14px;color:#b0a7a2;margin-top:10px;}
  .detail .content .box .pay .prot .check{width:12px;height:12px;position:absolute;margin-top:3px;}
  .detail .content .box .pay .prot label{margin-left:20px;}
  .detail .content .box .pay .prot .p{float:none;color:#56504d;font-size:14px;}
  .detail .content .box .report{height:65px;border-top:1px solid #E3E2E1;border-bottom:1px solid #E3E2E1;background:rgba(128,128,128,0.1);margin-top:-20px;}
  .detail .content .box .report .b{margin:14px 20px;border-left:2px solid #FF6800;}
  .detail .content .box .report .t{font-size:16px;font-weight:bold;margin-left:10px;}
  .detail .content .box .report .d{color:#AAA5A1;margin-left:10px;margin-top:3px;}
  .detail .content .box .desc{margin:10px 20px 10px 15px;}
  .detail .content .box .desc .t{font-size:16px;font-weight:bold;margin-bottom:10px;line-height:18px;}
  .detail .content .box .desc h3{font-size:16px;font-weight:bold;margin:10px 0 5px;}
  .detail .content .box .desc p{font-size:16px;line-height:24px;margin:5px 0 15px;}
  .detail .content .box .desc .c{margin-left:0px;}
  .detail .content .box .desc .r{color:#ff4a12;margin:0 3px;}
  .detail .content .box .desc .d{color:#afa7a2;}
  .detail .content .box .desc .fb{color:#5a5552;border:1px solid #d4d4d4;background:#e6e6e6;border-radius:5px;font-size:14px;padding:5px 30px;line-height:20px;margin-bottom:10px;margin-right:10px;text-align:center;}
  .detail .content .box .desc .bt{border:1px solid #cacaca;color:#4c4c4c;border-radius:5px;text-align:center;background:#e0e0e0;padding:5px 0;font-size:13px;margin-top:10px;}
  .detail .content .box .desc img{width:100%;margin:5px 0;}
  .detail .content .box .desc .pimg{width:70px;height:70px;margin:2px 2px;}
  .detail .content .box .desc .icon_1{width:12px;height:12px;position:absolute;margin-left:-22px;margin-top:4px;}
  .detail .content .box .desc .more{color:#fd6512;border:1px solid #d4d4d4;background:#e6e6e6;border-radius:5px;font-size:13px;padding:5px 30px;line-height:20px;margin-right:10px;text-align:center;}
  .detail .content .box .footer{width:100%;text-align:center;}
  .detail .content .box .footer img{width:102px;height:18px;margin:10px;}

  .result{}
  .result .top{text-align:center;margin-top:10px;}
  .result .top .t{color:#75706b;line-height:32px;font-size:22px;}
  .result .top .t .r{color:#f9610e;margin:0 3px 20px;}
  .result .top .t9{color:#a2a29f;font-size:12px;margin-top:10px;}
  .result .top .l{margin:15px 30px;border-bottom:2px dotted #a2a29f;height:1px;}
  .result .top .d{font-size:12px;line-height:22px;color:#75706b;}
  .result .top .btn {margin:10px 10px;}
  .result .top .btn img{width:140px;}
  .result .content .list {margin:10px 10px 15px 12px;}
  .result .content .list .t{margin:10px;color:#837b6d;font-size:14px;}
  .result .content .list .item {border-radius:3px;}
  .result .content .list .item img{width:95px;height:72px;margin:0 15px;border-radius:7px;position:relative;margin-top:3px;}
  .result .content .list .item .t{color:#67615e;font-size:12px;margin-right:10px;}
  .result .content .list .item .t .tt{font-size:16px;color:#56504d;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
  .result .content .list .item .t .td{font-size:12px;margin-top:5px;height:29px;overflow:hidden;}
  .result .content .list .item .t .tp {font-size:12px;margin-top:5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
  .result .content .list .item .t .tp .r{color:#fd6512;margin:0 3px;}
  .result .footer{width:100%;text-align:center;}
  .result .footer img{width:102px;height:18px;margin:10px;}
</style>
<style id="clearly_highlighting_css" type="text/css">
  /* selection */ html.clearly_highlighting_enabled ::-moz-selection { background: rgba(246, 238, 150, 0.99); } html.clearly_highlighting_enabled ::selection { background: rgba(246, 238, 150, 0.99); } /* cursor */ html.clearly_highlighting_enabled {    /* cursor and hot-spot position -- requires a default cursor, after the URL one */    cursor: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--cursor.png") 14 16, text; } /* highlight tag */ em.clearly_highlight_element {    font-style: inherit !important; font-weight: inherit !important;    background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow.png");    background-repeat: repeat-x; background-position: top left; background-size: 100% 100%; } /* the delete-buttons are positioned relative to this */ em.clearly_highlight_element.clearly_highlight_first { position: relative; } /* delete buttons */ em.clearly_highlight_element a.clearly_highlight_delete_element {    display: none; cursor: pointer;    padding: 0; margin: 0; line-height: 0;    position: absolute; width: 34px; height: 34px; left: -17px; top: -17px;    background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite.png"); background-repeat: no-repeat; background-position: 0px 0px; } em.clearly_highlight_element a.clearly_highlight_delete_element:hover { background-position: -34px 0px; } /* retina */ @media (min--moz-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {    em.clearly_highlight_element { background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow@2x.png"); }    em.clearly_highlight_element a.clearly_highlight_delete_element { background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite@2x.png"); background-size: 68px 34px; } } </style><style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style><style>@-moz-keyframes nodeInserted{from{opacity:0.99;}to{opacity:1;}}@-webkit-keyframes nodeInserted{from{opacity:0.99;}to{opacity:1;}}@-o-keyframes nodeInserted{from{opacity:0.99;}to{opacity:1;}}@keyframes nodeInserted{from{opacity:0.99;}to{opacity:1;}}embed,object{animation-duration:.001s;-ms-animation-duration:.001s;-moz-animation-duration:.001s;-webkit-animation-duration:.001s;-o-animation-duration:.001s;animation-name:nodeInserted;-ms-animation-name:nodeInserted;-moz-animation-name:nodeInserted;-webkit-animation-name:nodeInserted;-o-animation-name:nodeInserted;}</style><style>.ita-icon-16{background-position:-314px -67px}.ita-icon-2{background-position:-114px -17px}.ita-icon-3{background-position:-164px -17px}.ita-icon-29{background-position:-464px -117px}.ita-icon-23{background-position:-164px -117px}.ita-icon-4{background-position:-214px -17px}.ita-icon-5{background-position:-264px -17px}.ita-icon-20{background-position:-14px -117px}.ita-icon-28{background-position:-414px -117px}.ita-icon-6{background-position:-314px -17px}.ita-icon-7{background-position:-364px -17px}.ita-icon-9{background-position:-464px -17px}.ita-icon-8{background-position:-414px -17px}.ita-icon-19{background-position:-464px -67px}.ita-icon-14{background-position:-214px -67px}.ita-icon-10{background-position:-14px -67px}.ita-icon-37{background-position:-364px -167px}.ita-icon-24{background-position:-214px -117px}.ita-icon-15{background-position:-264px -67px}.ita-icon-22{background-position:-114px -117px}.ita-icon-18{background-position:-414px -67px}.ita-icon-11{background-position:-64px -67px}.ita-icon-12{background-position:-114px -67px}.ita-icon-17{background-position:-364px -67px}.ita-icon-13{background-position:-164px -67px}.ita-icon-30{background-position:-14px -167px}.ita-icon-31{background-position:-64px -167px}.ita-icon-29{background-position:-464px -117px}.ita-icon-21{background-position:-64px -117px}.ita-icon-26{background-position:-314px -117px}.ita-icon-27{background-position:-364px -117px}.ita-icon-25{background-position:-264px -117px}.ita-icon-35{background-position:-264px -167px}.ita-icon-34{background-position:-214px -167px}.ita-icon-36{background-position:-314px -167px}.ita-icon-39{background-position:-464px -167px}.ita-icon-40{background-position:-14px -217px}.ita-icon-38{background-position:-414px -167px}.ita-icon-32{background-position:-114px -167px}.ita-icon-33{background-position:-164px -167px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-41{background-position:-64px -217px}.ita-icon--1{background-position:--36px --33px}.ita-icon-42{background-position:-114px -217px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-0{background-position:-14px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-1{background-position:-64px -17px}.ita-icon-0{background-position:-14px -17px}
  </style>




  <style>
* {margin:0;padding:0;} img{width:100%;border:none;} a{text-decoration:none;}.fl{float:left;}.fr{float:right;}
body{font-family:"Helvetica Neue",Hiragino, Sans, GB, W3, Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;background:url(http://mat1.gtimg.com/gongyi/m/wx/bg_repeat.jpg) repeat;margin:0;padding:0;-webkit-text-size-adjust:none;}.none{display:none}.clear{clear:both;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;margin:0;}

.home{}
.home .r{color:#ff4a12;}
.home .top{height:52px;text-align:center;}
.home .top span{font-size:14px;color:#999b9e;line-height:52px;font-weight:bold;}
.home .top img{width:16px;height:25px;vertical-align:middle;margin-left:3px;}
.home .top .myrecord{display:none;}
.home .record{text-align:left;margin-left:12px;}
.home .record .myrecord{width:52px;height:52px;position:absolute;top:0px;right:0px;display:block;}
.home .record .myrecord img{width:28px;margin:13px 0 0 13px;}
.home .hot{width:100%;}
.home .hot .img_big{width:100%;}
.home .hot .btn{width:103px;height:28px;margin-left:24px;margin-top:-50px;}
.home .hot .c1{margin-left:24px;margin-top:-102px;position:absolute;color:#a2a2a8;font-size:14px;}
.home .hot .c2{margin-top:-80px;}
.home .hot .c1 .r{margin:0 3px;}
.home .footer{width:100%;height:33px;background:#e3e3dd;border-top:1px solid #f6f5f1;}
.home .footer img{width:102px;height:18px;margin-left:17px;margin-top:8px;}
.home .footer span{font-size:10px;color:#999b9e;float:right;margin-top:10px;margin-right:10px;}
.home .list {margin:15px 10px 15px 12px;border:1px solid #e8e8e8;border-radius:3px;}
.home .list .item {border-radius:3px;border-bottom:1px solid #ebebeb;}.home .list .bg1{background:#ffffff;}.home .list .bg2{background:#f9f9f8;}
.home .list .item img{width:95px;height:72px;margin:15px;border-radius:7px;position:relative;}
.home .list .item .t{color:#999b9e;font-size:12px;margin-right:10px;}
.home .list .item .t .tn{height:15px;}
.home .list .item .t .tt{font-size:18px;color:#579f23;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.home .list .item .t .td{color:#999b9e;margin-top:5px;height:29px;overflow:hidden;}
.home .list .item .t .tp {font-size:10px;margin-top:5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.home .list .item .t .tp .r{color:#fd6512;margin:0 3px;}
.home .list .item .t .tp img{width:9px;height:9px;margin:0 10px 0 0;border-radius:0px;vertical-align:-1px;}

.myrecord{}
.myrecord .top .txt{width:100%;position:absolute;margin-top:-90px;line-height:22px;float:left;}
.myrecord .top .txt .icon_bg{width:60px;height:60px;border-radius:35px;margin:0 0 30px 10px;background:rgba(255,255,255,0.3); float:left;margin-top:5px;}
.myrecord .top .txt .icon_bg img{width:50px;height:50px;border-radius:35px;margin:5px;}
.myrecord .top .txt .c{margin-left:90px;margin-right:10px;color:#c2bdbc;font-size:13px;}
.myrecord .top .txt .c .r{color:#fd6512;margin:0 3px;}
.myrecord .top .txt .c .n{font-size:17px;}
.myrecord .top .bg{width:100%;}
.myrecord .content .msg{text-align:center;margin:50px;}
.myrecord .content .box{margin-left:20px;border-left:2px solid #d7d7d6;margin-top:20px;}
.myrecord .content .box .icon_2{width:21px;height:21px;position:absolute;margin-left:-11px;}
.myrecord .content .box .txt{margin-left:15px;margin-bottom:10px;}
.myrecord .content .box .txt .mrl{float:right;margin-right:20px;}
.myrecord .content .box .txt .mrl img{width:90px;height:23px;}
.myrecord .content .box .txt .mrl .mrlt{position:relative;margin-top:-19px;margin-left:27px;font-size:12px;line-height:14px;color:#56504d;}
.myrecord .content .box .txt .t{color:#9a9a9a;font-size:16px;}
.myrecord .content .box .txt .bbr{background:#ffffff;margin:10px 20px 10px 0;border-radius:7px;border:1px solid #e2e2e2;}
.myrecord .content .box .txt .bbr .ctx img{width:80px;height:60px;margin:15px;border-radius:7px;position:relative;}
.myrecord .content .box .txt .bbr .ctx .t{margin-left:10px;font-size:13px;color:#56504d;margin-right:10px;}
.myrecord .content .box .txt .bbr .ctx .t .tn{height:15px;}
.myrecord .content .box .txt .bbr .ctx .t .tt{margin-top:2px;margin-bottom:3px;font-size:16px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.myrecord .content .box .txt .bbr .ctx .t .tt span{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;float:left;width:100%;color:#56504d;}
.myrecord .content .box .txt .bbr .ctx .t .td{font-size:12px;color:#908c89;line-height:18px;}
.myrecord .content .box .txt .bbr .ctx .t .td .r{color:#fd6512;margin:0 3px;font-size:13px;}
.myrecord .content .box .txt .bbr .ctx .t .tb{color:#67615e;font-size:14px;margin-top:8;}
.myrecord .content .box .txt .bbr .ctx .t .tb img{width:12px;height:12px;margin:0 5px 0 0;border-radius:0px;vertical-align:-2px;}
.myrecord .content .box .txt .bbr .bt{background:#f2f2f2;font-size:13px;height:30px;border-bottom-right-radius:7px;border-bottom-left-radius:7px;}
.myrecord .content .box .txt .bbr .bt .r{float:right;margin:7px;margin-right:20px;color:#615c59;}
.myrecord .content .box .txt .bbr .bt .r img{width:12px;height:12px;margin-right:5px;vertical-align:-2px;}
.myrecord .content .box .txt .bbr .bt .l{float:left;margin:7px;margin-left:20px;color:#615c59;}
.myrecord .content .box .txt .bbr .bt .l img{width:13px;height:12px;margin-right:5px;vertical-align:-2px;}
.myrecord .content .box .txt .bbr .lbt{border-bottom:1px dotted #d5d5d5;margin:0 20px;}.myrecord .content .box .txt .bbl .ctx{margin-left:10px;}
.myrecord .content .box .txt .bbl .ctx .t .tn{height:13px;}
.myrecord .content .box .txt .more{font-size:12px;text-align:center;}
.myrecord .content .box .txt .more img{width:16px;vertical-align:-4px;margin-right:3px;}
.myrecord .content .box .footer{width:100%;text-align:center;}
.myrecord .content .box .footer img{width:102px;height:18px;margin:10px;}

.myrecord .content .list{}
.myrecord .content .list .t{background:#e3e3e3;height:40px;border-bottom:1px solid #bfbfbf;}
.myrecord .content .list .t span{color:#514b4a;font-size:14px;margin-left:20px;line-height:40px;}
.myrecord .content .list .item{border-bottom:1px solid #dddddd;margin:15px 20px 0;}
.myrecord .content .list .item .mt{font-size:16px;color:#574f4d;height:25px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.myrecord .content .list .item .md{font-size:12px;margin-bottom:15px;color:#b8b8b8;}
.myrecord .content .list .item .mm{font-size:16px;color:#fd6615;height:25px;text-align:right;margin-right:3px;}
.myrecord .content .list .item .mrd{color:#ffffff;background:#bfbfbf;border-radius:35px;text-align:center;font-size:10px;padding:2px 8px;}
.myrecord .content .list .item .mr{text-align:right;}
.myrecord .content .list .more{font-size:12px;text-align:center;padding-top:10px;}
.myrecord .content .list .more img{width:16px;vertical-align:-4px;margin-right:3px;}
.myrecord .content .list .footer{width:100%;text-align:center;margin-top:10px;}
.myrecord .content .list .footer img{width:102px;height:18px;margin:10px;}

</style>

</head>
<body>

<div id="pageContainer"> 
  <div class="home">  
    <div class="top record">   
    <% total_num = @activity.total_donation_orders_count %>

    <% total_num.to_s.split('').each do |n| %>
      <img src="http://mat1.gtimg.com/gongyi/m/wx/icon_num_<%=n%>.jpg">
    <% end %>
   
      <span>份爱心</span> 
      <a href="#p%3Dmyrecord">
        <div class="myrecord">
          <%= link_to my_orders_mobile_donations_url(site_id: session[:site_id])  do %>
          <img src="http://mat1.gtimg.com/gongyi/m/wx/icon_5.png">
          <% end %>
        </div>
      </a> 
    </div>

    <% first_donation = @donations.first %>

    <% if first_donation %>
      <%= link_to mobile_donation_url(site_id: session[:site_id], id: first_donation.id), class: "btn" do %>
        <div class="hot">   
          <img src="<%= first_donation.pic_url %>" class="img_big">   
          <img src="/images/donation/home_btn.png" class="btn">  
          <div class="c1" style="color:#ffffff;"><%= first_donation.name %></div>   
          <div class="c1 c2" style="color:#ffffff;">共
            <span class="r">
              <%= first_donation.donation_orders.paid.count + first_donation.donation_orders.confirmed.count + first_donation.init_number %>
            </span>人捐助
          </div> 
        </div>
      <% end %>
    <% end %>

    <div class="list"> 


      <% @donations.each do |donation| %>
        <% unless donation == first_donation %>
          <%= link_to mobile_donation_url(site_id: session[:site_id], id: donation.id), class: "btn" do %>
          <div class="item bg1">   
            <img src="<%= donation.pic_url %>" class="fl">   
            <div class="t"> 
              <div class="tn"></div>   
              <div class="tt"><span><%= donation.name %></span></div>   
              <div class="td"><%= donation.summary %></div>    
              <div class="tp">
                <img src="http://mat1.gtimg.com/gongyi/m/wx/icon_1.png">
                共
                <span class="r">
                  <%= donation.donation_orders.paid.count + donation.donation_orders.confirmed.count + donation.init_number %>
                </span>
                人捐助
              </div>  
            </div>  
            <div class="clear"></div>  
          </div>
          <% end %>
        <% end %>
      <% end %>


    </section>
  </div>  
  <div class="clear"></div> 
 
  <footer style="text-align: left;">
    <img src="/assets/donations/list-logo.jpg" style="width: 80px; margin-left: 8px"> 
    <div style="display: inline; margin-top: 6px; float: right;" class="goods-sum"></div>
  </footer>
  <script>
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
      WeixinJSBridge.call('hideOptionMenu');
    });
  </script>
</div>
</body>
</html>

