<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to "微硬件", activities_prints_path %></li>
        <li><%= link_to "微打印机", activities_prints_path %></li>
        <li><%= link_to "基础设置", '#' %></li>
      </ul>
      <%= render '/layouts/qrcode' %>
    </div>

    <div class="page-content">
      <div class="tabbable">
        <ul class="nav nav-tabs padding-24 tab-size-bigger">
          <li>
            <%= link_to "帐号管理", prints_path %>
          </li>
          <li class="active">
            <%= link_to "基础设置", activities_prints_path %>
          </li>
        </ul>

        <div class="tab-content no-border padding-24">
          <div id="tab-1" class="tab-pane fade active in">
            <div class="row">

              <div class="col-xs-12 ">
                <div class="alert alert-block alert-info"> <strong class="pull-left">提示：</strong>
                  <ul class="vwebsiteHeadAlert">
                    <li>1、此功能需要购买第三方打印机硬件设备后，才能使得设置生效；</li>
                    <li>2、这里设置的内容用于引导和控制用户在微信手机端的操作；</li>
                  </ul>
                </div>
              </div>

              <div class="col-md-12 ">
                <%= form_for @print, :validate => true, :method => :put do |f| %>
                  <%= f.fields_for :activities do |activity| %>
                    <div style="display:none">
                      <%= activity.text_field :name, value: activity.object.activity_type_id == 46 ? "进入打印模式" : "退出打印模式" %>
                      <%= activity.text_field :activity_type_id %>
                      <%= activity.text_field :site_id %>
                    </div>
                    <div class="form-group">
                      <label>
                        <%= activity.object.activity_type_id == 46 ? "进入打印模式关键字" : "退出打印模式关键字" %>
                        <span class="required-star">*</span>
                        <span class="help-inline text-warning line-height-32">
                          <%= activity.object.activity_type_id == 46 ? "(用于触发打印功能，进入图片打印模式）" : "(用于微信手机端退出打印功能）" %>
                        </span>
                      </label>
                      <div class="clearfix">
                        <%= activity.text_field :keyword, class: 'col-md-8', placeholder: "请输入关键字" %>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>
                        <%= activity.object.activity_type_id == 46 ? "进入打印模式的文本内容" : "退出打印模式的文本内容" %>
                        <span class="required-star">*</span>
                      </label>
                      <div class="clearfix">
                        <%= activity.text_area :summary, cols:30, rows: 5, class: "col-md-8", validate: true %>
                    </div>
                  </div>
                <% end %>
                <div class="form-group">
                  <input type="submit" value="保存" class="btn btn-sm btn-primary">
                  <input onclick="javascript:location.reload()" type="button" value="取消" class="btn btn-sm btn-default">
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
<% end %>