<% content_for :main_content do %>
<div class="main-content ">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <%= render 'partials/home' %>
      <li><%= link_to "微硬件", activities_prints_path %></li>
      <li><%= link_to "微打印机", prints_path %></li>
    </ul>
    <%= render '/layouts/qrcode' %>
  </div>

  <div class="page-content">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-block alert-info"> 
          <strong class="pull-left">提示：</strong>
          <ul class="vwebsiteHeadAlert">
            <li>登录第三方打印机设备后台系统（例如：印美图或印立得），输入打印机器设备对应的微信接入URL和Token。</li>
            <li>1、此功能需要购买第三方打印机硬件设备后，才能使得设置生效；</li>
            <li>2、这里设置的内容用于引导和控制用户在微信手机端的操作；</li>
          </ul>
        </div>
      </div>

      <div class="col-md-12">
        <%= form_for @print, validate: true,:html => {:class => "print"} do |f| -%>
          <%= f.hidden_field :account_id, value: @current_user.id %>

          <h4 class="text-info">第三方接口设置</h4>

          <div class="form-group">
            <label class="control-label">URL <span class="required-star">*</span></label>
            <div class="clearfix">
              <%= f.text_field :url, class: "col-md-8", placeholder: 'http://api.winwemedia.com/wx/r/?token_id=xxx' %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Token <span class="required-star">*</span></label>
            <div class="clearfix">
              <%= f.text_field :token, class: "col-md-8", placeholder: 'WmVQU2lOaFRWdktvdxxx' %>
            </div>
          </div>

          <h4 class="text-info">微信打印模式设置</h4>
          <%= f.fields_for :activities do |activity| %>
            <% next if activity.object.site_id != current_site.id %>
            <div style="display:none">
              <%= activity.text_field :name, value: activity.object.activity_type_id == 46 ? "进入打印模式" : "退出打印模式" %>
              <%= activity.text_field :activity_type_id %>
              <%= activity.text_field :site_id %>
            </div>
            <div class="form-group">
              <label>
                <%= activity.object.activity_type_id == 46 ? "进入打印模式关键字" : "退出打印模式关键字" %>
                <span class="required-star">*</span>
                <span class="help-inline text-warning line-height-32">
                  <%= activity.object.activity_type_id == 46 ? "(用于触发打印功能，进入图片打印模式）" : "(用于微信手机端退出打印功能）" %>
                </span>
              </label>
              <div class="clearfix">
                <%= activity.text_field :keyword, class: 'col-md-8', placeholder: "请输入关键字" %>
              </div>
            </div>

            <div class="form-group">
              <label>
                <%= activity.object.activity_type_id == 46 ? "进入打印模式的文本内容" : "退出打印模式的文本内容" %>
                <span class="required-star">*</span>
              </label>
              <div class="clearfix">
                <%= activity.text_area :summary, cols:30, rows: 5, class: "col-md-8", validate: true %>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm">保存</button>
          </div>

          <div class="clearfix"></div>
          <div><hr class="hr-10"></div>
        <% end %>
      </div>

    </div>
  </div>

</div>
<% end %>
