<% content_for :main_content do %>
<div class="main-content ">
	<div class="breadcrumbs" id="breadcrumbs">
          <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><%= link_to '首页', console_url %></li>
            <li><%= link_to '微枚迪支付', supplier_accounts_path %></li>
            <li><%= link_to '账户查询', supplier_transactions_path %></li>
          </ul>
          <%= render '/layouts/qrcode' %>
      </div>
	<div class="page-content">
    <div class="tabbable ">
          <div class="row">
            <%= form_for @records_all, url: supplier_transactions_path, html: { method: :get } do |f| %>
              <div class="col-sm-12">
                <div class="col-md-3 row">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">流水号：</span>
                     <%= f.text_field :running_number_eq, class: 'col-xs-12',  placeholder: "输入提现流水号或支付流水号查询" %>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">类型：</span>
                    <%= f.select :direction_type_eq, SupplierTransaction.direction_type_options, {:include_blank => '全部'},  {class: "col-xs-12"}%>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">时间范围：</span>
                    <div class="input-group">
                      <%= f.text_field :created_at_gte, value: @records_all.created_at_gte, class: "date-time input-sm form-control",  readonly: true%>
                      <span class="input-group-addon">-</span>
                      <%= f.text_field :created_at_lte, value: @records_all.created_at_lte, class: "date-time input-sm form-control",  readonly: true%>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <button type="submit" class="btn btn-primary btn-sm btn-filter">查询</button>
                  <%= link_to '导出EXCEL', supplier_transactions_path(:format => :xls, search: params[:search]) , class: 'btn btn-primary btn-sm btn-filter' %>
                </div>
              </div>
              <div class="col-sm-12 margin-top-20">
                <span class="margin-right-20">全部：<%= @records_all.relation.count %>笔</span>
                <span class="margin-right-20">订单结算：<%= @records_all.relation.settle.count %>笔 总金额￥<%= @records_all.relation.settle.sum(:amount) %> </span>
                <span class="margin-right-20">订单提现：<%= @records_all.relation.withdraw.count %>笔 总金额-￥<%= @records_all.relation.withdraw.sum(:amount) %></span>
              </div>
            <%- end %>
            <div class="col-sm-12 margin-top-20">
              <table class="table table-striped table-bordered table-hover dataTable ">
                <thead>
                <tr>
                  <th>流水号</th>
                  <th>企业名称</th>
                  <th>结算账号</th>
                  <th>创建时间</th>
                  <th>类型</th>
                  <th>金额</th>
                </tr>
                </thead>
                <tbody>
                <%- if @records.each do |record| %>
                  <tr>
                    <td><%= record.running_number %></td>
                    <td><%= record.supplier_account.company_name %></td>
                    <td><%= record.supplier_account.bank_account %></td>
                    <td><%= record.created_at.to_s %></td>
                    <td><%= record.direction_type_name %></td>
                    <td><%= record.amount %></td>
                  </tr>
                <%- end.blank? %>
                  <tr><td colspan="6" class="text-center green">没有记录</td></tr>
                <%- end%>
                </tbody>
              </table>
              <%= paginate @records  %>
            </div>
          </div>
    </div>
  </div>
</div>

<% end %>
<% content_for :custom_js do %>

<% end %>