<% content_for :main_content do %>
    <div class="main-content ">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <%= render 'partials/home' %>
          <li><%= link_to '微小区', wx_plots_path %></li>
          <li><%= link_to '基本信息', wx_plots_path %></li>
        </ul>
        <%= render '/layouts/qrcode' %>
      </div>
      <div class="page-content">
        <div class="row">

          <%= form_for @wx_plot, validate: true do |f| %>
              <%= f.hidden_field :supplier_id %>
              <div class="col-sm-3">
                <div class="input-group input-group-sm input-group-text">
                  <%= f.text_field :name, placeholder: '请输入小区名称', class: 'col-xs-12', size: 30 %>
                  <span class="input-group-btn">
                    <%= f.submit '保存', class: 'btn btn-sm btn-filter btn-primary' %>
                  </span>
                </div>
              </div>
          <% end %>

          <div class="col-sm-12 community-info-list">
            <div class="col-xs-6 col-md-3 text-center ">
              <%= link_to @wx_plot.new_record? ? 'javascript:;' : wx_plot_path(@wx_plot, type: 'bulletin', activity_type_id: 56), class: 'btn btn-app btn-info' do %>
                <i class="icon-edit bigger-230"></i>
                <span><%= @wx_plot.bulletin %></span>
              <% end %>
            </div>
            <div class="col-xs-6 col-md-3 text-center ">
              <%= link_to @wx_plot.new_record? ? 'javascript:;' : wx_plot_path(@wx_plot, type: 'repair', activity_type_id: 57), class: 'btn btn-app btn-info' do %>
                  <i class="icon-edit bigger-230"></i>
                  <span><%= @wx_plot.repair %></span>
              <% end %>
            </div>
            <div class="col-xs-6 col-md-3 text-center ">
              <%= link_to @wx_plot.new_record? ? 'javascript:;' : wx_plot_path(@wx_plot, type: 'complain', activity_type_id: 58), class: 'btn btn-app btn-info' do %>
                  <i class="icon-edit bigger-230"></i>
                  <span><%= @wx_plot.complain %></span>
              <% end %>
            </div>
            <div class="col-xs-6 col-md-3 text-center ">
              <%= link_to @wx_plot.new_record? ? 'javascript:;' : wx_plot_path(@wx_plot, type: 'telephone', activity_type_id: 59), class: 'btn btn-app btn-info' do %>
                  <i class="icon-edit bigger-230"></i>
                  <span><%= @wx_plot.telephone %></span>
              <% end %>
            </div>
            <div class="col-xs-6 col-md-3 text-center ">
              <%= link_to @wx_plot.new_record? ? 'javascript:;' : wx_plot_path(@wx_plot, type: 'owner', activity_type_id: 60), class: 'btn btn-app btn-info' do %>
                  <i class="icon-edit bigger-230"></i>
                  <span><%= @wx_plot.owner %></span>
              <% end %>
            </div>
            <div class="col-xs-6 col-md-3 text-center ">
              <%= link_to @wx_plot.new_record? ? 'javascript:;' : wx_plot_path(@wx_plot, type: 'life', activity_type_id: 61), class: 'btn btn-app btn-info' do %>
                  <i class="icon-edit bigger-230"></i>
                  <span><%= @wx_plot.life %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- /.page-content -->

    </div>
<% end %>
<% content_for :custom_js do %>
    <script type="text/javascript">
      $(function(){
          $('a.btn-app span').each(function () {
              var $self = $(this);
              var text = $self.text().length < 5 ? $self.text() : $self.text().substring(0,4) + '....';
              $self.text(text);
              // console.log($self.text().length)
          });
          $('form input[type=submit]').click(function(){
            if(!$('#wx_plot_name').val()){
                showTip('warning',"请输入小区名称");
                $('#wx_plot_name').focus();
                return false;
            }
          });
         $('.community-info-list').on('click', 'a', function(){
             <% if @wx_plot.new_record? %>
                showTip('warning',"请先设置小区名称");
                return false;
             <% else %>
                return true;
             <% end %>
         });
      });
    </script>
<% end %>