<%= form_for @website_popup_menu, validate: true, :html => {class:'form', role: 'form'} do |f| %>
    <%= f.hidden_field :website_id %>
    <%= f.hidden_field :nav_type %>
    <div class="modal-body">

      <!--<div class="form-group" style="display: <%#= f.object.nav_type.to_i == 0 ? 'none' : 'block' %>;">-->
        <!--<label class="">顶级分类<span class="required-star">*</span></label>-->
        <!--<div class="clearfix">-->
          <!--<%#= f.select :parent_id,  @website.website_popup_menus.root.where(["nav_type = ? and id <> ?", f.object.nav_type, f.object.id.to_i]).all.map{|m| [truncate_u(m.description), m.id]}, {include_blank: '主分类'}, validate: true, class: 'form-control' %>-->
        <!--</div>-->
      <!--</div>-->


      <div class="form-group">
        <label>名称</label>
        <div class="clearfix">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" style="position: relative;">图片<span class="required-star">*</span><small class="text-warning"> 没有更好的图片?微枚迪给你提供</small>
          <a href="javascript:;" class="btn btn-primary btn-sm btn-toggle" data-target=".icon-box" data-scroll="icon-tab-2">图片素材</a>
          <%= render 'biz/website_menus/font'%>
          <%= f.hidden_field :font_icon %>
          <%= hidden_field_tag 'exist', f.object.icon_url.present? ? true : false %></label>
        <div class="clearfix">
          <div class="cieldon-file pull-left width-100px" data-width="79" data-height="79" data-type="0" data-name="website_popup_menu[icon_key]" <% if f.object.font_icon.present? %> data-fa="<%= f.object.font_icon %>" <% else %> data-img="<%= f.object.icon_url %>" <% end %> data-key="<%= f.object.icon_key %>" data-callback="img_dispose"></div>
          <small class="text-warning pull-left margin-top-20">建议尺寸:79*79px</small>
        </div>
      </div>


      <% reject_types = []
         menu_type_options = WebsitePopupMenu.menu_type_options.reject{|m| reject_types.include?(m.last) } %>
      <%= render 'display_type', {:f => f, :menu_type_options => menu_type_options}%>

      <div class="form-group">
        <label class="control-label">排序<span class="required-star">*</span><small class="text-warning">值越小越靠前</small></label>
        <div class="clearfix">
          <%= f.text_field :sort, maxlength: 5, class: 'form-control' %>
        </div>
      </div>

    </div>
    <div class="clearfix"></div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-sm btn-primary" data-fn="submit" value="确定" />
      <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
    </div>
<% end %>

<script type="text/javascript">

    select_website_popup_menu_type();

    $('#website_popup_menu_menu_type').change( function() {
        select_website_popup_menu_type();
    });


    function img_dispose(){
        $('.file-btn p i').remove();
        $('#website_popup_menu_font_icon').val('');
        $('.file-btn input[type=file]').val('');
    }

    function select_website_popup_menu_type() {
        $('#website_popup_menu_single_material_id').closest('.tab-pane').removeClass('active');
        $('#website_popup_menu_multiple_material_id').closest('.tab-pane').removeClass('active');
        $('#website_popup_menu_activity_id').closest('.tab-pane').removeClass('active');
        $('#website_popup_menu_url').closest('.tab-pane').removeClass('active');
        $('#website_popup_menu_tel').closest('.tab-pane').removeClass('active');
        $('#website_popup_menu_address').closest('.tab-pane').removeClass('active');
        $('#website_popup_menu_sort').closest('.form-group').css('margin-top', '');
        if ( $('#website_popup_menu_menu_type').val() == 2 ) {
            $('#website_popup_menu_activity_id').closest('.tab-pane').addClass('active');
        } else if ( $('#website_popup_menu_menu_type').val() == 3 ) {
            $('#website_popup_menu_single_material_id').closest('.tab-pane').addClass('active');
            $('#website_popup_menu_single_material_id').change();
            $('#website_popup_menu_sort').closest('.form-group').css('margin-top', '370px');
        } else if ( $('#website_popup_menu_menu_type').val() == 4 ) {
            $('#website_popup_menu_multiple_material_id').closest('.tab-pane').addClass('active');
            $('#website_popup_menu_multiple_material_id').change();
        } else if ( $('#website_popup_menu_menu_type').val() == 6 ) {
            $('#website_popup_menu_url').closest('.tab-pane').addClass('active');
        } else if ( $('#website_popup_menu_menu_type').val() == 7 ) {
            $('#website_popup_menu_tel').closest('.tab-pane').addClass('active');
        }else if ( $('#website_popup_menu_menu_type').val() == 11 ) {
            $('#website_popup_menu_address').closest('.tab-pane').addClass('active');
        }else {
        }
    }

    $(function() {
//        $(".select-icon").on("click",".btn",function(){
//            $(".icon-box").show();
//            $(".icon-tab").on("click","a",function(){
//                var $this =$(this),
//                        $index = $this.index(),
//                        $list = $(".icon-list");
//                $this.addClass("active").siblings().removeClass("active");
//                $list.not($list.eq($index)).fadeOut("200",function(){
//                    $list.eq($index).fadeIn("200",function(){
//                        yAoscroll("#scroll","#content","#scroll_bot","#scroll_top");
//                    });
//                });
//            });
//        });
//
//        $(document).click(function(e){
//            if($(e.target).is(".select-icon a,.select-icon div,.scrollBox *")){
//                return false;
//            }
//            $(".icon-box").hide();
//        });
//
//        $('.select-icon').on("click", "i", function(){
//            $('#select-font').attr('class', $(this).attr('class'));
//            $('.upload-preview-img').removeClass('active');
//            $('#website_popup_menu_font_icon').val($(this).attr('class'));
//            $(".icon-box").hide();
//            $('#shop_product_pic_url').val('');
//            if($('.upload-preview-img').closest('.box-upload').find('.show_pic_advice')){$('.upload-preview-img').closest('.box-upload').find('.show_pic_advice').remove();}
//        });
//
//        $('.form-row').on('change', '#shop_product_pic_url', function () {
//            $('.upload-preview-img').addClass('active');
//            $('#website_popup_menu_font_icon').val('');
//        });

        $('input[type=submit]').click(function(event) {
            // if ( $('#website_popup_menu_name').val() ) {
            var url_reg = /^(http|https):\/\/[a-zA-Z0-9].+$/;
            var font = $('#website_popup_menu_font_icon');
//            if(!$('#website_popup_menu_parent_id').val()){
//                showTip('warning','请选择顶级分类');
//                return false;
//            }
            if($('#exist').val() == 'false' && !font.val() && !$('input[name="website_popup_menu[icon_key]"]').val()){
                showTip('warning','请上传图片或选择图片素材');
                return false;
            }
            if ( $('#website_popup_menu_menu_type').val() == 3 && !$('#website_popup_menu_single_material_id').val() ) {
                showTip('warning','请选择一条图文素材');
                return false;
            } else if ( $('#website_popup_menu_menu_type').val() == 4 && !$('#website_popup_menu_multiple_material_id').val() ) {
                showTip('warning','请选择一条图文素材');
                return false;
            } else if ( $('#website_popup_menu_menu_type').val() == 2 && !$('#website_popup_menu_activity_id').val() ) {
                showTip('warning','请选择活动');
                return false;
            } else if ( $('#website_popup_menu_menu_type').val() == 6 && !$('#website_popup_menu_url').val() ) {
                showTip('warning','请填写链接地址');
                return false;
            } else if ( $('#website_popup_menu_menu_type').val() == 6 && !url_reg.test($('#website_popup_menu_url').val())){
                showTip('warning','地址格式不正确，必须以http(s)://开头');
                return false;
            } else if ( $('#website_popup_menu_menu_type').val() == 7 && !$('#website_popup_menu_tel').val() ) {
                showTip('warning','请填写联系电话');
                return false;
            }else if($('#website_popup_menu_menu_type').val() == 7 && $('#website_popup_menu_tel').val()){
                var reg = /^[0-9_\-]*$/;
                var tel = /(^[0-9]{3,4}\-[0-9]{7,8}$)|(^[0-9]{7,8}$)|(^\([0-9]{3,4}\)[0-9]{3,8}$)|(^0{0,1}13[0-9]{9}$)|(13\d{9}$)|(15[0135-9]\d{8}$)|(18[267]\d{8}$)/;
                var phone = $('#website_popup_menu_tel').val();
                if (!reg.test(phone)){
                    showTip('warning',"电话号码格式不对，正确格式如下：\n座机号码：区号-座机号码(或)\n手机号码：11位手机号码");
                    return false;
                }
            }else if ( $('#website_popup_menu_menu_type').val() == 11 && !$('#website_popup_menu_address').val() ) {
                showTip('warning','请填写导航地址');
                $('#website_popup_menu_address').focus();
                return false;
            }else if( $('#website_popup_menu_menu_type').val() == 11 && $('#is_address').val() == '1'){
                showTip('warning','导航地址范围太小，请扩大地址搜索范围');
                $('#website_popup_menu_address').focus();
                return false;
            }else if( $('#website_popup_menu_menu_type').val() == 11 && $('#is_address').val() == '2'){
                showTip('warning','导航地址还没有进行定位，请查找定位');
                $('#website_popup_menu_address').focus();
                return false;
            }else if( $('#website_popup_menu_menu_type').val() == 11 && $('#is_address').val() == '3'){
                if(!$('#website_popup_menu_location_x').val()){
                    showTip('warning','经度为空，请重新导航');
                    $('#website_popup_menu_location_x').focus();
                }else{
                    showTip('warning','纬度为空，请重新导航');
                    $('#website_popup_menu_location_y').focus();
                }
                return false;
            }
            // }
        });

        $('#website_popup_menu_single_material_id, #website_popup_menu_multiple_material_id').change( function() {
            var self = $(this);
            if($(this).val()){
                $.ajax({
                    url: '/materials/'+$(this).val(),
                    type: "get",
                    dataType : "json",
                    success : function (data){
                        // console.log(data)
                        if(data){
                            self.closest('.tab-pane').find('span.title').html(data['title']);
                            self.closest('.tab-pane').find('span.grey').html(data['created_at'].slice(0,10));
                            self.closest('.tab-pane').find('p.grey').html(data['summary']);
                            self.closest('.tab-pane').find('#img-1').css("background-image", 'url(' + data['pic_url'] + ')');
                        }
                    }
                });
            }
            else{
                self.closest('.tab-pane').find('span.title').html('素材标题');
                self.closest('.tab-pane').find('span.grey').html("<%= Date.today %>");
                self.closest('.tab-pane').find('p.grey').html('');
                self.closest('.tab-pane').find('#img-1').attr("background-image", 'url()');
            }
        });


        $('#img-1').css({'display': 'block', 'background-size': '100%', 'width': '100%', 'height': '200px', 'background-repeat': 'no-repeat no-repeat'});

        $('.icon-box i').click(function(){
            $('.icon-box').hide();
            var a = $(this).closest('.form-group').find('.file-btn a'), self = $(this);
            a.css({'width': 90, 'height': 90, 'background': '#1b6aaa', 'font-size': '30px'});
            a.html('<p><i class="' + $(this).attr('class') + '"></i></p>')
            self.closest('.form-group').find('input[type="hidden"]').each(function(){
                if($(this).attr('name') == 'website_popup_menu[font_icon]'){
                    $(this).val(self.attr('class'));
                }else{
                    $(this).val('')
                }
            });
        });

    });
</script>

