<div class="body">
  <div class="banner">
  <img src="/assets/recommend-img.jpg" alt="">
  </div>
  <div class="main">
    <%- if @possible_prize.present? %>
      <div class="title-tag">恭喜你获得<%= @possible_prize.title %></div>
      <div class="tips">你已成功推荐<%= @invites.count %>名好友，获得了<%= @possible_prize.title %>(暂未领取)，可继续推荐获得更高奖项！</div>
    <%- else %>
      <div class="title-tag">还未获奖</div>
      <div class="tips">你已成功推荐<%= @invites.count %>名好友，可继续推荐获得奖项！</div>
    <%- end %>
    <div class="prize-list" style="margin:10px 0;color:#333;">
      <table class="table">
         <%- @activity.activity_prizes.active.each  do |prize| %>
          <%- base_count =  prize.prize_count - prize.consumes.count %>
          <tr>
            <td><%= prize.title %></td>
            <td><%= prize.prize %></td>
            <%- if base_count > 0 %>
                <%- limit_count = prize.recommends_count - @invites.count %>
                <%- if limit_count > 0 %>
                  <td>还差<%= limit_count %>人</td>
                <%- else %>
                  <td><a href="javascript:;" data-prize="<%= prize.prize %>" data-title="<%= prize.title %>" data-prizeid="<%= prize.id %>" class="btn btn-prize show_prize">立即领取</a></td>
                <%- end %>
            <%- else %>
              <td>已经领完</td>
            <%- end %>
          </tr>
        <%- end %>
      </table>
    </div>
    <a onclick="showPop('#pop-recommend')"  class="btn btn-bigest btn-red">继续推荐</a>
    <%- if @auth_service %>
      <div class="title-tag">我的推荐记录</div>
      <div class="text">
        <div class="prize-list r-table" style="margin:-10px 0;color:#333;line-height:0px;">
        <table class="table">
          <thead>
            <tr>
              <th>昵称</th>
              <th>参与时间</th>
            </tr>
          </thead>
          <tbody>
           <%- @invites.each  do |invite| %>
            <tr>
              <td><span><%= invite.to_user.try(:nickname) %></span></td>
              <td><span><%= invite.created_at.try(:to_s) %></span></td>
            </tr>
          <%- end %>
          </tbody>
        </table>
      </div>
      </div>
    <%- end %>
    <br>
    <div class="title-tag">活动说明</div>
     <div class="text">
      <%= raw @activity.description %>
     </div>
     <%- if !@subscribed %>
      <br>
      <div class="title-tag">关注说明</div>
       <div class="text">
        <%= raw @activity.activity_property.try(:subscribe_description) %>
      </div>
    <%- end %>
    <div class="title-tag">奖项说明</div>
    <div class="r-table">
      <table>
        <thead>
          <tr>
            <th>奖项</th>
            <th>奖品</th>
            <%- if @activity.extend.show_prize_count_required == 'on' %>
              <th>奖品数量</th>
            <%- end %>
            <th>推荐人数</th>
          </tr>
        </thead>
        <tbody>
          <%- @activity.activity_prizes.active.each  do |prize| %>
          <tr>
            <td><span><%= prize.title %></span></td>
            <td><span><b><%= prize.prize %></b></span></td>
            <%- if @activity.extend.show_prize_count_required == 'on' %>
              <td><span><%= prize.prize_count %></span></td>
            <%- end %>
            <td><span><%= prize.recommends_count %></span></td>
          </tr>
          <%- end %>
        </tbody>
      </table>
    </div>
  </div>
</div>