<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= content_for?(:title) ? yield(:title) : "微相册" %></title>
    <script type="text/javascript">

        var config = {
            coverUrl:'',
            swipeCur: 0,
            swipeDir:'horizontal'// 'vertical' // horizontal
        }
    </script>
    <%= stylesheet_link_tag "mobile/album" %>
    <%= javascript_include_tag "mobile/album" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= 'bggrey' unless action_name == 'comments' %>">
    <%= render 'application/gb2big5' %>
    
    <%= yield %>

    <%#= render 'application/app_footer' %>
    <a href="javascript:scroll(0,0)" class="btn-pop btn-up"><i class="fa fa-arrow-up"></i></a>
    <div class="loading fixed-top"></div>
    <script type="text/javascript">
      $(function(){
        // topRefresh(300);
        showBtnUp(100);

        <% if flash[:notice] || flash[:alert] %>
          alert('<%= flash[:notice] || flash[:alert] %>');
        <% end %>
      });
    </script>
  </body>
</html>