<%= form_for @activity, :url => @activity.new_record? ? reservations_path : reservation_path(@activity), validate: true do |activity| %>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <%= render "weixin_preview", wx_title: @activity.try(:name) || '这里显示<微信消息标题>', wx_summary: @activity.try(:summary) || '这里显示 <微信消息摘要>' %>
      <%= activity.hidden_field :activity_type_id, value: 63 %>
      <%= activity.hidden_field :status, value: 1 %>
      <div class="form col-xs-7">
        <div class="form-group">
            <label class="control-label">服务名称<span class="required-star">*</span></label>
            <div class="clearfix">
              <%= text_field_tag "service", @activity.extend.service,  class: 'col-xs-6' %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">服务电话<span class="required-star">*</span></label>
            <div class="clearfix">
              <%= text_field_tag "mobile", @activity.extend.mobile,  class: 'col-xs-6' %>
            </div>
          </div>
        <%= render "weixin_setting", activity: activity, data_img: activity.object.pic_url, pic_data_name: "activity[pic_key]", pic_data_key: activity.object.pic_key %>
          <div class="form-group">
            <label class="control-label"><%= activity.check_box :require_wx_user, class: "ace" %><span class="lbl">未关注可参与</span></label>
          </div>

      </div>
    </div>
  </div>
</div>
<%= render 'partials/modalFooter' %>
<%- end %>
<% content_for :custom_js do %>
<script type="text/javascript">
  $('.form-submit').on('click', function(){
    if(!$('#service').val()){
      showTip('warning', '请输入服务名称');
      return false;
    }
    if(!$('#mobile').val()){
      showTip('warning', '请输入服务电话');
      return false;
    }
    $(this).attr('disbaled', true)
  })
  </script>
<% end %>

