<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li><i class="icon-home home-icon"></i><%= link_to '首页', console_url %></li>
        <li><%= link_to '微互动', activity_forms_path %></li>
        <li><%= link_to '微预定', reservations_path %></li>
        <li><%= link_to '字段管理', fields_reservations_path(id: @activity.id) %></li>
      </ul>
      <%= render '/layouts/qrcode' %>
    </div>
    <div class="page-content">
      <div class="row">
        <%= form_for @search, url: fields_reservations_path, html: {method: :get} do |f| %>
          <div class="col-sm-12">
            <div class="col-md-3 row">
              <%= select_tag :id, options_for_select(current_site.activities.reservations.show.map{ |x| [x.extend.service, x.id]}, params[:id]), class: 'col-xs-12' %>
            </div>
            <div class="col-md-2">
            <%= f.text_field :name_like, class: 'col-xs-12', placeholder: '请输入字段名称' %>
            </div>
            <div class="col-md-3 row">
              <input type="submit" class="btn btn-primary btn-sm btn-filter" value="查询" >
            </div>
          <%- end %>
          <div class="col-md-3 row pull-right">
            <a href="/reservations" class="btn btn-default btn-sm pull-right margin-left-10">返回</a>
            <a class="btn btn-primary btn-sm pull-right" data-toggle="modals"  data-title="新增字段" data-height="1000" data-iframe="<%= new_custom_field_path(customized_type: 'Activity', customized_id: @activity.try(:id)) %>">新增字段</a>
          </div>
        </div>
        <div class="col-md-12 margin-top-20">
          <table id="applyTable" class="table table-striped table-bordered table-hovero">
            <thead>
            <tr>
              <th>序号</th>
              <th>服务名称</th>
              <th width="15%">字段名称</th>
              <th width="15%">字段类型</th>
              <th width="20%">选择项</th>
              <th width="20%">操作</th>
            </tr>
            </thead>
            <tbody>
            <%- if @fields.each_with_index do |field, index|  %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= field.customized.extend.service rescue '' %></td>
                <td><%= field.name.present? ? field.name : field.field_type %></td>
                <td><%= field.field_type %></td>
                <td>
                    <%= check_box_tag 'visible', field.visible, field.visible, data: {url: toggle_visible_custom_field_path(field)}, class: 'ace' %>
                    <span class="lbl">显示</span>
                    <%- if %w(姓名 电话 日期时间).include?(field.name) %>
                      <input class="ace" checked="checked" type="checkbox" value="true" disabled="disabled">
                    <% else %>
                      <%= check_box_tag 'is_required', field.is_required, field.is_required, data: {url: toggle_is_required_custom_field_path(field)}, class: 'ace' %>
                    <%- end %>
                    <span class="lbl">必填</span>
                    <%- if field.name == '电话' %>
                      <%= check_box_tag 'captcha_required', @activity.extend.captcha_required, @activity.extend.captcha_required, data: {url: toggle_captcha_required_custom_field_path(field)}, class: 'ace' %>
                       <span class="lbl">验证</span>
                    <%- end %>
                </td>
                <td class="tleft">
                  <%- if %w(姓名 电话 日期时间).include?(field.name) %>
                  <%- else %>
                    <%= modal_to '编辑', edit_custom_field_path(field), title: '编辑' if field.custom? %>
                    <%= link_to '删除', field, method: :delete, confirm: "你确定要删除字段“#{field.name}”吗？" %>
                  <% end %>
                  <% unless field.first? %>
                    <%= link_to '上移', move_up_custom_field_path(field), method: :post %>
                  <% end %>
                  <% unless field.last? %>
                    <%= link_to '下移', move_down_custom_field_path(field), method: :post %>
                  <% end %>
                </td>
              </tr>
            <%- end.blank? %>
              <tr><td colspan="6" class="text-center green">没有记录</td></tr>
            <%- end %>
            </tbody>
          </table>
          <%= paginate @fields %>
        </div>
      </div>
    </div>
    <!-- /.page-content -->
  </div>
<% end %>
<% content_for :custom_js do %>
  <script type="text/javascript">
    $('input[type=checkbox]').on('click', function(){
      var url = $(this).data('url');
      $.ajax({
        type: 'post',
        url: url,
        success: function(){
          showTip('success','修改成功');
        }
      });
    });
  </script>
<% end %>