<%= form_for @activity, :url =>reservation_path(@activity), validate: true do |activity| %>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label class="control-label">该说明在手机端订单页展示</label>
          <div class="clearfix">
            <div class="cieldon-file width-100px " data-name="activity[logo_key]" data-img="<%= activity.object.logo_url %>" data-key="<%= activity.object.logo_key %>" data-type="0" data-height="55" data-width="100"></div>
            <div class="margin-left-10 pull-left">
              <a class="btn btn-default btn-sm remove_logo">删除</a><br>
              <span class="text-warning">图片建议尺寸：720像素*400像素</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">文字说明<span class="text-warning">（建议50个字以内）</span></label>
          <div class="clearfix">
            <%= activity.text_area :description, placeholder: "最好不要超过50个字", maxlength: 50, rows: 5 %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'partials/modalFooter' %>
<%- end %>
<% content_for :custom_js do %>
  <script type="text/javascript">
  $('.edit_activity').on('click', '.remove_logo', function(){
    $('.cieldon-file input[type=hidden]').val('');
    $('.file-btn a').get(0).style.background = ""
    $.post('/reservations/remove_logo', {id: <%= @activity.id %>})
  })
  </script>
<% end %>