<body class="list comment">
<div class="html">
  <div class="main">
    <header>
      <div class="header">
        <a class="ico ico-left" href="<%= app_ecomments_path(:id => @item.id) %>"><i></i>返回</a>
      </div>
    </header><!-- header end -->
    <section>
      <div class="box-comment">
        <div class="hd">
          <h2 class="ellipsis">发表评论</h2>
          <a class="ico ico-heart fr"><em><%= @comments.count %></em></a>
        </div>
        <div class="bd">
          <div class="fl">
                	<span class="bd-img">
                    	<%= image_tag "/assets/life/user_logo.png" %>
                    </span>
          </div>
          <div class="fr">
            <%= form_for @comment, :url=> app_ecomments_path, :method => :post, :validate => true do |form| %>
              <%= hidden_field_tag "id", @item.id  %>
              <div class="bd-comment">
                <%= form.text_area :content, :rows => 3,  :placeholder => "请输入您的评论" %>
                <%= form.hidden_field :wx_user_id, :value => session[:wx_user_id] %>
                <div class="bd-face">
                  <!--<a class="ico icon-smile"></a>-->
                  <span class="fr">140</span>
                </div>
              </div>
              <label class="bd-text">
                <%= form.text_field :name, :placeholder => "昵称（必填）" %>
              </label>
              <label><input type="submit form-submit" class="btn" value="发布"/></label>
            <% end %>
          </div>
        </div>
        <div class="ft ft-comment">
          <h3>热门评论</h3>
            <%= render :partial => "comment", :object => @comments %>
        </div>
      </div>
    </section><!-- section end -->
  </div><!-- main end -->
</div><!-- html end -->

</body>
<script>
    $(".btn").click(function(){
        if($("#ec_comment_content").val() == ''){
            alert("评论不能为空！");
            $("#ec_comment_content").focus();
            return false;
        }else if($("#ec_comment_name").val() == ''){
            alert("昵称不能为空！");
            $("#ec_comment_name").focus();
            return false;
        }else{
            $(".new_ec_comment").submit();
        }
    })
</script>