<%= form_tag "/vip_transactions/sub_forget_password", id: "password_form", multipart: true do %>
  <div class="modal-body">
    <div class="alert alert-block alert-success">
      <strong class="pull-left">提示：</strong>
      <ul class="vwebsiteHeadAlert">
        <li> 通过以下任意方式，填写信息即可找回密码。</li>

      </ul>
    </div>
    <div class="ForgetPwd">
      <div class="radioTab">
        <label>
          <input name="type" type="radio" class="ace" data-toggle="radioTab"
          data-target="fromEmail" checked="checked" value="1">
          <span class="lbl">邮箱找回</span>
        </label>
        <label>
          <input name="type" type="radio" class="ace" data-toggle="radioTab"
          data-target="fromPwdPro" value="2">
          <span class="lbl">密保找回</span>
        </label>
      </div>
      <div class="radio-tab-content">
        <div id="fromEmail" class="radio-tab-pane">
          <div class="form-group">
            <label>邮箱地址<span class="required-star">*</span></label>
            <div class="clearfix">
              <%= text_field_tag :email, nil, class: 'col-xs-12' %>
            </div>
          </div>
        </div>
        <div id="fromPwdPro" class="radio-tab-pane hide">
          <div class="form-group">
            <label>密保问题<span class="required-star">*</span></label>
            <div class="clearfix">
              <%= select_tag :password_question_id, options_for_select(@supplier_password.password_question_arr)%>
            </div>
            <div class="clearfix margin-top-10">
              <%= text_field_tag :password_answer, nil, class: 'col-md-8' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary" data-fn="submit">确定</button>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>
<% end %>
<script type="text/javascript">
// var status;
// $("#email, #password_question_id, #password_answer").change(function(){
// 	if($("[name='type']:checked").val() == "1"){
// 		var set_url = "<%= check_protection_vip_transactions_path %>" + "?email=" + $("#email").val();
// 	}else{
// 		var set_url = "<%= check_protection_vip_transactions_path %>" + "?password_question_id=" + $("#password_question_id").val() + "&password_answer=" + $("#password_answer").val();
// 	}
//   jQuery.ajax({
//     type: "GET",
//     url: set_url,
//     dataType: "json",
//     success: function(data){
//       status = data.status;
//     }
//   });
// });

// function save_submit(){
// 	var type = $("[name='type']:checked").val();
//   if(type == "1" && status == "false"){
//     showTip('warning',"邮箱地址不正确！");
//   }else if(type == "2" && status == "false"){
//     showTip('warning',"密保问题不正确！");
//   }else{
//     $('#password_form').submit()
//   }
// }
$("[name='type']").click(function(){
	var type = $("[name='type']:checked").val();
	if(type == "1"){
		$('#div_email').css("display","block");
		$('#question').css("display","none");
	}else{
		$('#div_email').css("display","none");
		$('#question').css("display","block");
	}
});
</script>