<body class="index">
<div class="pageShow" id="pageShow">
  <%= image_tag @shop.cover_pic_url if @shop.cover_pic_key.present? && @shop.is_open_cover_pic && params[:show].to_i == 1%>
</div>
<div class="html">
  <div class="main">
    <header>
      <div class="header">
        <a class="ico ico-left" href="<%= app_ebusinesses_url(:id => @shop.id) %>"><i></i>首页</a>
        <a class="ico ico-right ico-list">分类</a>
      </div>
      <% if @ec_ads %>
          <div class="box-img" id="slider">
            <ul class="box-img-list">
              <% @ec_ads.each do |w| %>
                  <li><%= image_tag w.try(:pic_url) %></li>
              <% end %>
            </ul>
            <div class="box-text">
              <span class="box-bd ellipsis fl" id="slider-span"><%= @ec_ads.try(:first).try(:title) %></span>
              <div id="pagenavi" class="fr box-img-page">
                <% @ec_ads.each_with_index do |w, index| %>
                    <a href="#" class="<%= (index+1) == 1 ? 'active' : ' ' %>"><% index + 1 %></a>
                <% end %>
              </div>
              <div class="box-bg"></div>
            </div>
          </div>
      <% end %>
    </header><!-- header end -->
    <section>
      <% if @shop_categories.present? %>
          <% @shop_categories.each do |category| %>
          <div class="bd-title"><a href="<%= app_ecategory_url(category)  %>"><%= category.name %></a></div>
          <div class="box-list">
            <% @items = category.show_products.limit(2) %>
            <% if @items.present? %>
            <% @items.each do |item| %>
                <div class="list-li">
                  <a class="box-block" href="<%= app_ebusiness_url(item)%>"></a>
                  <div class="hd"><span><%= image_tag "#{item.pic_url}" %></span><span class="ft"><%= f item.price%></span></div>
                  <div class="bd"><%= item.title %></div>
                </div>
          <% end %>
            <% end %>


          </div>
          <% end %>
      <% else %>
          <div class="bd-title"><a href="list.html">没有数据</a></div>
      <% end %>
    </section><!-- section end -->
  </div><!-- main end -->
</div><!-- html end -->

<script type="text/javascript">
    //var slider=new TouchSlider({id:'slider', speed:600, timeout:6000});
    <% if @ec_ads.present? %>

    var texts=<%= @ec_ads.map(&:title).to_s.html_safe %>;
    new Swipe(document.getElementById('slider'), {
        speed:500,
        auto:3000,
        callback: function(){
            var lis = $(this.element).next("div").find("#pagenavi").children();
            lis.removeClass("active").eq(this.index).addClass("active");
            $("#slider-span").html(texts[this.index]);
        }
    });

    <% end %>
</script>
<style>
/*pageShow*/
.pageShow,
.pagebg{min-height: 100%;width: 100%; overflow: hidden;left:0; top:0; }
.pageShow{position:fixed; z-index: 999;}
.pagebg{position: absolute; z-index: 998;}
.pageShow img{ max-width: 100%;}
</style>
</body>