<body class="list detail">
<div class="html">
  <div class="main">
    <header>
      <div class="header">
        <a class="ico ico-left" href="<%= app_ebusinesses_path(:id => @item.ec_shop_id) %>"><i></i>返回</a>
        <h1><%= @item.title  %></h1>
        <a class="ico ico-right" href="<%= app_ecomments_path(:id => @item.id)  %>">评论&nbsp;<%= @item.ec_comments.count %></a>
      </div>
    </header><!-- header end -->
    <section>
      <div class="box-list">
        <div class="list-li">
          <a href="http://detail.taobao.com/item.htm?id=<%= @item.num_iid%>"><div class="hd"><span><%= image_tag @item.pic_url%></span><span class="ft"><%= @item.price %></span></div></a>
          <div class="bd">
            <span class="fw"><%= @item.title%></span>
            <!--<a class="ico ico-heart fr"></a>-->
          </div>
        </div>
      </div>
    </section><!-- section end -->
  </div><!-- main end -->
</div><!-- html end -->

</body>