<% if sub_menu.has_children? %>
    <div class="tree-folder tree-li" menu-id="<%= sub_menu.id %>" parent-id="<%= sub_menu.parent_id %>">
      <div class="tree-folder-header">
        <i class="tree-fa fa fa-plus-square"></i>
        <div class="tree-folder-name" data-id="<%= sub_menu.id %>"><%= sub_menu.name %></div>
        <div class="tree-tools" data-id="<%= sub_menu.id %>">
          <div>
            <%= link_to '', new_booking_category_path(parent_id: sub_menu.id), class: 'fa fa-plus tree-add', title: '新增子目录', data: {remote: true} if sub_menu.allow_menu_layer %>
          </div>
          <div>
            <%= link_to '', edit_booking_category_path(sub_menu.booking, sub_menu), class: 'fa fa-pencil tree-edit', title: '编辑当前目录', data: {remote: true} %>
          </div>
          <div>
            <%= link_to '', booking_category_path(sub_menu.booking, sub_menu), class: 'fa fa-times tree-remove', data: {method: :delete, confirm: '确认删除分类？'}, title: '删除当前目录' %>
          </div>
          <div>
            <%= link_to '', 'javascript:;', class: 'fa fa-long-arrow-up tree-up', data: {toggle: 'treeUp'}, title: '上移' %>
          </div>
          <div>
            <%= link_to '', 'javascript:;', class: 'fa fa-long-arrow-down tree-down', data: {toggle: 'treeDown'}, title: '下移' %>
          </div>
        </div>
      </div>

      <div class="tree-folder-content" style="display: none;">
        <%= render :partial=> "sub_menu", :collection => sub_menu.children.order(:sort), :as =>:sub_menu %>
      </div>
    </div>
<% else %>
    <div class="tree-item tree-li" menu-id="<%= sub_menu.id %>" parent-id="<%= sub_menu.parent_id %>">
      <i class="tree-fa fa fa-circle"></i>
      <div class="tree-item-name" data-id="<%= sub_menu.id %>"><%= sub_menu.name %></div>
      <div class="tree-tools" data-id="<%= sub_menu.id %>">
        <div>
          <%= link_to '', new_booking_category_path(parent_id: sub_menu.id), class: 'fa fa-plus tree-add', title: '新增子目录', data: {remote: true} if sub_menu.allow_menu_layer %>
        </div>
        <div>
          <%= link_to '', edit_booking_category_path(sub_menu.booking, sub_menu), class: 'fa fa-pencil tree-edit', title: '编辑当前目录', data: {remote: true} %>
        </div>
        <div>
          <%= link_to '', booking_category_path(sub_menu.booking, sub_menu), class: 'fa fa-times tree-remove', data: {method: :delete, confirm: '确认删除分类？' }, title: '删除当前目录' %>
        </div>
        <div>
          <%= link_to '', 'javascript:;', class: 'fa fa-long-arrow-up tree-up', data: {toggle: 'treeUp'}, title: '上移' %>
        </div>
        <div>
          <%= link_to '', 'javascript:;', class: 'fa fa-long-arrow-down tree-down', data: {toggle: 'treeDown'}, title: '下移' %>
        </div>
      </div>
    </div>
<% end %>
