<% child_materials =  Kaminari.paginate_array(child_material).page(params[:page]).per(3) %>
<div class="box box-list">
  <a href="<%= material_type_url main_material, website_menu %>" class="table">
    <% if main_material.pic? %>
          <span class="fl box-circle td">
             <%= image_tag main_material.pic.try(:thumb) %>
          </span>
    <% end %>
    <span class="<%= main_material.pic? ? "fr td" : "fw td" %>">
        <b><%= main_material.title %></b>
        <i><%= date_format_full_l(main_material.created_at) %></i>
        <em class="arrow"></em>
    </span>
  </a>
  <% child_materials.each do |child| %>
      <a href="<%= material_type_url child, website_menu %>" class="table">
        <% if child.pic? %>
          <span class="fl td">
            <%= image_tag child.pic.try(:thumb) %>
          </span>
        <% end %>
        <span class="<%= child.pic? ? "fr td" : "fw td" %>">
            <b><%= child.title %></b>
            <i><%= date_format_full_l(child.created_at)  %></i>
            <em class="arrow"></em>
        </span>
      </a>
  <% end %>
</div>

<div class="box-page">
  <a class="btn active" style="display: none;" id="previous1">上一页</a>
  <%= link_to_previous_page child_materials, '上一页', class: "btn", id: "previous2", :params => { :anchor => "mp.weixin.qq.com" } %>
  <a class="btn active" style="display: none;" id="next1">下一页</a>
  <%= link_to_next_page child_materials, '下一页', class: "btn", id: "next2", :params => { :anchor => "mp.weixin.qq.com" }  %>
</div>

<div class="box-nav">
  <a href="javascript:history.go(-1);"><img src="/assets/website/template12/goback.png"/></a>
  <a href="<%= @website.tel? ? "tel:#{@website.tel}" : "#" %>"><img src="/assets/website/template12/phone.png"/></a>
  <a href="<%= @website.address? ? map_app_website_path(id: @website.id) : "#"%>"><img src="/assets/website/template12/location.png"/></a>
  <a href="<%= app_website_url(id: @website.id, aid: session[:activity_id], wxmuid: @website.wx_mp_user_id, anchor: "mp.weixin.qq.com") %>"><img src="/assets/website/template12/home.png"/></a>
  <a class="last btn-share" onclick=""><img src="/assets/website/template12/share.png"/></a>
</div>

<% content_for :pop_pop_share do %>
    <div class="pop pop-share">
      <div class="pop-bg"></div>
      <div class="pop-bd">
        <p class="note-share"></p>
      </div>
    </div>
<% end %>

<% content_for :load_view_js do %>
    <script type="text/javascript">
        $(function() {
            $previous = $("#previous2").length;
            $next = $("#next2").length;
            if($previous == 0 && $next == 0){
                $("#previous1").hide();
                $("#next1").hide()
            }
            else if($previous == 0)
                $("#previous1").show();
            else
                $("#next1").show()
        });
    </script>
<% end %>
