<style type="text/css">
  .tr p select { float: left; }
  .form-col .btn { margin: 0 0 0 15px; }
</style>

<% content_for :sidebar do %>
<%= render 'sidebar_vip' %>
<% end %>

<% content_for :topbar do %>
  <a href="javascript:;" class="h1 pagecurrent">特权消费管理</a>
<% end %>

<p class="p-note">
  本会员卡SN码派发：<%= @total_activity_consumes.count %>张，
  已消费：<%= @total_activity_consumes.used.count %>张
</p>

<%= form_for @search, :html => { :method => :get } do |f| %>
  <div class="box-form form-col form-search table fl">
    <div class="tr">
      <div class="p">
        <span>特权</span>
        <%= f.select :vip_privilege_id_eq, current_site.vip_privileges.not_deteled.map{|vip_privilege|[vip_privilege.title, vip_privilege.id]},{include_blank: "全部"} %>
        
        <span>SN码</span>
        <%= f.text_field :code_like, class: "input-text", placeholder: '请输入SN码' %>
        <input type="submit" class="btn btn-small" value="查询">
      </div>
    </div>
  </div>
<% end %>


<div class="box-table fl">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="plugin-show">
    <tr>
      <th width="20%">特权名称</th>
      <th width="12%">SN码</th>
      <th width="18%">SN码派发时间</th>
      <th width="18%">使用时间</th>
      <th width="15%">状态</th>
      <th>操作</th>
    </tr>
    <% if @activity_consumes.each do |activity_consume| %>
      <tr>
        <td><%= activity_consume.vip_privilege.try(:title) %></td>
        <td><%= activity_consume.code %></td>
        <td><%= activity_consume.created_at.try(:to_date) %></td>
        <td><%= activity_consume.use_at.try(:to_date) %></td>
        <td>
          <% if activity_consume.used? %><span class="green"><%= activity_consume.status_name %></span><% end %>
          <% if activity_consume.unused? %><span class="fred"><%= activity_consume.status_name %></span><% end %>
        </td>
        <td>
          <%= link_to "立即使用", [:used, activity_consume], method: :post, data: { confirm: 'SN码只能使用一次，确定要立即使用吗?' }, class: 'green' if activity_consume.unused? %>
        </td>
      </tr>
    <% end.blank? %>
      <tr><td colspan="6" class="green text-center">没有消费记录</td></tr>
    <% end %>
  </table>
</div>

<div class="ft">
  <%= paginate @activity_consumes %>
</div>
