
<div>
  <p>
    <span><b>商店：</b></span>
    <span class="p_span"><%= @ec_shop.name %></span>
  </p>
  <p>
    <span><b>订单号：</b></span>
    <span class="p_span"><%= @ec_order.order_no %></span>
  </p>
  <p>
    <span><b>收货人姓名：</b></span>
    <span class="p_span"><%= @ec_order.username %></span>
  </p>
  <p>
    <span><b>手机号：</b></span>
    <span class="p_span"><%= @ec_order.tel %></span>
  </p>
  <p>
    <span><b>收货地址：</b></span>
    <span class="p_span"><%= @ec_order.address %></span>
  </p>
  <p>
    <span><b>订单状态：</b></span>
    <span class="p_span"><%= @ec_order.status_name %></span>
  </p>
  <p>
    <span><b>下单时间：</b></span>
    <span class="p_span"><%= @ec_order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
  </p>
  <p>
    <span><b>订单总金额：</b></span>
    <span class="p_span"><%= @ec_order.total_amount %></span>
  </p>
  <p>
    <span><b>描述：</b></span>
    <span class="p_span"><%= @ec_order.description %></span>
  </p>

  <div class="bd box-table fl" style="margin-left: -25px;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
      <tr>
        <th>商品名称或id</th>
        <th>数量</th>
        <th>单价</th>
        <th>总价</th>
      </tr>
      <% if @ec_order_items.blank? %>
          <tr>
            <td colspan="4" class="fgreen tcenter">无记录</td>
          </tr>
      <% else %>
          <% @ec_order_items.each do |order_item| %>
              <tr>
                <td><%= order_item.ec_item.present? ? order_item.ec_item.title : order_item.ec_item_id  %></td>
                <td><%= order_item.qty %></td>
                <td><%= f order_item.price %></td>
                <td><%= f order_item.total_price %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>



<style>
    p { text-align: left; padding: 0; }
</style>
