<% content_for :sidebar do %>
    <%= render 'sidebar_ec_shop' %>
<% end %>

<% content_for :topbar do %>
  <h1 class="pagecurrent">订单查询</h1>
<% end %>

<%= form_for @search, :html => { :method => :get } do |f| %>
  <div class="box-form form-col form-search table">
    <div class="tr">
      <p class="first">
        <span>订单号：</span>
        <%= f.text_field :order_no_like, class: 'input-text', style: "width:105px;" %>
        <span>收货人姓名：</span>
        <%= f.text_field :username_like, class: 'input-text', style: "width:162px;" %>
        <span>联系电话：</span>
        <%= f.text_field :tel_like, class: 'input-text', style: "width:105px;" %>
        <p>&nbsp;</p>
      </p>
    </div>
    <div class="tr">
      <p class="first">
        <span>状态：</span>
        <%= f.select :status_eq, EcOrder.get_status, include_blank: '全部', class: 'input-text' %>
        <span>创建时间：</span>
        <%= f.text_field :created_at_gte, class: 'input-date datetimepicker' %>
        <span> - </span>
        <%= f.text_field :created_at_lte, class: 'input-date datetimepicker' %>
        <input type="submit" class="btn btn-small" value="查询">
      </p>
    </div>
  </div>
<% end %>

<div class="box-table">
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
      <th>订单号</th>
      <th>收货人姓名</th>
      <th>联系电话</th>
      <th>订单总金额</th>
      <th>状态</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
    <% if @ec_orders.blank? %>
        <tr>
          <td colspan="7"><span class="fgreen">无记录</span></td>
        </tr>
    <% else %>
        <% @ec_orders.each do |order| %>
            <tr>
              <td><%= order.order_no %></td>
              <td><%= order.username %></td>
              <td><%= order.tel %></td>
              <td><%= f order.total_amount %></td>
              <td><%= order.status_name %></td>
              <td><%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
              <td class="txt-left-align">
                <a class="fgreen" href="<%= ec_order_path(order) %>" data-remote="true">查看</a>
                <%= link_to '取消', order, method: :delete, confirm:"确认要取消订单吗?", class:"fred" if order.pending?%>
              </td>
            </tr>
        <% end %>
    <% end %>
  </table>
  
  <div class="ft">
    <!--a class="btn btn-small" href="<%#= new_ec_order_path %>">新增</a-->
    <%= paginate @ec_orders, theme: 'pretty' %>
  </div>
</div>
<style type="text/css">
  .form-search .input-text { margin: 0 10px 0 0; }
  .form-search .input-date { width: 23%; padding: 0 8px; margin: 0 5px 0 0; }
</style>
