<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '微互动', activity_forms_path %></li>
        <li><%= link_to '微贺卡', greet_cards_path %></li>
      </ul>
      <!-- .breadcrumb -->
      <%= render '/layouts/qrcode' %>

    </div>
    <div class="page-content">
      <div class="tabbable">
        <ul class="nav nav-tabs padding-24 tab-size-bigger">
          <li <% if controller_name == "greets" %>class="active"<% end %>>
            <%= link_to "基础信息", "/greets/activity" %>
          </li>
          <li <% if controller_name == "greet_cards" %>class="active"<% end %>>
            <%= link_to "贺卡图片管理", "/greet_cards" %>
          </li>
        </ul>
        <div class="tab-content no-border padding-24">
          <div id="tab-1" class="tab-pane fade active in">
            <div class="row">
              <div class="col-xs-12 ">
                <div class="alert alert-block alert-info">
                  <strong class="pull-left">提示：</strong>
                  <ul class="vwebsiteHeadAlert">
                    <li>1、以下内容为微信推送相关设置，用户通过回复关键字触发本条信息，链接到微贺卡；</li>
                    <li>2、由于微贺卡功能是基于公众号的语音上传和语音识别，因此只支持通过微信认证的服务号。</li>
                  </ul>
                </div>
              </div>
              <%= form_for @activity, url: @activity_url, validate: true, html: {class: 'form col-xs-12', role: 'form'} do |f| %>
                <%= render "weixin_preview", wx_title: @activity.try(:name) || '标题', wx_summary: @activity.try(:summary) || '描述' %>
                <div class="col-xs-12 col-md-6 col-lg-7">
                  <%= render "weixin_setting", activity: f, data_img: @activity.pic_url.present? ? @activity.pic_url : '', pic_data_name: "activity[pic_key]", pic_data_key: @activity.pic_key %>
                  <div class="form-group">
                    <input type="submit" class="btn btn-sm btn-primary" value="保存" />
                    <input type="button" class="btn btn-sm margin-left-10" value="取消" onclick="javascript: window.location.href='<%= activity_greets_path %>'"/>
                  </div>
                </div>

              <% end %>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :custom_js do %>
<% end %>