<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>苏州慈善</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
  <script src="/images/donation/cdn_djl.js" type="text/javascript" async=""></script>
  <script type="text/javascript" async="" src="/images/donation/wxa-1.0.js"></script>
  <script language="javascript" src="/images/donation/jquery-1.9.1.min.js"></script>
  <script language="javascript">
!function(){function c(c,d,e,f,g){var h,k,l,m,n,o,p,q,r,t,u,v,w,x,i=d,j=[];if(g=void 0!=g?g:!0,g&&b[c]){for(k=0,l=b[c].propList,m=l.length;m>k;k++)j.push(i[l[k]]);h=b[c].parsefn}else{n=e,o=f,p=[],q=function(a){n||(n="<%",o="%>");var b=document.getElementById(a),c=b?b.innerHTML:a;return c.replace(/\\/g,"\\\\").replace(/[\r\t\n]/g," ").split(n).join(" ").replace(/'/g,"\r").replace(new RegExp("  =(.*?)"+o,"g"),"';\n s+=$1;\n s+='").split("  ").join("';\n").split(o).join("\n s+='").split("\r").join("\\'")}(c);for(r in i)p.push(r),j.push(i[r]);h=new Function(p,"var s='';\n s+='"+q+"';\n return s"),g&&(b[c]={parsefn:h,propList:p})}try{return h.apply(a,j)}catch(s){if(t="txTpl"+Date.now(),u="var "+t+"="+h.toString(),v=document.getElementsByTagName("head")[0],w=document.createElement("script"),x=navigator.userAgent.toLowerCase(),x.indexOf("gecko")>-1&&-1==x.indexOf("khtml"))return a.eval.call(a,u),a[t].apply(a,j),void 0;w.innerHTML=u,v.appendChild(w),v.removeChild(w),a[t].apply(a,j)}}var a=window,b={};"undefined"!=typeof exports?exports.txTpl=c:a.txTpl=c}();
var appid = 'wxc0db45f411664b2e'; 
var _wxao=window._wxao||{};_wxao.appid=appid,_wxao.version="1.0",_wxao.begin=+new Date,function(){var b,c,a=function(){_wxao.jsbReady=!0};document.addEventListener?document.addEventListener("WeixinJSBridgeReady",a,!1):document.attachEvent&&(document.attachEvent("WeixinJSBridgeReady",a),document.attachEvent("onWeixinJSBridgeReady",a)),b=document.createElement("script"),b.type="text/javascript",b.async=!0,version=_wxao.version||"1.0",b.src=("https:"==document.location.protocol?"https://":"http://")+"res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/wxa/wxa-"+version+".js",c=document.getElementsByTagName("script")[0],c.parentNode.insertBefore(b,c)}();
</script>
  <style>
* {margin:0;padding:0;} img{width:100%;border:none;} a{text-decoration:none;}.fl{float:left;}.fr{float:right;}
body{font-family:"Helvetica Neue",Hiragino, Sans, GB, W3, Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;background:url(http://mat1.gtimg.com/gongyi/m/wx/bg_repeat.jpg) repeat;margin:0;padding:0;-webkit-text-size-adjust:none;}.none{display:none}.clear{clear:both;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;margin:0;}

.home{}
.home .r{color:#ff4a12;}
.home .top{width:100%;height:52px;text-align:center;}
.home .top span{font-size:14px;color:#999b9e;line-height:52px;font-weight:bold;}
.home .top img{width:16px;height:25px;vertical-align:middle;margin-left:3px;}
.home .hot{width:100%;}
.home .hot .img_big{width:100%;}
.home .hot .btn{width:103px;height:28px;margin-left:24px;margin-top:-50px;position:absolute;}
.home .hot .c1{margin-left:24px;margin-top:-102px;position:absolute;color:#a2a2a8;font-size:14px;}
.home .hot .c2{margin-top:-80px;}
.home .hot .c1 .r{margin:0 3px;}
.home .footer{width:100%;height:33px;background:#e3e3dd;border-top:1px solid #f6f5f1;}
.home .footer img{width:102px;height:18px;margin-left:17px;margin-top:8px;}
.home .footer span{font-size:10px;color:#999b9e;float:right;margin-top:10px;margin-right:10px;}
.home .type{background:#ffffff;height:44px;border-bottom:1px solid #e9e9e6;text-align:center;width:100%;}
.home .type_bg{height:44px;width:100%;}
.home .type .item{text-align:center;float:left;margin-top:12px;}
.home .type .item img{width:9px;margin:auto;display:none;}
.home .type .item .t{height:20px;font-size:14px;color:#909090;}
.home .type .item .t span{margin:5px 12px 5px;line-height:20px;}
.home .type .sed .t{border-radius:15px;background:#f9600d;color:#ffffff;}
.home .type .sed img{display:block;}
.home .fixed{position:fixed;z-index:100;top:0;}
.home .list {margin:15px 10px 15px 12px;border:1px solid #e8e8e8;border-radius:3px;}
.home .list .item {border-radius:3px;border-bottom:1px solid #ebebeb;}.home .list .bg1{background:#ffffff;}.home .list .bg2{background:#f9f9f8;}
.home .list .item img{width:95px;height:72px;margin:15px;border-radius:7px;position:relative;}
.home .list .item .t{color:#999b9e;font-size:12px;margin-right:10px;}
.home .list .item .t .tn{height:15px;}
.home .list .item .t .tt{font-size:18px;color:#579f23;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.home .list .item .t .td{color:#999b9e;margin-top:5px;height:29px;overflow:hidden;}
.home .list .item .t .tp {font-size:10px;margin-top:5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.home .list .item .t .tp .r{color:#fd6512;margin:0 3px;}
.home .list .item .t .tp img{width:9px;height:9px;margin:0 10px 0 0;border-radius:0px;vertical-align:-1px;}

.detail{}
.detail .top .hot{position:absolute; margin-top:-113px;margin-left:20px;color:#ffffff;font-size:14px;}
.detail .top .img_mark{width:100%;height:85px;position:absolute;margin-top:-75px;}
.detail .top .hot .r{color:#ff4a12;margin:0 3px;}
.detail .content{position:absolute; margin-top:-70px;}
.detail .content .box{margin-left:20px;border-left:2px solid #d7d7d6;color:#5a5451;}
.detail .content .box .icon_1{width:12px;height:12px;}
.detail .content .box .icon_2{width:21px;height:21px;position:absolute;margin-left:-11px;margin-top:-1px;}
.detail .content .box .icon_3{width:12px;height:12px;position:absolute;margin-left:-7px;margin-top:10px;}
.detail .content .box .title{margin:10px;margin-left:15px; margin-bottom:30px;}
.detail .content .box .title .t{font-size:15px;font-weight:bold;}
.detail .content .box .title .c{font-size:14px;margin-left:0px;line-height:20px;}
.detail .content .box .title p{margin-top:10px;}
.detail .content .box .pay{margin:10px;margin-left:15px;margin-bottom:20px;}
.detail .content .box .pay span{float:left;color:#afa7a2;font-size:16px;font-weight:bold;}
.detail .content .box .pay .edit{float:left; margin:-10px 10px 0;}
.detail .content .box .pay .edit img{width:200px; height:36px;}
.detail .content .box .pay .edit input{font-size:20px;font-weight:bold;border:0;position:absolute;width:118px;height:36px;margin-top:-36px;margin-left:42px;background:rgba(0,0,0,0.0);text-align:center;color:#fc7d37;}
.detail .content .box .pay .edit .btn_l{height:44px;width:44px;position:absolute;margin-top:-40px;}
.detail .content .box .pay .edit .r{margin-left:158px;}
.detail .content .box .pay .btn_a{}
.detail .content .box .pay .btn{margin-top:10px;width:95%;height:35px;line-height:35px;font-size:16px;color:#ffffff;display:inline-block;border-radius:35px;border:1px #fe7225 solid;text-align:center;background:-webkit-linear-gradient(top, #ff6714 0%,#f15805 100%);background-color:#f15805;-webkit-box-shadow:inset 0 1px 0 rgba(245,179,143,0.4);box-shadow:inset 0 1px 0 rgba(245,179,143,0.4);}
.detail .content .box .pay .prot{font-size:14px;color:#b0a7a2;margin-top:10px;}
.detail .content .box .pay .prot .check{width:12px;height:12px;position:absolute;margin-top:3px;}
.detail .content .box .pay .prot label{margin-left:20px;}
.detail .content .box .desc{margin:10px 20px 20px 15px;}
.detail .content .box .desc .t{font-size:15px;font-weight:bold;margin-bottom:10px;line-height:18px;}
.detail .content .box .desc p{font-size:14px;line-height:22px;}
.detail .content .box .desc .c{margin-left:0px;}
.detail .content .box .desc .d{margin-left:0px;color:#8f857e;}
.detail .content .box .desc .fb{color:#5a5552;border:1px solid #d4d4d4;background:#e6e6e6;border-radius:30px;font-size:14px;padding:5px 30px;line-height:20px;margin-bottom:10px;margin-right:10px;}
.detail .content .box .desc .bt{border:1px solid #cacaca;color:#4c4c4c;border-radius:30px;text-align:center;background:#e0e0e0;padding:5px 0;font-size:13px;margin-top:10px;}
.detail .content .box .desc img{width:100%;margin:5px 0;}
.detail .content .box .desc .more{color:#fd6512;border:1px solid #d4d4d4;background:#e6e6e6;border-radius:30px;font-size:13px;padding:5px 30px;line-height:20px;margin-right:10px;text-align:center;}
.detail .content .box .footer{width:100%;text-align:center;}
.detail .content .box .footer img{width:102px;height:18px;margin:10px;}

.detail_jz{}
.detail_jz .top .bbg{padding-top:5px;text-align:center;color:#ffffff;margin-top:-86px;width:100%;height:86px; position:absolute;background:rgba(0,0,0,0.5); }
.detail_jz .top .bbg img{width:16px;height:25px;vertical-align:-6px;margin-left:3px;}
.detail_jz .top .bbg div{margin-top:10px;font-weight:bold;}
.detail_jz .content{margin-top:15px;}
.detail_jz .content .box .line{margin-bottom:35px;}
.detail_jz .content .box .desc .icon_1{width:12px;height:12px;margin:0;}
.detail_jz .content .box .desc .item{margin:13px 3px;}
.detail_jz .content .box .desc .item span{color:#5a5451;margin-left:10px;}

.feedback{}
.feedback .top .img_mark{width:100%;height:70px;position:relative;margin-top:-66px;}
.feedback .top .icon_bg{position:relative;margin-top:-109px;margin-left:17px;}
.feedback .top .icon_bg .icon {border:4px solid #ffffff; width:80px;}
.feedback .top .icon_bg .icon_mark{width:88px;}
.feedback .top .btn_mark{float:right;position:relative;margin-top:-109px;margin-right:20px;}
.feedback .top .btn_mark img{width:110px;height:22px;}
.feedback .top .btn_mark span{font-size:12px;position:absolute;margin-top:-18px;margin-left:27px;color:#e0e0e0;}
.feedback .top .title{position:relative;margin-top:-58px;margin-left:115px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#999591;}
.feedback .top .title .t{font-size:18px;font-weight:bold;line-height:22px;color:#000000;}
.feedback .top .title .s{font-size:12px;color:#999591;line-height:18px;}
.feedback .top .title .d{font-size:10px;}
.feedback .content{margin:20px;margin-top:30px;font-size:14px;color:#5a5451;line-height:22px;}
.feedback .content img{margin:10px 0;}
.feedback .content p .c{font-size:14px;margin-left:0px;line-height:22px;}
.feedback .footer{width:100%;text-align:center;}
.feedback .footer img{width:102px;height:18px;margin:10px;}

.myrecord{}
.myrecord .top .txt{width:100%;position:absolute;margin-top:-90px;line-height:22px;float:left;}
.myrecord .top .txt .icon_bg{width:60px;height:60px;border-radius:35px;margin:0 0 30px 10px;background:rgba(255,255,255,0.3); float:left;margin-top:5px;}
.myrecord .top .txt .icon_bg img{width:50px;height:50px;border-radius:35px;margin:5px;}
.myrecord .top .txt .c{margin-left:90px;margin-right:10px;color:#c2bdbc;font-size:13px;}
.myrecord .top .txt .c .r{color:#fd6512;margin:0 3px;}
.myrecord .top .txt .c .n{font-size:17px;}
.myrecord .top .bg{width:100%;}
.myrecord .content .box{margin-left:20px;border-left:2px solid #d7d7d6;margin-top:20px;}
.myrecord .content .box .icon_2{width:21px;height:21px;position:absolute;margin-left:-11px;}
.myrecord .content .box .txt{margin-left:15px;margin-bottom:10px;}
.myrecord .content .box .txt .mrl{float:right;margin-right:20px;}
.myrecord .content .box .txt .mrl img{width:90px;height:23px;}
.myrecord .content .box .txt .mrl .mrlt{position:relative;margin-top:-19px;margin-left:27px;font-size:12px;line-height:14px;color:#56504d;}
.myrecord .content .box .txt .t{color:#9a9a9a;font-size:16px;}
.myrecord .content .box .txt .bbr{background:#ffffff;margin:10px 20px 10px 0;border-radius:7px;border:1px solid #e2e2e2;}
.myrecord .content .box .txt .bbr .ctx img{width:80px;height:60px;margin:15px;border-radius:7px;position:relative;}
.myrecord .content .box .txt .bbr .ctx .t{margin-left:10px;font-size:13px;color:#56504d;margin-right:10px;}
.myrecord .content .box .txt .bbr .ctx .t .tn{height:15px;}
.myrecord .content .box .txt .bbr .ctx .t .tt{margin-top:2px;margin-bottom:3px;font-size:16px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.myrecord .content .box .txt .bbr .ctx .t .tt span{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;float:left;width:100%;color:#56504d;}
.myrecord .content .box .txt .bbr .ctx .t .td{font-size:12px;color:#908c89;line-height:18px;}
.myrecord .content .box .txt .bbr .ctx .t .td .r{color:#fd6512;margin:0 3px;font-size:13px;}
.myrecord .content .box .txt .bbr .ctx .t .tb{color:#67615e;font-size:14px;margin-top:8;}
.myrecord .content .box .txt .bbr .ctx .t .tb img{width:12px;height:12px;margin:0 5px 0 0;border-radius:0px;vertical-align:-2px;}
.myrecord .content .box .txt .bbr .bt{background:#f2f2f2;font-size:13px;height:30px;border-bottom-right-radius:7px;border-bottom-left-radius:7px;}
.myrecord .content .box .txt .bbr .bt .r{float:right;margin:7px;margin-right:20px;color:#615c59;}
.myrecord .content .box .txt .bbr .bt .r img{width:12px;height:12px;margin-right:5px;vertical-align:-2px;}
.myrecord .content .box .txt .bbr .bt .l{float:left;margin:7px;margin-left:20px;color:#615c59;}
.myrecord .content .box .txt .bbr .bt .l img{width:13px;height:12px;margin-right:5px;vertical-align:-2px;}
.myrecord .content .box .txt .bbr .lbt{border-bottom:1px dotted #d5d5d5;margin:0 20px;}.myrecord .content .box .txt .bbl .ctx{margin-left:10px;}
.myrecord .content .box .txt .bbl .ctx .t .tn{height:13px;}
.myrecord .content .box .footer{width:100%;text-align:center;}
.myrecord .content .box .footer img{width:102px;height:18px;margin:10px;}

.myrecord .content .list{}
.myrecord .content .list .t{background:#e3e3e3;height:40px;border-bottom:1px solid #bfbfbf;}
.myrecord .content .list .t span{color:#514b4a;font-size:14px;margin-left:20px;line-height:40px;}
.myrecord .content .list .item{border-bottom:1px solid #dddddd;margin:15px 20px 0;}
.myrecord .content .list .item .mt{font-size:16px;color:#574f4d;height:25px;}
.myrecord .content .list .item .md{font-size:12px;margin-bottom:15px;color:#b8b8b8;}
.myrecord .content .list .item .mm{font-size:16px;color:#fd6615;height:25px;text-align:right;margin-right:3px;}
.myrecord .content .list .item .mrd{color:#ffffff;background:#bfbfbf;border-radius:35px;text-align:center;font-size:10px;padding:2px 8px;}
.myrecord .content .list .item .mr{text-align:right;}
.myrecord .content .list .footer{width:100%;text-align:center;margin-top:10px;}
.myrecord .content .list .footer img{width:102px;height:18px;margin:10px;}

.result{}
.result .top{text-align:center;margin-top:10px;}
.result .top .t{color:#75706b;line-height:32px;font-size:22px;}
.result .top .t .r{color:#f9610e;margin:0 3px 20px;}
.result .top .t9{color:#a2a29f;font-size:12px;margin-top:10px;}
.result .top .l{margin:15px 30px;border-bottom:2px dotted #a2a29f;height:1px;}
.result .top .d{font-size:12px;line-height:22px;color:#75706b;}
.result .top .btn {margin:10px 10px;}
.result .top .btn img{width:140px;}
.result .footer img{width:102px;height:18px;margin:10px;margin-top:20px;}

.notice{background:rgba(0,0,0,0.2);position:fixed;top:0;}
.notice .dialog{width:260px;background:#ededed;margin:auto;border:1px solid #bbbbbb;}
.notice .dialog .icon{margin:20px;margin-left:30px;float:left;}
.notice .dialog .icon img{width:40px;}
.notice .dialog .txt{font-size:14px;line-height:20px;color:#4e433d;margin:20px 15px 0 0;float:left;}
.notice .dialog .bm{width:100%;height:36px;background:#fd6512;padding-top:7px;}
.notice .dialog .bm .btn{font-size:14px;width:70px;line-height:30px;background:#ededed;text-align:center;margin:auto;color:#4e433d;}
</style>
  <style id="clearly_highlighting_css" type="text/css">/* selection */ html.clearly_highlighting_enabled ::-moz-selection { background: rgba(246, 238, 150, 0.99); } html.clearly_highlighting_enabled ::selection { background: rgba(246, 238, 150, 0.99); } /* cursor */ html.clearly_highlighting_enabled {    /* cursor and hot-spot position -- requires a default cursor, after the URL one */    cursor: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--cursor.png") 14 16, text; } /* highlight tag */ em.clearly_highlight_element {    font-style: inherit !important; font-weight: inherit !important;    background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow.png");    background-repeat: repeat-x; background-position: top left; background-size: 100% 100%; } /* the delete-buttons are positioned relative to this */ em.clearly_highlight_element.clearly_highlight_first { position: relative; } /* delete buttons */ em.clearly_highlight_element a.clearly_highlight_delete_element {    display: none; cursor: pointer;    padding: 0; margin: 0; line-height: 0;    position: absolute; width: 34px; height: 34px; left: -17px; top: -17px;    background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite.png"); background-repeat: no-repeat; background-position: 0px 0px; } em.clearly_highlight_element a.clearly_highlight_delete_element:hover { background-position: -34px 0px; } /* retina */ @media (min--moz-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {    em.clearly_highlight_element { background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow@2x.png"); }    em.clearly_highlight_element a.clearly_highlight_delete_element { background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite@2x.png"); background-size: 68px 34px; } } </style>
  <style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style>
  <script src="/images/donation/cdn_dianjiliu.js"></script>
</head>
<body>
  <div id="pageContainer">
    <div class="detail">
      <div class="top">
        <!-- 要变化的图片 -->
        <% if @temp == "congcong" %>
        <img src="/images/home_upload/donation/congcong.jpg" style="margin-bottom:75px;">
        <% elsif @temp == "canqi" %>
        <img src="/images/home_upload/donation/canqi.jpg" style="margin-bottom:75px;">
        <% elsif @temp == "sanyuan" %>
        <img src="/images/home_upload/donation/sanyuan.jpg" style="margin-bottom:75px;">
        <% elsif @temp == "zhuxue" %>
        <img src="/images/home_upload/donation/zhuxue.jpg" style="margin-bottom:75px;">
        <% elsif @temp == "baixuebing" %>
        <img src="/images/home_upload/donation/baixuebing.jpg" style="margin-bottom:75px;">
        <% else %>
        <img src="/images/home_upload/donation/canji.jpg" style="margin-bottom:75px;">
        <% end %>
        <img src="http://mat1.gtimg.com/gongyi/m/wx/mask_detail_1.png" class="img_mark">
        <!-- <div class="hot" style="color:#ff4a12">
          历史善款
          <span class="r" style="">1,267,975</span>
          元
        </div> -->
      </div>
      <div class="content">
        <div class="box">

          <img src="http://mat1.gtimg.com/gongyi/m/wx/detail_icon_9.png" class="icon_2">
          <% if @temp == "congcong" %>
          <div class="title">
            <span class="t">让聪聪留在有声世界里</span>
            <p>
              <span class="c">
                聪聪一岁半时被发现耳聋，借钱配了助听器。男孩喜爱的运动对他来说却是高危动作，一次玩耍让他变成“极重度”耳聋，而且病情发展迅速，接近全聋。装人工耳蜗要12万，无奈家徒四壁。希望好心人伸出援手，让聪聪留在有声世界。
              </span>
              <br/>
              <br/>
              <img style="margin-left: -26px;" src="http://mat1.gtimg.com/gongyi/m/wx/detail_icon_2.png" class="icon_2">
              <span class="c">目标捐款：120000元</span>
            </p>
          </div>
          <% elsif @temp == "canqi" %>
          <div class="title">
            <span class="t">照顾残妻二十载，家里倒下顶梁柱</span>
            <p>
              <span class="c">
                朱师傅照顾残妻二十载，自己也患了淋巴癌。3万元帮助这个困难家庭维持基本生活，给他们一家生活的希望！
              </span>
              <br/>
              <br/>
              <img style="margin-left: -26px;" src="http://mat1.gtimg.com/gongyi/m/wx/detail_icon_2.png" class="icon_2">
              <span class="c">目标捐款：30000元</span>
            </p>
          </div>
          <% elsif @temp == "sanyuan" %>
          <div class="title">
            <span class="t">三元三村小房间里的坚忍</span>
            <p>
              <span class="c">
                十二年的病痛折磨，父母相继离世，让裴女士承受着病痛和情感的双重打击，2万元帮助她维持基本生活，给予她爱和关心，坚定她生的希望！
              </span>
              <br/>
              <br/>
              <img style="margin-left: -26px;" src="http://mat1.gtimg.com/gongyi/m/wx/detail_icon_2.png" class="icon_2">
              <span class="c">目标捐款：20000元</span>
            </p>
          </div>
          <% elsif @temp == "zhuxue" %>
           <div class="title">
              <span class="t">点燃希望 慈善助学</span>
              <p>
                <span class="c">
                  每4000元，就能帮助1名贫困家庭高中新生顺利入学；每5000元就能帮助1名品学兼优的高考特困新生；每6000元就能帮助寒门学子梦圆研究生。
                </span>
                <br/>
                <br/>
                <img style="margin-left: -26px;" src="http://mat1.gtimg.com/gongyi/m/wx/detail_icon_2.png" class="icon_2">
                <span class="c">目标捐款：5000000元</span>
              </p>
          </div>
          <% elsif @temp == "baixuebing" %>
           <div class="title">
              <span class="t">2岁白血病患儿瘦成7公斤</span>
              <p>
                <span class="c">
                  2岁白血病患儿佳佳，接受脐血移植后出现严重的排异反应，皮肤变得黑灰，瘦剩一把骨头，体重才7公斤，看着让人心疼。但他们家实在是拿不出钱了，此时没钱就等于放弃，3万元给佳佳一个活下去的希望！
                </span>
                <br/>
                <br/>
                <img style="margin-left: -26px;" src="http://mat1.gtimg.com/gongyi/m/wx/detail_icon_2.png" class="icon_2">
                <span class="c">目标捐款：30000元</span>
              </p>
          </div>
          <% else %>
          <div class="title">
            <span class="t">共同撑起残疾孤儿夫妇生活一片蓝天</span>
            <!-- 共同撑起残疾孤儿夫妇生活一片蓝天 -->
            <p>
              <span class="c">
              陈吉兰、阮义的生活在40多平的房子里。为了照顾瘫痪妻子，曾经的捐款早已用光。丈夫想为妻子看褥疮，但欠的债还没还清。他们的生活清贫，晚饭两道菜：青菜和白菜.希望好心人伸出援手，共同撑起残疾孤儿夫妇生活一片蓝天
              </span>
              <br/>
              <br/>
            </p>
          </div>
          <% end %>

          <!-- <img src="http://mat1.gtimg.com/gongyi/m/wx/detail_icon_2.png" class="icon_2"> -->
          <div class="pay">
            <span>姓名</span>
            <div class="nedit">
              <input type="number" id="" value="">
            </div>
            <!-- <span>元</span>     -->
            <div class="clear"></div>             
            <div class="clear"></div>          
          </div>
          <div class="pay">
            <span>手机</span>
            <div class="nedit">
              <input type="number" id="" value="">
            </div>
            <!-- <span>元</span>     -->
            <div class="clear"></div>             
            <div class="clear"></div>          
          </div>
          <div class="pay">
            <span>需要发票</span>
            <div class="nedit">
              <span><input type="checkbox" class="needfp" value="1" style="width:18px"/><span style="margin-top: 7px;">否</span></span>
              <span><input type="checkbox" class="needfp" value="2" style="width:18px"/><span style="margin-top: 7px;">是</span></span>
            </div>
            <!-- <span>元</span>     -->
            <div class="clear"></div>             
            <div class="clear"></div>          
          </div>

          <div class="pay" style="display:none" id="dizhi_hidden">
            <span>地址</span>
            <div class="nedit">
              <input type="number" id="" value="">
            </div>
            <!-- <span>元</span>     -->
            <div class="clear"></div>             
            <div class="clear"></div>          
          </div>

          <div class="pay" style="display:none" id="youbian_hidden">
            <span>邮编</span>
            <div class="nedit">
              <input type="number" id="" value="">
            </div>
            <!-- <span>元</span>     -->
            <div class="clear"></div>             
            <div class="clear"></div>          
          </div>

          <img src="http://mat1.gtimg.com/gongyi/m/wx/detail_icon_2.png" class="icon_2">
          <div class="pay">
            <span>捐助</span>
            <div class="nedit">
              <input type="number" id="custom_donation" value="50">
            </div>
            <span>元</span>    
            <div class="clear"></div> 
            
            <div class="clear"></div>
            <a href="javascript:void(0)" class="btn_a" id="btn_submit">
              <div onclick="custom_donation();" class="btn">我要捐款</div>
            </a>

          </div>

          <img src="http://mat1.gtimg.com/gongyi/m/wx/detail_icon_3.png" class="icon_2">
          <div class="title">
            <span class="t">项目详情</span>
          </div>
    <span class="c">
    <% if @temp == "canji" %>
陈吉兰、阮义是苏州社会福利院的首对残疾孤儿夫妇，因为这一特殊身份，他们的婚礼曾吸引苏州所有媒体关注。婚后不到一年，身怀六甲的陈吉兰突发脑溢血，她和腹中宝宝的安危牵动了无数人的心，在媒体的发动下，社会各界纷纷捐款相助，爱心助她们摆脱死神威胁。然而，当所有热闹散尽，平静的生活才是他们最大的压力。

疾病缠身父母遗弃，两个孤儿走到了一起

记者来到陈吉兰、阮义位于城北“新天地家园”小区的家时，正巧碰到春节前苏州社会福利院工作人员带着水果、油、米等礼物来慰问夫妻俩，加上刚放寒假的女儿叽叽喳喳的玩闹，给这个家增添了几分喜庆的过节气氛。

阮义和陈吉兰从小在社会福利院一起长大。1977年，4岁的陈吉兰因为患有脊柱瘤被父母从外地带来苏州狠心抛弃。1978年，刚出生一天的阮义因先天双腿残疾被父母送到福利院。在福利院的关爱下，阮义和陈吉兰逐步治好了身体上的疾病，两个命运多舛的孤儿从当初的相互鼓励、相互温暖最终走到了一起。

阮义告诉记者，他和妻子原来有工作，收入微薄，总算可以自食其力。妻子脑出血瘫痪后，自己留在家里照顾妻子和女儿，为防止妻子生褥疮，每两小时要帮她翻一次身。当年社会捐助的10多万元，为陈吉兰看病以及生孩子的花销，早就花光了。阮义清楚记得，女儿7个月就早产，肺部还没发育好，躺在保温箱里，每天打一支促进肺部发育的针，一支4500元。全家在社区帮助下办了低保，女儿上幼儿园也有部分减免，但每月不到2000元的低保收入应对一家人吃喝、陈吉兰看病以及养育孩子等各种花销，难免捉襟见肘。

躺在床上的陈吉兰不时发出“嗯嗯”声。阮义说，只有他懂妻子的意思，她想出门散心。但阮义不能推她出门。一来，去年12月，陈吉兰因肺部感染住了一个多月医院，才出院没几天，身体很虚弱。二来，她久卧在床，臀部生了褥疮，阮义比划着褥疮大概有酒杯口大小，“用棉签伸进去，里面都空了”，所以不能再坐轮椅。丈夫想为妻子看褥疮，但欠的债还没还清.
<% elsif @temp == "canqi" %>
  从32岁开始，朱师傅的妻子就患上小脑萎缩，妻子患病快二十年来，为了看护妻子，老朱只能打小工贴补家用。2013年9月，朱师傅发现淋巴结有肿块，去医院检查结果是淋巴癌，老朱每天要至少5个小时挂生理盐水维持，完全没有了工作能力，一家人的生活陷入绝境。除了脑萎缩的妻子外，这个贫寒的家里还有一位患老年痴呆的父亲，和一个年龄尚小的孙子。老朱儿子的微薄收入仅够这个贫苦的家庭维持基本日常茶米油盐的需求，生活十分困难。
  <% elsif @temp == "sanyuan" %>
  不足15平米的小房间，最贵的电器是一台用了20多年的小电视机。裴女士在这个房间里坚忍了十二年,每天要忍受被成千上万只蚂蚁咬般的痛楚。每次手术都几乎倾尽所有，为了治病，家里的房子都卖了。

父母相继离去后，面对身体的病痛和情感的双重打击，整天躺在病床上的裴女士不免多想，一直是家人的坚守不放弃让裴女士心怀生的希望。
<% elsif @temp == "zhuxue" %>
  在我市有一些贫困家庭的学子，在中考、高考中取得了理想的成绩，但高额的入学费用给他们造成沉重的经济和精神负担。为帮助我市困难家庭中以优异成绩考入高中、大学、研究生的应届毕业生解决入学学费，特设立此项目。 资助对象：姑苏区、工业园区和高新区低保、低保边缘、特困职工和低保标准2倍以内困难家庭当年新考入的高中生（中专、职高）、大学生（大专）和研究生。资助方式：对符合资助条件的高中（含中专、职高）、大学、研究生新生分别每人一次性资助4000元、5000元和6000元。
<% elsif @temp == "baixuebing" %>
  2岁的朱思佳来自盐城响水，去年9月出现眼睛红肿，到医院检查发现是急性单核细胞白血病，属白血病中的高危类型，相对难治。2月中旬进入净化舱，佳佳接受脐血移植后出现严重的排异反应，皮肤变得黑灰，体重才7公斤，瘦剩一把骨头，连屁股上都没有肉，看着让人心疼。好不容易完成化疗，进净化舱进行脐血移植，但他们家实在是拿不出钱了，此时没钱就等于放弃，望好心人士伸出援手，帮助这个可怜的孩子！
<% else %>
张战士夫妇在木渎一家私企打工，两人月工资加起来3000元。张聪有一个比他大一岁的哥哥，在民工子弟学校读书，而张聪每月学费就2000元。全家租住在不到20平方米的房间里面。张聪一岁半时被发现耳聋，在进康复中心之前，为了给张聪看病、配助听器，夫妇俩已经开始背债。

春节时，张聪和小伙伴的正常玩耍让他病情恶化——由大前庭导水综合征引起的耳聋程度已是“极重度”，而且病情发展迅速，接近全聋。他要想听到声音，必须做人工耳蜗植入术。但一个人工耳蜗要12万，对于张战士夫妇来说不啻是天文数字。</span>
<% end %>
</span>
<br/>
<img style="margin-top:8px;" src="http://mat1.gtimg.com/gongyi/m/wx/detail_icon_12.png" class="icon_2">
<div class="title">
<p style="margin-top:0px;">善款接收及项目执行机构<br/>
  苏州市慈善基金会（具有国家民政部门许可的公开募款资质）</p>
</div>
        </div>
      </div>
    </div>


  </div>
  <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
  <script type="text/javascript">
    function direct_donation(money){
      $("#new_donation_order #donation_order_fee").val(money);
      $("#new_donation_order").submit();
    }
    function custom_donation(){
      var money = $("#custom_donation").val();
      $("#new_donation_order #donation_order_fee").val(money);
      $("#new_donation_order").submit();
    }
  </script>
<div style="display:none">
<%= form_for [:app, @donation_order] do |f| %>
  <div class="des-r box-form form-row">
    <div class="p">
      <span>捐款金额 <span class="fgray"></span></span>
      <%= f.text_field :fee, validate: true, class: "input-text", value: 0 %> <!-- 12.3 -->
    </div>
    <div class="p">
      <%= f.submit "确定", disable_with: "提交中..." %>
    </div>
  </div>
<% end %>
</div>

<style>
/* body {
    background-image: url(http://testimages.qiniucdn.com/FuFU47sD05-a-XlpiEUk4knnryrT);
    background-position: center top;
    background-size: 100% auto;
 }*/
.detail .content .box .title {
  margin: 10px;
  margin-left: 15px;
  margin-bottom: 5px; 
}
.pay .nedit {
  margin: -6px 5px 0 10px;
  float: left;
}
.pay .nedit input {
  border-radius: 17px;
  border: 1px solid #e2e4e8;
  width: 180px;
  font-size: 20px;
  font-weight: bold;
  height: 34px;
  background: rgba(128,128,128,0.1);
  text-align: center;
  color: #fc7d37;
  /*-webkit-appearance: none;*/
}
</style>

<script>
  $(document).ready(function(e){
    $("form").submit(function(){
      var fee = $("#donation_order_fee").val();
      var val = parseFloat(fee);
      if(val=="NaN"){
        alert("请输入大于0的金额");
        return false;
      }else if(val > 0){
        // alert(val);
        $("#donation_order_fee").val(val.toFixed(2));
        return true;
      }else{
        alert("请输入大于0的金额");
        return false;
      }
    });
    $(".needfp").click(function(){
      // alert($(this).val());
      $(".needfp").prop("checked",false);
      var $t = $(this);
      var va = $t.val();
      $t.prop("checked",true);
      if(va == "2"){
        //弹出地址和邮编
        $("#youbian_hidden").show();
        $("#dizhi_hidden").show();
      }else{
        $("#youbian_hidden").hide();
        $("#dizhi_hidden").hide();
      }
    })
  });
</script>

<script type="text/javascript">
  <% if flash[:notice] %>
      alert('<%= flash[:notice] %>');
  <% elsif flash[:alert] %>
      alert('<%= flash[:alert] %>');
  <% end %>
  <% flash.clear %>
</script>

</body>
</html>
