<script type="text/javascript" src="/javascripts/app/website/swipe.js"></script>
<body class="index">
<% if @website.home_cover_pic_key.present? && @website.is_open_cover_pic %>
    <div class="pageShow" id="pageShow">
      <%= image_tag @website.home_cover_pic_url %>
    </div>
<% end %>
<div class="html">
  <div class="main">
    <%= render :partial=> "website_picture", :object => @website_pictures %>
    <section>
      <% @website.website_menus.root.order(:sort).each_with_index do |menu,index| %>
        <div class="box box-index">
          <div class="hd">
            <a href="<%= app_life_path(menu, anchor: "mp.weixin.qq.com")  %>" class="box-block"></a>
            <h2 class="ellipsis"><%= menu.name %></h2>
            <a class="ico fr">查看更多</a>
          </div>

          <div class="bd box-circle slider" style="height:auto;" id="slider0<%= index%>">
              <% if menu.has_children? %>
                <div class="slider-cont" style="height:auto;">
                  <% menu.children.sorted.in_groups_of(8,false).each do |value| %>
                      <div class="slider-li" style="height:auto;">
                        <% value.each do |child| %>
                            <a href="<%= child.has_children? ?  page_app_life_url(child.id, anchor: "mp.weixin.qq.com") : website_activity_link(child) %>">
                              <b style="background-image:url(<%= child.pic_url if child.pic_key.present? %>)"></b>
                              <i><%= child.name %></i>
                            </a>
                        <% end %>
                      </div>
                  <% end %>
                </div>
                <% if menu.children.count >= 9 %>
                <div class="box-img-page">
                    <% menu.children.sorted.in_groups_of(8,false).each_with_index do |child, sub_sub_index| %>
                      <a href="#" class="<%= sub_sub_index == 0 ? "active" : ''%>"><%= sub_sub_index + 1%></a>
                    <% end %>
                </div>
                <% end %>
              <% end %>
          </div>
        </div>
      <% end %>
    </section><!-- section end -->
  </div><!-- main end -->
</div><!-- html end -->
<script>
    $(function(){
        var sliders=$(".slider");
        $.each(sliders, function(i){
            var id=$(sliders[i]).attr("id");
            new Swipe(document.getElementById(id), {
                speed:500,
                //auto:3000,
                callback: function(){
                    var lis = $(this.element).next("div.box-img-page").children();
                    lis.removeClass("active").eq(this.index).addClass("active");
                }
            });
        });
    });
</script>
</body>
