<div class="pop-bg" onclick="cancer_submit();"></div>
<div class="pop-bd">
  <div class="box-pop">
    <div class="hd">
      <b>恭喜你，中奖了！</b>
    </div>
    <div class="bd">
      <p><b>奖品为<%= @activity_consume.try(:activity_prize).try(:title) %>，</b><br/>兑奖SN码：<%= @activity_consume.code %></p>
      <p><%= @activity.activity_property.display_win_tip %></p>
      <%= form_for  @activity_consume, url: create_activity_consume_app_hit_eggs_path, validate: true, method: :post, html: { onsubmit: "return submit_mobile();" } do |form| %>
          <%= hidden_field_tag :id, @activity.id %>
          <%= form.hidden_field :id %>
          <p><span>请输入您的手机号</span>
        <%= form.text_field :mobile, placeholder: "手机号码", value: @wx_user.try(:related_mobile)  %>
      <p><%= form.submit "提交", id: "btn-award", class: "btn"%></p>
      <% end %>
    </div>
  </div>
</div>

