<% if (params[:receiver_id].blank? && wbbs_topic.visible_for?(@wx_user)) || (params[:receiver_id].present? && wbbs_topic.privates_visible_for?(@wx_user))  %>
  <div class="mod-box">
    <div class="box-hd mod-fa fa fa-bars">
      <div class="mod-user">
        <%- if @wx_user %>
          <%- if @wx_user.has_info? %>
            <a href="javascript:;" class="hd-img" onclick="setLinkForPop(<%= @supplier.id %>, <%= wbbs_topic.id %>, <%= wbbs_topic.poster_id %>, <%= @activity.id %>)">
          <%- else %>
            <a href="javascript:;" class="hd-img" onclick="showPop('#pop-nichen')">
          <%- end %>
        <%- else %>
          <a href="javascript:;" class="hd-img">
        <%- end %>
        <img src="<%= wbbs_topic.poster_avatar %>" alt="<%= wbbs_topic.poster_name %>">
        </a>
        <div class="hd-text">
          <%- if @wx_user %>
            <%- if @wx_user.has_info? %>
              <b onclick="setLinkForPop(<%= @supplier.id %>, <%= wbbs_topic.id %>, <%= wbbs_topic.poster_id %>, <%= @activity.id %>);"><%= wbbs_topic.poster_name %></b>
            <%- else %>
              <b onclick="showPop('#pop-nichen')"><%= wbbs_topic.poster_name %></b>
            <%- end %>
          <%- else %>
            <b><%= wbbs_topic.poster_name %></b>
          <%- end %>
          <p><abbr class="timeago" title="<%= wbbs_topic.created_at.to_s(:local) %>"></abbr></p>
          <%- unless wbbs_topic.reported_by?(@wx_user) %>
            <a class="btn-tip" href="javascript:;" onclick="showTip(this, '.hd-text', <%= wbbs_topic.id %>)"></a>
          <%- end %>
        </div>
      </div>
    </div>
    <div class="box-bd" id="box-1">
      <p>
        <div class="slideBox">
          <div class="mod-img">
            <div class="img-wrap">
              <%- all_pics = wbbs_topic.qiniu_pictures %>
              <%- pics = all_pics.take(3) %>
              <ul>
                <% pics.each do |pic| %>
                  <li><%= link_to image_tag(qiniu_img_url(pic.sn, type: 10)), display_photo_mobile_wbbs_topic_path(supplier_id: @supplier, id: wbbs_topic) %></li>
                <% end %>
              </ul>
              <%- if pics.count == 3 %>
                <i><%= all_pics.count %>张</i>
              <%- end  %>
            </div>
          </div>
        </div>
      </p>
      <p><%= wbbs_topic.content[0..40] %></p>
      <p class="hide"><%= wbbs_topic.content[41..-1] %></p>
      <div class="mod-btn">
        <% if wbbs_topic.content.length > 40 %>
        <div class="mod-more" onclick="showAll(this)">全文</div>
        <% end %>
        <%- if params[:receiver_id].blank? %>
          <a class="fa fa-thumbs-o-up btn-praise <%= 'fa-thumbs-up' if wbbs_topic.voted_up_by?( @wx_user ) %>" data-number="<%= wbbs_topic.up_count %>" data-id="<%= wbbs_topic.id %>" href="javascript:;"><%= wbbs_topic.up_count %></a>
          <%- unless @noshare %>
            <%= link_to '分享', mobile_wbbs_topic_path(@supplier, wbbs_topic, activity_id: @activity.id), class: 'fa fa-share-square-o' %>
          <%- end %>
        <%- end %>
        <%- if wbbs_topic.privates? %>
          <span class="blue">私</span>
        <%- end %>
        <%- if (@wx_user && @wx_user.has_info?) || !@wx_user  %>
          <a class="fa fa-comment-o commentable" href="javascript:;" data-url="<%= create_reply_mobile_wbbs_topic_path(@supplier, wbbs_topic) %>">回复</a>
        <%- else %>
          <a class="fa fa-comment-o" href="javascript:;" onclick="showPop('#pop-nichen')">回复</a>
        <%- end %>
      </div>
    </div>
    <% replies_count = wbbs_topic.wbbs_replies.count %>
    <% wbbs_replies  = wbbs_topic.wbbs_replies.recent(WbbsReply::PAGE_SIZE) %>
    <div class="box-ft">
      <% if replies_count > 0 %>
      <div class="mod-comment" id="comment-<%= wbbs_topic.id %>">
        <%= render partial: 'wbbs_reply', collection: wbbs_replies, locals: { wbbs_topic: wbbs_topic } %>
      </div>
      <% if replies_count > WbbsReply::PAGE_SIZE %>
      <div class="mod-more">
        <a href="javascript:;" onclick="load_more_replies(<%= @supplier.id %>, <%= wbbs_topic.id %>, this)" data-id="<%= wbbs_replies.last.id %>" id="more-comment-<%= wbbs_topic.id %>">更多</a>
        <small>共<%= wbbs_topic.wbbs_replies_count %>条回复</small>
      </div>
      <% end %>
      <% else %>
      <small>暂无回复</small>
      <% end %>
    </div>
  </div>
  <script type="text/javascript" src='/javascripts/jquery.timeago.js'></script>
  <script type="text/javascript">
    $(function(){
      $(".timeago").timeago();
    })
  </script>
<% end %>
