<%= render 'title' %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'mobile/wbbs' %>
  <%= javascript_include_tag 'mobile/wbbs' %>
<% end %>

<section id="sec-index">
  <header class="untoppable">
    <%= link_to "", mobile_wbbs_topics_path( @supplier ), class: 'fa fa-chevron-left' %>
    <a></a>
    <a></a>
  </header>
  <div class="body">
    <div class="mod-bd">
      <div class="mod-box">
        <%= render partial: 'wbbs_notification', collection: @wbbs_notifications %>
      </div>
      <div class="mod-load load-btn tcenter" onclick="load_more_notifications()" data-id="<%= @wbbs_notifications.last.try(:id) %>">
        <% if @wbbs_notifications.count < 10 %>
          已全部显示
        <% else %>
          <i class="fa fa-arrow-circle-o-down"></i>查看历史信息
        <% end %>
      </div>
    </div>
  </div>
</section>

<script>
  $('.mod-box').on('click', '.hd-message', function(event) {
    // mark message status to be read
    $.getScript( '<%= read_notification_mobile_wbbs_topics_path(@supplier) %>?id=' + $(this).data('id') );
  });

  function load_more_notifications() {
      $(this).removeClass("load-btn").addClass("loading").html('<i class="fa fa-spinner"></i>正在加载..').show();
      var notification_id = $('.mod-load').data('id');
      if ( notification_id ) {
        $.getScript('<%= wbbs_notifications_mobile_wbbs_topics_path(@supplier) %>?id=' + notification_id);
      }
  }
</script>