<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li> <i class="icon-home home-icon"></i> <%= link_to "首页", root_path %> </li>
        <li><%= link_to "微房产", house_layouts_path %> </li>
        <li><%= link_to "销售顾问管理", house_sellers_path %></li>
      </ul>
      <%= render '/layouts/qrcode' %>
    </div>

    <div class="page-content">
      <div class="tabbable">
        <ul class="nav nav-tabs padding-24 tab-size-bigger" id="myTab">
          <li class="active">
            <%= link_to "销售顾问微信设置", activity_house_sellers_path %>
          </li>
          <li>
            <%= link_to "销售顾问管理", house_sellers_path %>
          </li>
        </ul>

        <div class="tab-content no-border padding-24">
          <div id="tab-1" class="tab-pane fade active in">
            <div class="row">
              <div class="col-xs-12 ">
                <!-- PAGE CONTENT BEGINS -->

                <div class="alert alert-block alert-info">
                  <strong class="pull-left">提示：</strong>
                  <ul class="vwebsiteHeadAlert">
                    <li>以下内容为微信推送相关设置，用户通过回复关键字触发本条信息，链接销售顾问页面。</li>
                  </ul>
                </div>
              </div>
              <%= form_for @activity, url: update_activity_house_sellers_path, validate: true, html: {role: "form", class: "form col-xs-12"} do |activity| %>
                <%= render "weixin_preview", wx_title: @activity.try(:name) || '标题', wx_summary: @activity.try(:summary) || '描述' %>
                <div class="col-xs-12 col-md-6 col-lg-7">
                  <%= render "weixin_setting", activity: activity, data_img: @activity.pic_url, pic_data_name: "activity[qiniu_pic_key]", pic_data_key: @activity.qiniu_pic_key %>
                  <div class="form-group">
                    <input type="submit" class="btn btn-sm btn-primary" value="保存" />
                    <!-- <input type="reset" class="btn btn&#45;sm btn&#45;primary" value="停用" /> -->
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
<% end %>