<% content_for :main_content do %>
<div class="main-content ">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li><i class="icon-home home-icon"></i><%= link_to '首页', console_url %></li>
      <li><%= link_to '微枚迪支付', pay_accounts_path %></li>
      <li><%= link_to '支付申请', pay_accounts_path %></li>
    </ul>
    <%= render '/layouts/qrcode' %>
  </div>

  <div class="page-content">
    <div class="tabbable ">
      <div class="tab-pane active" id="tab-1">
        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-block alert-success ">
              <strong class="font-size20">微枚迪支付介绍</strong>
              <ul class="no-margin-left">
                <li>微枚迪支付是商户委托微枚迪代为收取消费者支付的相应服务款（货款），经结算系统结算并查验后结算给商户的代收代付产品，从而帮助广大商户提供更快捷、更便利的支付方式，解决商户申请支付方式困难、配置繁琐的问题。</li>
              </ul>
            </div>
          </div>

          <div class="col-sm-12 margin-b-10">
            <a href="<%= conditions_pay_accounts_path %>" class="font-size30">点击查看申请条件</a>
          </div>

          <%= render 'status' %>

          <% @pay_account.step2 = 1 %>
            <%= form_for @pay_account, validate: true do |f| %>
             <%= f.hidden_field :step2,  value: 1 %>
            <div id="gob" class="row tab-pane">
              <div class="col-sm-12  margin-top-20">
                 <div class="clearfix col-md-7 margin-top-20">
                  <strong class="font-size20">申请人信息</strong>
                </div>
                <div  class="form col-sm-10 margin-top-20">
                  <div class="form-group">
                    <label class="control-label">申请人姓名：</label>
                    <div class="clearfix">
                      <%= f.text_field :contact,  class: "col-xs-6", validate: true %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">证件类型：</label>
                    <div class="clearfix">
                      <%= f.text_field :identity_type,  class: "col-xs-6", validate: true %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">证件号码：</label>
                    <div class="clearfix">
                      <%= f.text_field :identity_number,  class: "col-xs-6", validate: true %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">证件有效期：</label>
                    <div class="clearfix">
                      <%= f.text_field :identity_avaliable_to,  class: "col-xs-6 datepicker", validate: true %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">证件复印件：</label>
                    <div class="clearfix">
                       <div data-name="pay_account[identity_pic_key]" data-img = "<%=  @pay_account.try(:identity_pic_url)  %>" data-key="<%= @pay_account.try(:identity_pic_key) %>" class="cieldon-file width-100px" data-type="1" data-div="#img-1" data-height="200"></div>
                      <span data-content="（证件正反面在一张A4纸上，加盖公章再上传）" data-placement="right" data-trigger="hover" data-rel="popover" class="icon-question-sign" data-original-title="" title=""></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div style="height: 200px;  width: 200px; background: #eee;" class="fl"><p id="img-1"></p></div>
                      <%- if @pay_account.present? && @pay_account.identity_pic_url.present? %>
                      <a href="<%= @pay_account.identity_pic_url %>" target="_blank" style="cursor: pointer;">点击查看原图显示原始尺寸的图片</a>
                    <%- else %>
                      <a id="show-image" style="cursor: pointer;">点击查看原图显示原始尺寸的图片</a>
                    <%- end %>
                    </div>
                  <div class="form-group">
                    <label class="control-label">联系电话：</label>
                    <div class="clearfix">
                      <%= f.text_field :tel,  class: "col-xs-6", validate: true %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">邮箱地址：</label>
                    <div class="clearfix">
                      <%= f.text_field :email,  class: "col-xs-6", validate: true %>
                    </div>
                  </div>
                  <div class="form-group ">
                    <a href="<%= apply_pay_accounts_path %>" class="btn btn-sm">上一步</a>
                    <input type="submit" value="下一步" class="btn btn-sm btn-primary form-submit" >
                  </div>
                </div>
              </div>
            </div>
          <%- end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :custom_js do %>
  <script type="text/javascript">
    $('#show-image').on('click', function(){
      var url = $('input[type=file]').attr('value') ;
      if(url.indexOf('qiniu') != -1){
        window.open(url,'_blank');
      }
    })
    $('.form-submit').on('click', function(){
      if(!$('#pay_account_email').val().match(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/)){
        showTip('warning', '邮箱地址不正确！')
        return false;
      }
      var  mobile_reg = /^\d{11}$/;
      var  reg = /^[0-9_\-]*$/;
      //兼容格式: 国家代码(2到3位)-区号(2到4位)-电话号码(7到8位)-分机号(3位)"
      var tel_reg =  /^((0\d{2,4})-)?(\d{7,8})(-(\d{3,}))?$/
      if (!reg.test($('#pay_account_tel').val())){
          showTip('warning','电话输入有误，请重新输入');
          return false;
      };
    });
  </script>
<% end %>