<% provide(:title, '我要订座') %>
<body>
  <div class="html">
    <div class="main">
      <header>
        <%= link_to app_shops_url(anchor: "mp.weixin.qq.com"), class: "ico ico-prev" do %>
          <img src="/assets/micro_stores/ico-prev.png"/>
        <% end %>
        <h1>我的订座</h1>
      </header>

      <section>
        <div style="position:fixed;"></div>
        <div class="box box-order-list">

          <% if @shop_table_orders.empty? %>
            <a class="box-null">暂无订单</a>
          <% else %>
            <% @shop_table_orders.each do |order| %>
              <%= link_to [:app, order] do %>
                <p><b>订座编号：</b><span><%= order.order_no %></span></p>
                <p><b>门店：</b><span><%= order.shop_branch.try(:name) %></span></p>
                <p><b>订座时间：</b><span><%= order.created_at.strftime('%Y-%m-%d %H:%M') %></span></p>
                <p><b>状态：</b><span><%= order.status_name %></span></p>
              <% end %>
            <% end %>
          <% end %>

        </div>

      </section>

    </div>
  </div>

<%= render "application/app_footer" %>
</body>