<div class="tabbable">
  <%= render "biz/groups/top_nav_tabs"%>

  <div class="tab-content no-border padding-24">
    <div id="tab-1" class="tab-pane fade active in">
      <div class="col-xs-12 no-padding">
          <div class="alert alert-block alert-info">
              <strong class="pull-left">提示：</strong>
              <ul class="vwebsiteHeadAlert">
                  <li>以下内容为微信推送相关设置，用户通过回复关键字触发本条信息，链接到微团购。</li>
              </ul>
          </div>
      </div>
      <%= form_for(@group, validate: true, html: {id: "form-1", class: "form col-xs-12 no-padding", role: "form"}) do |f| %>
          <div class="warpVMS">
              <div class="vMicroShow">
                  <div class="vMSHead">
                      <span class="title">这里显示&lt;微信消息标题&gt;</span><br>
                      <span class="grey"><%= Date.today %></span>
                  </div>
                  <%if @group.activity.try(:pic_url).present?%>
                    <div class="vMSImg">
                        <span id="img-1" style="display: block; width: 100%; height: 200px; background-image: url(<%= @group.activity.try(:pic_url) %>); background-size: 100%; background-repeat: no-repeat no-repeat;"></span>
                        <!-- <span style="top: 38%;left: 36%; color: #999;font-size: 24px;position: absolute;font-weight: bold">封面图片</span> -->
                    </div>
                  <% else %>
                    <div class="vMSImg">
                        <span id="img-1" style="display:block; width:100%; height:100%;"></span>
                        <!-- <span style="top: 38%;left: 36%; color: #999;font-size: 24px;position: absolute;font-weight: bold">封面图片</span> -->
                    </div>
                  <% end %>
                  <div class="vMSFoot">
                      <p class="grey">这里显示你输入的 &lt;微信消息摘要&gt;</p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-7">
              <div class="form-group">
                  <label class="control-label">团购名称<span class="required-star">*</span></label>
                  <div class="clearfix">
                      <%= f.text_field :name, class: 'col-xs-6 activity_notice_title', placeholder: "请输入微团购名称,最好不要超过8个字" %>
                  </div>
              </div>
              <%= f.fields_for :activity  do |activity| %>
                <div class="form-group">
                    <label class="control-label">回复关键词<span class="required-star">*</span><span class="icon-question-sign" data-rel="popover" data-trigger="hover" data-placement="right" data-content="关键词不能和其他进行中的活动的关键词重复"> </span></label>
                    <div class="clearfix">
                        <%= activity.text_field :keyword, class: 'col-xs-6', placeholder: "请输入微团购触发的关键字"  %>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">微信消息标题<span class="required-star">*</span><span class="icon-question-sign " data-rel="popover" data-trigger="hover" data-placement="right" data-content="发送关键词后返回的微信消息标题"></span></label>
                    <div class="clearfix">
                        <%= activity.text_field :name, class: 'col-xs-6 activity_name_input', placeholder: "请输入微信消息标题"  %>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">微信消息图片<span class="icon-question-sign" data-rel="popover" data-trigger="hover" data-placement="right" data-content="发送关键词后返回的微信消息图片"></span></label>
                    <div class="clearfix">
                      <%= content_tag :div, nil, class: "cieldon-file width-100px ", data: {type: "1", div: "#img-1", name: "group[activity_attributes][pic_key]", img: "#{@group.activity.try(:qiniu_pic_url)}", key: "#{@group.activity.try(:pic_key)}", height: "200"} %>
                      <small class="text-warning line-height-30">图片建议尺寸：720像素*400像素 </small>
                    </div>


                </div>

                <div class="form-group">
                    <label class="control-label">微信消息摘要<span class="icon-question-sign" data-rel="popover" data-trigger="hover" data-placement="right" data-content="发送关键词后返回的微信消息摘要"></span></label>
                  <div class="clearfix">
                    <%= activity.text_area :summary, rows: 8, maxlength: 255, placeholder: "不能超过255个字.", class: "form-control  activity_summary_input" %>
                  </div>
                </div>
              <% end %>

              <div class="form-group">
                  <input type="submit" class="btn btn-sm btn-primary" value="保存">
              </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
