<div class="tabbable">
  <%= render "biz/groups/top_nav_tabs"%>
  <div class="tab-content no-border"></div>
</div>

<div id="tab-3" class="tab-pane">
  <!-- <div class="alert alert-block alert-warning">微客生活圈团购已迁移至生活圈平台，请前往“微客生活圈—团购管理”进行操作</div> -->
  <div class="col-md-12 margin-top-20">
    <%= form_for @group_items_search, url: items_groups_path, method: :get, class: 'box-form form-row' do |f| %>
      <div class="col-md-3 row">
        <div class="input-group input-group-sm input-group-text">
          <%= f.text_field :group_category_name_or_name_like, class: 'col-xs-12', placeholder: "请输入分类或商品名称查询" %>
          <span class="input-group-addon">
            <input type="submit" value="查询" class="btn btn-sm btn-filter btn-primary">
          </span>
        </div>
      </div>
    <% end %>

    <%= link_to "新增", new_group_item_path, class: "btn btn-primary btn-sm pull-right"%>
  </div>

  <div class="col-sm-12 margin-top-20 no-padding">
    <table id="goodsManageTable" class="table table-striped table-bordered table-hover dataTable">
      <thead>
        <tr>
          <th>编号</th>
          <th>分类</th>
          <th>商品名</th>
          <th>价格</th>
          <th>团购总数</th>
          <th>已支付数</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "biz/group_items/item_tr", collection: @group_items, as: :item %>
      </tbody>
    </table>
    <%= paginate @group_items %>
  </div>


</div>
