<% content_for :main_content do %>
<div class="main-content ">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <%= render 'partials/home' %>
      <li><%= link_to '会员卡', vip_users_path %></li>
      <li><%= link_to '营销报表', point_vip_records_url %></li>
    </ul>
    <%= render '/layouts/qrcode' %>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-sm-12">
        <%= render 'biz/vip_packages/tab_card' %>

        <div class="tab-content no-border padding-24">
          <div class="tab-pane active">
            <div class="col-sm-12 row">
              <div class="alert alert-block alert-success ">
                <strong class="pull-left">提示：</strong>
                <ul class="vwebsiteHeadAlert">
                  <li>已发放：<%= @total_package_users.count %>个</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 row">
              <%= form_for @search, url: package_users_vip_packages_path, :html => { :method => :get } do |f| %>
                <div class="col-md-3 row">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">时间范围：</span>
                    <div class="input-group">
                      <%= datetime_range_tag f, start_at: :created_at_gte, end_at: :created_at_lte, options: {class: 'daterange'} %>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">会员姓名：</span>
                    <%= f.text_field :vip_user_name_like, class: 'col-xs-12' %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">套餐：</span>
                    <% options = @vip_card.vip_packages.show.latest.pluck(:name, :id) %>
                    <%= f.select :vip_package_id_eq, options_for_select(options.insert(0,['请选择套餐','']), (params[:search][:vip_package_id_eq] if params[:search])), {}, class: "col-xs-12" %>
                  </div>
                </div>
                <div class="col-md-3 row pull-right">
                  <button type="submit" class="btn btn-primary btn-sm btn-filter">查询</button>
                  <%#= link_to '查询', 'javascript:;', class: 'btn btn-primary btn-sm btn-filter', id: 'search_vip_users' %>
                  <%= link_to '导出EXCEL', package_users_vip_packages_path(:format => :xls,:search => params[:search]) , class: 'btn btn-primary btn-sm btn-filter' %>
                  <a class="btn btn-primary btn-sm btn-filter pull-right" data-target="weisiteModal" data-toggle="modals" data-title="套餐发放" data-height="500" data-iframe="<%= release_vip_packages_path %>">套餐发放</a>
                </div>
              <% end %>
            </div>
            <div class=" col-sm-12 row margin-top-20">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>套餐名称</th>
                    <th>套餐价格</th>
                    <th>支付方式</th>
                    <th>会员卡号</th>
                    <th>会员姓名</th>
                    <th>手机号码</th>
                    <th>发放时间</th>
                    <th>发放门店</th>
                    <th>备注</th>
                  </tr>
                </thead>
                <tbody>
                  <% if @package_users.each do |package_user| %>
                    <tr>
                      <td><%= package_user.vip_package.name %></td>
                      <td><%= f package_user.vip_package.price %></td>
                      <td><%= package_user.payment_type_name %></td>
                      <td><%= package_user.vip_user.try(:user_no) %></td>
                      <td><%= package_user.vip_user.try(:name) %></td>
                      <td><%= package_user.vip_user.try(:mobile) %></td>
                      <td><%= package_user.created_at %></td>
                      <td><%= package_user.shop_branch.try(:name) || '商户总部' %></td>
                      <td><%= package_user.description %></td>
                    </tr>
                  <% end.blank? %>
                    <tr><td colspan="9" class="green text-center">无记录</td></tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @package_users %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
