<% @wishes.each do |wish| %>
    <div class="box-contxt box-wall">
    <div class="hd">
      <% if wish.gender == 1 %>
          <%= image_tag "/assets/weddings/male.jpg"  %>
      <% else %>
          <%= image_tag "/assets/weddings/female.jpg"  %>
      <% end %>
      <span><%= wish.username  %></span>
    </div>
    <div class="bd">
      <p class="p-wall"><%= wish.content  %></p>
      <p class="tright">发表于：<%= date_format_full_l(wish.created_at)%></p>
    </div>
    </div>
<% end %>