<% provide(:title, '宴席查询') %>
<div class="contxt cont-index">
  <div class="box-contxt box-form">
    <p class="fred">请在下方输入您的大名，就可以知道您的座位被安排到哪里啦！</p>
    <%= form_tag seat_app_weddings_path ,:method => :get do %>
    <p><label>您的大名</label><%= text_field_tag "name", params[:name], :placeholder=> "请输入您的姓名"  %></p>
    <p class="ft"><a class="btn btn-big">查询</a></p>
    <% end %>
  </div>
  <% if @seats.present? %>
      <% @seats.each do |s| %>
          <div class="box-contxt box-map wedding_seat">
            <div class="hd">
              <p><em>您的座位在：</em><b><%= s.name%></b></p>
              <p><em>与您同一桌的贵宾还有：</em><%= s.show_seat params[:name].strip %></p>
            </div>
          </div>
      <% end %>
  <% else %>
      <% if params[:name].present? %>
      <div class="box-contxt box-map wedding_seat">
        <div class="hd">
          <p style="text-align: center"><em>对不起，没有查询到你的姓名，请致电婚礼现场联系人：<%= @wedding.phone%></em></p>
        </div>
      </div>
      <% end %>
  <% end %>
</div>
<script>
  $(".btn-big").click(function(){
      $("form").submit();
  })
</script>
