    <div class="main-content ">
      <div class="breadcrumbs" id="breadcrumbs">
      <% if can_see? %>
        <ul class="breadcrumb">
          <%= render 'partials/home' %>
          <li>
            <% if current_user.industry_food? || session[:current_industry_id] == 10001 %>
                <%= link_to "微餐饮", shops_path(industry_id: 10001) %>
            <% elsif current_user.industry_takeout? ||  session[:current_industry_id] == 10002 %>
                <%= link_to "微外卖", shops_path(industry_id: 10002) %>
            <% end %>
          </li>
          <li>
            <% if current_user.industry_food? || session[:current_industry_id] == 10001 %>
                <%= link_to "订餐管理", shop_orders_path(industry_id: 10001) %>
            <% elsif current_user.industry_takeout? %>
                <%= link_to "外卖管理", shop_orders_path(industry_id: 10002) %>
            <% end %>
          </li>
        </ul>
        <%= render '/layouts/qrcode' %>
      <% end %>
      </div>

      <div class="page-content">
        <div class="row">
          <%= form_for @search, :html => { :method => :get } do |f| %>
              <div class="col-sm-12">
                <div class="col-md-4 row">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">订单号：</span>
                    <%= f.text_field :order_no_like, class: "col-xs-12" %>
                  </div>
                </div>
                <div class="col-md-4 margin-left-20">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">下单日期：</span>
                    <div class="input-group input-group-sm col-xs-12 row">
                      <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                      </span>
                      <%= f.text_field :created_at_gte, value: @search.created_at_gte.try(:to_date), class: "datepicker form-control" %>
                    </div>
                  </div>
                </div>
                <% if can_see? %>
                <div class="col-md-4">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">选择门店：</span>
                    <%= f.select :shop_branch_id_eq, current_site.shop_branches.used.pluck(:name, :id),{ :include_blank => '全部'},{ class: "col-xs-12" }%>
                  </div>
                </div>
                <% end %>
              </div>


              <div class="col-sm-12 margin-top-10">
                <div class="col-md-4 row">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">手机号：</span>
                    <%= f.text_field :mobile_like, class: "col-xs-12" %>
                  </div>
                </div>
                <div class="col-md-4 margin-left-20">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">
                    <% if session[:current_industry_id] == 10002 %>
                    送餐日期：
                    <% else %>
                    订餐日期：
                    <% end %>
                    </span>
                    <div class="input-group input-group-sm col-xs-12 row">
                      <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                      </span>
                      <%= f.text_field :book_at_gte, value: @search.book_at_gte.try(:to_date), class: "datepicker form-control" %>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">状　　态：</span>
                    <%= f.select :status_eq, ShopOrder.status_options[1..-1], {include_blank: '全部'}, {class: "col-xs-12"} %>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 margin-top-10">
                <div class="col-md-4 row">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">支付状态：</span>
                    <%= f.select :pay_status_eq, ShopOrder.pay_status_options, {include_blank: '全部'}, {class: "col-xs-12"} %>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 margin-top-10">
                <button type="submit" class="btn btn-primary btn-sm btn-filter">查询</button>
                <%= link_to "导出EXCEL", shop_orders_path(:format => :xls, :search => params[:search]), class: 'btn btn-primary btn-sm btn-filter margin-left-10' %>
              </div>

          <% end %>
          <div class="col-sm-12 margin-top-20">
            <table id="orderTable" class="table table-striped table-bordered table-hover dataTable ">
              <thead>
              <tr>
                <th>预订门店</th>
                <th>订单号</th>
                <th>姓名</th>
                <th>手机号码</th>
                <% if current_user.industry_takeout? %>
                    <th>外送地址</th>
                <% end %>
                <th>订单状态</th>
                <th>支付状态</th>
                <th>支付方式</th>
                <th>下单时间</th>
                <% if current_user.industry_food? %>
                    <th>订餐时间或桌号排号</th>                  
                <% end %>
                    <% if current_user.industry_takeout? %>
                      <th>送餐时间</th>
                      <% end %>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <% @shop_orders.each do |shop_order| %>
                  <tr>
                    <td><%= shop_order.shop_branch.try(:name) %></td>
                    <td>
                      <%= shop_order.order_no %>
                    </td>
                    <td><%= shop_order.username %></td>
                    <td><%= shop_order.mobile %></td>
                    <% if current_user.industry_takeout? %>
                        <td><%= shop_order.address %></td>
                    <% end %>
                    <td>
                      <%= shop_order.status_name %>
                    </td>
                    <td>
                      <%= shop_order.pay_status_name unless shop_order.cashpay? %>
                    </td>
                    <td>
                      <%= shop_order.pay_type_name %>
                    </td>
                    <td><%= shop_order.created_at %></td>
                    <% if current_user.industry_food? %>
                         <% if shop_order.in_queue? %>
                         <td><%= shop_order.book_at %>   排队号:   <%= shop_order.queue_no %></td>
                         <% elsif shop_order.in_branch? %>
                         <td><%= shop_order.book_at %>  座位号: <%= shop_order.desk_no %></td>
                         <% else %>
                         <td><%= shop_order.book_at %></td>
                        <% end %>
                    <% end %>
                      <% if current_user.industry_takeout? %>
                        <td><%= shop_order.book_at %></td>
                      <% end %>
                    <td>
                      <a href="javascript:;" data-toggle="modals" data-target="addDish" data-title="订单详情" data-height="400" data-iframe="<%= shop_order_url(shop_order) %>">详情</a>
                      <%= link_to "打印", print_shop_order_url(shop_order),    remote: true, method: :post %>
                      <%= link_to "完成", complete_shop_order_url(shop_order), method: :post, confirm: "是否确认完成?" if shop_order.pending? %>
                      <%= link_to "流单", cancel_shop_order_url(shop_order),   method: :post, confirm: "是否确认流单?" %>
                    </td>
                  </tr>
              <% end %>
              <% if @shop_orders.blank? %>
                  <tr><td colspan="<%= current_user.industry_takeout? ? 12 : 9 %>">无记录</td></tr>
              <% end %>

              </tbody>
            </table>
            <%= paginate @shop_orders %>
          </div>
        </div>
      </div>
    </div>
