<% title "#{params[:type] == 'repair' ? '申请报修' : '我要投诉 | 建议'}" %>
<div class="foot">
  <% if @wx_plot["#{params[:type]}_phone"].present? %>
      <p>
        <span>如情况紧急，请联系：<%= @wx_plot["#{params[:type]}_phone"] %></span>
        <%= link_to "tel:#{@wx_plot["#{params[:type]}_phone"]}" do %><i class="icon fa fa-phone"></i><% end %>
      </p>
  <% end %>
  <div class="btn-box"  style="<%= 'padding: 32px 0;' unless @wx_plot["#{params[:type]}_phone"].present? %>">
    <div class="btn-cell cell-default">
      <a href="javascript:void(0);" onclick="$('form input[type=submit]').click();" class="btn btn-primary">确认提交</a>
    </div>
    <div class="btn-cell cell-small">
      <%= link_to '取消', repair_complains_mobile_wx_plots_url(type: params[:type]), class: 'btn' %>
    </div>
  </div>
</div>
<div class="body">
  <%= form_for @repair_complain, url: create_repair_complain_mobile_wx_plots_url(type: params[:type]), method: :post, html: {class: 'mod-form form-hor'} do |f| %>
    <%= f.hidden_field :wx_plot_id %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :category %>
    <%= f.hidden_field :status %>
    <div class="bd">
      <div class="form-li">
        <div class="li-l"><b>类别</b></div>
        <div class="li-r">
          <%= f.select :wx_plot_category_id, [['请选择您遇到的问题', '']] + @categories.collect{|t| ["#{t.category == 1 ?  t.name : [t.category_name, t.name].join(':') }", t.id]}, {}, class: 'input' %>
        </div>
      </div>
      <div class="form-li">
        <div class="li-l"><b>如何称呼</b></div>
        <div class="li-r">
          <%= f.text_field :nickname, placeholder: '请输入称呼', class: 'input'%>
        </div>
      </div>
      <div class="form-li">
        <div class="li-l"><b>联系方式</b></div>
        <div class="li-r">
          <%= f.telephone_field :phone, placeholder: '请输入您的有效联系电话', class: 'input'%>
        </div>
      </div>
      <div class="form-li">
        <div class="li-l"><b>房间号</b></div>
        <div class="li-r">
          <%= f.text_field :room_no, placeholder: '请输入您的房间号', class: 'input'%>
        </div>
      </div>
      <div class="form-li">
        <div class="li-l valign-top"><b>说明</b></div>
        <div class="li-r">
          <%= f.text_area :content, placeholder: '请输入具体描述', class: 'input', rows: nil, cols: nil %>
        </div>
      </div>
    </div>
    <%= f.submit '提交', style: 'display:none;' %>
  <% end %>
</div>
<script type="text/javascript">
  $(function(){
      $('#wx_plot_repair_complain_wx_plot_category_id').change(function(){
        var attrs = {};
        <% @categories.each do |f| %>
          attrs['<%= f.id %>'] = '<%= f.category %>';
        <% end %>
        if(attrs[$(this).val().toString()]){
            $('#wx_plot_repair_complain_category').val(attrs[$(this).val().toString()]);
        }else{
            $('#wx_plot_repair_complain_category').val('');
        }
      });
      $('form input[type=submit]').click(function(){
          if(!$('#wx_plot_repair_complain_wx_plot_category_id').val()){
              alert('请选择类别');
              $('#wx_plot_repair_complain_wx_plot_category_id').focus();
              return false;
          }
          if(!$('#wx_plot_repair_complain_nickname').val()){
              alert('请输入称呼');
              $('#wx_plot_repair_complain_nickname').focus();
              return false;
          }
          if(!$('#wx_plot_repair_complain_phone').val()){
              alert('请输入您的有效联系电话');
              $('#wx_plot_repair_complain_phone').focus();
              return false;
          }
          if($('#wx_plot_repair_complain_phone').val() && !site_validators.mobile_reg.test($('#wx_plot_repair_complain_phone').val())){
              alert('手机号码格式不正确');
              $('#wx_plot_repair_complain_phone').focus();
              return false;
          }
          if(!$('#wx_plot_repair_complain_room_no').val()){
              alert('请输入您的房间号');
              $('#wx_plot_repair_complain_room_no').focus();
              return false;
          }
          if(!$('#wx_plot_repair_complain_content').val()){
              alert('请输入具体描述');
              $('#wx_plot_repair_complain_content').focus();
              return false;
          }
      });
  });
</script>
