<% content_for :main_content do %>
<div class="main-content ">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <%= render 'partials/home' %>
      <li><%= link_to '图片分享', share_photo_settings_url %></li>
      <li><%= link_to '图片触发', photo_share_photo_settings_url %></li>
    </ul>
    <%= render '/layouts/qrcode' %>
  </div>
  <div class="page-content">
    <div class="tabbable">
      <ul class="nav nav-tabs padding-24 tab-size-bigger ">
        <li>
          <a href="<%= share_photo_settings_url %>">
            基本设置
          </a>
        </li>
        <li class="active">
          <a href="<%= photo_share_photo_settings_url %>">
            图片触发
          </a>
        </li>
        <li>
          <a href="<%= tag_share_photo_settings_url %>">
            标签触发
          </a>
        </li>
        <li>
          <a href="<%= my_setting_share_photo_settings_url %>">
            查看设置
          </a>
        </li>
        <li>
          <a href="<%= share_photos_url %>">
            图片管理
          </a>
        </li>
      </ul>
      <div class="tab-content no-border padding-24">
        <div class="tab-pane active">
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-block alert-info">
                <strong class="pull-left">提示：</strong>
                <ul class="vwebsiteHeadAlert">
                  <li> 上传图片之后，后台自动推送文本信息。</li>
                </ul>
              </div>
            </div>
            <div class="col-md-12">
              <%= form_for @share_photo_setting do |f| %>
                <div class="form-group">
                  <label class="control-label clearfix">
                    文本内容
                    <span class="required-star">*</span>
                  </label>
                  <div class="clearfix">
                    <%= f.text_area :upload_description, placeholder: "请输入文本信息", rows: 5, class: "col-xs-6"  %>
                  </div>
                </div>
                <div class="form-group">
                  <input class="btn btn-sm btn-primary" type="submit" value="保存">
                  <a href="javascript:history.go(-1);" class="btn btn-default btn-sm">取消</a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<% end %>
<% content_for :custom_js do %>
<script>
function validateUploadDescription(){
  return !$("#share_photo_setting_upload_description").val() == '';
}

function showErrorMessage(field, x, y){
	if($(field).parent().find(".error-message").length > 0){

	}else{
  	$(field).after('<label class="error-message" style="margin-left: 336px;position: absolute;top: '+x+'px;left:'+y+'px">不能为空<i></i><em></em></label>');
	}
}
function hiddenErrorMessage(field){
  $(field).parent().find(".error-message").remove();
}

$(function(){
  $("textarea").blur(function(){
    var ret = true;
    if(!validateUploadDescription()){
      showErrorMessage("#share_photo_setting_upload_description", 205, 300);
      ret = false;
    }else{
      hiddenErrorMessage("#share_photo_setting_upload_description");
    }
    return ret;
  });
	
  $("input:submit").click(function(){
    var ret = true;
    if(!validateUploadDescription()){
      showErrorMessage("#share_photo_setting_upload_description", 205, 300);
      ret = false;
    }else{
      hiddenErrorMessage("#share_photo_setting_upload_description");
    }
    return ret;
  });
});
</script>
<% end %>
