<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '数据魔方', subscribe_data_wx_requests_path %></li>
        <li><%= link_to '流量数据', data_sites_path %></li>
        <li><%= link_to '数据分析', data_sites_path %></li>
      </ul>
      <%= render '/layouts/qrcode' %>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="col-sm-12">
          <!-- PAGE CONTENT BEGINS -->
          <%#= @today_data.try("[]", "nb_actions") || 0 -%>
          <div class="data-widget">
            <div class="l-info">
              <span>今日浏览量 PV：<%= @today_piwik.try("nb_actions") || 0 -%></span><br>
              <span>昨日浏览量 PV：<%= @yesterday_piwik.try("nb_actions") || 0 -%></span>
            </div>
          </div>

          <div class="data-widget">
            <div class="l-info">
              <span>今日访客数 UV：<%= @today_piwik.try("nb_visits") || 0 -%></span><br>
              <span>昨日访客数 UV：<%= @yesterday_piwik.try("nb_visits") || 0 -%></span>
            </div>
          </div>

          <div class="data-widget">
            <div class="l-info">
              <div class="number"><%= @supplier.try(:bounce_rate) || "0%" -%> %</div>
              <div class="font-size16">跳出率</div>
            </div>
            <div class="r-info">
              <span>今日：<%= @today_piwik.try("bounce_rate") || "0%" -%></span> <br />
              <span>昨日：<%= @yesterday_piwik.try("bounce_rate") || "0%" -%></span>
            </div>
          </div>
          <div class="data-widget">
            <div class="l-info">
              <div class="number"><%= @supplier.try(:avg_time_on_site) || 0 -%> s</div>
              <div class="font-size16">平均停留时间</div>
            </div>
            <div class="r-info">
              <span>今日：<%= @today_piwik.try("avg_time_on_site") || 0 -%>s</span> <br />
              <span>昨日：<%= @yesterday_piwik.try("avg_time_on_site") || 0 -%>s</span>
            </div>
          </div>
        </div>

        <div class="col-sm-12 margin-top-20 data-filter">
          <div class="pull-left margin-top-5">
            <div class="radioTab">
              <%@sorts.each do |key, value|%>
                <label for='<%= "filter_#{key}" -%>'>
                  <%if ["today", "yesterday"].include?(@region) and key.eql?("avg_time_on_site")%>
                    <%= radio_button_tag "VCFields", key, @sort.eql?(key), class: "ace sort", sort: key,id: "filter_#{key}", disabled: true %>
                  <% else %>
                    <%= radio_button_tag "VCFields", key, @sort.eql?(key), class: "ace sort", sort: key,id: "filter_#{key}" %>
                  <% end %>
                  <span class="lbl"><%= value%></span>
                </label>
              <%end%>
            </div>
          </div>
          <div class="pull-left">
            <%# days = {"今日" => "today", "昨日" => "yesterday", "最近7天" => "recent_7", "最近30天" => "recent_30"} %>
            <% {"最近7天" => "recent_7", "最近30天" => "recent_30"}.each do |key, value| %>
              <a href="javascript:;" class="btn btn-primary  btn-filter btn-filter-tab <%= @region.eql?(value) ? 'active' : nil %>" region="<%= value -%>" data-range="<%= value -%>"><%= key%></a>
            <%end%>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
                <i class="icon-calendar bigger-110"></i>
                </span>
            <%= text_field_tag :daterange, @daterange, readonly: 'readonly', class: 'daterange region_datarange' %>
          </div>
        </div>

        <div class="radio-tab-content">
          <div id="radioTab1" class="radio-tab-pane">
            <div class="col-sm-12 margin-top-20">
              <div class="">
                <div id="chart-1"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 margin-top-20">
          <%= link_to '下载EXCEL', data_sites_path(format: :xls, sort: params[:sort], region: params[:region], daterange: @daterange) , class: 'icon- pull-right datacube-download-link' %>
          <table id="" class="table table-striped table-bordered table-hover dataTable ">
            <thead>
            <tr>
              <th>
                时间
              </th>
              <th>
                浏览量 PV
              </th>
              <th>
                访客数 UV
              </th>
              <th>
                跳出率 %
              </th>
              <th>
                平均停留时间 s
              </th>

            </tr>
            </thead>
            <tbody>
              <% if @piwik_sites.present? %>
                <%@piwik_sites.each do |data|%>
                  <tr>

                    <td><%= data.date.to_s %></td>
                    <td><%= data.nb_actions %></td>
                    <td><%= data.nb_visits %></td>
                    <td><%= data.bounce_rate %></td>
                    <td><%= data.avg_time_on_site %></td>
                  </tr>
                <%end%>
              <%else%>
                <tr>
                  <td colspan="5"> 暂时没有数据 </td>
                </tr>
              <%end%>
            </tbody>
          </table>
          <%= paginate @piwik_sites %>
        </div>

      </div>
      <!-- /.page-content -->
    </div>
  </div>
  </div>
<% end %>

<% content_for :custom_js do %>
  <script type="text/javascript">
    jQuery(function ($) {

      if ($("#enterData tbody tr").length > 8){
        $("#enterData tbody tr:gt(8)").hide();
        $("input.more_entry_pages").click(function(){
          $("#enterData tbody tr:gt(5)").show();
          $("input.more_entry_pages").hide();
        });
      }else{
        $("input.more_entry_pages").hide();
      }

      function region_from_datarange (datarange) {
        var region

        if (! typeof(datarange) == 'string') {
          region = "today"
        } else {
          data_list = datarange.split(" - ")
          days = (new Date(data_list[1]) -  new Date(data_list[0]))/(86400000)

          if (data_list[0] == moment().format("YYYY-MM-DD"))
          {
            region = "today"
          } else if (data_list[0] == moment().subtract("days", 1).format("YYYY-MM-DD")) {
            region = "yesterday"
          } else if (days > 2) {
            region = "recent_" + days
          } else {
            region = "today"
          }
        }

        return region
      }
      $(".data-filter").delegate(".region_datarange", 'apply.daterangepicker', function () {
        region = region_from_datarange(this.value)

          window.location.href="/data/sites?sort=<%=@sort%>&region=" + region + "&daterange=" + $(".region_datarange").val();

      });

      $(".radioTab input.sort").click(function(){
          window.location.href="/data/sites?region=<%=@region%>&sort=" + $(this).val() + "&daterange=" + $(".region_datarange").val();

      });

      <%if @chart%>
          $('#chart-1').append("<%= escape_javascript(high_chart('chart_basic_line1', @chart)) -%>");
      <%end%>
  });
  </script>
<% end %>
