<%= content_for :breadcrumb_li do %>
  <%- if @activity.new_record? %>
    <li><%= link_to '新增微场景', new_activity_path %></li>
  <%- else %>
    <li><%= link_to  '微场景设置', pages_config_scene_pages_path(activity_id: @activity.id) %></li>
  <%- end %>
<%- end %>

<%= content_for :tab do %>
  <div class="col-sm-12 margin-top-20">
    <%= render "weixin_preview", wx_title: @activity.try(:name) || '这里显示<微信消息标题>', wx_summary: @activity.try(:summary) || '这里显示你输入的 <微信消息摘要>' %>
    <div class="col-xs-12 col-md-6 col-lg-7">
      <%= form_for @activity, url: @activity.new_record? ? scenes_path : scene_path(id: @activity.id), validate: true do |activity| %>
        <%- if @activity.new_record? %>
          <%= activity.hidden_field :status, value: 1 %>
          <%= activity.hidden_field :activity_type_id, value: 73 %>
          <%= activity.hidden_field :ready_at, value: Time.now %>
          <%= activity.hidden_field :start_at, value: Time.now %>
          <%= activity.hidden_field :end_at, value: Time.now + 100.years %>
        <%- end %>
      <%= render "weixin_setting", activity: activity, data_img: @activity.try(:pic_url), pic_data_name: "activity[pic_key]", pic_data_key: @activity.try(:pic_key), is_scene: true %>

      <div class="alert alert-block alert-info" style="color:black;">以下设置需要认证的公众号并且与微枚迪后台关联了授权，具体请参考：<a href="http://winwemedia.com/site/dev_logs/203">http://winwemedia.com/site/dev_logs/203</a> </div>

      <%= activity.fields_for :share_setting do |share| %>
        <div class="form-group">
          <label class="control-label">微信分享图片 <small class="help-inline text-muted line-height-30">(默认为微信消息图片)</small></label>
          <div class="clearfix">
            <div data-name="activity[share_setting_attributes][pic_key]" data-img = "<%= share.object.pic_url %>" data-key="<%= share.object.pic_key %>" class="cieldon-file" data-type="0" data-width="100" data-height="100" style="width:22%;"></div>
            <small class="help-inline text-warning line-height-30">图片建议尺寸：200像素*200像素</small>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">微信分享标题 <small class="help-inline text-muted line-height-30">(建议简单明了的标题, 默认为微信消息标题)</small></label>
          <div class="clearfix">
            <%= share.text_field :title, class: 'col-xs-12' %>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">微信分享内容<small class="help-inline text-muted line-height-30"> (建议简单易懂的内容, 默认为微信消息内容)</small></label>
          <div class="clearfix">
            <%= share.text_field :summary, class: 'col-xs-12' %>
          </div>
        </div>
      <%- end %>

      <div class="form-group">
        <input type="submit" class="btn btn-sm btn-primary submit_wbbs" value="<%= @activity.new_record? ? '下一步' : '保存' %>">
          &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-sm btn-default" href="javascript:void(0)" onclick="location.href='<%= scenes_path %>'">取消</a>
      </div>
    <%- end %>
    </div>
  </div>
<%- end %>

<%= render "header" %>

<%= content_for :custom_js do %>
<script type="text/javascript">
  $( function() {
      var clip=[], ids = [];
      $('.copy-button').each(function(i){
          ids[i] = $(this).attr('id');
          clip[i] = new ZeroClipboard($(this), {
              moviePath: "/flash/ZeroClipboard.swf"
          } );

          clip[i].on( "load", function(client) {
              client.on( "complete", function(client, args) {
                  if(args['current_element_id'] == ids[i]){
                      showTip('success', '已复制场景链接')
                  }
              });
          });
      })
  });

  $('.submit_wbbs').on('click', function(event) {
    var keyword = $('#keyword').val();
    <% if @activity.new_record? %>
      var exists_keywords = <%= raw current_site.activities.show.pluck(:keyword).to_json %> ;
    <% else %>
      var exists_keywords = <%= raw current_site.activities.show.where("id != ?", @activity.try(:id)).pluck(:keyword).to_json %> ;
    <% end %>
    
    if ($.inArray(keyword, exists_keywords) >= 0) {
      showTip('warning', '关键字重复，请重新选择关键字');
      return false;
    }
  });
</script>
<%- end %>
