
<div class="main-content ">
  <%= render 'breadcrumbs' %>
  
  <div class="page-content">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-tabs padding-24">
          <% if current_sub_account.can?('manage_vip_package_release') %>
            <li class="active">
              <a href="<%= shops_package_users_path(supplier_id: current_shop_supplier.id) %>">
                套餐发放
              </a>
            </li>
          <% end %>
          <% if current_sub_account.can?('manage_vip_package_write_off') %>
            <li>
              <a href="<%= shops_item_consumes_path(supplier_id: current_shop_supplier.id) %>">
                套餐核销
              </a>
            </li>
          <% end %>
        </ul>
        <div class="tab-content no-border padding-24">
          <div class="tab-pane active">
            <div class="col-sm-12 row">
              <div class="alert alert-block alert-info ">
                <strong class="pull-left">提示：</strong>
                <ul class="vwebsiteHeadAlert">
                  <li>已发放：<%= @total_package_users.count %>个</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 row">
              <%= form_for @search, url: shops_package_users_path(supplier_id: current_shop_supplier.id), :html => { method: :get } do |f| %>
                <div class="col-md-3 row">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">时间范围：</span>
                    <div class="input-group">
                      <%= f.text_field :created_at_gte, class: 'datepicker input-sm form-control', value: (params[:search][:created_at_gte].try(:to_date) if params[:search]) %>
                      <span class="input-group-addon">
                         -
                      </span>
                      <%= f.text_field :created_at_lte, class: 'datepicker input-sm form-control', value: (params[:search][:created_at_lte].try(:to_date) if params[:search]) %>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">会员姓名：</span>
                    <%= f.text_field :vip_user_name_like, class: 'col-xs-12' %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">套餐：</span>
                    <% options = current_shop_supplier.vip_card.vip_packages.show.latest.pluck(:name, :id) rescue [] %>
                    <%= f.select :vip_package_id_eq, options_for_select(options.insert(0,['请选择套餐','']), (params[:search][:vip_package_id_eq] if params[:search])), {}, class: "col-xs-12" %>
                  </div>
                </div>
                <div class="col-md-3 row pull-right">
                  <button type="submit" class="btn btn-primary btn-sm btn-filter">查询</button>
                  <%= link_to '导出EXCEL', shops_package_users_path(supplier_id: current_shop_supplier.id, format: :xls,search: params[:search]) , class: 'btn btn-primary btn-sm btn-filter' %>
                </div>
              <% end %>
            </div>
            <div class=" col-sm-12 row margin-top-20">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>套餐名称</th>
                    <th>套餐价格</th>
                    <th>会员卡号</th>
                    <th>会员姓名</th>
                    <th>手机号码</th>
                    <th>发放时间</th>
                    <th>备注</th>
                  </tr>
                </thead>
                <tbody>
                  <% if @package_users.each do |package_user| %>
                    <tr>
                      <td><%= package_user.vip_package.name %></td>
                      <td><%= f package_user.vip_package.price %></td>
                      <td><%= package_user.vip_user.user_no %></td>
                      <td><%= package_user.vip_user.name %></td>
                      <td><%= package_user.vip_user.mobile %></td>
                      <td><%= package_user.created_at %></td>
                      <td><%= package_user.description %></td>
                    </tr>
                  <% end.blank? %>
                    <tr><td colspan="7" class="green text-center">无记录</td></tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @package_users %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
