<% content_for :brokerage_breadcrumb_li do %>
    <li><%= link_to '经纪人管理', brokerage_brokers_path %></li>
<% end %>
<% content_for :brokerage_tab_content do %>
<div class="tab-pane fade active in">
  <div class="row">
     <div class=" col-sm-12 margin-top-20">
        <div class="clearfix"></div>
          <table id="menuTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                  <th>结佣日期</th>
                  <th>结佣金额</th>
                  <th>结佣状态</th>
                  <th>操作</th>
                </tr>
            </thead>
            <tbody>
              <% if @brokerage_commission_transactions.each do |brokerage_commission_transaction| %>
              <tr>
                <td><%= brokerage_commission_transaction.created_at %></td>
                <td><%= brokerage_commission_transaction.commission %></td>
                <td>已结佣</td>
                <td><%= modal_to '查看详情', brokerage_client_changes_path(commission_transaction_id: brokerage_commission_transaction), title: :"#{@brokerage_broker.name}结佣详情", data: { height: 400 } %></td>
              </tr>
            <% end.blank? %>
              <tr><td colspan="8" class="green text-center">暂无数据</td></tr>
            <%- end %>
          </tbody>
        </table>
        <%= paginate @brokerage_commission_transactions %>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= render 'huodong/brokerage/brokerage_main_content' %>