<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="format-detection" content="telephone=no">
<meta content="telephone=no" name="format-detection">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title><%= @material.title %></title>
<link type="text/css" rel="stylesheet" href="/assets/main.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/website/template6.css"/>
<%= javascript_include_tag '/assets/mobile/lib/jquery.js' %>
</head>
  <body class="article">
    <div class="html">
    <div class="main">
        <div class="body box-article">
        <div class="hd">
          <h3><%= @material.title %></h3>
          <span><%= @material.created_at.to_date %></span>
        </div>
        <div class="bd">
          <%= image_tag @material.pic_url if @material.pic_key.present? && @material.is_show_pic %>
          <%= raw @material.content %>
        </div>
        </div>
    </div>
    </div>
    </div>
  </body>
  <%= render 'application/app_footer' %>
</html>
