<%= content_for :step do %>
<div class="step-pane active" id="step1">
  <div class="row">
    <%= render 'weixin_preview', wx_title: @activity.active_activity_notice.try(:title), wx_summary: @activity.active_activity_notice.try(:summary) %>
    <%= form_for @activity, :url => slot_path, validate: true, html: {class: 'form col-sm-7'} do |activity| %>
    <%= hidden_field_tag :redirect_to, edit_rule_settings_slot_path(@activity)%>
    <%= activity.fields_for :active_activity_notice do |notice| %>
    <%= render 'active_notice', notice: notice, activity: activity, pic_data_key: notice.object.qiniu_pic_key, data_img: notice.object.pic_url %>
    <% end %>
    <div class="row-fluid">
      <a href="<%= edit_slot_path(@activity) %>" class="btn btn-prev btn-sm"><i class="icon-arrow-left"></i>上一步</a>
      <%- if @activity.can_not_edit? %>
        <a href="<%= edit_rule_settings_slot_path(@activity) %>" class="btn btn-prev btn-sm"><i class="icon-arrow-right icon-on-right"></i>下一步</a>
      <%- else %>
        <button class="btn btn-success btn-sm btn-next" data-last="完成" >
          下一步
          <i class="icon-arrow-right icon-on-right"></i>
        </button>
      <%- end %>
      <a  href="/activities/slots" class="btn btn-sm">返回</a>
    </div>
    <%- end %>
  </div>
</div>
<%- end %>
<%= render 'main_content' %>
<% content_for :custom_js do %>
<script>
  $(function() {
    <%- if @activity.can_not_edit? %>
      $('input,select,textarea').prop('disabled', true);
      $('.wysiwyg-editor').attr('contenteditable', false);
    <%- end %>
  })
</script>
<% end %>