<style>
  #faceButton {
      margin-left: 20px;
      color: black;
  }
  .upload-img span img {
      height: 90px;
      width: 160px;
  }
  .form-col span { text-align: left; padding: 0; }
  .box-form select, textarea, .box-form input[type=text]{width: 70%;}
</style>

<% content_for :sidebar do %>
  <%= render 'pro/business/sidebar_business' %>
<% end %>

<% content_for :topbar do %>
  <a href="javascript:;" class="h1 pagecurrent">文章管理</a>
<% end %>

<p class="p-note">
  <span>提示：以下“<span class="fred" style="width:auto;float:none;">*</span>”均为必填项；</span>
</p>

<div class="">
    <%= form_for @website_article, url: @website_article.new_record? ? busine_articles_url :  busine_article_url(@website_article), validate: true, :html => {id: "website_article_form"} do |f| %>
        <div class="box-form fl">
          <%= f.hidden_field :site_id, value: current_user.id %>
          <%= f.hidden_field :wx_mp_user_id, value: current_user.wx_mp_user.id %>
          <%= f.hidden_field :website_id, value: @website.id %>

          <div class="p form-address">
            <span>分类：</span>
            <%= f.select :website_menu_id, website_article_with_layer_show(@website.website_menus), {} %>
          </div>
          <div class="p">
            <span>顺序<em>*</em></span>
            <%= f.text_field :sort, maxlength: 5, class: "input-text" %>
          </div>

          <div class="p form-check hide">
            <span>推荐：</span>
            <%= f.check_box :is_recommend,:style=>"width:auto" %>
          </div>

          <div class="p">
            <span>图片<em>*</em></span>
            <div class="box-upload">
              <div class="margin">
                <div class="box-file">
                  <%= f.file_field :pic, rel: 'preview_shop_logo', class: 'img_preview', data: { width: 720, height: 400 } %>
                  <a class="btn btn-big">上传照片</a>
                </div>
                <span class="p-file fgray">（图片建议尺寸：720像素*400像素）</span>
              </div>
              <div class="upload-img">
                <span style="width: 160px; height: 89px; line-height:89px; padding: 0;">
                  <%= image_tag((@website_article.pic_url || '/assets/bg_fm.jpg'), class: 'view', id: 'preview_shop_logo') %>
                </span>
              </div>
            </div>
          </div>

          <div clas="p" style="margin-top: 10px;">
            <span>标题<em>*</em></span>
            <%= f.text_field :title, class: "input-text" %>
          </div>
        </div>

        <div class="p box-ck">
          <span>内容<em>*</em></span>
          <!--<div style="width: 70%;margin-left: 43px;">-->
          <div>
            <%= f.cktext_area :content, ckeditor: { toolbar: "mini", height: 300 } %>
          </div>
        </div>

        <p>
          <input type="submit" class="btn btn-small form-submit btn-orange" value="保存">
        </p>
    <% end %>
</div>

<script type="text/javascript">
    $(function() {
        $('#website_article_form .form-submit').click(function(event) {
            if(!$("website_article_website_menu_id").val()){
                if(!$("#website_article_pic").val() && $("#preview_shop_logo").attr("src") == "/assets/bg_fm.jpg"){
                    showTip('warning',"请上传图片");
                    return false;
                }else if($("#website_article_title").val() && !CKEDITOR.instances['website_article_content'].getData()){
                    showTip('warning','内容不能为空');
                    CKEDITOR.instances['website_article_content'].focus();
                    return false;
                }
            }

        });
    });
</script>