<%= form_for @box, validate: true do |f| %>
<div class="modal-body">
    <div class="form-group">
            <label>信箱名称<span class="required-star">*</span></label>
            <div class="clearfix">
            <%= f.text_field :name, classs: 'col-md-8' %>
            </div>
    </div>
    <div class="form-group">
            <label>显示来信总数</label>
            <div class="clearfix">
                <%= f.text_field :incomes_basecount, classs: 'col-md-8' %>
            </div>
    </div>
    <div class="form-group">
            <label>显示回复总数</label>
            <div class="clearfix">
                <%= f.text_field :replies_basecount, classs: 'col-md-8' %>
            </div>
    </div>
    <div class="form-group">
        <label>信箱缩略图</label>
        <div class="clearfix">
            <div class="col-xs-5">
                <div class="cieldon-file" data-type="0" data-div="#img-1" data-width="100" data-height="100" data-img="<%= @box.logo_url %>" data-name="govmailbox[qiniu_logo_key]" data-key="<%= @box.qiniu_logo_key %>"></div>
            </div>
        </div>
    </div>
</div>
  <%= render 'partials/modalFooter' %>
<%- end %>