<%= content_for :tab do%>
<div id="tab-3" class="tab-pane active in">
	<div class="row">
		<div class="col-md-12">
      <table id="actTable" class="table table-striped table-bordered table-hover dataTable ">
        <thead>
          <tr>
            <th>项目</th>
            <th>今日信件</th>
            <th>全部信件</th>
            <th>已回复</th>
            <th>已归档</th>
            <th>已删除</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>数量</td>
            <td><span class="text-danger"><%= @box.govmails.where(created_at: Time.now.beginning_of_day..Time.now.end_of_day).roots.count %></span></td>
            <td><%= @box.govmails.roots.count %></td>
            <td><%= @box.govmails.roots.replied.count %></td>
            <td><%= @box.govmails.roots.archived.count %></td>
            <td><%= @box.govmails.roots.deleted.count %></td>
             <td><a href="javascript:;" data-toggle="modals" data-target="reply" data-title="编辑" data-height="1000" data-iframe="<%= edit_modal_govmailbox_path(@box) %>">编辑</a></td>
          </tr>
        </tbody>
      </table>
    </div>
   <%= form_for @search, url: mails_govmailbox_path(params[:id]), html: { method: :get } do |f| %>
    <div class="col-sm-12 margin-top-20">
      <div class="col-md-3 row">
        <div class="input-group input-group-text">
          <span class="input-group-addon">信件状态：</span>
          <%= f.select :status_eq,  [["全部", ''], ["未回复", 1],["已归档", 2], ["已回复", 3]], value: @search.status_eq, class: "col-xs-12" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group input-group-text">
          <span class="input-group-addon">时间范围：</span>
          <div class="col-xs-12">
            <div class="input-group">
              <%= f.text_field :created_at_gte, value: @search.created_at_gte, class: "date-time input-sm form-control",  readonly: true%>
              <span class="input-group-addon">-</span>
              <%= f.text_field :created_at_lte, value: @search.created_at_lte, class: "date-time input-sm form-control",  readonly: true%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 row">
        <%= f.submit '查询', class: 'btn btn-sm btn-primary btn-filter' %>
        <%= link_to "返回信箱列表", govmailboxes_path, class:  "btn btn-primary btn-sm btn-filter" %>
      </div>
    </div>
    <%- end %>
  <div class="col-md-12 margin-top-20">
    <table id="actTable" class="table table-striped table-bordered table-hover dataTable ">
      <thead>
        <tr>
          <th>时间</th>
          <th width="60%">信件内容</th>
          <th> 信件状态 </th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%- if @mails.each do |mail| %>
        <tr>
          <td><%= mail.created_at.to_s %></td>
          <td>
           <div class="mail-info">
            <%= mail.body %>
          </div>
        </td>
        <td><%= mail.status_name %></td>
        <td>
          <a href="javascript:;" data-toggle="modals" data-target="detail" data-title="上访者详情" data-height="1000" data-iframe="<%= author_modal_govmail_path(mail) %>">上访者详情</a>
          <%- if mail.normal? %>
              <a href="javascript:;" data-toggle="modals" data-target="reply" data-title="回复" data-height="1000" data-iframe="<%= reply_modal_govmail_path(mail) %>">回复</a>
            <% elsif mail.replied? %>
              <a href="javascript:;" data-toggle="modals" data-target="reply" data-title="查看回复" data-height="1000" data-iframe="<%= reply_modal_govmail_path(mail, type: 'replied') %>">查看回复</a>
            <%- end %>
            <%- if mail.normal? %>
              <%= link_to '归档', archive_govmail_path(mail), method:  :post, data: {confirm: "确定要归档？"} %>
            <%- end %>
            <%= link_to '删除', remove_govmail_path(mail), method:  :post, data: {confirm: "确定要删除？"} %>
        </td>
      </tr>
      <%- end.blank? %>
      <tr><td colspan="4" class="text-center green">没有记录</td></tr>
      <%- end %>
    </tbody>
  </table>
  <%= paginate @mails %>
</div>
</div>
</div>
</div>
<%- end %>
<%= render 'settings_tab' %>
