<%= content_for :head  do%>
  <title>代理商查询_微枚迪winwemedia_微信营销推广行业领导品牌</title>
  <meta name="keywords"  content="微枚迪、代理商查询"/>
  <meta name="description"  content="微枚迪（winwemedia），是微信营销行业领导品牌，专注于提供微信营销、微信推广、微信运营等解决方案，助力企业微营销。"/>
<% end %>

<div class="body">

<div class="flash relative h446">
  <ul id="slider-index" class="slider">
    <li>
      <a href="javascript:void(0)" style="background-image:url(<%= qiniu_image_url('FpvT9-4IoLUDQ70Ag-qhG0IDytGr') %>);"></a>
    </li>
    <li>
      <a href="javascript:void(0)" style="background-image:url(<%= qiniu_image_url('Fu9mni6hUxxIhED5THB5OmTHR5eb') %>);"></a>
    </li>
    <li>
      <a href="javascript:void(0)" style="background-image:url(<%= qiniu_image_url('Fp8ACHNJJi4T4ZAH4OrO9qOX9yrK') %>);"></a>
    </li>
    <li>
      <a href="javascript:void(0)" style="background-image:url(<%= qiniu_image_url('FuRIH1zZn5hvkLWsPB3wzR683VKf') %>);"></a>
    </li>
    <li>
      <a href="javascript:void(0)" style="background-image:url(<%= qiniu_image_url('FpjOy8Q4_2DtLnUoUdryLx5CK-Hi') %>);"></a>
    </li>
    <li>
      <a href="javascript:void(0)" style="background-image:url(<%= qiniu_image_url('FrhS7MovDISuGUWPH-nFm2hcGKe6') %>);"></a>
    </li>
    <li>
      <a href="javascript:void(0)" style="background-image:url(<%= qiniu_image_url('Fm976ssviOoD-quAPkpPTZsWYZaE') %>);"></a>
    </li>
    <li>
      <a href="javascript:void(0)" style="background-image:url(<%= qiniu_image_url('FkqorDTAFi8PPOEPXdKuchnm_KDE') %>);"></a>
    </li>
    <li>
      <a href="javascript:void(0)" style="background-image:url(<%= qiniu_image_url('FmeVvdug1LfB-HfQbeB_OXLH1ONt') %>);"></a>
    </li>
  </ul>
</div>


  <div class="breadcrumb">
    <div class="wrap"><b>当前位置：</b>代理商查询</div>
  </div>
  <div class="clearfix bg-gray">
    <div class="wrap">
      <h3 class="article-title">代理商查询</h3>
      <%= form_tag agents_url, class: "agents", method: "get" do |f|%>
        <span>输入代理商全称</span>
        <%= text_field_tag 'search[name_eq]', (params[:search][:name_eq] rescue ""), size: 30, class: "input"%>
        <input class="btn btn-green" name="commit" type="submit" value="确定">
        <div class="agents-list">
          <ul>
            <% if @agents.nil? %>
            <% elsif @agents.count == 0 %>
              <li>没有符合条件的结果</li>
            <% else %>
              <% @agents.each do |agent| %>
                <li>
                  <b>代理商名称</b>
                  <span><%= agent.name %></span>
                </li>
                <li>
                  <b>代理商授权地区</b>
                  <span><%= agent.agent_regions.map{ |a| [a.try(:province).try(:name),a.try(:city).try(:name),a.try(:district).try(:name)].compact.join('')}.join(', ') %></span>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
