<% content_for :keywords, "放心提" %>
<% content_for :description, "放心提" %>
<% content_for :title, "微枚迪--移动广告平台" %>
<% content_for :custom_css do %>
  <%= stylesheet_link_tag 'v5.1/fxt' %>
<% end %>

    <!-- header start -->
    <!-- <script type="text/template" class="tpl" data-src="./tpl/header.html"></script> -->
    <!-- header end -->
    
    <div class="fxt-ban">
        <div class="fxt-ban-item fxt-ban-item1" data-scroll="scroll-fxt-customer">
            <div class="fxt-ban-item-wrap">
                <%= image_tag "v5.1/fxt/fxt_banner_pic1.png", class: "fxt-ban-img", size: "190x194" %>
                <div class="fxt-ban-txt">
                    <div class="fxt-ban-txt1">消费者</div>
                    <div class="fxt-ban-txt2">扫码返利</div>
                    <div class="fxt-ban-txt3">提现金</div>
                </div>
            </div>
            <div class="fxt-ban-dots">
                <%= image_tag "v5.1/fxt/fxt_banner_dot3.png", class: "fxt-ban-dot fxt-ban-dot1"%>
                <%= image_tag "v5.1/fxt/fxt_banner_dot2.png", class: "fxt-ban-dot fxt-ban-dot2"%>
                <%= image_tag "v5.1/fxt/fxt_banner_dot1_1.png", class: "fxt-ban-dot fxt-ban-dot3"%>
                <%= image_tag "v5.1/fxt/fxt_banner_plus.png", class: "fxt-ban-dot fxt-ban-plus"%>
            </div>
        </div>
        
        <div class="fxt-ban-item fxt-ban-item2" data-scroll="scroll-fxt-mkt">
            <div class="fxt-ban-item-wrap">
                <%= image_tag "v5.1/fxt/fxt_banner_pic2.png", class: "fxt-ban-img", size: "262x279" %>
                <div class="fxt-ban-txt">
                    <div class="fxt-ban-txt1">运营商</div>
                    <div class="fxt-ban-txt2">专利项目</div>
                    <div class="fxt-ban-txt3">利润足</div>
                </div>
            </div>
            <div class="fxt-ban-dots fxt-ban-dots-big">
                <%= image_tag "v5.1/fxt/fxt_banner_dot3.png", class: "fxt-ban-dot fxt-ban-dot1"%>
                <%= image_tag "v5.1/fxt/fxt_banner_dot2.png", class: "fxt-ban-dot fxt-ban-dot2"%>
                <%= image_tag "v5.1/fxt/fxt_banner_dot1_2.png", class: "fxt-ban-dot fxt-ban-dot3"%>
                <%= image_tag "v5.1/fxt/fxt_banner_plus.png", class: "fxt-ban-dot fxt-ban-plus"%>
            </div>
        </div>
        
        <div class="fxt-ban-item fxt-ban-item3" data-scroll="scroll-fxt-ad">
            <div class="fxt-ban-item-wrap">
                <%= image_tag "v5.1/fxt/fxt_banner_pic3.png", class: "fxt-ban-img", size: "263x279" %>
                <div class="fxt-ban-txt">
                    <div class="fxt-ban-txt1">广告主</div>
                    <div class="fxt-ban-txt2">精准投放</div>
                    <div class="fxt-ban-txt3">转化高</div>
                </div>
            </div>
            <div class="fxt-ban-dots">
                <%= image_tag "v5.1/fxt/fxt_banner_dot3.png", class: "fxt-ban-dot fxt-ban-dot1"%>
                <%= image_tag "v5.1/fxt/fxt_banner_dot2.png", class: "fxt-ban-dot fxt-ban-dot2"%>
                <%= image_tag "v5.1/fxt/fxt_banner_dot1_3.png", class: "fxt-ban-dot fxt-ban-dot3"%>
                <%= image_tag "v5.1/fxt/fxt_banner_plus.png", class: "fxt-ban-dot fxt-ban-plus"%>
            </div>
        </div>
        
        <div class="fxt-ban-item fxt-ban-item4" data-scroll="scroll-fxt-master">
            <div class="fxt-ban-item-wrap">
                <%= image_tag "v5.1/fxt/fxt_banner_pic4.png", class: "fxt-ban-img", size: "190x365" %>
                <div class="fxt-ban-txt">
                    <div class="fxt-ban-txt1">商品主</div>
                    <div class="fxt-ban-txt2">商品销量</div>
                    <div class="fxt-ban-txt3">成倍长</div>
                </div>
            </div>
            <div class="fxt-ban-dots">
                <%= image_tag "v5.1/fxt/fxt_banner_dot3.png", class: "fxt-ban-dot fxt-ban-dot1"%>
                <%= image_tag "v5.1/fxt/fxt_banner_dot2.png", class: "fxt-ban-dot fxt-ban-dot2"%>
                <%= image_tag "v5.1/fxt/fxt_banner_dot1_4.png", class: "fxt-ban-dot fxt-ban-dot3"%>
                <%= image_tag "v5.1/fxt/fxt_banner_plus.png", class: "fxt-ban-dot fxt-ban-plus"%>
            </div>
        </div>
    </div>

    <div class="fxt-section fxt-section0">
        <div class="fxt-section-wrapp fxt-section0-wrapp">
            <div class="fxt-section0-txt">想成为放心提的广告主或运营商吗？ 请拨打 4000-365-711</div>
            <!-- <a class="fxt-btn fxt-section0-btn" href="http://admin.fxt.cn" >后台登陆</a> -->
        </div>
    </div>

    <div class="fxt-section fxt-section1">
        <div class="fxt-section-wrapp fxt-section1-wrapp clearfix">
            <div class="fxt-section1-redpacket">
                <h3 class="fxt-section-tit">微客红包</h3>
                <p class="fxt-section-subtit">新O2O生态圈</p>
                <div class="fxt-section-para">微客红包是指具有专利覆盖涂层的二维码。</div>
                <div class="fxt-section-para">微客红包链接商品主、广告主、消费者，颠覆改变线上线下的链接模式，形成新O2O生态圈。</div>
                <div class="fxt-section-para">消费者线下购买商品扫码，线上领取现金，获得红包返利: 一方面增加商品购买频次，让商品主销量倍增；另一方面消费者进入移动广告平台（FXT.CN放心提），使广告主流量倍增。</div>
            </div>
            <div class="fxt-section1-fxt">
                <h3 class="fxt-section-tit">FXT.CN放心提</h3>
                <p class="fxt-section-subtit">移动广告平台</p>
                <div class="fxt-section-para">放心提移动广告平台是微客红包线上精准广告投放平台，投放形式包括但不限于CPA、CPC、CPS等。</div>
                <div class="fxt-section-para">放心提广告平台可按时段、区域、人群等区别线下消费流量，为广告主精准投放广告提供数据依据。</div>
            </div>
            <%= image_tag "v5.1/fxt/fxt_section1_pic1.png", size: "466x170", class: "fxt-section1-img fxt-section1-img1"%>
            <%= image_tag "v5.1/fxt/fxt_section1_pic2.png", size: "429x225", class: "fxt-section1-img fxt-section1-img2"%>
        </div>
    </div>

    <div class="fxt-section fxt-section2" id="scroll-fxt-ad">
        <div class="fxt-section-wrapp fxt-section2-wrapp clearfix">
            <h3 class="fxt-section-tit fxt-section2-tit">广告主</h3>
            <p class="fxt-section-subtit fxt-section2-subtit">在放心提移动广告平台投放广告的广告商</p>
            <div class="fxt-section2-red">精准投放投放成本更低<br />流量更有价值</div>
            <div class="fxt-section-para">广告形式包括CPA、CPC、CPS</div>
            <div class="fxt-section-para">按时段、区域、人群等 精准投放</div>
            <div class="fxt-section-para">让您的每一分投入的收益最大化</div>
            <a href="<%= fxt_ad_owner_path %>" class="fxt-btn fxt-section2-btn"><i class="fa fa-long-arrow-right"></i>了解更多 码上投放</a>
            
            <%= image_tag "v5.1/fxt/fxt_section2_pic1.png", size: "663x447", class: "fxt-section2-img parallax1"%>
        </div>
    </div>

    <div class="fxt-section fxt-section3" id="scroll-fxt-mkt">
        <div class="fxt-section-wrapp fxt-section3-wrapp clearfix">
            <div class="fxt-section3-cnt">
                <h3 class="fxt-section-tit fxt-section3-tit">运营商</h3>
                <p class="fxt-section-subtit fxt-section3-subtit">微客红包-放心提移动广告平台运营商</p>
                <div class="fxt-section3-slogn">创新颠覆，共赢未来<br />强势来袭，火爆招商</div>

                <a href="<%= fxt_operators_path %>" class="fxt-btn fxt-section3-btn"><i class="fa fa-long-arrow-right"></i>了解更多 码上赚钱</a>
            </div>
            
            <%= image_tag "v5.1/fxt/fxt_section3_pic1.jpg", size: "500x449", class: "fxt-section3-img parallax2"%>
        </div>
    </div>

    <div class="fxt-section fxt-section2 fxt-section4" id="scroll-fxt-master">
        <div class="fxt-section-wrapp fxt-section2-wrapp fxt-section4-wrapp clearfix">
            <h3 class="fxt-section-tit fxt-section2-tit">商品主</h3>
            <p class="fxt-section-subtit fxt-section2-subtit">贴有微客红包商品的零售商</p>
            <div class="fxt-section2-red">商品贴微客红包<br />让销量冲上云霄</div>
            <div class="fxt-section-para">全国大小零售厂商</div>
            <div class="fxt-section-para">本地个体超市、副食品店、杂货店、夫妻店等</div>
            <div class="fxt-section-para">各大电商及物流公司的合作</div>
            <a href="javascript:;" class="fxt-btn fxt-section2-btn" id="launch_qq_fxt"><i class="fa fa-long-arrow-right"></i>我要咨询</a>
            
            <%= image_tag "v5.1/fxt/fxt_section4_pic1.png", size: "724x586", class: "fxt-section2-img fxt-section4-img parallax3"%>
        </div>
    </div>

    <div class="fxt-section fxt-section3 fxt-section5" id="scroll-fxt-customer">
        <div class="fxt-section-wrapp fxt-section5-wrapp clearfix">
            <h3 class="fxt-section-tit fxt-section3-tit">消费者</h3>
            <p class="fxt-section-subtit fxt-section3-subtit">购买带有微客红包商品的消费者</p>

            <div class="fxt-section5-list clearfix">
                <div class="fxt-section5-item fxt-section5-item1 fxt-section5-type1">
                    <%= image_tag "v5.1/fxt/fxt_section5_pic1.png", size: "400x168" , class: "fxt-section5-pic fxt-section5-pic1"%>                   
                    <%= image_tag "v5.1/fxt/fxt_section5_txt1.png", size: "110x90" , class: "fxt-section5-txt fxt-section5-txt1"%>                   
                </div>
                <div class="fxt-section5-item fxt-section5-item2 fxt-section5-type2">
                    <%= image_tag "v5.1/fxt/fxt_section5_pic2.png", size: "136x170" , class: "fxt-section5-pic fxt-section5-pic2"%>                   
                    <%= image_tag "v5.1/fxt/fxt_section5_txt2.png", size: "81x78" , class: "fxt-section5-txt fxt-section5-txt1"%>                   
                </div>
                <div class="fxt-section5-item fxt-section5-item3 fxt-section5-type2">
                    <%= image_tag "v5.1/fxt/fxt_section5_pic3.png", size: "147x247" , class: "fxt-section5-pic fxt-section5-pic2"%>                   
                    <%= image_tag "v5.1/fxt/fxt_section5_txt3.png", size: "79x76" , class: "fxt-section5-txt fxt-section5-txt1"%>                   
                </div>
                <div class="fxt-section5-item fxt-section5-item4 fxt-section5-type2">
                    <%= image_tag "v5.1/fxt/fxt_section5_pic4.png", size: "162x240" , class: "fxt-section5-pic fxt-section5-pic3"%>                   
                    <%= image_tag "v5.1/fxt/fxt_section5_txt4.png", size: "80x88" , class: "fxt-section5-txt fxt-section5-txt2"%>                   
                </div>
                <div class="fxt-section5-item fxt-section5-item5 fxt-section5-type2">
                    <%= image_tag "v5.1/fxt/fxt_section5_pic5.png", size: "162x261" , class: "fxt-section5-pic fxt-section5-pic3"%>                   
                    <%= image_tag "v5.1/fxt/fxt_section5_txt5.png", size: "81x129" , class: "fxt-section5-txt fxt-section5-txt2"%>                   
                </div>
                <div class="fxt-section5-item fxt-section5-item6 fxt-section5-type1">
                    <%= image_tag "v5.1/fxt/fxt_section5_pic6.png", size: "194x318" , class: "fxt-section5-pic fxt-section5-pic2"%>                   
                    <%= image_tag "v5.1/fxt/fxt_section5_txt6.png", size: "127x116" , class: "fxt-section5-txt fxt-section5-txt1"%>                   
                </div>
            </div>
        </div>
    </div>

    <div class="fxt-section fxt-section6">
        <div class="fxt-section-wrapp fxt-section6-wrapp">
            <div class="fxt-section6-cnt fxt-section6-join">
                
                <div class="fxt-section6-tit">招商加盟中心</div>
<!--                 <div class="m-input-text">
                    <input class="input-focus" type="text" data-tip="公司名称" />
                </div>
                <div class="clearfix m-select">
                    <select class="m-select-real m-select-prov fxt_province" name="prov">
                        <option value="0">上海市</option>
                        <option value="1" selected="selected">测试测</option>
                        <option value="2">测试2</option>
                        <option value="2">测试2</option>
                        <option value="2">测试2</option>
                        <option value="2">测试2</option>
                        <option value="2">测试2</option>
                        <option value="2">测试2</option>
                        <option value="2">测试2</option>
                    </select>
                    <select class="m-select-real m-select-city fxt_city" name="city">
                        <option value="0">上海市</option>
                        <option value="1">测试3</option>
                        <option value="2">测试测试测试测试测试4</option>
                    </select>
                    <select class="m-select-real m-select-area fxt_district" name="area">
                        <option value="0">黄浦区</option>
                        <option value="1">测试测试测试测试测试5</option>
                        <option value="2">测试6</option>
                    </select>
                </div> -->
                <div class="m-input-text">
                    <input class="input-focus validate role-agent" id="id-agent-contact" type="text" placeholder="联系人" />
                </div>
                <div class="m-input-text">
                    <input class="input-focus validate role-agent" id="id-agent-tel" type="text" placeholder="手机号" />
                </div>
                <button class="fxt-btn fxt-section6-btn js-role-agent" disabled="disabled"><i class="fa fa-long-arrow-right"></i>开始招商加盟</button>

            </div>
            <div class="fxt-section6-cnt fxt-section6-ad">
                
                <div class="fxt-section6-tit">广告投放中心</div>
<!--                 <div class="m-input-text">
                    <input class="input-focus" type="text" data-tip="公司名称" />
                </div>
                <div class="clearfix m-select">
                    <select class="m-select-real m-select-prov fxt_province" name="prov">
                        <option value="0">上海市</option>
                        <option value="1" selected="selected">测试测</option>
                        <option value="2">测试2</option>
                        <option value="2">测试2</option>
                        <option value="2">测试2</option>
                        <option value="2">测试2</option>
                        <option value="2">测试2</option>
                        <option value="2">测试2</option>
                        <option value="2">测试2</option>
                    </select>
                    <select class="m-select-real m-select-city fxt_city" name="city">
                        <option value="0">上海市</option>
                        <option value="1">测试3</option>
                        <option value="2">测试测试测试测试测试4</option>
                    </select>
                    <select class="m-select-real m-select-area fxt_district" name="area">
                        <option value="0">黄浦区</option>
                        <option value="1">测试测试测试测试测试5</option>
                        <option value="2">测试6</option>
                    </select>
                </div> -->
                <div class="m-input-text">
                    <input class="input-focus validate role-ad-owner" id="id-ad-owner-contact" type="text" placeholder="联系人" />
                </div>
                <div class="m-input-text">
                    <input class="input-focus validate role-ad-owner" id="id-ad-owner-tel" type="text" placeholder="手机号" />
                </div>
                <button class="fxt-btn fxt-section6-btn js-role-ad-owner" disabled="disabled"><i class="fa fa-long-arrow-right"></i>开始投放广告</button>

            </div>
        </div>
    </div>

    <div id="to-top"><span class="to-top-child to-top-arrow"><i class="fa fa-long-arrow-up"></i></span><span class="to-top-child to-top-txt">Top</span></div>

    <!-- footer start -->
    <!-- <script type="text/template" class="tpl" data-src="tpl/footer.html"></script> -->
    <!-- footer end --> 

    <!-- qq -->
    <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
    <script>
        BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 4000365711, selector: 'launch_qq_fxt'});
    </script>

    <%= content_for :custom_js do %>
      <%= javascript_include_tag "v5.1/fxt.js" %>

      <script type="text/javascript">
        $(function() {
          var $input = $(".validate");
          var $roleAgentInput = $(".validate.role-agent");
          var $roleAdOwnerInput = $(".validate.role-ad-owner");

          $('.fxt-section6-btn').disableBtn();

          var flag = {
            agent: false,
            ad_owner: false 
          };

          $input.on("input", function(event) {
            $this = $(this);
            
            if (role($this) == "role-agent") { 
              flag.agent = true;

              $roleAgentInput.each(function (i) {
                $this = $(this)

                validate($this, false);

                if (flag.agent) {
                  $(".js-role-agent").enableBtn();
                }
              });
            }
       
            if (role($this) == "role-ad-owner") {
              flag.ad_owner = true;

              $roleAdOwnerInput.each(function (i) {
                $this = $(this)

                validate($this, false);

                if (flag.ad_owner) {
                  $(".js-role-ad-owner").enableBtn();
                }
              });
            }
          });

          $input.on("blur", function(event) {
            var $this = $(this);
            validate($this);
          });

          function validate(jqObj, isDisplay) {
	    var val = jqObj.val();
	    var id = jqObj.attr("id");

            contact_reg = /^(.){2,}/;
	    mobile_reg = /^[0-9_\-]{11}$/,
	    reg_email = /^([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$/i;

	    if(!val){
	      error_msg(jqObj,"不能为空", role_button(jqObj), isDisplay);
              set_role_flag(jqObj, flag, false);
            } 
            else if(((id == "id-agent-contact") || (id == "id-ad-owner-contact")) && !contact_reg.test(val)){
              error_msg(jqObj,"联系人过短，最少为2个字符", role_button($this), true);
              set_role_flag(jqObj, flag, false);
            }
            else if(((id == "id-agent-tel") || (id == "id-ad-owner-tel")) && !mobile_reg.test(val)){
              error_msg(jqObj,"手机号码不正确", role_button($this), true);
              set_role_flag(jqObj, flag, false);
            }else{
              checkInputDel(jqObj.closest(".m-input-text"));
            }
          }

          function error_msg(jqObj, msg, role, isDisplay) {
            var isDisplay = arguments[3] != undefined ? arguments[3] : true;
            if (isDisplay) {
              checkInput(jqObj.closest(".m-input-text").eq(0), 1, msg);
            }

            set_role_flag(jqObj, flag, false);
            role.disableBtn();
          }

          function role(jqObj) {
            if (jqObj.hasClass("role-agent")) {
              return "role-agent";
            }            
            else {
              return "role-ad-owner";
            }
          }

          function role_button(jqObj) {
            if (jqObj.hasClass("role-agent"))
              return $(".js-role-agent");
            else
              return $(".js-role-ad-owner");
          }
         
          
          function set_role_flag(jqObj, role_flag, flag) {
            if (role(jqObj) == "role-agent") {
              role_flag.agent = flag;
            } 
            else if (role(jqObj) == "role-ad-owner") {
              role_flag.ad_owner = flag;
            }
          }

        });
      </script>

      <script type="text/javascript">
        $(function() {
          function getDatas(role) {
            var $contact = $("#id-" + role + "-contact");
            var $tel = $("#id-" + role + "-tel");
            var contact;

            if (role == "agent")
              contact = $contact.val() + "(运营商)";
            else
              contact = $contact.val() + "(广告主)";

            return {
              contact: contact,
              tel: $tel.val(), 
              fxt: true
            }
          };

          function submit(event) {
            var $target = $(event.target);
            datas = {};
            if ($target.hasClass("js-role-agent"))
              datas = {supplier_apply: getDatas("agent")};
            else if($target.hasClass("js-role-ad-owner"))
              datas = {supplier_apply: getDatas("ad-owner")};
            
            $.ajax({
              url: "<%= supplier_applies_path %>",
              type: "POST",
              dateType: "json",
              data: datas,
              async: true, 
              success: function(data, statusText, jqXHR){
                enableSubmit($target, submit);
                if (data.code == 0){
                  $.alert({
                    titString: "提示信息",
                    htmlString: "申请成功",
                    closeCallback: function() {
                      resetInputs();
                    } 
                  });
                } else {
                  $.alert({
                    titString: "告警信息",
                    htmlString: data.message,
                    closeCallback: function() {
                      resetInputs();
                    }
                  });
                }
                
              },
              error: function(jqXHR, statusText, errorThrown){
                enableSubmit($target, submit);
                $.alert({
                  titString: "告警信息",
                  htmlString: "申请失败!",
                  closeCallback: function() {
                    resetInputs();
                  }
                });
              }
            });

            disableSubmit($target);
          };

          function resetInputs() {
            $("input.validate").val("");

            $("input.validate").each(function (index, element) {
              checkInputDel($(this).closest(".m-input-text"));
            });

            $('.fxt-section6-btn').disableBtn();
          }

          function disableSubmit(submitSelector, disaleWith) {
            disableWith = arguments[1] ? arguments[1]: "提交中...";
            $submit = $(submitSelector);

            $submit.data("submit:enable-with", $submit.text());
            $submit.off("click.enable");
            $submit.text(disableWith);
            $submit.on("click.disable", function() {
              console.log("提交中,请稍后");
            });
          }

          function enableSubmit(submitSelector, submitCallback) {
            $submit = $(submitSelector);

            $submit.off("click.disable");
            $submit.text($submit.data("submit:enable-with"));
            $submit.on("click.enable", submitCallback);
          }

          $(".js-role-agent, .js-role-ad-owner").on("click.enable", submit);

        });
      </script>

    <script>
        $.fn.extend({
            disableBtn: function(){
                return this.removeClass('active').prop('disabled', true);
            },
            enableBtn: function(){
                return this.addClass('active').prop('disabled', false);
            }
        })
        $(function(){
            // disable and enable demo
            // $('.fxt-section6-btn')
            //     .enableBtn()
            //     .on('click', function(){
            //         // alert demo
            //         $.alert({
            //             titString: '这是标题',
            //             htmlString: "提示信息提示信息提示信息提示信息提示信息提示信息提示信息提示信息提示信息提示信息提示信息"
            //         });
            //     });

            //$('.fxt-section6-btn').disableBtn();
            //$('.fxt-section6-btn').enableBtn();
            
        });
    </script>
 
    <% end %>
