<%= stylesheet_link_tag 'v5/platform' %>
<%= javascript_include_tag 'v5/platform' %>
<% content_for(:title) { '微枚迪功能介绍' } %>
<% content_for :keywords, "微枚迪微信公众平台功能" %>

<div class="container">
<section class="page page1" id="page1">
  <div class="p-txt p1-txt">
    <h2 class="p-h2">多行业解决方案</h2>
    <h4 class="p-h4"><%= @navigations['hotel']['title'] %></h4>

    <div class="p-desp"><%= @navigations['hotel']['comment'] %></div>
  </div>
  <div class="p-txt p1-txt">
    <h2 class="p-h2">多行业解决方案</h2>
    <h4 class="p-h4"><%= @navigations['car']['title'] %></h4>

    <div class="p-desp"><%= @navigations['car']['comment'] %></div>
  </div>
  <div class="p-txt p1-txt">
    <h2 class="p-h2">多行业解决方案</h2>
    <h4 class="p-h4"><%= @navigations['food']['title'] %></h4>

    <div class="p-desp"><%= @navigations['food']['comment'] %></div>
  </div>
  <div class="p-txt p1-txt">
    <h2 class="p-h2">多行业解决方案</h2>
    <h4 class="p-h4"><%= @navigations['wshop']['title'] %></h4>

    <div class="p-desp"><%= @navigations['wshop']['comment'] %></div>
  </div>
  <div class="p-txt p1-txt">
    <h2 class="p-h2">多行业解决方案</h2>
    <h4 class="p-h4"><%= @navigations['hospital']['title'] %></h4>

    <div class="p-desp"><%= @navigations['hospital']['comment'] %></div>
  </div>
  <div class="p-txt p1-txt">
    <h2 class="p-h2">多行业解决方案</h2>
    <h4 class="p-h4"><%= @navigations['house']['title'] %></h4>

    <div class="p-desp"><%= @navigations['house']['comment'] %></div>
  </div>
  <div class="p-txt p1-txt">
    <h2 class="p-h2">多行业解决方案</h2>
    <h4 class="p-h4"><%= @navigations['wlife']['title'] %></h4>

    <div class="p-desp"><%= @navigations['wlife']['comment'] %></div>
  </div>
  <div class="p-txt p1-txt">
    <h2 class="p-h2">多行业解决方案</h2>
    <h4 class="p-h4"><%= @navigations['edu']['title'] %></h4>

    <div class="p-desp"><%= @navigations['edu']['comment'] %></div>
  </div>
  <div class="p-txt p1-txt">
    <h2 class="p-h2">多行业解决方案</h2>
    <h4 class="p-h4"><%= @navigations['wmall']['title'] %></h4>

    <div class="p-desp"><%= @navigations['wmall']['comment'] %></div>
  </div>
  <div class="p-txt p1-txt">
    <h2 class="p-h2">多行业解决方案</h2>
    <h4 class="p-h4"><%= @navigations['trip']['title'] %></h4>

    <div class="p-desp"><%= @navigations['trip']['comment'] %></div>
  </div>
  <div class="p-txt p1-txt">
    <h2 class="p-h2">多行业解决方案</h2>
    <h4 class="p-h4"><%= @navigations['marriage']['title'] %></h4>

    <div class="p-desp"><%= @navigations['marriage']['comment'] %></div>
  </div>
  <div class="p-txt p1-txt">
    <h2 class="p-h2">多行业解决方案</h2>
    <h4 class="p-h4"><%= @navigations['plots']['title'] %></h4>

    <div class="p-desp"><%= @navigations['plots']['comment'] %></div>
  </div>
  <div class="p1-show">
    <img class="p1-show-bg" src="/assets/v5/platform/section1_bg.jpg" alt="">

    <div class="p1-show-phone">
      <div class="p1-show-clip">
        <ul>
          <li><img src="<%= @navigations['hotel']['pic_url'] %>" width="229" height="327" alt=""></li>
          <li><img src="<%= @navigations['car']['pic_url'] %>" width="229" height="327" alt=""></li>
          <li><img src="<%= @navigations['food']['pic_url'] %>" width="229" height="327" alt=""></li>
          <li><img src="<%= @navigations['wshop']['pic_url'] %>" width="229" height="327" alt=""></li>
          <li><img src="<%= @navigations['hospital']['pic_url'] %>" width="229" height="327" alt=""></li>
          <li><img src="<%= @navigations['house']['pic_url'] %>" width="229" height="327" alt=""></li>
          <li><img src="<%= @navigations['wlife']['pic_url'] %>" width="229" height="327" alt=""></li>
          <li><img src="<%= @navigations['edu']['pic_url'] %>" width="229" height="327" alt=""></li>
          <li><img src="<%= @navigations['wmall']['pic_url'] %>" width="229" height="327" alt=""></li>
          <li><img src="<%= @navigations['trip']['pic_url'] %>" width="229" height="327" alt=""></li>
          <li><img src="<%= @navigations['marriage']['pic_url'] %>" width="229" height="327" alt=""></li>
          <li><img src="<%= @navigations['plots']['pic_url'] %>" width="229" height="327" alt=""></li>
        </ul>
      </div>
    </div>
    <div class="p1-ballon-group">
      <div class="p1-ballon p1-ballon1">
        <div class="p1-ballon-hover"></div>
        <div class="p1-ballon-wrapp">
          <div class="p1-ballon-icon"></div>
        </div>
      </div>
      <div class="p1-ballon p1-ballon2">
        <div class="p1-ballon-hover"></div>
        <div class="p1-ballon-wrapp">
          <div class="p1-ballon-icon"></div>
        </div>
      </div>
      <div class="p1-ballon p1-ballon3">
        <div class="p1-ballon-hover"></div>
        <div class="p1-ballon-wrapp">
          <div class="p1-ballon-icon"></div>
        </div>
      </div>
      <div class="p1-ballon p1-ballon4">
        <div class="p1-ballon-hover"></div>
        <div class="p1-ballon-wrapp">
          <div class="p1-ballon-icon"></div>
        </div>
      </div>
      <div class="p1-ballon p1-ballon5">
        <div class="p1-ballon-hover"></div>
        <div class="p1-ballon-wrapp">
          <div class="p1-ballon-icon"></div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="p-btns p1-btns">
    <div class="p1-btns-wrapp">
      <ul class="clearfix p1-btns-scroll">
        <li class="p1-btns-item">
          <div class="p1-btns-icon p1-btns-icon11"></div>
          <div class="p1-btns-txt transition">微酒店</div>
        </li>
        <li class="p1-btns-item">
          <div class="p1-btns-icon p1-btns-icon12"></div>
          <div class="p1-btns-txt transition">微汽车</div>
        </li>
        <li class="p1-btns-item">
          <div class="p1-btns-icon p1-btns-icon13"></div>
          <div class="p1-btns-txt transition">微餐饮</div>
        </li>
        <li class="p1-btns-item">
          <div class="p1-btns-icon p1-btns-icon14"></div>
          <div class="p1-btns-txt transition">微电商</div>
        </li>
        <li class="p1-btns-item">
          <div class="p1-btns-icon p1-btns-icon15"></div>
          <div class="p1-btns-txt transition">微医疗</div>
        </li>
        <li class="p1-btns-item">
          <div class="p1-btns-icon p1-btns-icon1"></div>
          <div class="p1-btns-txt transition">微房产</div>
        </li>
        <li class="p1-btns-item">
          <div class="p1-btns-icon p1-btns-icon2"></div>
          <div class="p1-btns-txt transition">微生活</div>
        </li>
        <li class="p1-btns-item">
          <div class="p1-btns-icon p1-btns-icon3"></div>
          <div class="p1-btns-txt transition">微教育</div>
        </li>
        <li class="p1-btns-item">
          <div class="p1-btns-icon p1-btns-icon4"></div>
          <div class="p1-btns-txt transition">微商圈</div>
        </li>
        <li class="p1-btns-item">
          <div class="p1-btns-icon p1-btns-icon7"></div>
          <div class="p1-btns-txt transition">微旅游</div>
        </li>
        <li class="p1-btns-item">
          <div class="p1-btns-icon p1-btns-icon8"></div>
          <div class="p1-btns-txt transition">微婚礼</div>
        </li>
        <li class="p1-btns-item">
          <div class="p1-btns-icon p1-btns-icon9"></div>
          <div class="p1-btns-txt transition">微小区</div>
        </li>
      </ul>
    </div>
    <div class="p1-btns-arrow p1-btns-arrow-l"></div>
    <div class="p1-btns-arrow p1-btns-arrow-r"></div>
  </div>
</section>
<section class="page page2" id="page2">
  <div class="p-txt p2-txt">
    <h2 class="p-h2">强大的基础功能设置</h2>
    <h4 class="p-h4"><%= @navigations['vip']['title'] %></h4>

    <div class="p-desp"><%= @navigations['vip']['comment'] %></div>
  </div>
  <div class="p-txt p2-txt">
    <h2 class="p-h2">强大的基础功能设置</h2>
    <h4 class="p-h4"><%= @navigations['website']['title'] %></h4>

    <div class="p-desp"><%= @navigations['website']['comment'] %></div>
  </div>
  <div class="p-txt p2-txt">
    <h2 class="p-h2">强大的基础功能设置</h2>
    <h4 class="p-h4"><%= @navigations['group']['title'] %></h4>

    <div class="p-desp"><%= @navigations['group']['comment'] %></div>
  </div>
  <div class="p-txt p2-txt">
    <h2 class="p-h2">强大的基础功能设置</h2>
    <h4 class="p-h4"><%= @navigations['pay']['title'] %></h4>

    <div class="p-desp"><%= @navigations['pay']['comment'] %></div>
  </div>
  <div class="p-txt p2-txt">
    <h2 class="p-h2">强大的基础功能设置</h2>
    <h4 class="p-h4"><%= @navigations['book']['title'] %></h4>

    <div class="p-desp"><%= @navigations['book']['comment'] %></div>
  </div>
  <div class="p-txt p2-txt">
    <h2 class="p-h2">强大的基础功能设置</h2>
    <h4 class="p-h4"><%= @navigations['kf']['title'] %></h4>

    <div class="p-desp"><%= @navigations['kf']['comment'] %></div>
  </div>
  <div class="p2-show">
    <div class="p2-show-phone">
      <div class="p2-show-clip">
        <ul>
          <li><img src="<%= @navigations['vip']['pic_url'] %>" width="324" height="563" alt=""></li>
          <li><img src="<%= @navigations['website']['pic_url'] %>" width="324" height="563" alt=""></li>
          <li><img src="<%= @navigations['group']['pic_url'] %>" width="324" height="563" alt=""></li>
          <li><img src="<%= @navigations['pay']['pic_url'] %>" width="324" height="563" alt=""></li>
          <li><img src="<%= @navigations['book']['pic_url'] %>" width="324" height="563" alt=""></li>
          <li><img src="<%= @navigations['kf']['pic_url'] %>" width="324" height="563" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="p-btns p2-btns">
    <ul class="clearfix">
      <li class="p2-btns-items">
        <div class="p2-btns-scroll">
          <div class="p2-btns-blcok">
            <div class="p2-btns-icon p2-btns1-icon1"></div>
            <div class="p2-btns-txt">会员卡</div>
          </div>
          <div class="p2-btns-blcok">
            <div class="p2-btns-icon p2-btns1-icon2"></div>
            <div class="p2-btns-txt">会员卡</div>
          </div>
        </div>
      </li>
      <li class="p2-btns-items">
        <div class="p2-btns-scroll">
          <div class="p2-btns-blcok">
            <div class="p2-btns-icon p2-btns2-icon1"></div>
            <div class="p2-btns-txt">微官网</div>
          </div>
          <div class="p2-btns-blcok">
            <div class="p2-btns-icon p2-btns2-icon2"></div>
            <div class="p2-btns-txt">微官网</div>
          </div>
        </div>
      </li>
      <li class="p2-btns-items">
        <div class="p2-btns-scroll">
          <div class="p2-btns-blcok">
            <div class="p2-btns-icon p2-btns3-icon1"></div>
            <div class="p2-btns-txt">微团购</div>
          </div>
          <div class="p2-btns-blcok">
            <div class="p2-btns-icon p2-btns3-icon2"></div>
            <div class="p2-btns-txt">微团购</div>
          </div>
        </div>
      </li>
      <li class="p2-btns-items">
        <div class="p2-btns-scroll">
          <div class="p2-btns-blcok">
            <div class="p2-btns-icon p2-btns4-icon1"></div>
            <div class="p2-btns-txt">微支付</div>
          </div>
          <div class="p2-btns-blcok">
            <div class="p2-btns-icon p2-btns4-icon2"></div>
            <div class="p2-btns-txt">微支付</div>
          </div>
        </div>
      </li>
      <li class="p2-btns-items">
        <div class="p2-btns-scroll">
          <div class="p2-btns-blcok">
            <div class="p2-btns-icon p2-btns5-icon1"></div>
            <div class="p2-btns-txt">微预订</div>
          </div>
          <div class="p2-btns-blcok">
            <div class="p2-btns-icon p2-btns5-icon2"></div>
            <div class="p2-btns-txt">微预订</div>
          </div>
        </div>
      </li>
      <li class="p2-btns-items">
        <div class="p2-btns-scroll">
          <div class="p2-btns-blcok">
            <div class="p2-btns-icon p2-btns6-icon1"></div>
            <div class="p2-btns-txt">微客服</div>
          </div>
          <div class="p2-btns-blcok">
            <div class="p2-btns-icon p2-btns6-icon2"></div>
            <div class="p2-btns-txt">微客服</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="p2-shadow"></div>
</section>
<section class="page page3" id="page3">
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['aa']['title'] %></h4>
    <div class="p-desp"><%= @navigations['aa']['comment'] %></div>
  </div>
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['bb']['title'] %></h4>
    <div class="p-desp"><%= @navigations['bb']['comment'] %></div>
  </div>
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['cc']['title'] %></h4>
    <div class="p-desp"><%= @navigations['cc']['comment'] %></div>
  </div>
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['dd']['title'] %></h4>
    <div class="p-desp"><%= @navigations['dd']['comment'] %></div>
  </div>
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['ee']['title'] %></h4>
    <div class="p-desp"><%= @navigations['ee']['comment'] %></div>
  </div>
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['ff']['title'] %></h4>
    <div class="p-desp"><%= @navigations['ff']['comment'] %></div>
  </div>
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['gg']['title'] %></h4>
    <div class="p-desp"><%= @navigations['gg']['comment'] %></div>
  </div>
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['hh']['title'] %></h4>

    <div class="p-desp"><%= @navigations['hh']['comment'] %></div>
  </div>
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['ii']['title'] %></h4>

    <div class="p-desp"><%= @navigations['ii']['comment'] %></div>
  </div>
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['jj']['title'] %></h4>
    <div class="p-desp"><%= @navigations['jj']['comment'] %></div>
  </div>
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['kk']['title'] %></h4>
    <div class="p-desp"><%= @navigations['kk']['comment'] %></div>
  </div>
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['ll']['title'] %></h4>
    <div class="p-desp"><%= @navigations['ll']['comment'] %></div>
  </div>
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['mm']['title'] %></h4>
    <div class="p-desp"><%= @navigations['mm']['comment'] %></div>
  </div>
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['oo']['title'] %></h4>
    <div class="p-desp"><%= @navigations['oo']['comment'] %></div>
  </div>
  <div class="p-txt p3-txt">
    <h2 class="p-h2">丰富的营销互动模式</h2>
    <h4 class="p-h4"><%= @navigations['pp']['title'] %></h4>

    <div class="p-desp"><%= @navigations['pp']['comment'] %></div>
  </div>
  <div class="p3-show">
    <div class="p3-show-wrapp">
      <ul class="clearfix">
        <li><img src="<%= @navigations['aa']['pic_url'] %>" alt="" width="320" height="568"></li>
        <li><img src="<%= @navigations['bb']['pic_url'] %>" alt="" width="320" height="568"></li>
        <li><img src="<%= @navigations['cc']['pic_url'] %>" alt="" width="320" height="568"></li>
        <li><img src="<%= @navigations['dd']['pic_url'] %>" alt="" width="320" height="568"></li>
        <li><img src="<%= @navigations['ee']['pic_url'] %>" alt="" width="320" height="568"></li>
        <li><img src="<%= @navigations['ff']['pic_url'] %>" alt="" width="320" height="568"></li>
        <li><img src="<%= @navigations['gg']['pic_url'] %>" alt="" width="320" height="568"></li>
        <li><img src="<%= @navigations['hh']['pic_url'] %>" alt="" width="320" height="568"></li>
        <li><img src="<%= @navigations['ii']['pic_url'] %>" alt="" width="320" height="568"></li>
        <li><img src="<%= @navigations['jj']['pic_url'] %>" alt="" width="320" height="568"></li>
        <li><img src="<%= @navigations['kk']['pic_url'] %>" alt="" width="320" height="568"></li>
        <li><img src="<%= @navigations['ll']['pic_url'] %>" alt="" width="320" height="568"></li>
        <li><img src="<%= @navigations['mm']['pic_url'] %>" alt="" width="320" height="568"></li>
        <li><img src="<%= @navigations['oo']['pic_url'] %>" alt="" width="320" height="568"></li>
        <li><img src="<%= @navigations['pp']['pic_url'] %>" alt="" width="320" height="568"></li>
      </ul>
    </div>
    <div class="p3-show-bg"></div>
    <div class="p3-trip p3-trip-l"></div>
    <div class="p3-trip p3-trip-r"></div>
  </div>
</section>
<section class="page page4">
  <div class="p-txt p4-txt">
    <h2 class="p-h2">详尽的平台数据统计</h2>
    <h4 class="p-h4">微统计——实时反馈微官网流量PV、UV一览无余</h4>

    <div class="p-desp">业内首家推出详细网站流量分析的平台、支持不同时段内针对PV、UV、IP、跳出率、访问时长等维度进行分析统计，随时随地实现监控。</div>
  </div>
  <div class="p-show4">
    <img src="/assets/v5/platform/section4_data.png" width="797" height="464" alt="">
  </div>
</section>
</div>