
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if IE 10]>         <html class="no-js ie10"> <![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>公告列表</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.winwemedia.com/com/css/normalize.css">
  <link rel="stylesheet" href="http://www.winwemedia.com/com/css/nodes.css">
  <link rel="stylesheet" href="http://www.winwemedia.com/com/css/anythingslider.css">
  <script src="http://www.winwemedia.com/assets/com.js" type="text/javascript"></script>
  <script src="http://www.winwemedia.com/com/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="header">
      <a class="logo" style="background: url(http://www.winwemedia.com/com/images/uzhe_bg.png) no-repeat 0 -60px; width: 300px;"></a>
  </div>
  <div class="wrap-note">
  <% if @dev_log.present?%>
      <h4 class="note-title"><%= @dev_log.title || "公告" %></h4>
      <small class="note-time"><%= @dev_log.created_at %></small>
      <%=raw @dev_log.content%>

      <a href="/uzhe_logs" class="btn-goback note-top">返回<br>列表</a>
      <a href="/uzhe_logs" class="btn-goback note-bottom">返回<br>列表</a>

      <% if @pre_def_log_id.present? %>
        <a href="<%= home_show_dev_log_path(id: @pre_def_log_id)%>" class="note-page page-prev"><b>上一页</b><small>Previous</small></a>
      <% end %>
      <% if @next_def_log_id.present? %>
        <a href="<%= home_show_dev_log_path(id: @next_def_log_id)%>" class="note-page page-next"><b>下一页</b><small>Next</small></a>
      <% end %>

    <% else %>
      <div class="null-note">
      no content been detected
      <a href="/uzhe_logs" class="btn-goback note-top">返回<br>列表</a>
      <a href="/uzhe_logs" class="btn-goback note-bottom">返回<br>列表</a>
    </div>
    <% end %>

</div>


  <script src="http://www.winwemedia.com/com/js/vendor/jquery-1.10.2.min.js"></script>
  <script src="http://www.winwemedia.com/com/js/vendor/jquery.anythingslider.min.js"></script>
  <script src="http://www.winwemedia.com/com/js/plugins.js"></script>
  <script src="http://www.winwemedia.com/com/js/main.js"></script>
  

</body>
</html>
