<% content_for :title, "微枚迪代理商加盟" %>
<% content_for :keywords, "微枚迪代理商加盟" %>
<%= stylesheet_link_tag 'v5.1/partner' %>
<%= javascript_include_tag "v5.1/tradition" %>
<div class="part-banner clearfix">
  <div class="banner1">
    <div class="center1200">
      <div class="banner1-text">
        <img src="/assets/v5.1/partner/p_text.png" alt="微枚迪加盟">
        <div class="p-text">已有<span class="gc-77c04b"><%= @app_config["cnt_cities"] %></span>个城市，<span class="gc-77c04b"><%= @app_config["cnt_selected"] %></span>家品牌企业成功进驻微枚迪</div>
        <img src="/assets/v5.1/partner/p_tel.png" alt="4000-365-711" class="p-tel">
        <a href="#new_supplier_apply" class="official-btn">在线申请代理</a>
      </div>
    </div>
  </div>
</div>
<div class="part-main-a clearfix">
  <div class="center1200">
    <h3 class="part-title">六大优势 诚邀全国伙伴代理加盟</h3>
    <ul >
      <li>
        <div class="i-box"><i class="fa fa-thumbs-up"></i></div>
        <h4>行业领先</h4>
        <p>微枚迪，移动商务领导品牌，与国内BAT巨头保持良好合作关系，实现多方共存、共赢，能为企业带来更多的商业合作机会。</p>
      </li>
      <li>
        <div class="i-box i-box2"><i class="fa fa-code"></i></div>
        <h4>行业竞争优势强</h4>
        <p>公司研发的产品，行业竞争优势强，从移动网站建设、企业客源转化到企业CRM管理的全套移动推广解决方案，敏捷迭代，每天小更新、每周大更新。</p>
      </li>
      <li>
        <div class="i-box i-box3"><i class="fa fa-bolt"></i></div>
        <h4>市场应变速度快</h4>
        <p>推出国内首家微博营销平台；国内首批微信第三方应用开发商；国内首家推出O2O未来商圈解决方案；国内首批微信OA轻应用解决方案；推出移动建站轻应用运营平台；国内首家二维码红包专利。</p>
      </li>
      <li>
        <div class="i-box i-box4"><i class="fa fa-coffee"></i></div>
        <h4>服务体系高效快捷</h4>
        <p>公司渠道支持体系较健全，渠道管理实践经验较丰富。电话、培训等多种多样的服务方式；账户快速开通服务，服务商独立的agent管理系统等丰富的服务内容，有效支持服务商市场业务拓展。</p>
      </li>
      <li>
        <div class="i-box i-box5"><i class="fa fa-star "></i></div>
        <h4>知名品牌的共同选择</h4>
        <p>复星集团、海尔集团、锦江旅游、上海国经、国大药房、洋河1号、王老吉、电子口岸、嘉凯城等知名品牌的共同选择。</p>
      </li>
      <li>
        <div class="i-box i-box6"><i class="fa fa-graduation-cap"></i></div>
        <h4>专业的研发团队</h4> 
        <p> 团队拥有Twitter、facebook、微博、微信多年营销实战经验的专家、移动互联网行业精英及复旦大学研发力量。核心成员来自Salesforce、金蝶、泛微、IBM、腾讯等国内外知名IT企业，在企业级软件咨询与研发上平均具有5年以上的工作经验。</p>
      </li>
    </ul>
  </div>
</div>
<div class="part-main-b clearfix">
  <div class="center1200">
    <h3 class="part-title">代理商感言</h3>
    <div class="main-box">
      <ul class="main-ul">
        <li class="">
          <p class="com-text">随着微信大门的敞开，微信商机也向每一个人走来。月赚50万不再是梦，一个月帮您签约50家客户不再是奇迹，微信生意就找微枚迪。</p>
          <img class="head-pic" src="com/images/dong01.jpg" alt="head-pic" >
          <p class="username">王先生</p>
          <p class="about">苏州八零年代 | 公司董事长</p>
        </li>
        <li class="">
          <p class="com-text">靠谱比什么都重要，微信生意，我选微枚迪，靠谱的第三方服务平台。</p>
          <img class="head-pic" src="com/images/dong03.jpg" alt="head-pic" >
          <p class="username">蔡先生</p>
          <p class="about">中山市菜鸟信息技术有限公司 | CEO</p>
        </li>
      </ul>
    </div>
    <div class="circle-grounp">
      <ul class="circle-ul">
        <li class="cur">
          <div class="circle"></div>
        </li>
        <li>
          <div class="circle"></div>
        </li>
      </ul>
    </div>
  </div>
  <div id="part-anchor1" style="height: 0px; margin-top: -20px;"></div>
</div>

<div class="part-main-c clearfix">
  <div class="center1200">
    <h3 class="part-title">申请成为代理商</h3>
    <!--
    <div class="c-left">
      <ul>
        <li>
          <div class="contact">
            <span class="name">罗经理</span>
            <span class="area">南区负责人</span>
          </div>
          <div class="c-tel">
            <i class="fa fa-phone-square"></i>
            <span>021-51314109</span>
          </div>
          <div class="c-qq">
            <i class="fa fa-qq"></i>
            <span>2851326731</span>
          </div>
        </li>
        <li>
          <div class="contact">
            <span class="name">罗经理</span>
            <span class="area">东区负责人</span>
          </div>
          <div class="c-tel">
            <i class="fa fa-phone-square"></i>
            <span>13482129092</span>
          </div>
          <div class="c-qq">
            <i class="fa fa-qq"></i>
            <span>2851326731</span>
          </div>
        </li>
        <li>
          <div class="contact">
            <span class="name">罗经理</span>
            <span class="area">北区负责人</span>
          </div>
          <div class="c-tel">
            <i class="fa fa-phone-square"></i>
            <span>021-51314109</span>
          </div>
          <div class="c-qq">
            <i class="fa fa-qq"></i>
            <span>2851326731</span>
          </div>
        </li>
        <li>
          <div class="contact">
            <span class="name">罗经理</span>
            <span class="area">中区负责人</span>
          </div>
          <div class="c-tel">
            <i class="fa fa-phone-square"></i>
            <span>13482129092</span>
          </div>
          <div class="c-qq">
            <i class="fa fa-qq"></i>
            <span>2851326731</span>
          </div>
        </li>
      </ul>
    </div>
    -->
    <div class="c-right">
      <%= form_for @supplier_apply, validate: false, remote: true do |f| %>
        <%= f.hidden_field :qq, value: f.object.qq || "000000"%>
        <div class="m-form">
          <div class="m-input-text">
            <%= f.text_field :name, class: "input-focus validate", validate: true, data: {tip: "请输入企业法定名称"} %>
          </div>
          <div class="clearfix m-select">
            <%= address_select(@supplier_apply, class: "m-select-real m-select-prov") %>
          </div>
          <div class="m-input-text">
            <%= f.text_field :contact, class: "input-focus validate", data: {tip: "联系人"} %>
          </div>
          <div class="m-input-text">
            <%= f.text_field :tel, class: "input-focus validate", data: {tip: "手机号"} %>
          </div>
          <div class="m-input-text">
            <%= f.text_field :email, class: "input-focus validate", data: {tip: "电子邮件"} %>
          </div>
          <div class="m-input-btn m-input-btn-ps">
            <%= f.submit "提交在线申请", class: "m-input-btn-s", disabled: true, disable_with: "提交中..." %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= content_for :custom_js do %>

  <script type="text/javascript">
    $(function(){
      
      tradition(3500,800,960);
      
      $(".m-input-text input").Ztip();

      // 修正代理商感言按钮居中
      (function(){
        var div = $(".circle-grounp");
        var li = $("li", div);
        var len = li.length;
        var wid = li.outerWidth(true);

        div.css({
          left: -len * wid / 2
        });
      })();
          
    });

    var input = $(".validate");
    input.on("input", function() {
      var flag = true;
      input.each(function(i) {
        var $val = $(this).val();
        if (!$val || $val =="企业法定名称" || $val =="联系人" || $val =="手机号" || $val =="电子邮件") {
          flag = false;
          $(".m-input-btn-s").removeClass("m-input-btn-active").attr("disabled",true);
          return false;
        }
      });
      if(flag){
        $(".m-input-btn-s").addClass("m-input-btn-active").removeAttr("disabled");
      }
    });

    input.on("blur", function() {
      var val = $(this).val(),
          id = $(this).attr("id"),
          reg_num = /^[0-9_\-]{11}$/,
          reg_email = /^([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$/i;
      if(!val){
        error_msg($(this),"不能为空");
      }else if(id == "supplier_apply_tel" && !reg_num.test(val)){
        error_msg($(this),"手机号不正确");
      }else if(id == "supplier_apply_email" && !reg_email.test(val)){
        error_msg($(this),"邮箱格式错误");
      }else{
        checkInputDel($(this).closest(".m-input-text"));
      }
    });

    function error_msg(obj,msg){
      checkInput(obj.closest(".m-input-text"), 0, msg);
      $(".m-input-btn-s").removeClass("m-input-btn-active").attr("disabled",true);
    }
  </script>

  <script>
    $("#new_supplier_apply").bind("ajax:success", function(event, xhr, settings) {
      $(".li-tips").attr("class", "li-tips")
      $(".li-tips").html("")
      if(xhr["code"]==0){
        alert("代理商申请成功");
        location.reload();
      }else{
        messages = xhr["message"].split("; ")
        $.each(messages, function(i,e) {
          error_list = e.split(":")
          error_input = $("[name='supplier_apply[" + error_list[0] + "]']")

          if (xhr["status"] == 0) {
            $(".m-input-text").eq(-1).find("input").focus();
            checkInput($(".m-input-text").eq(xhr["num"]), xhr["status"], xhr["message"]);
          } else if (error_input){
            error_input.focus();
            checkInput(error_input.closest(".m-input-text"), 0, error_list[1]);
          }

        })
      }
    });
  </script>

<% end %>
