<% provide(:title, '我要叫外卖') %>
<body class="reserve">
<div class="wrap html">
  <div class="main">
  <div class="header">
    <div class="topline">
      <%= link_to take_out_app_shops_url(anchor: "mp.weixin.qq.com") do %><img src="/assets/shop_order/bg_ico_back.png"><% end %>
      <%= @shop_branch.name %>
    </div>
  </div>
  <div class="content reserve_content">
    <div class="topimg"><%= image_tag @shop_branch.shop.logo_url if @shop_branch.shop.logo.present?  %><p></p></div>
    <div class="list">
      <a href="/app/shop_branches/<%= @shop_branch.id %>/map?take_out=1" class="adress"><div style="overflow:hidden;margin-right:30px;text-overflow: ellipsis;white-space: nowrap;">地　　址：<%= @shop_branch.address %></div></a>
      <p class="time">营业时间：<span><%= @shop_branch.start_time_to_s %>-<%= @shop_branch.end_time_to_s %></span></p>
      <a href="tel:<%= @shop_branch.tel %>" class="phone">电　　话：<span><%= @shop_branch.tel %></span></a>
    </div>
    <div class="form">
      <%= form_for [:app, @shop_order] do |f|%>
        <%= f.hidden_field :shop_branch_id, value: @shop_branch.id %>
        <%= f.hidden_field :wx_user_id, value: session[:wx_user_id] %>
        <%= f.hidden_field :status, value: ShopOrder::DRAFT %>
        <%= f.hidden_field :order_type, value: 2 %>
        <p class="inp">
          <%= f.text_field :address, value: @wx_user.try(:address), class: 'text', placeholder: "请输入您的送餐地址" %>
          <input name="reset" type="button" class="reset reset_address" value="" />
        </p>
        <br/>
        <p class="inp">
          <%= f.text_field :mobile, value: @wx_user.try(:mobile), class: 'text', placeholder: "请输入您的手机号码" %>
          <input name="reset" type="button" class="reset reset_mobile" value="" />
        </p>
        <p class="sub"><input class="form-submit" type="image" src="/assets/shop_takeout/bg_but_take_out.png" /></p>
      <% end %>
    </div>
  </div>
    </div><!--main end-->
</div><!--wrp end-->

<%= render "application/app_footer" %>

 <script type="text/javascript">
    $(function() {
      $('.form-submit').click(function() {
        $shop_order_mobile = $('#shop_order_mobile');
        if ( !$shop_order_mobile.val() ) {
          alert('手机号码不能为空');
          $shop_order_mobile.focus();
          return false;
        } else if ( !test_mobile_number($shop_order_mobile.val()) ) {
          alert('手机号码格式不正确');
          $shop_order_mobile.focus();
          return false;
        }
        $shop_order_address = $('#shop_order_address');
        if ( !$shop_order_address.val() ){
          alert('送餐地址不能为空');
          $shop_order_address.focus();
          return false;
        }
      });
      $(".reset_mobile").click(function(){
        $("#shop_order_mobile").attr('value','');
      });
      $(".reset_address").click(function(){
        $("#shop_order_address").attr('value','');
      });
    });

    // 手机号码正则表达式
    function test_mobile_number(mobile_number) {
      if (mobile_number == undefined) {
        return false;
      }
      var mobile_reg = /^\d{11}$/;
      if (mobile_reg.test(mobile_number)){
        return true;
      };
      return false;
    }
  </script>
</body>
