<% content_for :title, "媒体报道" %>
<%= javascript_include_tag "v5.1/lib/Zutils","v5.1/report" %>
<%= render 'home/report_nav' %>
<div class="rep-bread">
  <div class="rep-center">
    <div class="rep-bread-txt">
      <a class="rep-bread-link" href="<%= root_path %>">首页</a>&nbsp;-&nbsp;
      <span class="rep-bread-curr">媒体报道</span>
    </div>
  </div>
</div>

<div class="rep-list"></div>
<div class="rep-loading"></div>
<%= content_for :custom_js do %>
<script>
  $(function(){
    var waterfall = new waterFallFlow("/news/company?display=dashboard",<%= @news.total_pages %>);
    waterfall.init();    
  });
</script>
<% end %>