<% content_for :title, "媒体报道" %>
<%= javascript_include_tag "v5.1/lib/Zutils","v5.1/report" %>

<div class="join-bann">
    <div class="center1200">
        <h1>媒体报道</h1>
        <h2>News Report</h2>
    </div>
</div>
<div class="rep-bread">
    <div class="center1200">
        <div class="rep_title pr">
            <ul class="clearfix">
                <li class="<%= params[:type] == 'company' ? 'fl mainCurrent' : 'fl'%>"><a href="/news?type=company">公司新闻</a></li>
                <li class="<%= params[:type] == 'broadcast' ? 'fl mainCurrent' : 'fl'%>"><a href="/news?type=broadcast">微哥播报</a></li>
                <li class="<%= params[:type] == 'industry_news' ? 'fl last mainCurrent' : 'fl last'%>"><a href="/news?type=industry_news">行业资讯</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="rep-list"></div>
<div class="rep-loading"></div>

<%= content_for :custom_js do %>
<script>
  $(function(){
    <% if params[:type] == "company" %>
        var waterfall = new waterFallFlow("/news?type=company",<%= @news.total_pages %>);
    <% elsif params[:type] == "broadcast" %>
        var waterfall = new waterFallFlow("/news?type=broadcast",<%= @news.total_pages %>);
    <% elsif params[:type] == "industry_news" %>
        var waterfall = new waterFallFlow("/news?type=industry_news",<%= @news.total_pages %>);
    <% end %>
    waterfall.init();    
  });
</script>
<% end %>