<%= content_for :head  do%>
  <% if params[:action].eql?("index")%>
  <title>微信营销资讯_微枚迪winwemedia_微信营销推广行业领导品牌</title>
  <meta name="keywords"  content="微枚迪、微信营销、微枚迪新闻动态"/>
  <meta name="description"  content="微枚迪是国内首款最完备的微信营销行业解决方案，依托微信公众平台，为企业重新定义微信公众账号，解决企业线上线下（O2O）互动、口碑营销难题。"/>
  <% end %>

  <% if params[:action].eql?("company")%>

  <title>公司动态_微枚迪winwemedia_微信营销推广行业领导品牌</title>
  <meta name="keywords"  content="微枚迪、微信营销、微枚迪公司动态"/>
  <meta name="description"  content="微枚迪是国内首款最完备的微信营销行业解决方案，依托微信公众平台，为企业重新定义微信公众账号，解决企业线上线下（O2O）互动、口碑营销难题。"/>
  <% end %>

  <% if params[:action].eql?("qa")%>

  <title>常见问题_微枚迪winwemedia_微信营销推广行业领导品牌</title>
  <meta name="keywords"  content="微枚迪、微信营销、微枚迪常见问题"/>
  <meta name="description"  content="微枚迪是国内首款最完备的微信营销行业解决方案，依托微信公众平台，为企业重新定义微信公众账号，解决企业线上线下（O2O）互动、口碑营销难题。"/>
  <% end %>
<% end %>

<div class="body">
  <div class="flash h226" style="background: url(/com/img/ad-new.jpg) no-repeat center 0 #d5d4da;">
    <div class="wrap relative">
      <div class="mod-list">
        <a href="/news?display=dashboard">新闻动态</a>
        <a href="/news/company?display=dashboard">公司动态</a>
        <a href="/news/qa?display=dashboard">常见问题</a>
      </div>
      <div class="relative-text">
        <p>梦达天下 因为有你</p>
        <small>社会化媒体时代商业新模式，O2O聚财新体验</small>
      </div>
    </div>
  </div>
  <div class="breadcrumb">
    <div class="wrap"><b>当前位置：</b><%= @title || "新闻动态"%></div>
  </div>
  <div class="clearfix bg-gray">
    <div class="wrap">
      <div class="list-news">
        <ul>
          <% @news.each_with_index do |it,idx| %>
            <li style="dispaly:block;width: 100%;padding-top:10px;">
              <a href="/news/<%= it.id %>">
                <div style="float:left">
                  <img width="250px" height="200" src="<%= it.pic_url %>" alt="">
                </div>
                <div style="float:left;margin-left: 50px;border: 1px solid #999;width: 680px;height: 180px;position: relative;padding:10px;">
                <b style="padding: 10px;line-height: 40px;font-size: 30px;font-weight: normal;color: #333;padding-top:10px;"><%= it.title %></b>
                  <p style="color: #999;padding: 0 10px;margin: 0;word-spacing: normal;height: 40px; font-size:15px;margin-top:20px;"><%= truncate (it.short_content), length: 100 %></p>
                  <span style="position:absolute; right:10px;bottom:10px;color:#97c13c;cursor:pointer;">继续阅读</span>
                </div>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <%= paginate @news %>
    </div>
  </div>
</div>

<%= content_for :custom_js do %>
<script>
  $(function(){
     function detect_current_solution () {
      var current_href = window.location.href
      $(".mod-list a").map(function (i,e) {
        if (current_href.split("?")[0] == e.href.split("?")[0]) {
          $(e).addClass("active").css("width", "200px");
        }
      })
     }
     detect_current_solution ()
  });
</script>
<% end %>

<style>
.pagination.pull-right.page {
  text-align: center;
  line-height: 30px;
  padding: 20px 0;
}

.pagination.pull-right.page > li > * {
  display: inline-block;
  padding: 0 10px;
  color: #999;
  border-radius: 5px;
}

.pagination.pull-right.page > li {
  display: inline-block;
  padding: 0 10px;
  color: #999;
  border-radius: 5px;
}

.pagination.pull-right.page > *.active {
  background: #97c13c;
  color: #fff;
}

.pagination.pull-right.page > *.active > a {
  background: #97c13c;
  color: #fff;
}

</style>
