<div class="main">
	<div class="clear-details">
		<section>
			<div class="title" id="title">我的账户
       	<a href="#">></a>
       	<a href="<%= edit_mobile_brokerage_path(@supplier,@broker) %>" class="title-top"></a>
      </div>
			<div class="blank10"></div>
			<div class="clear-type">
				<div class="usable">
					<div class="blank10"></div>
					<p class="clear-name">可结佣(元）</p>
					<p class="money"><%= @broker.unsettled_commission %></p>
				</div>
				<div class="complete">
					<div class="blank10"></div>
					<p class="clear-name">已结佣(元）</p>
					<p class="money"><%= @broker.settled_commission %></p>
				</div>
				<div class="blank10"></div>
				<div class="clear-hint">每月<%= @setting.month_settlement_day %>号结算，最低结算金额为<%= @setting.min_settlement_amount %>元，当月不足则累计到下月结算。</div>
				<div class="blank10"></div>
			</div>
			<div class="blank10"></div>
			<div class="clear-record lanmu-content">
				<ul class="lanmu-list">
					<li class="fc">结算记录</li>
					<%= render partial: 'commission_list', collection: @commission_list, as: :transaction %>
				</ul>
	      <% if @commission_list.next_page %>
	        <%= link_to_next_page @commission_list, '查看更多 ↓', remote: true, class: "listmore" %>
	      <% end %>
			</div>
			<div class="blank20"></div>
			<div class="broker-btn"><a href="tel:<%= @setting.tel %>">电话咨询</a></div>
			<div class="blank20"></div>
		</section>
	</div>
</div>