<% if sub_menu.has_children? %>
    <div class="tree-folder tree-li" menu-id="<%= sub_menu.id %>" parent-id="<%= sub_menu.parent_id %>">
      <div class="tree-folder-header">
        <i class="tree-fa fa fa-plus-square"></i>
        <div class="tree-folder-name" data-id="<%= sub_menu.id %>"><%= sub_menu.name %></div>
        <div class="tree-tools" data-id="<%= sub_menu.id %>" data-category-type="<%= params[:category_type] %>">
          <% if sub_menu.series < 3 %>
            <div>
              <%= link_to '', new_website_article_category_url(parent_id: sub_menu.id, category_type: params[:category_type]), class: 'fa fa-plus tree-add', title: '新增子分类' %>
            </div>
          <% end %>
          <div>
            <%= link_to '',  edit_website_article_category_url(sub_menu, category_type: params[:category_type]), class: 'fa fa-pencil tree-edit', title: '编辑当前分类' %>
          </div>
          <% if sub_menu.series == 1 %>
            <div>
              <%= link_to '', website_article_category_tags_url(category_type: params[:category_type], category_id: sub_menu.id), class: 'fa fa-tag', title: '标签编辑' %>
            </div>
          <% end %>
          <div>
            <%= link_to '', 'javascript:;', class: 'fa fa-long-arrow-up tree-up', data: {toggle: 'treeUp'}, title: '上移' %>
          </div>
          <div>
            <%= link_to '', 'javascript:;', class: 'fa fa-long-arrow-down tree-down', data: {toggle: 'treeDown'}, title: '下移' %>
          </div>
          <div>
            <%= link_to '', copy_website_article_category_url(id: sub_menu.id, category_type: params[:category_type]), class: 'fa fa-plus fa-copy', data: {method: :get, confirm: '确定要复制吗？'}, title: '复制' %>
          </div>
          <div>
            <%= link_to '', 'javascript:;', class: 'fa fa-plus fa-link', title: '复制链接', data: {url: mobile_website_articles_url(site_id: @website.site_id, article_type: params[:category_type], category_id: sub_menu.id)} %>
          </div>
          <div>
            <%= link_to '',  website_article_category_url(sub_menu, category_type: params[:category_type]), class: 'fa fa-times tree-remove', data: {method: :delete, confirm: '确定要删除吗？'}, title: '删除当前分类' %>
          </div>
        </div>
      </div>
      <div class="tree-folder-content" style="display: none;">
        <%= render :partial=> "sub_category", :collection => sub_menu.children.order(:position), :as =>:sub_menu if sub_menu.series <= 2 %>
      </div>
    </div>
<% else %>
    <div class="tree-item tree-li" menu-id="<%= sub_menu.id %>" parent-id="<%= sub_menu.parent_id %>">
      <i class="tree-fa fa fa-circle"></i>
      <div class="tree-item-name" data-id="<%= sub_menu.id %>"><%= sub_menu.name %></div>
      <div class="tree-tools" data-id="<%= sub_menu.id %>" data-category-type="<%= params[:category_type] %>">
        <% if sub_menu.series < 3 %>
          <div>
            <%= link_to '', new_website_article_category_url(parent_id: sub_menu.id, category_type: params[:category_type]), class: 'fa fa-plus tree-add', title: '新增子分类' %>
          </div>
        <% end %>
        <div>
          <%= link_to '', edit_website_article_category_url(sub_menu, category_type: params[:category_type]), class: 'fa fa-pencil tree-edit', title: '编辑当前分类' %>
        </div>
        <% if sub_menu.series == 1 %>
          <div>
            <%= link_to '',  website_article_category_tags_url(category_type: params[:category_type], category_id: sub_menu.id), class: 'fa fa-tag', title: '标签编辑' %>
          </div>
        <% end %>
        <div>
          <%= link_to '', 'javascript:;', class: 'fa fa-long-arrow-up tree-up', data: {toggle: 'treeUp'}, title: '上移' %>
        </div>
        <div>
          <%= link_to '', 'javascript:;', class: 'fa fa-long-arrow-down tree-down', data: {toggle: 'treeDown'}, title: '下移' %>
        </div>
        <div>
          <%= link_to '', copy_website_article_category_url(id: sub_menu.id, category_type: params[:category_type]), class: 'fa fa-plus fa-copy', data: {method: :get, confirm: '确定要复制吗？'}, title: '复制' %>
        </div>
        <div>
          <%= link_to '', 'javascript:;', class: 'fa fa-plus fa-link', title: '复制链接', data: {url: mobile_website_articles_url(site_id: @website.site_id, article_type: params[:category_type], category_id: sub_menu.id)} %>
        </div>
        <div>
          <%= link_to '', website_article_category_url(sub_menu, category_type: params[:category_type]), class: 'fa fa-times tree-remove', data: {method: :delete, confirm: '确定要删除吗？' }, title: '删除当前分类' %>
        </div>
      </div>
    </div>
<% end %>
