<% content_for :main_content do %>
    <div class="main-content ">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <li><i class="icon-home home-icon"></i><%= link_to '首页', console_url %></li>
          <li><%= link_to '微活动', activities_path %></li>
          <li><%= link_to '拆包有奖', unfolds_activities_path %></li>
        </ul>
        <%= render partial:'/layouts/qrcode' %>
      </div>
      <div class="page-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-md-4 row">
              <a href="javascript:;" class="btn btn-primary btn-sm btn-filter btn-filter-tab active">最近七天</a>
              <a href="javascript:;" class="btn btn-primary btn-sm btn-filter btn-filter-tab">最近一月</a>
              <a href="javascript:;" class="btn btn-primary btn-sm btn-filter btn-filter-tab">最近半年</a>
              <a href="javascript:;" class="btn btn-primary btn-sm btn-filter btn-filter-tab">最近一年</a>
            </div>
            <div class="col-md-5">
              <div class="input-group input-group-sm width-240px pull-left">
                  <span class="input-group-addon">
                  <i class="icon-calendar bigger-110"></i>
                  </span>
                <input class="daterange form-control" type="text">
              </div>
              <button class="btn btn-primary btn-sm btn-filter margin-left-5">查询</button>
            </div>
          </div>
          <div class="chart margin-top-20 branch-record col-md-12">
            <div class="col-md-8 highCharts" id="chart-1">
              <div class="chart" style="height:305px;"></div>
              <div>
                <span>2014-04-29</span>
                <span class="margin-left-10">到</span>
                <span class="margin-left-10">2014-05-05</span>
                <span class="margin-left-20">共新分享6 次</span>
              </div>
            </div>
            <div class="well col-md-4">
              <div class="chartInfoHead">新增分享</div>
              <div class="chartInfoCon1 text-warning">
                  <b><%= @activity.wx_invites.where(created_at: (Time.now - 1.day).beginning_of_day, (Time.now - 1.day).end_of_day).count %></b>
                    <span>今日新增分享</span>
                  </div>
                  <div class="chartInfoCon2 text-info ">
                    <b><%= @activity.wx_invites.where(created_at: Time.now.beginning_of_day, Time.now.end_of_day).count %></b>
                    <span>昨日新增分享</span>
                  </div>
                  <div class="chartInfoHeadFooter">分享共<%= @activity.wx_invites.count %>次</div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
<% content_for :custom_js do %>
<% end %>
