<% content_for :main_content do %>
<div class="main-content ">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li><i class="icon-home home-icon"></i><%= link_to '首页', console_url %></li>
      <li><%= link_to '微政务', govmails_path %></li>
      <li><%= link_to '微信大厅', govmails_path %></li>
    </ul>
    <%= render '/layouts/qrcode' %>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-sm-12">
        <div class="tabbable">
          <ul class="nav nav-tabs padding-24" id="myTab">
            <li class="<%= 'active' if controller_name == 'govmails' && action_name == 'index'%>">
              <%= link_to '基本设置', govmails_path %>
            </li>
            <li class="<%= 'active' if action_name == 'conditions' %>">
              <%= link_to '字段管理', conditions_govmails_path %>
            </li>
            <li class="<%= 'active' if controller_name == 'govmailboxes' %>">
              <%= link_to '信箱管理', govmailboxes_path %>
            </li>
          </ul>
          <div class="tab-content no-border padding-24">
            <%= yield :tab %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>