<%= content_for :tab do%>
<div id="tab-1" class="tab-pane active in">
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-block alert-success">
				<strong class="pull-left">提示：</strong>
				<ul class="vwebsiteHeadAlert">
					<li>只有完成基本设置，用户才能进入微政务信访大厅页面。
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-12">
			<%= form_for @activity, class: "form col-xs-12", validate: true do |f| %>
				<%= render "weixin_preview", wx_title: @activity.try(:name) || '这里显示<微信消息标题>', wx_summary: @activity.try(:summary) || '这里显示你输入的 <微信消息摘要>' %>
				<div class="col-xs-12 col-md-6 col-lg-7">
					<%= render "weixin_setting", activity: f, data_img: @activity.pic_url, pic_data_name: "activity[qiniu_pic_key]", pic_data_key: @activity.qiniu_pic_key, include_description: 4 %>
					<div class="form-group ">
						<input type="submit" class="btn btn-sm btn-primary" value="保存"/>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<%- end %>
<%= render 'settings_tab' %>

