<div class="html">
  <div class="index">
    <div class="index-logo">
      <a class="btn-start"></a>
    </div>
    <div class="<%= @shake.template2? ? 'footerball' : 'airplane' %>" id="airplane"></div>
    <div class="index-number mod-number">
      当前已有<span><i>0</i></span>人加入
    </div>
  </div>
  <% if @shake.template1? %>
    <div class="index-users">
      <% [2, 5, 3, 4, 7, 6].each_with_index do |x, i| %>
        <div class="index-users-li index-<%= i + 1 %> animate-move-clound">
          <div class="user user-<%= x + 1 %> animate-move-user-<%= i + 1 %>"></div>
          <div class="clound clound-<%= i + 1 %>">
            <i></i>
            <em></em>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="bg-shine animate-twinkling" id="bg-shine"></div>
  <section id="game">
    <div class="game">
      <a class="game-logo"><img src="<%= @shake.logo_url || '/assets/shake/logo.png' %>"/></a>
      <div class="game-number mod-number">
        第<span><i></i></span>轮
      </div>
      <div class="game-code mod-code">
        <div>
          <p>
            <span>
              <span class="animate-move-left"><span>扫描二维码或搜索 “ <strong><%= shake_site.wx_mp_user.nickname %></strong> ” 关注</span><i class="bg-arrow"></i></span>
              <small>并发送“<%= @shake.keyword %>”即可参与</small>
            </span>
          </p>
          <p><span><img src="<%= shake_site.wx_mp_user.qrcode_url || '/assets/shake/qrd.jpg' %>" class="bottom-code"></span></p>
        </div>
      </div>
    </div>
    <div class="pop-time" id="countDown">
      <p>
        <% @shake.countdown.to_s.split('').each do |num| %>
          <i class="number number-<%= num %>"></i>
        <% end %>
      </p>
    </div>
    <div class="list">
      <% [*1..8].each do |i| %>
        <div class="list-li list-<%= i %>" id="list-<%= i %>">
          <div class="list-user"><img src="/assets/shake/user<%= '1' if @shake.template2? %>.png"></div>
          <div class="list-progress">
            <div class="list-name"><p></p></div>
            <div class="progress-bar">
              <span></span>
            </div>
            <div class="progress-user">
              <span></span>
              <div class="user user-<%= i %> animate-move-user"></div>
            </div>
            <i></i>
          </div>
        </div>
      <% end %>
    </div>
    <% if @shake.template1? %>
      <div class="clounds">
        <% [*1..4].each do |i| %>
          <div class="clound clound-<%= i %> animate-move-clound">
            <i></i>
            <em></em>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
  <% if @shake.template1? %>
    <div class="bg-bottom" id="index-bottom"></div>
  <% end %>
  <div class="bg-bottom bg-bottom-game" id="game-bottom">
    <a class="btn-home">
      <% if @shake.template1? %>
        <div class="home-botton"></div>
        <div class="home-icon">
          <div class="home-fly animate-move-fly"></div>
        </div>
      <% end %>
    </a>
    <a class="btn-restart">
      <% if @shake.template1? %>
        <div class="restart-botton"></div>
        <div class="airplane"></div>
      <% end %>
    </a>
  </div>
  <div class="bottom mod-code" id="start-bottom">
    <div>
      <p><span>
      <img src="<%= shake_site.wx_mp_user.qrcode_url || '/assets/shake/qrd.jpg' %>" class="bottom-code">
    </span></p>
      <p><span>
      <b><%= @shake.name %></b>
      <span class="animate-move-left"><i class="bg-arrow"></i><span>扫描二维码关注</span></span>
      <small>并发送“<%= @shake.keyword %>”即可参与</small>
    </span></p>
    </div>
  </div>
</div>
<div class="pop" id="pop-code">
  <a class="pop-close" href="javascript:;"></a>
  <div class="pop-code">
    <p>
      <span><img src="<%= shake_site.wx_mp_user.qrcode_url || '/assets/shake/qrd.jpg' %>"></span>
      <small>微信扫一扫，发送<b><%= @shake.keyword %></b>即可参与</small>
    </p>
  </div>
</div>
<div class="pop-message hidden">
  <img src="/assets/shake/gameOver.png">
</div>
<div class="game-music" id="game-music">
  <audio src="/music/shake_game<%= @shake.template_id || '1' %>.mp3" loop></audio>
</div>
<script>
var gameTimer     = null,
    gameIsOver    = false,
    faye          = new Faye.Client('http://<%= FAYE_HOST %>/faye'),
    $userDivList  = $(".list-li"),
    $userSpanList = $('.list-li span'),
    gameMusic     = $("#game-music audio")[0],
    $restartBtn   = $(".btn-restart"),
    $airplane     = $("#airplane"),
    $countDown    = $("#countDown"),
    maxShakeCount = <%= @shake.mode_value.to_f %>,
    defaultUser   = {id: '', nickname: '', avatar: '<%= "/assets/shake/user#{'1' if @shake.template2?}.png" %>', count: 0},
    user_list     = null;

function initUsers(users) {
    user_list = users || <%= raw ([{id: '', nickname: '', avatar: "/assets/shake/user#{'1' if @shake.template2?}.png", count: 0}] * 8).to_json %>;
    renderUsers();
}

function updateUserList(user) {
    var userInList = false;
    $.each(user_list, function (i, el) {
        if (el.id == user.id) { // 如果在当前列表中能找到user，则更新列表中user的信息
            user_list[i] = user;
            return userInList = true;
        }
    });

    var lastUser = user_list[user_list.length - 1];
    if (!userInList && user.count > lastUser.count) { // replace user_list's last element with user
        user_list.splice(-1, 1, user);
    }
    user_list.sort(function(a, b) { return b.count - a.count; });
}

function playGame() {
    renderUsers();
    gameTimer = window.setInterval(renderUsers, 800);
    $(".time-go").animate({top:"200%"}, 1000, function() {
        gameMusic.play();
    });
}

function renderUsers() {
    $userSpanList.stop();
    $userDivList.each(function (i, el) {
        var $userDiv = $(el),
            user = user_list[i] || defaultUser;
        $userDiv.find('img').attr('src', user.avatar);
        $userDiv.find('.list-name p').html(user.nickname);
        var shakeBarWidth = user.count / maxShakeCount * 100;
        shakeBarWidth = Math.min(Math.max(9, shakeBarWidth), 100) + '%';
        $userDiv.find('span').animate({width: shakeBarWidth}, 500);
    });
    renderLevel();
}

function secondsHtml(seconds) {
    return seconds.toString().split('').map(function (x) {
        return '<i class="number number-' + x + '"></i>';
    }).join('');
}
//刷新排名
function renderLevel() {
    $userDivList.toggleClass("animate-rotate2").find(".user").toggleClass("animate-move-user");

    window.setTimeout(function () {
        if( $(".list-li:animated") ) {
            $userDivList.find(".user").toggleClass("animate-move-user");
        }
    }, 10);
}

function readyStart() {
    $.get("<%= shake_start_shake_site_path(@shake) %>", function(shakeRoundNum) {
        $(".game-number span").html(shakeRoundNum);
        countDown(<%= @shake.countdown %>, function(seconds) {
            var $countDownP = $countDown.find("p").html(secondsHtml(seconds));
            $countDown.removeClass("time-go");
            if (seconds <= 0) {
                $countDown.addClass("time-go");
                $countDownP.html('<i class="number number-go"></i>');
                window.setTimeout(playGame, 500);
            }
        });
    });
}

function beforeReadyGame() {
    $("#game-bottom").animate({bottom: "+=600px"}, "5000", function () {
        $("#game").fadeIn();
    });
    readyStart();
}

$(function () {
    faye.subscribe("/shake_site/<%= @shake.id %>", function (data) {
        if (data.shakes[4] >= maxShakeCount) { // 活动结束
            if(!gameIsOver) {
                gameIsOver = true;
                window.clearInterval(gameTimer);
                $.getJSON("<%= shake_end_shake_site_path(@shake) %>", function(users) {
                    initUsers(users);
                    $restartBtn.addClass("btn-restart-active");
                    window.setTimeout(function() {
                        $(".pop-message").show().removeClass('hidden');
                        gameMusic.pause();
                    }, 1000);
                });
            }
        } else {
            updateUserList({"id": data.shakes[2], "avatar": data.shakes[3], "count": data.shakes[4]});
        }
    });

    var getUserCountTimer = window.setInterval(function () {
        $('.mod-number span').find('i').toggleClass('animate-rotate2');
        $.get("<%= get_user_count_shake_site_path(@shake) %>", function (user_count) {
            $('.mod-number span').html(user_count).find('i').toggleClass('animate-rotate2');
        });
    }, 3000);

    $(".btn-start").click(function () {
        window.clearInterval(getUserCountTimer);
        $airplane.addClass("active");
        window.setTimeout(function () {
            <% if @shake.template1? %>
            $airplane.animate({right: "-=600%", opacity: "0"}, "2000", function () {
                $(".index-logo, #bg-shine, .index-number").animate({opacity: "0"}, 1000);
                $(".index-users").animate({opacity: "0"}, "3000");
                $("#start-bottom").animate({bottom: "-=100%"}, "3000");
                $("#index-bottom").animate({bottom: "-=100%"}, "4000", beforeReadyGame);
            });
            <% else %>
            $airplane.animate({top: "+=80%"}, "3000", function () {
                $(".index-logo,.index-number").animate({opacity: "0"}, 1000);
                $("#bg-shine").animate({opacity: "0"}, 1000);
                $("#start-bottom").animate({bottom: "-=100%"}, "3000");
                $("body").css({"background": "url(/assets/shake/bottom_bg-1.jpg) no-repeat center bottom #0b1b32"});
                $airplane.animate({left: "+=200%", top: "-=300%", opacity: "0"}, "slow", beforeReadyGame);
            });
            <% end %>
        }, 1000);
    });

    $(".btn-home").click(function () {
        if( $restartBtn.hasClass("btn-restart-active") ) {
            window.location.reload();
        }
    });

    $(".pop-close,.bottom-code").click(function() { $("#pop-code").fadeToggle(); });

    $restartBtn.click(function () {
        if ($restartBtn.hasClass("btn-restart-active")) {
            gameIsOver = false;
            $restartBtn.removeClass("btn-restart-active");
            $(".pop-message").hide().addClass('hidden');
            gameMusic.pause();
            $countDown.animate({top: "50%"}, 1000, function () {
                $(".progress-bar span, .progress-user span").removeAttr("style");
            });
            initUsers();
            readyStart();
        }
    });

    initUsers();
});
</script>
