<% provide(:title, '我要订座') %>
<body>
<div class="html">
  <div class="main">
    <header>
      <a href="javascript:history.go(-1);" class="ico ico-prev">
        <img src="/assets/shop_table/bg_ico_back.png" />
      </a>
      <h1>订座信息确认</h1>
    </header><!--header end-->

    <section>
      <div style="position:fixed;"></div>
      <%= form_for [:mobile, @shop_table_order] do |f|%>
        <%= f.hidden_field :shop_branch_id %>
        <%= f.hidden_field :wx_user_id %>
        <%= f.hidden_field :ref_order_id %>
        <%= f.hidden_field :booking_count %>
        <%= f.hidden_field :table_type %>
        <%= f.hidden_field :booking_at %>
        <%= f.hidden_field :username %>
        <div class="box box-order-text">
          <p>
            <b>预定门店：</b>
            <span><%= @shop_table_order.shop_branch.try(:name) %></span>
          </p>
          <p>
            <b>预定时间：</b>
            <span><%= @shop_table_order.booking_at.strftime('%Y年%m月%d日 %H:%M') %></span>
          </p>
          <p>
            <b>用餐人数：</b>
            <span><%= @shop_table_order.booking_count %>人</span>
          </p>
          <p>
            <b>座位选择：</b>
            <span><%= @shop_table_order.table_type_name %></span>
          </p>
          <p>
            <b>订座者姓名：</b>
            <span><%= @shop_table_order.username %></span>
          </p>

          <p class="order-edit">
            <b>订座者电话：</b>
            <span><%= f.text_field :mobile %></span>
          </p>
          <p class="order-edit">
            <b>特殊需求：</b>
            <%= f.text_area :description, placeholder: '如有特殊需求在此点击输入，限制25个字符内', :rows => 5 %>
          </p>
        </div>
        <p class="box"><input class="btn form-submit" type="submit" value="确认"/></p>
      <% end %>
    </section>

  </div><!--main end-->
</div><!--wrap end-->

<%= render "application/app_footer" %>

<script type="text/javascript">
  $(function() {
    $('.form-submit').click(function() {
      $shop_table_order_mobile = $('#shop_table_order_mobile');
      if ( !$shop_table_order_mobile.val() ) {
        $shop_table_order_mobile.focus();
        return false;
      } else if ( !test_mobile_number($shop_table_order_mobile.val()) ) {
        alert('手机号码格式不正确');
        $shop_table_order_mobile.focus();
        return false;
      } else if ( !check_description() ) {
        return false;
      } else {
        if(confirm("确认订座?")){
          return true;
        }
        return false;
      }
    });
  });

  // 手机号码正则表达式
  function test_mobile_number(mobile_number) {
    if (mobile_number == undefined) {
      return false;
    }
    if (winwemedia_validators.mobile_reg.test(mobile_number)){
      return true;
    };
    return false;
  }

  function check_description(){
    text = $("#shop_table_order_description").val();
    if ( text.length > 25 ) {
      alert('特殊需求限制25个字符内');

      return false;
    }else{

      return true;
    }
  }


  $("#shop_table_order_description").bind({
    blur:function(){
      text = $("#shop_table_order_description").val();
      if ( text.length > 25 ) {
        alert('特殊需求限制25个字符内');
      }
    }
  });
</script>
</body>
