<% content_for :main_content do %>
<div class="main-content ">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li><i class="icon-home home-icon"></i><%= link_to '首页', console_url %></li>
      <li><%= link_to '微枚迪支付', supplier_accounts_path %></li>
      <li><%= link_to '支付申请', supplier_accounts_path %></li>
    </ul>
    <%= render '/layouts/qrcode' %>
  </div>

  <div class="page-content">
    <div class="tabbable ">
      <div class="tab-pane active" id="tab-1">
        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-block alert-success ">
              <strong class="font-size20">微枚迪支付介绍</strong>
              <ul class="no-margin-left">
                <li>微枚迪支付是商户委托微枚迪代为收取消费者支付的相应服务款（货款），经结算系统结算并查验后结算给商户的代收代付产品，从而帮助广大商户提供更快捷、更便利的支付方式，解决商户申请支付方式困难、配置繁琐的问题。</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 margin-b-10">
            <a href="<%= conditions_supplier_accounts_path %>" class="font-size30">点击查看申请条件</a>
          </div>

          <%= render 'status' %>
        </div>

        <%= form_for @supplier_account ||= SupplierAccount.new, validate: true do |f| %>
          <% @supplier_account.step1 = 1 %>
           <%= f.hidden_field :supplier_id, value: current_user.id %>
           <%= f.hidden_field :step1,  value: 1 %>
          <div id="goa" class="row tab-pane active">
            <div class="col-sm-12 no-padding-left margin-top-20">
              <div class="clearfix col-md-7 margin-top-20">
                <strong class="font-size20">企业信息</strong>
              </div>
              <div  class="form col-sm-10 margin-top-20">
                <div class="form-group">
                  <label class="control-label">企业名称：</label>
                  <div class="clearfix">
                    <%= f.text_field :company_name,  class: "col-xs-6", validate: true %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">营业执照注册号：</label>
                  <div class="clearfix">
                    <%= f.text_field :business_lisence,  class: "col-xs-6", validate: true %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">营业执照所在地：</label>
                  <div class="clearfix">
                    <%= f.text_field :business_address, class: "col-xs-6", validate: true %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">营业期限：</label>
                  <div class="clearfix">
                    <%= f.text_field :business_affilicated_to,  class: "col-xs-6 datepicker", readonly: true, validate: true  %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">营业执照副本扫描件：</label>
                  <div class="clearfix">
                    <div data-name="supplier_account[business_lisence_pic_key]" data-img = "<%=  @supplier_account.try(:business_lisence_pic_url)  %>" data-key="<%= @supplier_account.try(:business_lisence_pic_key) %>" class="cieldon-file width-100px" data-type="1" data-div="#img-1" data-height="200"></div>
                    <span data-content="证件要求：必须为清晰彩色原件扫描件或数码照，图片大小不超过2M,必须在有效期内且年检章齐全（当年成立的公司可无年检章）,必须为中国大陆工商局颁发若营业执照上为钢印公章，请上传加盖公司公章的营业执照副本,仅支持.jpg .jpeg .bmp 的图片格式。图片大小不超过2M。  证件需清晰有效的彩色原件扫描件或数码照,如果提交的证件错误，您的申请将被驳回。" data-placement="right" data-trigger="hover" data-rel="popover" class="icon-question-sign" data-original-title="" title=""></span>
                  </div>
                </div>
                <div class="form-group">
                  <div style="height: 200px;  width: 200px; background: #eee;" class="fl"><p id="img-1"></p></div>
                  <%- if @supplier_account.present? && @supplier_account.business_lisence_pic_url.present? %>
                    <a href="<%= @supplier_account.business_lisence_pic_url %>" target="_blank" style="cursor: pointer;">点击查看原图显示原始尺寸的图片</a>
                  <%- else %>
                    <a id="show-image" style="cursor: pointer;">点击查看原图显示原始尺寸的图片</a>
                  <%- end %>
                </div>
                <div class="form-group">
                  <label class="control-label">组织机构代码：</label>
                  <div class="clearfix">
                    <%= f.text_field :organization_code, class: "col-xs-6", validate: true %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">经营范围：</label>
                  <div class="clearfix">
                    <%= f.text_area :business_scope,  class: "col-xs-6", rows: 3, validate: true  %>
                  </div>
                </div>
                <div class="form-group ">
                  <input type="submit" value="下一步" class="btn btn-sm btn-primary form-submit" >
                </div>
              </div>
            </div>
          </div>
        <%- end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :custom_js do %>
  <script type="text/javascript">
    $('#show-image').on('click', function(){
      var url = $('input[type=file]').attr('value') ;
      if(url.indexOf('qiniu')  != -1){
        window.open(url,'_blank');
      }
    });
  </script>
<% end %>