<style>
    #faceButton {
        margin-left: 20px;
        color: black;
    }
    .upload-img span img {
        height: 90px;
        width: 160px;
    }
</style>

<p class="p-note">
  提示：1、图片建议尺寸：720像素*400像素，可支持上传格式为：jpg、png、bmp、gif；<br>
  　　　2、以下“<span class="fred"> * </span>”均为必填项；
</p>
<% form_action = @picture.new_record? ? pro_website_pictures_path : pro_website_picture_path(@picture) if @website.micro_life? %>
<% form_action = @picture.new_record? ? busine_pictures_url : busine_picture_url(@picture) if @website.micro_circle? %>
<%= form_for @picture, url: form_action, validate: true do |f| %>
    <div class="box-form form-row fl">
      <div class="p">
        <span>标题<em>*</em> </span>
        <%= f.text_field :title, class: 'input-text', validate: true %>
      </div>

      <div class="p">
        <span>链接地址</span>
        <%= f.text_field :url, class: 'input-text' %>
      </div>

      <div class="box-upload not_null_errors">
        <span>图片<em>*</em></span>
        <div class="upload-img upload-preview-img">
          <span><%= f.object.pic? ? image_tag(f.object.pic.large, id: 'preview_shop_logo', class: 'view') : "<img src='/assets/bg_fm.jpg' alt='轮播图片' id='preview_shop_logo' class='view'/>".html_safe %></span>
        </div>
        <div class="upload-btn">
          <div class="box-file">
            <%= f.file_field :pic, rel: 'preview_shop_logo', class: 'not-null-img', id: 'shop_product_pic_url', validate: true %>
            <a class="btn btn-big">上传图片</a>
          </div>
          <span class="p-file fgray">（图片建议尺寸：720像素*400像素）</span>
        </div>

        <div class="p show_pic_advice" style="margin-top:10px;padding:0;display:none">
          <span id='show_pic_advice_text'></span>
        </div>
      </div>

      <div class="p" >
        <p><input type="submit" value="保存" class="btn btn-small form-submit btn-orange" /></p>
      </div>


    </div>

<% end %>


<script type="text/javascript">
    $(function() {
        $('.view').one('load',function() {
            var img = new Image();
            img.src=$(this).closest('.box-upload').find('img').attr('src');

            if((img.width != 720 || img.height!= 400) && $(this).closest('.box-upload').find('img').attr('src') != '/assets/bg_fm.jpg'){
                $(this).closest('.box-upload').find('.show_pic_advice').show();
                $(this).closest('.box-upload').find('.upload_pic').text('重新上传');
                $(this).closest('.box-upload').find('#show_pic_advice_text').html("<img src='/assets/ico-warning.png' style='width:20px;' />您的图片像素为"+img.width+"*"+img.height+"，不是最佳尺寸，建议您重新上传")
            }
        });

        $("#shop_product_pic_url").change(function(){
            var file = $(this)
            var img = new Image();
            setTimeout(function(){
                img.src = file.closest('.box-upload').find('img').attr('src');
                if(img.width != 720 || img.height!= 400){
                    file.closest('.box-upload').find('.show_pic_advice').show();
                    file.closest('.box-upload').find('.upload_pic').text('重新上传');
                    file.closest('.box-upload').find('#show_pic_advice_text').html("<img src='/assets/ico-warning.png' style='width:20px;' />您的图片像素为"+img.width+"*"+img.height+"，不是最佳尺寸，建议您重新上传")
                }else{
                    file.closest('.box-upload').find('.show_pic_advice').hide();
                }
            }, 1000)
        });
    });
</script>
