<% title "订单详情" %>
<% content_for :booking_top_pic do %>
    <header>
      <a href="<%= mobile_booking_booking_orders_url(@site, @booking) %>" class="ico-prev">
        <img src="/assets/mobile/wserver/ico-back.png"/></a>
      <h1>订单详情</h1>
    </header>
<% end %>

  <dl class="box-orderList">
    <dd>
      <ul class="shopcar-list">
        <a href="<%= mobile_booking_booking_item_url(@site, @booking, @booking_item, anchor: "mp.weixin.qq.com") %>" class="li-fw">
          <li class="shopcar-info">
            <% picture = @booking_item.booking_item_pictures.first %>
            <span class="<%= picture.pic_url ? "" : "img-null"%> info-fl">
            <%=  picture.pic_url ? (image_tag picture.pic_url) : "暂无<br/>图片".html_safe %>
          </span>
            <p>
              <b><%= @booking_item.name %></b>
              <span class="fl">数量：<%= @booking_item.qty %>件</span>
              <span class="fr">￥<%= f @booking_item.price %></span>
            </p>
          </li>
        </a>
      </ul>
    </dd>
  </dl>
  <div class="box-order box-p">
    <p>
      <b>预订单号：</b>
      <span><%= @booking_order.order_no %></span>
    </p>
    <p>
      <b>联系人：</b>
      <span><%= @booking_order.username %></span>
    </p>
    <p>
      <b>联系电话：</b>
      <span><%= @booking_order.tel %></span>
    </p>

    <p>
      <b>地址：</b>
      <span><%= @booking_order.address %></span>
    </p>
<!-- 
    <p>
      <b>预订数量：</b>
      <span><%= @booking_order.qty %></span>
    </p>
    <p>
      <b>预订日期：</b>
      <span><%= @booking_order.booking_at %></span>
    </p>
 -->
    <p>
      <b>支付方式：</b>
      <span><%= @booking_order.payment_type_id_name %></span>
    </p>
    <p>
      <b>订单状态：</b>
      <span><%= @booking_order.status_name %></span>
    </p>

    <% if @booking_order.completed? %>
        <p>
          <b>完成时间：</b>
          <span><%= @booking_order.completed_at %></span>
        </p>
    <% elsif  @booking_order.canceled? %>
        <p>
          <b>取消时间：</b>
          <span><%= @booking_order.canceled_at %></span>
        </p>
    <% end %>
    <p>
      <b>备注：</b>
      <span><%= @booking_order.description %></span>
    </p>
  </div>
  <% if @booking_order.pending? %>

    <%= form_for @booking_order, url: mobile_booking_booking_order_url(@booking_order), remote: true do |f| %>
      <% payment_classes = {'余额支付' => 'zhifu1', '微信支付' => 'zhifu2', '支付宝支付' => 'zhifu3', '易宝支付' => 'zhifu4'} %>
      <div class="tit1">选择支付方式</div>
        <div class="bgf bord1 radiu3">
          <div class="zhifu_list">
            <ul>
              <% if @payment_types.present? %>
                <% @payment_types.each_with_index do |payment_type, index|%>
                  <li class="<%= 'on' if (index.eql?(0) && f.object.payment_type_id == nil) || payment_type.id == f.object.payment_type_id %>">
                   <span class="right check_icon"></span>
                   <span class="left zf_pic <%= payment_classes[payment_type.name] %>"></span>
                   <span><%= payment_type.name %></span>
                  </li>
                  <%= f.radio_button :payment_type_id, payment_type.id, {checked: (index.eql?(0) && f.object.new_record?) || payment_type.id == f.object.payment_type_id, style: 'display:none;'} %>
                <% end %>
              <% else %>
                <span>没有可用的支付方式</span>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="blank1"></div>
        <%= f.submit '支付订单', class: 'order_sub btn' %>
      <% end %>
        <div class="blank1"></div>
        <%= link_to '取消订单', cancel_mobile_booking_booking_order_url(@site, @booking, @booking_order), class: "order_cancel", confirm:"确认取消订单?" %>
      </div>
  <% end %>

<script>
  $(function(){
    $(".zhifu_list ul li").click(function(){
      $(this).addClass("on").siblings().removeClass("on");
      $(this).next().prop('checked', true);
    })
  });
</script>