<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '微客服', kf_settings_path %></li>
      </ul>
      <%= render partial:'/layouts/qrcode' %>
    </div>
    
    <div class="page-content">
      <div class="tabbable">
        <ul class="nav nav-tabs padding-24 tab-size-bigger">
          <li class="active">
            <%= link_to '客服触发指令设置', kf_settings_path %>
          </li>
          <li>
            <%= link_to '客服账号设置', staffs_path %>
          </li>
        </ul>
        
        <div class="tab-content no-border padding-24">
          <div id="tab-1" class="tab-pane fade active in">
            <div class="row">
              <div class="col-xs-12 ">
                <div class="alert alert-block alert-info">
                  <strong class="pull-left">提示：</strong>
                  <ul class="vwebsiteHeadAlert">
                    <li>1、微信客服系统只适用已经通过微信认证的订阅号和服务号；</li>
                    <li>2、微信客服系统专用平台: <a href="http://kf.winwemedia.com" target="_blank">http://kf.winwemedia.com</a>；</li>
                    <li>3、在使用微信客服系统之前，要确保已经在
                      <基础服务>模块的
                        <自定义菜单>栏目绑定了“应用id”和“应用秘钥”；
                    </li>
                    <li>4、在当前页面, 你可以设置触发微信客服系统的指令；</li>
                    <li>5、需要开通微信客服权限，请联系渠道运营人员。</li>
                  </ul>
                </div>
              </div>

              <%= form_tag kf_settings_path, method: 'PUT', class: "form col-xs-12", role: "form", id: "form-1" do -%>
                <div class="form-group">
                  客服开始指令：<%= text_field_tag :kefu_enter, current_site.wx_mp_user.try(:kefu_enter), class: 'inputSmall', placeholder: "00" %><br>
                  客服结束指令：<%= text_field_tag :kefu_quit, current_site.wx_mp_user.try(:kefu_quit), class: 'inputSmall', placeholder: "退出" %>
                </div>
                <div class="form-group">
                  <input type="submit" value="保存" class="btn btn-primary btn-sm">
                  <%= link_to "重置", reset_kf_settings_path, method: "POST", class: 'btn btn-default btn-sm' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>