<% results.each_with_index do |f, index| %>
  <li>
    <span><%#= (results.current_page - 1) * results.limit_value + index + 1 %><%= f.item_no%>、</span>
    <p><%= truncate f.name, length: 36 %></p>
    <div class="box">
      <%= link_to '点击详情 >'.html_safe, "#{f.link.present? ? f.link : 'javascript:;'}" %>
      <%= content_tag_for :span, f do %><%= f.item_select_count %>票<% end if activity.allow_show_vote_count? %>
    </div>
    <%= div_for f, class: 'line' do %>
      <label><b style="width:<%= f.item_per %>%;"></b></label>
      <span class="count"><%= f.item_per %>%</span>
    <% end if activity.allow_show_vote_percent? %>
  </li>
<% end %>

