<% activity_vote_items.each_with_index do |item, index| %>
  <li rel="<%= item.id %>">
    <span><%#= (activity_vote_items.current_page - 1) * activity_vote_items.limit_value + index + 1 %><%= item.item_no %>、</span>
    <p class="boxp"><%= truncate item.name, length: 36 %></p>
    <div class="boxa">
      <%= link_to '点击详情 >', "#{item.link.present? ? item.link : 'javascript:;'}" %>
    </div>
    <div class="check-box">
      <div class="table">
        <div class="td"><i class="<%= 'ck' if select_count > 1 %>"></i></div>
      </div>
    </div>
  </li>
<% end %>
<% if activity_vote_items.count == 0 %>
  <p class="no-data">没有找到相关内容</p>
<% end %>
