<div class="<%= 'hide' unless f.object.survey_question_type == survey_question_type %>" id="radio-<%= survey_question_type %>">
    <% if f.object.survey_question_type == survey_question_type %>
        <% survey_question_choices.each_with_index do |s, i| %>
            <% uuid =  SecureRandom.uuid %>
            <%= f.fields_for :survey_question_choices, s do |sq| %>
                <%= sq.hidden_field :id, name: "survey_question[survey_question_choices_attributes][#{uuid}][id]" %>
                <div class="form-group survey-question-options">
                    <label class="control-label">选项<%= i + 1 %></label>
                    <div class="clearfix">
                        <div class="form-group clearfix">
                            <div class="cieldon-file width-auto" data-type="0" data-width="100" data-height="100" data-img="<%= sq.object.pic_key %>" data-name="survey_question[survey_question_choices_attributes][<%= uuid %>][pic_key]" data-key="<%= sq.object['pic_key'] %>"></div>
                            <small class="help-inline text-warning line-height-30">建议尺寸：宽140像素*高140像素</small>
                        </div>
                        <div class="form-group">
                            <%= sq.text_field :name, class: 'col-xs-6', placeholder: '为确保手机端效果，建议不要超过36个字', name: "survey_question[survey_question_choices_attributes][#{uuid}][name]" %>
                            <%= sq.check_box :_destroy, style: 'display:none', name: "survey_question[survey_question_choices_attributes][#{uuid}][_destroy]" %>
                        </div>
                        <% if i > 1 %>
                            <a href="javascript:;" class="btn btn-sm btn-link" data-toggle="delet">删除</a>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <% 1.upto(2) do |m| %>
            <% uuid = SecureRandom.uuid %>
            <div class="form-group survey-question-options">
                <label class="control-label">选项<%= m %></label>
                <div class="clearfix">
                    <div class="form-group clearfix">
                        <div class="cieldon-file width-auto" data-type="0" data-width="100" data-height="100" data-name="survey_question[survey_question_choices_attributes][<%= uuid %>][pic_key]"></div>
                        <small class="help-inline text-warning line-height-30">建议尺寸：宽140像素*高140像素</small>
                    </div>
                    <div class="form-group">
                        <input class="col-xs-6" name="survey_question[survey_question_choices_attributes][<%= uuid %>][name]" size="30" type="text" data-validate="true">
                        <input type="checkbox" name="survey_question[survey_question_choices_attributes][<%= uuid %>][_destroy]" style="display:none">
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
    <div class="form-group">
        <div class="clearfix">
            <a href="javascript:;" class="btn btn-sm btn-primary" data-toggle="addOption" data-type="<%= survey_question_type %>">添加选项</a>
        </div>
    </div>
</div>

<div class="form-group survey-question-options" template="<%= survey_question_type %>" style="display: none;">
    <label class="control-label">选项</label>
    <div class="clearfix">
        <div class="form-group clearfix">
            <div class="cieldon-file width-auto" data-type="0" data-width="100" data-height="100" data-name="survey_question[survey_question_choices_attributes][$uuid$][pic_key]"></div>
            <small class="help-inline text-warning line-height-30">建议尺寸：宽140像素*高140像素</small>
        </div>
        <div class="form-group">
            <input class="col-xs-6" name="survey_question[survey_question_choices_attributes][$uuid$][name]"  size="30" type="text" data-validate="true">
            <input type="checkbox" name="survey_question[survey_question_choices_attributes][$uuid$][_destroy]" style="display:none">
        </div>
        <a href="javascript:;" class="btn btn-sm btn-link" data-toggle="delet">删除</a>
    </div>
</div>