<% content_for :sidebar do %>
    <%= render 'sidebar_ec_shop' %>
<% end %>

<% content_for :topbar do %>
  <h1 class="pagecurrent">商品管理</h1>
<% end %>

<%= form_tag ec_items_path, :method => :get do %>
    <div class="box-form form-col form-search table">
      <div class="tr" style="height: 38px;">
        <span>商品编号：</span>
        <%= text_field_tag :id, params[:id], class: 'input-text', style: "width:114px;"  %>
        <span style="margin-left: 10px;">商品名称：</span>
        <%= text_field_tag :title, params[:title], class: 'input-text', style: "width:114px;" %>
        <span style="margin-left: 10px;">商品：</span>
        <%= select_tag :status, options_for_select([['全部', '']] + EcItem.status_options, selected: params[:status]), class: "gl" %>
      </div>

      <div class="tr" style="height: 38px;" id="selects">
        <span>商品分类：</span>
        <% @ec_seller_cat_selects.each do |select|%>
            <%= select_tag "ec_seller_cat_id#{select[0]}", options_for_select([['不限','-1']] + select[1].collect{|t| [t.name, t.id]}, selected: params["ec_seller_cat_id#{select[0]}".to_sym]), class: "ec_seller_cat", rel: select[0]  %>
        <% end %>
        <%#= select_tag :ec_seller_cat_id_1, options_for_select([['不限','-1']] + @ec_seller_cats.root.map{|m| [truncate_u(m.name), m.id] }, selected: params[:ec_seller_cat_id_1]), class: 'input-text ec_seller_cat', rel: 'ec_seller_cat_id_2',id: 'ec_seller_cat_id_1'  %>
        <%#= select_tag :ec_seller_cat_id_2, options_for_select([['不限','-1']] + @ec_seller_cats.where(parent_id: params[:ec_seller_cat_id_1]).map{|m| [truncate_u(m.name), m.id]}, selected: params[:ec_seller_cat_id_2]), class: 'input-text ec_seller_cat', rel: 'ec_seller_cat_id_3', id: 'ec_seller_cat_id_2'  %>
        <%#= select_tag :ec_seller_cat_id_3, options_for_select([['不限','-1']] + @ec_seller_cats.where(parent_id: params[:ec_seller_cat_id_2]).map{|m| [truncate_u(m.name), m.id]}, selected: params[:ec_seller_cat_id_3]), class: 'input-text', id: 'ec_seller_cat_id_3'  %>
        <input type="submit" class="form-submit btn btn-big" value="查询">
        <div style="float:right;">
          <a class="btn btn-small btn-orange" onclick="popUrl(this)" data-name="name" data-w="900" data-h="0.8" data-title="添加商品" data-url="<%= new_ec_item_path %>">新增</a>
          <a class="btn btn-small" style="margin-left: 10px;" href="javascript:void(0);" onclick="pop(this)" data-w="300" data-h="140" data-title="确认下架" data-bd="<div class='box-form form-row'><form><p>确认下架？</p><p class='tcenter'><a class='btn btn-small btn-orange' onclick='destroyMulti();'>确认</a>　<input value='取消' class='btn btn-small btn-close'/></p></form></div>">下架</a>
        </div>
      </div>
      <%= hidden_field_tag :ec_seller_cat_id, params[:ec_seller_cat_id], class: 'hidden_ec_seller_cat_id' %>
    </div>
<% end %>


<%= form_tag destroy_multi_ec_items_path, class: 'box-form form-row' do |f| %>
    <div class="box-table">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <th><input type="checkbox" class="checkbox toggle" name=""></th>
          <th>编号</th>
          <th>分类</th>
          <th>商品名</th>
          <th>价格</th>
          <th>操作</th>
        </tr>
        <% if @ec_items.count > 0 %>
            <% @ec_items.each do |item| %>
                <tr>
                  <td><%= check_box_tag 'ids[]', item.id %></td>
                  <td style="width: 8%"><%= item.id %></td>
                  <td><%= item.ec_seller_cat.try(:com_str, [item.ec_seller_cat.try(:name)])  %></td>
                  <td style="width: 40%"><%= item.title %></td>
                  <td><%= f item.price %></td>
                  <td class="txt-left-align">
                    <a class="green" onclick="popUrl(this)" data-name="name" data-w="900" data-h="0.8" data-title="编辑商品" data-url="<%= edit_ec_item_path(item) %>">编辑</a>

                    <%#= link_to '编辑', edit_ec_item_path(item), class:"green" %>
                    <% msg = item.deleted? ? '上架' : '下架' %>
                    <%= link_to "#{msg}", item, method: :delete, confirm:"确认要#{msg}吗?", class:"fred" %>
                  </td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td colspan="6"><span class="fgreen">无记录</span></td>
            </tr>
        <% end %>
      </table>

      <div class="ft">
        <!--<a class="btn btn-small  btn-orange" onclick="popUrl(this)" data-name="name" data-w="900" data-h="0.8" data-title="新增商品" data-url="<%#= new_ec_item_path %>">新增</a>-->
        <%= paginate @ec_items, theme: 'pretty' %>
      </div>
    </div>
    <input type="hidden" value="下架" id="destroy_multi">
<% end %>


<script type="text/javascript">
    $(function() {
        if($('.ec_seller_cat:visible:last').val() != '-1') $(".hidden_ec_seller_cat_id").val($('.ec_seller_cat:visible:last').val());
        $("#selects").on("change", ".ec_seller_cat", function(){
            if($(this).val() == "-1"){
                var select = $(this)
                $.each($('.ec_seller_cat'), function(){
                    if(parseInt($(this).attr('rel')) > parseInt(select.attr('rel'))){
                        $(this).html('<option value="-1">不限</option>');
                    }else{
                        if(parseInt(select.attr('rel')) == 1){
                            $(".hidden_ec_seller_cat_id").val('');
                        }else{
                            $(".hidden_ec_seller_cat_id").val($(".ec_seller_cat[rel=" + (parseInt(select.attr('rel')) - 1) + "]").val());
                        }
                    }
                });
            }
            else{
                $.ajax({
                    type: "GET",
                    url: "/ec_seller_cats/" + $(this).val() + "?rel=" + ($(this).attr('rel')) + '&&type=2',
                    success: function(data) {
                        return false;
                    },
                    error: function() {
                        return false;
                    }
                });
            }
        });

    });
    function destroyMulti(){
        $("#destroy_multi").replaceWith('<input type="submit" value="下架" id="destroy_multi" style="display:none;"/>')
        $("#destroy_multi").click();
    }
</script>
