<header>
  <a href="<%= mobile_group_item_path(supplier_id: @supplier.id, id: @item) %>" class="ico-prev tleft"><img src="/assets/mobile/group/ico-back.png"/></a>
  <h1>评论</h1>
  <a href="<%= new_mobile_group_comment_path(supplier_id: @supplier.id, id: @item) %>" class="tright"><img src="/assets/mobile/group/ico-comment.png"/></a>
</header><!-- header end -->
<section>
  <div class="box-comment">
    <div class="ft-comment">
      <%#= render :partial=> "comment", :object => @comments %>
      <% if @comments.present?  %>

          <% @comments.each do |comment| %>

              <div class="ft-list">
                <div class="fl">
                    <span class="bd-img">
                       <%= image_tag "/assets/life/user_logo.png" %>
                    </span>
                </div>
                <div class="fr">
                  <p><%= comment.content %></p>
                  <span>
                        <i class="fl"><%= comment.name %></i>
                        <i class="fr"><%= date_format_full(comment.created_at) %></i>
                  </span>
                </div>
              </div>
          <% end %>
      <% else%>
          <div class="box-null">
            真遗憾，暂时没有评论哦！
          </div>
      <% end %>
    </div>
  </div>
</section><!-- section end -->