<%= paginator.render do -%>
  <ul class="pagination pull-right page width-auto">
    <%- unless current_page.first? %>
      <%= first_page_tag %>
      <%= prev_page_tag %>
    <%- end %>
    <% each_page do |page| -%>
      <% if page.left_outer? || page.right_outer? || page.inside_window? -%>
        <%= page_tag page %>
      <% elsif !page.was_truncated? -%>
        <%= gap_tag %>
      <% end -%>
    <% end -%>
    <%- unless current_page.last? %>
      <%= next_page_tag %>
      <%= last_page_tag %>
    <%- end %>
    <li> <span>共 <%= total_pages %> 页</span></li>
  </ul>
<% end -%>
