<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <title>阿克苏生活圈</title>
  <style type="text/css">
    *,*:after,*:before{
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
    *:focus{outline:none;}
    html, body {
      min-height:100%;
      color:#999;
      font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
      line-height:1.8;
      margin:0;
      padding: 0;
      text-decoration: none;
    }
    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
      margin:0;
      padding:0;
    }
    table {
      border-collapse:collapse;
      border-spacing:0;
    }
    fieldset, img {
      border:0;
    }
    address, caption, cite, code, dfn,  th, var {
      font-style:normal;
      font-weight:normal;
    }
    ol, ul {
      list-style: none outside none;
      margin:0;
      padding: 0;
    }
    caption, th {
      text-align:left;
    }
    h1, h2, h3, h4, h5, h6 {
      font-size:100%;
      font-weight:normal;
    }
    a {
      color:#999;
      text-decoration: none;
    }
    img{display:block;border:none;width:100%;}
    form{display:block;min-height:100%;}
    .cf,ul,ol,li{*zoom:1;}
    .cf:after,ul:after,ol:after,li:after{display:table;content:"";clear:both;}
    .wrap{max-width:640px;margin:0 auto;}
    /**/
    body{background:#f0f0f0;}
    header{color:#fff;font-size:24px;padding:10px 0;background:#29b5da;text-align:center;}
    .content li{float:left;width:25%;padding:5px;margin:6.25% 0 0 6.25%;border-radius:50%;background:#038aad;background:-webkit-linear-gradient(-60deg, #54e9ce, #2694f6);background:-moz-linear-gradient(-60deg, #54e9ce, #2694f6);background:-o-linear-gradient(-60deg, #54e9ce, #2694f6);background:-ms-linear-gradient(150deg, #54e9ce, #2694f6);}
    .content li a{display:block;height:100%;font-size:24px;line-height:1;color:#038aad;text-align:center;border-radius:50%;background:#fff;}
    .content li span{display:block;}
    .content li a:first-letter{font-size:1.5em;}
    .more{line-height:20px;}
    .more b{display:block;margin:0 auto;font-weight:normal;}
    @media (min-width: 480px){
      .content li a{font-size:24px;}
      .content li a span{margin-top:-18px;}
      .content li .more span{margin-top:-30px;}
    }
    @media (max-width: 480px){
      .content li a{font-size:20px;}
      .content li a span{margin-top:-15px;}
      .content li .more span{margin-top:-25px;}
    }
    @media (max-width: 320px){
      .content li a{font-size:16px;}
      .content li a span{margin-top:-12px;}
      .content li .more span{margin-top:-20px;}
    }
  </style>
</head>
<body>
  <header>
    <div class="wrap">阿克苏生活圈</div>
  </header>
  <div class="content">
    <div class="wrap">
      <ul>
        <% @website.website_menus.root.order(:sort).each_with_index do |menu,index| %>
          <li>
            <%= link_to app_business_circle_path(menu, anchor: "mp.weixin.qq.com"), class: "#{ 'more' if menu.name.to_s.count > 2 }" do %>
              <span>
                <% if menu.name.to_s.length > 2 %>
                  <b><%= menu.name.to_s[0] %></b><%= menu.name.to_s[1..-1] %>
                <% else %>
                  <%= menu.name %>
                <% end %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <%= javascript_include_tag 'jquery' %>
  <script>
  $(function(){
    autoHeight();
    $(window).resize(autoHeight);
  });
  function autoHeight(){
    var $li = $(".content li"),
      $a = $li.find("a"),
      $width = $li.width(),
      $padding = ($width)/2;
    $li.height($width);
    $a.css({
      paddingTop: $padding
    });
  }
  </script>
</body>
</html>