<%= javascript_include_tag 'mobile/lib/swipe' %>
<body class="index">
<div class="html">
<div class="main">
  <%= render :partial=> "website_picture", :object => @website_pictures %>
<section>
  <%= render "list", :object => @website_menu  %>
  <% if @articles.present? %>
      <div class="box box-hot">
        <h2 class="ellipsis">热门推荐</h2>
        <% @articles.each do |article| %>
        <a href="<%= detail_app_business_circle_path(article, anchor: "mp.weixin.qq.com") %>">
          <span><%= article.title %></span>
          <i class="ico icon-angle-right"></i>
        </a>
        <% end %>
      </div>
  <% end %>
</section>
</div>
</div>

</body>