<% content_for :main_content do %>
  <div class="main-content ">

    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '微信基础设置', welcome_wx_mp_users_path %></li>
        <li><%= link_to '首次关注', welcome_wx_mp_users_path %></li>
      </ul>
      <!-- .breadcrumb -->
      <%= render '/layouts/qrcode' %>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="col-sm-12">
          <!-- PAGE CONTENT BEGINS -->

          <div class="alert alert-block alert-info">
            <strong class="pull-left">提示：</strong>
            <ul class="vwebsiteHeadAlert">
              <li>当用户首次关注您的微信公众账号时，<%= agent_name %>会自动推送以下您设置的回复内容。</li>
            </ul>
          </div>

        </div>

        <div class=" col-sm-12 ">
            <%= render 'form' %>
        </div>

      </div>
    </div>

  </div>
<% end %>

<% content_for :custom_js do %>
  <script type="text/javascript">
    $(function(){
      <% if params[:task].present? && current_user.can_show_introduce? && current_user.try(:task4?) %>
        //显示任务完成  0 是第一个任务 1 2 3，
        $(".shadow").show();   // 添加蒙板   
        $(".mission_cont").show();
        $(".mission_box2").eq(3).show().find(".mission_box_div").eq(1).show();               
      <% end %>
    });
  </script>
<% end %>