<% content_for :main_content do %>
    <div class="main-content ">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <%= render 'partials/home' %>
          <li><%= link_to '微信基础设置', wx_mp_users_path %></li>
          <li><%= link_to '网页授权', '#' %></li>
        </ul>
        <%= render '/layouts/qrcode' %>
      </div>

      <div class="page-content">
        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-block alert-info">
              <strong class="pull-left">提示：</strong>
              <ul class="vwebsiteHeadAlert">
                <li>1、使用网页授权必须是开通高级接口的认证服务号，且设置了OAuth2.0网页授权回调页面域名；</li>
                <li>2、在公众平台设置网页回调页面域名路径：开发者中心 > 高级接口 > OAuth2.0网页授权 > 修改 > 填写授权回调页面域名；</li>
                <li>3、开启网页授权后，用户通过朋友圈分享出去的活动页面，未关注该公众平台的用户也可以直接使用， 建议开启并在公众平台正确配置。</li>
              </ul>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="col-md-4 row">
              <div class="input-group input-group-sm input-group-text">
                <input type="text" class="col-xs-12" value="<%= Settings.mhostname %>">
                <span class="input-group-addon">
                  <a href="javascript:void(0);" class="btn btn-primary btn-sm btn-filter" id="J-copy" data-clipboard-text="<%= Settings.mhostname %>">复制授权回调页面域名</a>
                </span>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <form class="form">
              <div class="form-group">
                <label>网页授权开关：</label>
                <label>
                  <input name="switch-field-1" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" <%= 'checked' if @wx_mp_user.is_oauth? %> <%= 'disabled' unless @wx_mp_user.auth_service? %>>
                  <span class="lbl"></span>
                </label>
              </div>
            </form>
            <%= link_to '', @wx_mp_user.is_oauth? ?  close_oauth_wx_mp_user_path(@wx_mp_user) : open_oauth_wx_mp_user_path(@wx_mp_user), method: :post, remote: true, id: 'ace-switch' %>
          </div>

        </div>
      </div>
    </div>
<% end %>

<% content_for :custom_js do %>
  <script type="text/javascript">
    $(function(){
      $('.ace-switch').click(function(){
        $('#ace-switch').trigger('click');
      });
    });

    var clip1 = new ZeroClipboard( document.getElementById("J-copy"), {
      moviePath: "/flash/ZeroClipboard.swf"
    });
    clip1.on( "load", function(client) {
      client.on( "complete", function(client, args) {
        showTip("success","链接已复制到剪贴板");
      });
    });
  </script>
<% end %>
