<% content_for :main_content do %>
<div class="main-content ">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <%= render 'partials/home' %>
      <li><%= link_to '微活动', activities_path %></li>
      <li><%= link_to '微信卡券', card_admins_wx_cards_path %></li>
      <li><%= link_to '卡券管理', card_admins_wx_cards_path %></li>
    </ul>
    <%= render partial:'/layouts/qrcode' %>
  </div>
  <div class="page-content">
    <div class="tabbable">
      <%= render 'huodong/wx_cards/tabs' %>

      <div class="tab-content no-border padding-24">
        <div id="tab-1" class="tab-pane fade active in">
          <div class="row">
            <div class="col-sm-12">
              <%= form_for @search, url: card_admins_wx_cards_path, html: { method: :get } do |f| %>
              <div class="col-md-3 row">
                <div class="input-group input-group-text">
                  <span class="input-group-addon">微信卡券名称：</span>
                  <%= f.text_field :title_like, class: 'col-xs-12' %>
                </div>
              </div>
              <div class="col-md-3">
                <button type="submit" class="btn btn-primary btn-sm btn-filter">查询</button>
              </div>
              <%= link_to "新增卡券", new_wx_card_path, class: "btn btn-primary btn-sm btn-filter pull-right" %>
              <% end %>
            </div>
            <div class="col-md-12 margin-top-20">
              <table id="couponTable" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>卡券名称</th>
                    <th>卡券类型</th>
                    <th>使用有效期</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <% if @wx_cards.each do |card| %>
                    <tr>
                      <td><%= card.title %></td>
                      <td><%= card.card_type_name %></td>
                      <td><%= card.wx_card_type %></td>
                      <td><%= card.created_at %></td>
                      <td><%= card.status_name %></td>
                      <td>
                        <div class="hidden-sm hidden-xs action-buttons">
                          <a href="<%= wx_card_path(card) %>" title="查看">
                            <i class="ace-icon fa fa-eye "></i>
                          </a>
                          <%= link_to raw('<i class="ace-icon fa fa-trash-o"></i>'), card, title: '删除', method: :delete, remote: true, data: {confirm: '确认删除'} %>
                        </div>
                      </td>
                    </tr>
                  <% end.blank? %>
                    <tr><td colspan="6" class="green text-center">暂无数据</td></tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @wx_cards %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% content_for :custom_js do %>
<% end %>