<% provide(:title, @hospital.name) %>
<section id="index">
	<header>
		<div class="wrap">
			<a href="<%= mobile_hospital_doctors_url(site_id: @site.id) %>" class="ico-prev"><img src="/assets/mobile/whospital/ico-back.png"/></a>
			<h1>专家简介</h1>
			<a class="btn-list" onclick="transition('#index','#transition-category',1)"><img src="/assets/mobile/whospital/ico-list.png"/></a>			
		</div>
	</header><!-- header end -->
	<div class="body">
		<div class="box-detail">
			<div class="detail-top">
				<div class="hd">
					<% if @hospital_doctor.avatar.present? %>
					  <%= image_tag @hospital_doctor.try(:avatar) %>
					<% else %>
					  <%= image_tag "/assets/mobile/whospital/doctor-male.jpg" %>
					<% end %>
				</div><!-- hd end -->
				<div class="bd">
					<b><%= @hospital_doctor.try(:name) %></b>
					<p><%= @hospital_doctor.hospital_job_titles.pluck(:name).join("、") %><br/><%= @hospital_doctor.hospital.try(:name) %><br/><%= @hospital_doctor.hospital_departments.pluck(:name).join("、") %></p>
				</div><!-- bd end -->
			</div>
			<div class="detail-tab">
				<!--<div class="hd fw"><a class="current">专家简介</a>&lt;!&ndash;<a href="commentList.html">专家评价(55)</a>&ndash;&gt;</div>-->
				<div class="hd"><a class="current">专家简介</a><a href="<%= mobile_hospital_comments_url(id: @hospital_doctor.id) %>">专家评价(<%= @hospital_doctor.hospital_comments.count %>)</a></div>
				<div class="bd">
					<div class="detail-bd">
						<div class="bd-title">简介</div>
						<div class="bd-ck">
							<p><%= @hospital_doctor.description %></p>
						</div>
					</div><!-- detail-bd end -->
				</div>
			</div><!-- detail-tab end -->
		</div><!-- box-list end -->
	</div><!-- body end -->
</section>

<%= render "department_search" %>
