<section id="sec-index">
  <div class="body">
    <div class="mod-game" id="countDown">等待开始</div>
      <a href="<%= mobile_shake_url(@shake,site_id: @site.id) %>" class="mod-btn mod-gift">
        <p class="fa fa-angle-right" style="line-height: 40px;">
          <b>查看比赛结果</b>
        </p>
      </a>
  </div>
  <input id="shake_round_status" type="hidden" value="0">
</section>
<script>
  $(function(){
    var gaming,
        old_count = 0,
        count = 0;
    var faye = new Faye.Client('http://<%= FAYE_HOST %>/faye', {retry: 5});

    var shake_round_id = null;

    var subscription = faye.subscribe("/mobile/shake_start/<%= @shake.id %>", function(data){
      shake_round_id = data.shake_round_id;
      countDown(<%= @shake.countdown %>,function(time){
        $("#countDown").html("倒计时："+time+"秒");
        if(time==0){
          //摇动有效
          start_game();
          $('#shake_round_status').val("1");
          $("#countDown").html("活动进行中");
        }
      });
    });

    subscription.then(function() {
      alert('连接成功，您可以参与活动了！');
    });

    function faye_publish(count){
      faye.publish('/shake_site/<%= @shake.id %>', {shakes: ["<%= @site.id %>",shake_round_id,"<%= @shake_user.id %>","<%= @shake_user.avatar %>",count]});
    }

    faye.subscribe("/mobile/shake_end/<%= @shake.id %>", function(data){
      window.clearInterval(gaming);
      old_count = count = 0;
      $('#shake_round_status').val("0");
      $("#countDown").html("活动已结束");
    });
    
    window.addEventListener('shake', function(){
      if($('#shake_round_status').val() == "1"){
        count += 1;
      }
    }, false);

    function start_game(){
      gaming = window.setInterval(function(){
                  if(count > old_count){
                    old_count = count;
                    faye_publish(count);
                  }
                },1000);
    }

  });
</script>
