<% provide(:title, '我要订餐') %>
<body>
  <div class="html">
    <div class="main">
      <header>
        <%= link_to app_shop_orders_url(:order_type => 1, anchor: "mp.weixin.qq.com"),class: "ico ico-prev" do %>
          <img src="/assets/micro_stores/ico-prev.png"/>
        <% end %>
        <h1>订餐成功</h1>
      </header>

      <section>
        <div style="position:fixed;"></div>
        <div class="box box-order-text">
          <p>
            <b>订单号：</b>
            <span class="fred"><%= @shop_order.order_no %></span>
          </p>
          <p class="fgray">请直接前往门店将订单号或手机号码告知服务员即可用餐。</p>
          <p>
            <b>订餐规则：</b>
          </p>
          <div class="box-ck">
            <%= @shop_order.shop_branch.try(:book_dinner_rule) %>
          </div>
          <p class="map">
            <a href='http://api.map.baidu.com/geocoder?address=<%= @shop_order.shop_branch.ditu_address %>&output=html'>
              <img style="width:100%" src="http://api.map.baidu.com/staticimage?width=480&height=175&center=<%= @location['lng'] %>,<%= @location['lat'] %>&zoom=18&markers=<%= @location['lng'] %>,<%= @location['lat'] %>&markerStyles=l,0">
            </a>
          </p>
        </div>
        <p class="box">
          <input onclick="window.location.href='<%= app_shop_order_url(@shop_order) %>'" class="btn" type="submit" value="查看订单详情"/>
        </p>
      </section>
    </div><!--main end-->
  </div><!--wrap end-->

  <style>
    .header .topline {
       color: #fff;
    }
  </style>

  <%= render "application/app_footer" %>
</body>