<% title @booking.name %>
<% content_for :booking_top_pic do %>
  <header>
    <a href="<%= mobile_booking_booking_comments_url(site_id: @site.id, booking_item_id: @booking_item.id) %>" class="ico-prev">
      <img src="/assets/mobile/wserver/ico-back.png"/></a>
    <h1>写评论</h1>
  </header>
<% end %>

<div class="box-comment">
  <div class="hd">
    <h2 class="ellipsis">发表评论</h2>
    <a class="ico ico-heart fr"><em><%= @booking_comments.count %></em></a>
  </div>
  <div class="bd">
    <div class="fl">
      <span class="bd-img">
        <%= image_tag "/assets/life/user_logo.png" %>
      </span>
    </div>
    <div class="fr">
      <%= form_for @booking_comment, url: mobile_booking_booking_comments_url, method: 'post' do |f| %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :booking_item_id %>
        <div class="bd-comment">
          <%= f.text_area :content, rows: 3, placeholder: '请输入您的评论' %>
          <div class="bd-face">
            <!--<a class="ico icon-smile"></a>-->
            <span class="fr">140</span>
          </div>
        </div>
        <div class="bd-btn">
          <input type="submit" class="btn" value="发布"/>
        </div>
      <% end %>
    </div>
  </div>
  <div class="ft ft-comment">
    <h3>热门评论</h3>
    <% @booking_comments.first(3).each do |booking_comment|%>
      <div class="ft-list">
        <a href="<%= mobile_booking_booking_comments_url(site_id: @site.id, booking_item_id: @booking_item.id)%>" class="box-block"></a>
        <div class="fl">
          <span class="bd-img">
            <%= image_tag "/assets/life/user_logo.png" %>
          </span>
        </div>
        <div class="fr">
          <b><%= booking_comment.user.try(:nickname) %></b>
          <span>
            <i><%= booking_comment.created_at %>  <%#= booking_comment.user.try(:address)%></i>
            <!--<i class="fr ico icon-heart"><em>1692</em></i>-->
          </span>
          <p><%= booking_comment.content %></p>
          <p class="hide"><%= booking_comment.content %></p>
          <!--<a class="btn-show">显示更多</a>-->
        </div>
      </div>
    <% end %>
    <% if @booking_comments.count == 0 %>
      <p class="tcenter ft-null">暂无评论</p>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    $( function () {
        $('.btn').click(function(event) {
//            if(parseInt($('#wx_user_booking_comment').val()) > 0){
//                alert("您已经对这款商品评论过了");
//                return false;
//            }else
            if(!$('#booking_comment_content').val()){
                alert("评论内容不能为空");
                $('#booking_comment_content').focus();
                return false;
            }
        });
    });

</script>