<% content_for :main_content do %>
<div class="main-content ">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <%= render 'partials/home' %>
      <%= render 'biz/coupons/bread' %>
    </ul>
    <%= render 'layouts/qrcode' %>
  </div>
  <div class="page-content">
    <div class="tabbable">
      <%= render "biz/coupons/tabs" %>
      <div class="tab-content no-border padding-24">
        <div id="tab-1" class="tab-pane fade active in">
          <div class="row">
            <div class="col-sm-12">
              <div class="alert alert-block alert-success">
                <strong class="pull-left">提示：</strong>
                <ul class="vwebsiteHeadAlert">
                  <li>只有完成基础设置，用户才能进入优惠券活动页面。
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12">
            <%= form_for @activity, class: "form col-xs-12", validate: true do |f| %>
              <%= f.hidden_field :activity_type_id, value: @activity.activity_type_id %>
              <%= render "weixin_preview", wx_title: @activity.try(:name) || '标题', wx_summary: @activity.try(:summary) || '描述' %>
              <div class="col-xs-12 col-md-6 col-lg-7">
                <%= render "weixin_setting", activity: f, data_img: @activity.pic_url, pic_data_name: "activity[qiniu_pic_key]", pic_data_key: @activity.qiniu_pic_key %>
                <div class="form-group ">
                  <input type="submit" class="btn btn-sm btn-primary" value="保存"/>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>