<% content_for :main_content do %>
<div class="main-content ">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <%= render 'partials/home' %>
      <%= render 'bread' %>
    </ul>
    <%= render '/layouts/qrcode' %>
  </div>

  <div class="page-content">
    <div class="tabbable">
      <%= render "tabs" %>

      <div class="tab-content no-border padding-24">
        <div id="tab-2" class="tab-pane fade active in">
          <div class="row">

            <div class="col-sm-12">
              <div class="alert alert-block alert-success">
                <strong class="pull-left">提示：</strong>
                <ul class="vwebsiteHeadAlert">
                  <li>优惠券一旦开始领取，将不可以进行编辑和删除，请仔细填写和保存。
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-12">
              <%= form_for @search, url: coupons_path, html: { method: :get } do |f| %>
                <div class="col-md-3 no-padding">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">请输入优惠券名称：</span>
                    <%= f.text_field :name_like, class: 'col-xs-12' %>
                  </div>
                </div>
                <div class="col-md-3">
                  <input type='submit' class="btn btn-primary btn-sm btn-filter" value='查询' />
                </div>
              <%- end %>
              <div class="col-md-3 pull-right no-padding">
                <%= link_to '新增', new_coupon_path, class: "btn btn-primary btn-sm pull-right mission_addbtn" %>
              </div>
            </div>

            <div class="col-md-12 margin-top-20">
              <table id="couponSNTable" class="table table-striped table-bordered table-hover dataTable ">
                <thead>
                  <tr>
                    <th>优惠券名称</th>
                    <th>优惠内容</th>
                    <th>类型</th>
                    <th>使用有效期</th>
                    <th>创建时间</th>
                    <th>状态</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <%- if @coupons.each_with_index do |coupon, index| %>
                    <tr>
                      <td><%= coupon.name %></td>
                      <td><%= coupon.info %></td>
                      <td><%= coupon.coupon_type_name %></td>
                      <td><%= coupon.use_start_use_end %></td>
                      <td><%= coupon.created_at.to_formatted_s %></td>
                      <td><%= coupon.state_name %></td>
                      <td>
                        <div class="hidden-sm hidden-xs action-buttons">
                          <% if index != 0 %>
                            <%= link_to raw('<i class="ace-icon fa fa-arrow-up"></i>'), move_up_coupon_path(coupon), title: '上移', method: :post %>
                          <% end %>
                          <% if index != @coupons.count - 1 %>
                            <%= link_to raw('<i class="ace-icon fa fa-arrow-down"></i>'), move_down_coupon_path(coupon),title: '下移',  method: :post %>
                          <% end %>

                          <%= link_to coupon, title: '查看' do %><i class="ace-icon fa fa-eye"></i><% end %>
                          
                          <% unless coupon.offline_coupon? %>
                            <% if coupon.online? %>
                              <%= link_to raw('<i class="ace-icon fa fa-lock"></i>'), stop_coupon_path(coupon), title: '停止', method: :post %>
                            <% elsif coupon.offline? %>
                              <%= link_to raw('<i class="ace-icon fa fa-unlock"></i>'), start_coupon_path(coupon), title: '开始', method: :post %>
                            <% end %>
                            <%- if coupon.state_name == "未开始" %>
                              <a href="<%= edit_coupon_path(coupon) %>" title="编辑">
                                <i class="ace-icon fa fa-pencil"></i>
                              </a>
                              <%= link_to raw('<i class="ace-icon fa fa-trash-o"></i>'), coupon, title: '删除', method: :delete, data: {confirm: '确认删除'} %>
                            <%- end %>
                          <% end %>

                          <%= link_to '详情', offline_consumes_coupons_path(search: {consumable_id_eq: coupon.id}) if coupon.offline_coupon? %>

                        </div>
                      </td>
                    </tr>
                  <%- end.blank? %>
                    <%= no_records_tag 7 %>
                  <%- end %>
                </tbody>
              </table>
              <%= paginate @coupons %>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<% end %>

<% content_for :custom_js do %>
  <script type="text/javascript">
    $(function(){
      <% if current_user.can_show_introduce? %>
        <% if current_user.try(:task2?) %>
          $(".shadow").show();    // 添加蒙板
          $(".tab-content").css({"z-index":"auto"})
          $(".mission_addbtn").addClass("highcolor step_tip2");  //新增高亮  按钮样式 需在页面中添加.mission_addbtn               
        <% elsif params[:task].present? && current_user.try(:task3?) %>
          //显示任务完成  0 是第一个任务 1 2 3，
          $(".shadow").show();   // 添加蒙板   
          $(".mission_cont").show();
          $(".mission_box2").eq(2).show().find(".mission_box_div").eq(1).show();               
        <% end %>            
      <% end %>
    });
  </script>
<% end %>
