<% content_for :main_content do %>
<div class="main-content ">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <%= render 'partials/home' %>
      <li><%= link_to '微教育', colleges_path %></li>
    </ul>
    <%= render '/layouts/qrcode' %>
  </div>

  <div class="page-content">

    <div class="tabbable">
      <%= render 'pro/colleges/top_college' %>
      <div class="tab-content no-border padding-24">
        <%= yield :tab_content %>
      </div>
    </div>
  </div>
</div>
<% end %>
