<div class="html">
  <div class="main">
    <section>
      <div class="box active box-form">
        <div class="hd">
          <h1>会员卡申请</h1>
          <em class="arrow"></em>
        </div>
        <div class="bd">
          <p>填写信息即可领取会员卡，享受会员特权。</p>
          <%- @vip_card.custom_fields.normal.order(:position).each do |field|%>
            <%- if field.name == "姓名" %>
              <div class="form-row">
                <span><b>真实姓名：</b></span>
                <span>
                  <input id="user_name" name="user_name" type="text" placeholder="请输入您的姓名" class="input is_required" data-name='真实姓名'/>
                </span>
              </div>
            <%- end %>
            <%- if field.name == "电话" %>
              <div class="form-row">
                <span><b>联系电话：</b></span>
                <span>
                  <input id="phone" name="phone" type="text" placeholder="请输入您的电话" class="input is_required" data-name='联系电话'/>
                </span>
              </div>
            <%- end %>
            <%- next if %w(姓名 电话).include?(field.name) %>
            <%- if %(integer string).include?(field.field_format) %>
              <div class="form-row">
                <span><b><%= field.name %>：</b></span>
                <span>
                  <input id="field_<%= field.id %>" class= "<%= field.is_required? ? "is_required" : "" %> field input" data-name="<%= field.name %>" name="custom_field[<%= field.id %>]" type="text" placeholder="<%= field.placeholder %>" />
                </span>
              </div>
            <%- elsif %(text).include?(field.field_format) %>
              <div class="form-row">
                <span><b><%= field.name %>：</b></span>
                <span>
                  <textarea id="field_<%= field.id %>" class= "<%= field.is_required? ? "is_required" : "" %> field input" data-name="<%= field.name %>" name="custom_field[<%= field.id %>]" placeholder="<%= field.placeholder %>" style="height: 60px;"></textarea>
                </span>
              </div>
            <%- elsif %(datetime).include?(field.field_format) %>
              <div class="form-row">
                <span><b><%= field.name %>：</b></span>
                <span>
                  <input id="field_<%= field.id %>" class= "date <%= field.is_required? ? "is_required" : "" %> field input" data-name="<%= field.name %>" name="custom_field[<%= field.id %>]" type="text" placeholder="<%= field.placeholder %>" readonly/>
                </span>
              </div>
            <%- elsif %(select radio).include?(field.field_format) %>
              <div class="form-row">
                <span><b><%= field.name %>：</b></span>
                <span>
                  <select id="field_<%= field.id %>" style="background: #f0eef0;padding: 0;" class= "<%= field.is_required? ? "is_required" : "" %> field input" data-name="<%= field.name %>" name="custom_field[<%= field.id %>]">
                  <option value="">请选择</option>
                  <%- field.possible_options.each do |option| %>
                    <%- if option.present? %>
                      <option value="<%= option %>"><%= option %></option>
                    <%- end %>
                  <%- end %>
                  </select>
                </span>
              </div>
              <%- elsif %(checkbox).include?(field.field_format) %>
                <div class="form-row">
                <span><b><%= field.name %>：</b></span>
                <span>
                  <select multiple="multiple" id="field_<%= field.id %>" style="background: #f0eef0;padding: 0;" class= "<%= field.is_required? ? "is_required" : "" %> field input" data-name="<%= field.name %>" name="custom_field[<%= field.id %>]">
                  <option value="">请选择</option>
                  <%- field.possible_options.each do |option| %>
                    <%- if option.present? %>
                      <option value="<%= option %>"><%= option %></option>
                    <%- end %>
                  <%- end %>
                  </select>
                </span>
              </div>
            <% end %>
          <%- end%>
          <div class="ft">
            <input type="submit" value="领 取" class="btn form-submit" onclick="javascript:submitMobile();"/>
            <input type="button" value="取 消" class="btn btn-cancel" onclick="javascript:cancelSubmit();"/>
          </div>
        </div>
      </section>
    </div><!-- main end -->
  </div><!-- html end -->

<script>
  $(function(){
    $( ".date" ).datepicker({
      yearRange: "-100:+0",
      autoSize: true,
      dateFormat: 'yy-mm-dd',
      dayNamesMin:["周日","周一","周二","周三","周四","周五","周六"],
      monthNames:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"]
    });

    $('.box-card .card-cont').css('background-image', 'url(<%= @vip_card.try(:cover_pic_key?) ? @vip_card.cover_pic_url: "/assets/wmember/card.png" %>)');

    if ($('.multiple')){
      $('.multiple').each(function(){
        $(this).val($(this).data('value').split(','));
      });
    }
  });


  function cancelSubmit() {
    window.location.href = '<%= app_vips_url %>';
  }

  function submitMobile() {
    var mobile = $('#phone').val();
    var mobile_required = $('#phone').hasClass('is_required');
    var user_name = $('#user_name').val();
    var required_done = 1;

    $('.is_required').each(function(){
      var value = $(this).val();
      var name = $(this).data('name');
      if (!value){
        alert(name + '不能为空');
        required_done = 0;
        return false;
      }
    });

    if (mobile && mobile_required && !(winwemedia_validators.mobile_reg.test(mobile))) {
      alert('请输入正确的手机号码');
      required_done = 0;
      return false;
    }

    if(required_done == 0){
      return false;
    }else{
      $("input.form-submit").attr('disabled', true);
      var field_params = "";

      $('.field').each(function(){
        var name = $(this).attr('name');
        var value = $(this).val();
        param = ('&' + name + '=' + value)
        field_params += param
      });

      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: '/app/vips/signup?uname=' + window.encodeURI(user_name) + '&mobile=' + mobile + field_params + '&' + Math.random() +'#mp.weixin.qq.com',
        dataType: 'json',
        timeout:30000,
        success: function (data) {
          if (data.ajax_msg) {
            if(data.ajax_msg.status == 1){
              <%- if @vip_card.audited? %>
              alert('感谢您的提交，请等待审核');
              <% else %>
              alert('您的会员卡号为:' + data.ajax_msg.cardnumer);
              <% end %>
              window.location.href = '<%= app_vips_url %>';
            }else if(data.ajax_msg.status == 0){
              alert('您已经是会员了，会员卡号为:' + data.ajax_msg.cardnumer);
              window.location.href = '<%= app_vips_url %>';
            }else if(data.ajax_msg.status == -2){
              alert('手机号码已被使用!');
            }else{
              alert('当前申请人数较多，请稍后重试');
            }
          }else {
            alert('当前申请人数较多，请稍后重试');
          }
          $("input.form-submit").attr('disabled', false);
        },
        error: function(e){
          // alert(JSON.stringify(e));
        }
      });
    }
  }
</script>