<%= stylesheet_link_tag "font/font-awesome.min" %>
<div class="html theme-<%= @vip_card.template_id %> no-card" id="html">
    <div class="stage" id="stage">
        <section id="sec-index">
            <div class="card-hd">填写信息即可领取会员卡，享受会员特权</div>

            <%= render "app/vips/partials/vip_card_cover" %>

            <%= form_tag inactive_app_vips_url, id: "activate_form", remote: true, class: "card_data" do |f| %>
                <!--<div class="data_title clearfix">
                    <span class="fl">重新注册新账户</span>
                    <%= link_to '去注册', signup_app_vips_url, class: "fr in_b tcenter" %>
                </div>-->

                <ul class="card_phone">
                    <li><%= text_field_tag :name, '', class: "txt", placeholder: "请输入您的姓名" %></li>
                    <li><%= text_field_tag :mobile, '', class: "txt", placeholder: "请输入您的手机号码" %></li>
                    <li class="verification">
                        <%= text_field_tag :captcha, '', class: "txt", placeholder: "请输入验证码" %>
                        <a class="btn btn-code J-getCode" id="getCaptcha" href="#" style="margin: 0px 2%;">获取验证码</a>
                    </li>
                    <li><button id='submit_btn' class='btn btn-big J-submit' style="margin-left: 0">激活会员卡</button></li>
                </ul>
            <% end %>
        </section>
    </div>
    <%= render 'footbar' %>
</div>
<script>
    $(function() {
        function validateMobile(event) {
            var mobile = $.trim($('#mobile').val());
            if (!$.trim($('#name').val())) {
                alert('姓名不能为空');
                event.preventDefault();
                return false;
            } else if (!mobile) {
                alert('手机号码不能为空');
                event.preventDefault();
                return false;
            } else if (!(winwemedia_validators.mobile_reg.test(mobile))) {
                alert('请输入正确的手机号码');
                event.preventDefault();
                return false;
            }
            return true;
        }
        $('#getCaptcha').off('click').click(function(event) {
            var valid = validateMobile(event);
            if(!valid) return false;

            function showTime(btn, time){
                if(time == 0){
                    btn.removeClass("btn-gray").text("获取验证码");
                }else{
                    btn.text("重新获取("+time+")");
                    setTimeout(showTime,1000, btn, time - 1);
                }
            }

            var $this = $(this);
            if(!$this.hasClass("btn-gray")){
                $.get("<%= send_sms_app_vips_url %>?phone=" + $('#mobile').val(), function(data) {
                    if(data.error) {
                        alert(data.message);
                    } else {
                        $this.addClass("btn-gray").text("重新获取(60)");
                        showTime($this, 60);
                    }
                }, 'json');
            }

        });

        $('#submit_btn').click(function(event) {
            var valid = validateMobile(event);
            if(!valid) return false;
            var captcha = $.trim($('#captcha').val());
            if(!captcha) {
                alert('验证码不能为空');
                event.preventDefault();
                return false;
            }
        });
        
    })
</script>