<div class="html theme-<%= @vip_card.template_id %>" id="html">
  <div class="stage" id="stage">
    <section id="sec-index">
      <div class="list-box no-card-hide">
        <dl>
          <dt class="border">
            <a class="icon-right" href="<%= @vip_card.get_user_info? ? vip_info_app_vip_apis_path : info_app_vips_path %>">
              <i class="icon icon-6"></i>
              <span>个人资料</span>
            </a>
          </dt>
        </dl>
        <% if @vip_card.get_transactions? %>
          <dl>
            <dt class="border">
              <a class="icon-right" href="<%= vip_transactions_app_vip_apis_path %>">
                <i class="icon icon-6"></i>
                <span>个人流水</span>
              </a>
            </dt>
          </dl>
        <% end %>
      </div>
      <div class="list-box no-card-hide">
        <% if @vip_user.password_digest.blank? %>
          <dl>
            <dt class="border">
              <a class="icon-right" href="<%= passwd_app_vips_path %>">
                <i class="icon icon-20"></i>
                <span>设置支付密码</span>
              </a>
            </dt>
          </dl>
        <% else %>
          <dl>
            <dt class="border">
              <a class="icon-right" href="<%= edit_passwd_app_vips_path %>">
                <i class="icon icon-20"></i>
                <span>修改支付密码</span>
              </a>
            </dt>
          </dl>
          <dl>
            <dt class="border">
              <a class="icon-right" href="<%= find_passwd_app_vips_path %>">
                <i class="icon icon-21"></i>
                <span>找回支付密码</span>
              </a>
            </dt>
          </dl>
        <% end %>
      </div>
    </section>
  </div>
</div>