<div class="<%= 'hide' unless f.object.survey_question_type == survey_question_type %>" id="radio-<%= survey_question_type %>">
    <% if f.object.survey_question_type == survey_question_type %>
        <% survey_question_choices.each_with_index do |s, i| %>
            <%= f.fields_for :survey_question_choices, s do |sq| %>
                <div class="form-group survey-question-options">
                    <label class="control-label">选项<%= i + 1 %></label>
                    <div class="clearfix">
                        <%= sq.text_field :name, class: 'col-xs-3' %>
                        <%= sq.check_box :_destroy, style: 'display:none' %>
                        <% if i > 1 %>
                            <div class="col-xs-6">
                                <a href="javascript:;" class="btn btn-sm btn-link" data-toggle="delet">删除</a>
                            </div>
                        <% end %>
                    </div>
                </div>
          <% end %>
        <% end %>
    <% else %>
        <% 1.upto(2) do |m| %>
            <% uuid = SecureRandom.uuid %>
            <div class="form-group survey-question-options">
                <label class="control-label">选项<%= m %></label>
                <div class="clearfix">
                    <input class="col-xs-3" name="activity_survey_question[survey_question_choices_attributes][<%= uuid %>][name]" size="30" type="text" data-validate="true">
                    <input type="checkbox" name="activity_survey_question[survey_question_choices_attributes][<%= uuid %>][_destroy]" style="display:none">
                </div>
            </div>
        <% end %>
    <% end %>
    <div class="form-group">
        <div class="clearfix">
            <a href="javascript:;" class="btn btn-sm btn-primary" data-toggle="addOption" data-type="<%= survey_question_type %>">添加选项</a>
            <label>
              <%= f.check_box :answer_other, class: 'ace' %>
              <span class="lbl">其他选项</span>
            </label>
        </div>
    </div>
</div>

<div class="form-group survey-question-options" template="<%= survey_question_type %>" style="display: none;">
    <label class="control-label">选项</label>
    <div class="clearfix">
        <input class="col-xs-3" name="activity_survey_question[survey_question_choices_attributes][$uuid$][name]" size="30" type="text" data-validate="true">
        <input type="checkbox" name="activity_survey_question[survey_question_choices_attributes][$uuid$][_destroy]" style="display:none">
        <div class="col-xs-6">
            <a href="javascript:;" class="btn btn-sm btn-link" data-toggle="delet">删除</a>
        </div>
    </div>
</div>