<% params[:step] ||= '1' %>
<% form_action = @activity.new_record? ? guas_path : gua_path(@activity.id) if @activity.gua? %>
<% form_action = @activity.new_record? ? wheels_path : wheel_path(@activity.id) if @activity.wheel? %>
<% form_action = @activity.new_record? ? hit_eggs_path : hit_egg_path(@activity.id) if @activity.hit_egg? %>

<%= render partial: "guas/step#{params[:step]}", locals: { form_action: form_action } %>

<% content_for :main_content do %>
    <div class="main-content ">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <%= render 'partials/home' %>
                <li><%= link_to '微活动', activities_path %></li>
                <li><%= link_to @activity.activity_type.id_name, activities_path_by_type(@activity.activity_type_id) %></li>
            </ul>
            <%= render '/layouts/qrcode' %>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-sm-12">
                    <div id="fuelux-wizard" data-target="#step-container">
                        <ul class="wizard-steps">
                            <li class="<%= 'active' if params[:step].to_i >= 1 %>">
                                <span class="step">1</span>
                                <span class="title">活动预热设置</span>
                            </li>
                            <li class="<%= 'active' if params[:step].to_i >= 2 %>">
                                <span class="step">2</span>
                                <span class="title">活动开始设置</span>
                            </li>
                            <li class="<%= 'active' if params[:step].to_i >= 3 %>">
                                <span class="step">3</span>
                                <span class="title">活动奖品设置</span>
                            </li>
                            <li class="<%= 'active' if params[:step].to_i >= 4 %>">
                                <span class="step">4</span>
                                <span class="title">活动规则设置</span>
                            </li>
                        </ul>
                    </div>
                    <hr>
                </div>
                <div class="col-sm-12 margin-top-20">
                    <%= yield :form %>
                </div>
            </div>
        </div>
    </div>
<% end %>

<% content_for :custom_js do %>
    <script>
        $(function() {
            <%- if @activity.can_not_edit? %>
                $('input,select,textarea').prop('disabled', true);
                $('.wysiwyg-editor').attr('contenteditable', false);
            <% end %>
            $('form').validate();
        });
    </script>
<% end %>
