<section class="mod-transition transition-right" id="transitionRight">
  <div class="mod-form">
    <div class="hd"><p class="tcenter">会员卡申请</p></div>
    <div class="bd">
      <p class="tcenter">填写信息即可领取会员卡，享受会员特权。</p>
      <%- @vip_card.custom_fields.normal.order(:position).each do |field|%>
        <%- if field.name == "姓名" %>
          <div class="form-li">
            <div class="li-l"><b><span>*</span>姓名：</b></div>
            <div class="li-r">
              <input id="user_name" name="user_name" type="text" placeholder="请输入您的姓名" class="input is_required" data-name='真实姓名'/>
            </div>
          </div>
        <%- end %>
        <%- if field.name == "电话" %>
          <div class="form-li">
            <div class="li-l"><b><span>*</span>电话：</b></div>
            <div class="li-r">
              <input id="phone" name="phone" type="text" placeholder="请输入您的电话" class="input is_required" data-name='联系电话'/>
            </div>
          </div>
          <div class="form-li">
            <div class="li-l"><b><span>*</span>验证码：</b></div>
            <div class="li-r">
              <input id="captcha" name="captcha" type="tel" placeholder="请输入验证码" class="input is_required" data-name='验证码'>
            </div>
            <div class="li-r">
              <input type="button" value="获取验证码" class="btn btn-small J-identifying">
            </div>
          </div>
        <%- end %>
        <%- next if %w(姓名 电话).include?(field.name) %>
        <%- if %(integer string).include?(field.field_format) %>
          <div class="form-li">
            <div class="li-l"><b><%= raw(field.is_required? ? '<span>*</span>' : '' )%><%= field.name %>：</b></div>
            <div class="li-r">
              <input id="field_<%= field.id %>" class= "<%= field.is_required? ? 'is_required' : '' %> field input" data-name="<%= field.name %>" name="custom_field[<%= field.id %>]" type="<%= field.field_format == 'integer' ? 'number' : 'text' %>" placeholder="<%= field.placeholder %>" />
            </div>
          </div>
        <%- elsif %(text).include?(field.field_format) %>
          <div class="form-li">
            <div class="li-l"><b><%= raw(field.is_required? ? '<span>*</span>' : '' )%><%= field.name %>：</b></div>
            <div class="li-r">
              <textarea id="field_<%= field.id %>" class= "<%= field.is_required? ? 'is_required' : '' %> field input" data-name="<%= field.name %>" name="custom_field[<%= field.id %>]" placeholder="<%= field.placeholder %>" style="height: 60px;"></textarea>
            </div>
          </div>
        <%- elsif %(datetime).include?(field.field_format) %>
          <div class="form-li">
            <div class="li-l"><b><%= raw(field.is_required? ? '<span>*</span>' : '' )%><%= field.name %>：</b></div>
            <div class="li-r">
              <input id="field_<%= field.id %>" class= "date <%= field.is_required? ? 'is_required' : '' %> field input" data-name="<%= field.name %>" name="custom_field[<%= field.id %>]" type="text" placeholder="<%= field.placeholder %>" readonly/>
            </div>
          </div>
        <%- elsif %(select radio).include?(field.field_format) %>
          <div class="form-li">
            <div class="li-l"><b><%= raw(field.is_required? ? '<span>*</span>' : '' )%><%= field.name %>：</b></div>
            <div class="li-r">
              <select id="field_<%= field.id %>" style="background: #f0eef0;padding: 0;" class= "<%= field.is_required? ? 'is_required' : '' %> field input" data-name="<%= field.name %>" name="custom_field[<%= field.id %>]">
              <option value="">请选择</option>
              <%- field.possible_options.each do |option| %>
                <%- if option.present? %>
                  <option value="<%= option %>"><%= option %></option>
                <%- end %>
              <%- end %>
              </select>
            </div>
          </div>
        <%- elsif %(checkbox).include?(field.field_format) %>
          <div class="form-li">
            <div class="li-l"><b><%= raw(field.is_required? ? '<span>*</span>' : '' )%><%= field.name %>：</b></div>
            <div class="li-r">
              <select multiple="multiple" id="field_<%= field.id %>" style="background: #f0eef0;padding: 0;" class= "<%= field.is_required? ? 'is_required' : '' %> field input" data-name="<%= field.name %>" name="custom_field[<%= field.id %>]">
              <option value="">请选择</option>
              <%- field.possible_options.each do |option| %>
                <%- if option.present? %>
                  <option value="<%= option %>"><%= option %></option>
                <%- end %>
              <%- end %>
              </select>
            </div>
          </div>
        <% end %>
      <%- end %>
      <div class="ft">
        <input type="submit" value="领 取" class="btn form-submit" onclick="javascript:submitMobile();"/>
        <!--input type="button" value="取 消" class="btn btn-cancel" onclick="javascript:cancelSubmit();"/-->
        <input type="button" value="取 消" class="btn btn-gray" onclick="toggleToClass('#html','dirL');resize('#transitionRight','dirL');$('.J-identifying').removeClass('btn-gray').val('获取验证码');"/>
      </div>
    </div>
  </div>
</section>
<% content_for :custom_js do %>
<script src="/assets/address.js"></script>
<script>
  $('.card-disnormal').show();
// 倒计时
  $(".J-identifying").on("click",function(){
    if($('#phone').val() == ""){
      alert('请输入手机号码');
    }else{
      var $this = $(this),
          $time = 60;
      if(!$this.hasClass("btn-gray")){
          $this.addClass("btn-gray").val("重新获取(60)");
          showTime();
          $.get("<%= send_sms_app_vips_path %>" + "?phone=" + $('#phone').val());
      }
      function showTime(){
        if($time ==0){
          $this.removeClass("btn-gray").val("获取验证码");
        }else{
          $this.val("重新获取("+$time+")");
          setTimeout(showTime,1000);
          $time--;
        }
      }
    }
  });

  $(function(){
    $( ".date" ).datepicker({
      yearRange: "-100:+0",
      maxDate: "+0d",
      autoSize: true,
      dateFormat: 'yy-mm-dd',
      dayNamesMin:["周日","周一","周二","周三","周四","周五","周六"],
      monthNames:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
      monthNamesShort:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"]
    });

    if ($('.multiple')){
      $('.multiple').each(function(){
        $(this).val($(this).data('value').split(','));
      });
    }
  });

  function cancelSubmit() {
    window.location.href = '<%= app_vips_path %>';
  }

  function submitMobile() {
    var mobile = $('#phone').val();
    var mobile_required = $('#phone').hasClass('is_required');
    var user_name = $('#user_name').val();
    var required_done = 1;

    if (mobile_required && !(/^1[3|4|5|8][0-9]\d{8}$/.test(mobile))) {
      alert('请输入正确的手机号码');
      required_done = 0;
      return false;
    }

    $('.is_required').each(function(){
      var value = $(this).val();
      var name = $(this).data('name');
      if (!value){
        alert(name + '不能为空');
        required_done = 0;
        return false;
      }
    });

    // console.log(required_done)
    if(required_done == 0){
      return false;
    }else{
      $("input.form-submit").attr('disabled', true);
      var field_params = "";

      $('.field').each(function(){
        var name = $(this).attr('name');
        var value = $(this).val();
        param = ('&' + name + '=' + value)
        field_params += param
      });

      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: '/app/vips/signup?uname=' + window.encodeURI(user_name) + '&mobile=' + mobile + field_params + '&captcha=' + $('#captcha').val() + '&' + Math.random() +'#mp.weixin.qq.com',
        dataType: 'json',
        timeout:30000,
        success: function (data) {
          if (data.ajax_msg) {
            if(data.ajax_msg.status == 1){
              <%- if @vip_card.audited? %>
              alert('感谢您的提交，请等待审核');
              $('.btn-red').removeAttr("onclick").html("您的会员卡正在审核中");
              toggleToClass('#html','dirL');resize('#transitionRight','dirL');
              <% else %>
              alert('您的会员卡号为:' + data.ajax_msg.cardnumer);
              window.location.href = '<%= app_vips_path %>';
              // toggleToClass('#html','dirL');resize('#transitionRight','dirL');toggleToClass('#body','body-null');
              <% end %>
            }else if(data.ajax_msg.status == 0){
              alert('您已经是会员了，会员卡号为:' + data.ajax_msg.cardnumer);
              // $('.btn-red').removeAttr("onclick");
              // toggleToClass('#html','dirL');resize('#transitionRight','dirL');toggleToClass('#body','body-null');
              window.location.href = '<%= app_vips_path %>';
            }else if(data.ajax_msg.status == -2){
              alert('手机号码已被使用!');
            }else if(data.ajax_msg.status == -3){
              alert('验证码不正确!');
            }else{
              alert('当前申请人数较多，请稍后重试');
            }
          }else {
            alert('当前申请人数较多，请稍后重试');
          }
          $("input.form-submit").attr('disabled', false);
        },
        error: function(e){
          // alert(JSON.stringify(e));
        }
      });
    }
  }
</script>
<% end %>