<% provide(:title, '我要订座') %>
<body class="reserve">
<div class="wrap html">
  <div class="main">
    <div class="header">
      <div class="topline">
        <%= link_to app_shops_url(anchor: "mp.weixin.qq.com") do %><img src="/assets/shop_table/bg_ico_back.png"><% end %>
        我要预订座位
      </div>
    </div>
    <div class="content reserve_content">
      <div class="topimg"><%= image_tag @shop_branch.shop.logo_url if @shop_branch.shop.logo.present? %><p></p></div>
      <div class="list">
        <a href="/app/shop_branches/<%= @shop_branch.id %>/map" class="adress">地　　址：<span><%= @shop_branch.address %></span></a>
        <p class="time">营业时间：<span><%= @shop_branch.start_time_to_s %>-<%= @shop_branch.end_time_to_s %></span></p>
        <a href="tel:<%= @shop_branch.tel %>" class="phone">电　　话：<span><%= @shop_branch.tel %></span></a>
      </div>

      <div class="form">
        <%= form_for :shop_table_order, url: new_app_shop_table_order_url, method: :get do |f|%>
          <%= f.hidden_field :shop_branch_id, value: @shop_branch.id %>
          <p class="inp">
            <%= f.text_field :mobile, value: @user.try(:mobile), class: 'text', placeholder: "请输入您的手机号码" %>
            <input name="reset" type="button" class="reset" value="" />
          </p>
          <p class="sub"><input type="image" src="/assets/shop_table/bg_but_ding.png" class="form-submit" /></p>
        <% end %>
      </div>
    </div>
  </div><!--main end-->
</div><!--wrap end-->

<%= render "application/app_footer" %>

  <script type="text/javascript">
    $(function() {
      $('.form-submit').click(function() {
        $shop_table_order_mobile = $('#shop_table_order_mobile');
        if ( !$shop_table_order_mobile.val() ) {
          alert('手机号码不能为空');
          $shop_table_order_mobile.focus();
          return false;
        } else if ( !test_mobile_number($shop_table_order_mobile.val()) ) {
          alert('手机号码格式不正确');
          $shop_table_order_mobile.focus();
          return false;
        }
      });
      $('.reset').click(function() {
        $('#shop_table_order_mobile').val('');
      });
    });

    // 手机号码正则表达式
    function test_mobile_number(mobile_number) {
      if (mobile_number == undefined) {
        return false;
      }
      var mobile_reg = /^\d{11}$/;
      if (mobile_reg.test(mobile_number)){
        return true;
      };
      return false;
    }
  </script>
</body>