<% content_for :website_top_pic do %>
    <header>
      <a href="javascript:history.go(-1);"><img src="/assets/website/template15/ico-prev.png"/></a>
      <a href="<%= mobile_root_url(site_id: @website.site_id,id: @website.id, aid: session[:activity_id], anchor: "mp.weixin.qq.com") %>"><img src="/assets/website/template15/ico-home.png"/></a>
      <a href="<%= @website.tel? ? "tel:#{@website.tel}" : "#" %>"><img src="/assets/website/template15/ico-phone.png"/></a>
      <a class="ico-list"><img src="/assets/website/template15/ico-list.png"/></a>
    </header>
<% end %>

<div class="body box-article ckeditor_content">
  <div class="hd">
    <h3><%= website_menu.menuable.try(:title) %></h3>
    <span><%= date_format_full_l(website_menu.menuable.created_at) %></span>
  </div>
  <div class="bd">
    <% if website_menu.text? %>
        <%= image_tag website_menu.menuable.pic_url if website_menu.menuable && website_menu.menuable.pic_url %>
    <% else %>
        <%= image_tag website_menu.menuable.pic_url if website_menu.menuable && website_menu.menuable.pic_url && website_menu.menuable.is_show_pic %>
    <% end %>
    <p><%= raw website_menu.menuable.try(:content) %></p>
  </div>
</div>

<% content_for :pop_pop_share do %>
    <div class="pop-nav pop">
      <div class="pop-bg"></div>
      <div class="pop-bd">
        <div class="hd"><span>取消</span></div>
        <div class="bd">
          <% @website.website_menus.root.each do |menu| %>
              <dl>
                <dt><a href="<%= menu_url(menu) %>"><span><%= menu.name %></span><i class="ico ico-angle-right fr"></i></a></dt>
                <dd></dd>
              </dl>
          <% end %>
        </div>
      </div>
    </div>
<% end %>