<div class="box-article box ckeditor_content">
  <div class="hd">
    <h3><%= website_menu.menuable.try(:title) %></h3>
    <span><%= date_format_full_l(website_menu.menuable.created_at) %></span>
  </div>
  <div class="bd">
    <% if website_menu.text? %>
        <%= image_tag website_menu.menuable.pic.try(:large) if website_menu.menuable && website_menu.menuable.pic? %>
    <% else %>
        <%= image_tag website_menu.menuable.pic.try(:large) if website_menu.menuable && website_menu.menuable.pic? && website_menu.menuable.is_show_pic %>
    <% end %>
    <p><%= raw website_menu.menuable.try(:content) %></p>
    <div class="box-share">
      <a class="btn-share first"><span class="ico-share">发送给朋友</span></a>
      <a class="btn-share last"><span class="ico-pyq">分享到朋友圈</span></a>
    </div>
  </div>
</div>

<div class="box-nav">
  <a href="javascript:history.go(-1);"><img src="/assets/website/template12/goback.png"/></a>
  <a href="<%= @website.tel? ? "tel:#{@website.tel}" : "#" %>"><img src="/assets/website/template12/phone.png"/></a>
  <a href="<%= @website.address? ? mobile_map_url(supplier_id: @website.supplier_id, id: @website.id) : "#"%>"><img src="/assets/website/template12/location.png"/></a>
  <a href="<%= mobile_root_url(supplier_id: @website.supplier_id,id: @website.id, aid: session[:activity_id], wxmuid: @website.wx_mp_user_id, anchor: "mp.weixin.qq.com") %>"><img src="/assets/website/template12/home.png"/></a>
  <a class="last btn-share" onclick=""><img src="/assets/website/template12/share.png"/></a>
</div>

<% content_for :pop_pop_share do %>
    <div class="pop pop-share">
      <div class="pop-bg"></div>
      <div class="pop-bd">
        <p class="note-share"></p>
      </div>
    </div>
<% end %>