<div class="body box-article ckeditor_content">
  <div class="hd">
    <h3><%= website_menu.menuable.try(:title) %></h3>
    <span><%= date_format_full_l(website_menu.menuable.created_at) %></span>
  </div>
  <div class="bd">
    <% if website_menu.text? %>
        <%= image_tag website_menu.menuable.pic_url if website_menu.menuable && website_menu.menuable.pic_url %>
    <% else %>
        <%= image_tag website_menu.menuable.pic_url if website_menu.menuable && website_menu.menuable.pic_url && website_menu.menuable.is_show_pic %>
    <% end %>
    <p><%= raw website_menu.menuable.try(:content) %></p>
    <div class="bd-share">
      <a class="btn-share first"><span class="ico-share">发送给朋友</span></a>
      <a class="btn-share last"><span class="ico-pyq">分享到朋友圈</span></a>
    </div>
  </div>
  <div class="box-nav">
    <a href="javascript:history.go(-1);"><span class="ico-goback">返回</span></a>
    <a href="javascript:history.go(+1);"><span class="ico-goto">前进</span></a>
    <a href="<%= mobile_root_url(site_id: @website.site_id,id: @website.id, aid: session[:activity_id], anchor: "mp.weixin.qq.com") %>"><span class="ico-home">首页</span></a>
    <a onclick="window.location.reload()"><span class="ico-refresh">刷新</span></a>
  </div>
</div>

<% content_for :pop_pop_share do %>
    <div class="pop pop-share">
      <div class="pop-bg"></div>
      <div class="pop-bd">
        <p class="note-share"></p>
      </div>
    </div>
<% end %>
