<div class="body box-article ckeditor_content">
  <div class="hd">
    <h3><%= website_menu.menuable.try(:title) %></h3>
    <span><%= date_format_full_l(website_menu.menuable.created_at) %></span>
  </div>
  <div class="bd">
    <% if website_menu.text? %>
        <%= image_tag website_menu.menuable.pic_url if website_menu.menuable && website_menu.menuable.pic_url %>
    <% else %>
        <%= image_tag website_menu.menuable.pic_url if website_menu.menuable && website_menu.menuable.pic_url && website_menu.menuable.is_show_pic %>
    <% end %>
    <p><%= raw website_menu.menuable.try(:content) %></p>
    <div class="bd-share">
      <a class="btn-share first"><span class="ico-share">发送给朋友</span></a>
      <a class="btn-share last"><span class="ico-pyq">分享到朋友圈</span></a>
    </div>
  </div>
</div>

<% content_for :pop_pop_share do %>
    <div class="pop pop-share">
      <div class="pop-bg"></div>
      <div class="pop-bd">
        <p class="note-share"></p>
      </div>
    </div>
<% end %>

<% content_for :load_view_js do %>
    <script>
        $(function(){
            $(".btn-share").on("click",function(){
                $(".pop-share").fadeIn();
            });
            $(".pop-share").on("click",function(){
                $(".pop-share").fadeOut();
            });
        });
    </script>
<% end %>
