<% title '大转盘奖品列表' %>
<script>
  document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
    WeixinJSBridge.call('hideOptionMenu');
  });
</script>
<%= stylesheet_link_tag 'mobile/wheel' %>
<%= stylesheet_link_tag 'mobile/addgetma' %>
<section class="sec-result">
  <div class="result-hd">
      我的奖品(<%= @activity_consumes.count %>)
  </div>
  <ul class="mod-list">
    <% @activity_consumes.each do |consume| %>
      <li>
        <p>
          <b>奖品名称：<%= consume.prize %></b>
          <span>SN码：<%= consume.code %><a class="addgetma" href="javascript:;" data-ma="<%= consume.rqrcode %>"><img src="/assets/img/share/maash.png">二维码</a></span>
        </p>
        <p>
          <span>中奖时间：<%= consume.created_at.try(:to_date) %></span>
          <%- if consume.use_at? %>
            <span>使用时间：<%= consume.use_at.to_date.to_s rescue nil  %></span>
          <%- end %>
          <span>状态：<%= consume.status_text %></span>
        </p>
        <% if consume.mobile.blank? %>
          <a class="btn" href="javascript:;" data-id="<%= consume.id %>" data-title="<%= consume.activity_prize.try :title %>" data-sn="<%= consume.code %>" onclick="getSuccess(this)">马上领取</a>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
<%= javascript_include_tag 'mobile/wheel' %>
<%= javascript_include_tag 'mobile/qcode' %>
<script>
    //我要领奖
    function getSuccess(self){
      var h=$(".html").innerHeight();
      self=$(self);
      var sn=self.attr("data-sn");
      var title=self.attr("data-title");
      var id=self.attr("data-id");
      var html='<div class="pop pop-form" id="pop-form" style="height:'+h+'px"><div class="pop-bd"><div class="box-pop"><div class="hd"><b>恭喜你，中奖了！</b></div><div class="bd"><p><b>奖品为'+title+'，</b><br/>兑奖SN码：'+sn+'</p><p><%= @activity.activity_property.display_win_tip %></p><p><span>请输入您的手机号</span><input type="text" class="input" id="phone" value="<%= @wx_user.try(:related_mobile) %>"/></p><p><input id="" class="btn" type="button" value="提交" onClick="submitMobile(\''+sn+'\','+id+');" readonly/></p></div></div></div></div>';
      $("body").append(html);
    }
    function submitMobile(sn,id) {
      var tel = $('#phone').val();
      if (!(winwemedia_validators.mobile_reg.test(tel))) {
        alertMessage(1,"请输入正确的手机号码");
        return;
      }

      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: 'prize?anid=<%= params[:anid] %>&wxmuid=<%= session[:wx_mp_user_id] %>&aid=<%= params[:id] %>&t=mobile&sn=' + sn + '&acid=' + id + '&mobile=' + tel + '&' + Math.random(),
        dataType: 'json',
        timeout:30000,
        success: function (data) {
          alertMessage(0,"信息提交成功，我们的工作人员稍后会联系您，请牢记您的SN码");
          window.location.reload();
        },
        error: function(e){
          window.location.reload();
          //alert(JSON.stringify(e));
        }
      });
    }
</script>