<% title @wx_mp_user.try(:nickname) || '资讯详情' %>

<div class="news-top">
  <div class="news-title"><%= @article.title %></div>
  <div class="news-attr">
    <span class="news-time"><%= @article.subtitle_content %></span>
    <%= link_to @article.author, @article.link.present? ? @article.link : 'javascript:;'  if @article.show_author %>
  </div>
</div>
<div class="edit-box">
  <div class="edit">
    <%= raw @article.content %>
  </div>
</div>

<div class="article-like">
  <% if @like.new_record? %>
    <%= form_for([:mobile, @like]) do |f| %>
      <%= f.hidden_field :site_id %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :likeable_id %>
      <%= f.hidden_field :likeable_type %>
      <span>阅读数<%= @article.view_count %></span>
      <span class="like-btn"></span>
      <span><%= @article.likes_count %>个赞</span>
    <% end %>
  <% else %>
    <span>阅读数<%= @article.view_count %></span>
    <%= link_to mobile_like_path(site_id: @site.id, id: @like.id), method: :delete do %>
      <span class="like-btn dislike"></span>
    <% end %>
    <span><%= @article.likes_count %>个赞</span>
  <% end %>
</div>

<div class="page-nav">
  <% if @prev_article %>
    <%= link_to '<i class="fa fa-angle-left"></i>上一条'.html_safe, mobile_website_article_url(@prev_article, site_id: @website.site_id, article_type: params[:article_type], category_id: params[:category_id], search: params[:search]) %>
  <% else %>
    <a href="javascript:;" class="disabled"><i class="fa fa-angle-left"></i>上一条</a>
  <% end %>
  <%= link_to '返回列表', mobile_website_articles_url(site_id: @website.site_id, article_type: params[:article_type], category_id: params[:category_id], search: params[:search]) %>
  <% if @next_article %>
    <%= link_to '下一条<i class="fa fa-angle-right"></i>'.html_safe, mobile_website_article_url(@next_article, site_id: @website.site_id, article_type: params[:article_type], category_id: params[:category_id], search: params[:search]) if @next_article %>
  <% else %>
    <a href="javascript:;" class="disabled">下一条<i class="fa fa-angle-right"></i></a>
  <% end %>
</div>

<style type="text/css">
  .like-btn {
    background: transparent url(/assets/mobile/like.png) no-repeat 0 0;
    width: 13px;
    height: 13px;
    display: inline-block;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
  }
  .dislike {
    background-position: 0 -18px;
  }
</style>

<script type="text/javascript">
  $(function(){
    $(".like-btn").click(function(){
      $("form").submit();
    });
  });
</script>
