<% title @wx_mp_user.try(:nickname) || '资讯详情' %>

<div class="news-top">
  <div class="news-title"><%= @article.title %></div>
  <div class="news-attr">
    <span class="news-time"><%= @article.subtitle_content %></span>
    <%= link_to_if @article.link.present?, @article.author, @article.link if @article.show_author %>
  </div>
</div>
<div class="edit-box">
  <div class="edit">
    <%= raw @article.content %>
  </div>
</div>

<!-- 阅读数与点赞数 -->
<%= render "mobile/likes/index", material: @article, user: @user %>

<!-- 分享朋友圈 -->
<%= render "shared/share_pyq" %>

<!-- 评论 -->
<%= render "mobile/comments/index" %>

<div class="page-nav">
  <% if @prev_article %>
    <%= link_to '<i class="fa fa-angle-left"></i>上一条'.html_safe, mobile_website_article_url(@prev_article, site_id: @website.site_id, article_type: params[:article_type], category_id: params[:category_id], search: params[:search]) %>
  <% else %>
    <a href="javascript:;" class="disabled"><i class="fa fa-angle-left"></i>上一条</a>
  <% end %>
  <%= link_to '返回列表', mobile_website_articles_url(site_id: @website.site_id, article_type: params[:article_type], category_id: params[:category_id], search: params[:search]) %>
  <% if @next_article %>
    <%= link_to '下一条<i class="fa fa-angle-right"></i>'.html_safe, mobile_website_article_url(@next_article, site_id: @website.site_id, article_type: params[:article_type], category_id: params[:category_id], search: params[:search]) if @next_article %>
  <% else %>
    <a href="javascript:;" class="disabled">下一条<i class="fa fa-angle-right"></i></a>
  <% end %>
</div>
