<div class="box box-list">
  <a href="/app/shops/<%= product.shop.id %>/shop_products/<%= product.id %>#mp.weixin.qq.com" class="hd">
    <% if product.pic_url.blank? %>
    <%= image_tag product.pic_url_url %>
    <% else %>
    <%= image_tag product.pic_url.try(:thumb) %>
    <% end %>
  </a>
  <div class="bd">
    <a href="javascript:void(0);">
      <b><%= product.name %></b>
      <p></p>
    </a>
    <p>
      <b>价格：</b>
      <span class="fred">
      <% if product.is_current_price? %>
        /
      <% else %>
        <%=f product.price %>
      <% end %>
      </span>
    </p>
    <p class="list-number">
      <b>数量：</b>
      <span class="box-number">
        <%= link_to minus_app_shop_order_shop_order_item_url(@shop_order,product, anchor: "mp.weixin.qq.com"), remote:true, method: :post do %>
          <i>-</i>
        <% end %>  
        <input id="current_product_sum_<%= product.id %>" type="text" value="<%= @shop_order.find_item_qty_by_product product %>" disabled="true"/>       
        <%= link_to plus_app_shop_order_shop_order_item_url(@shop_order,product, anchor: "mp.weixin.qq.com"), remote:true, method: :post do %>
          <i>+</i>
        <% end %>
      </span>
    </p>
  </div>
</div><!--box-list end--> 