<%= content_for :step do %>
  <div class="step-pane active" id="step3">
    <%= render 'prizes' %>
    <% if @activity.activity_prizes.count < 6 && !@activity.can_not_edit? %>
      <div class="form-group">
        <input type="button" class="btn btn-sm btn-primary" value="新增奖项" data-toggle="modals" data-title="新增奖品设置" data-height="1000" data-iframe="<%= new_activity_prize_path(activity_id: @activity.id) %>" />
      </div>
    <% end %>
    <div class="row-fluid center">
      <a class="btn btn-prev btn-sm" href='<%= edit_rule_settings_aid_path(@activity) %>'> <i class="icon-arrow-left"></i> 上一步 </a>
      <button class="btn btn-success btn-sm btn-next" data-last="完成" id="finish_setting">
        完成
        <i class="icon-arrow-right icon-on-right"></i>
      </button>
      <a class="btn btn-sm" href='/activities/aids'>返回</a>
    </div>
  </div>
<% end %>

<%= render 'main_content' %>
<% content_for :custom_js do %>
  <script>
    $(function() {
      $('#finish_setting').on('click', function (event) {
        $.post('<%= setted_aid_path(@activity) %>', {}, function() {
          window.location.href = '/activities/aids';
        });
      });

      <% if @activity.can_not_edit? %>
        $('input, select, textarea').prop('disable', true);
        $('.wysiwyg-editor').attr('contenteditable', false);
      <% end %>
    });
  </script>
<% end %>
