<%= render :partial => "slider", :locals => {:has_slider_text => :yes} %>

<div class="index">
  <ul>
    <% website_menus.in_groups_of(5, false).each_with_index do |sub_menus, index| %>
      <% if index % 2 == 0 %>
        <% if sub_menus.first %>
          <li>
            <%= link_to menu_url(sub_menus.first), :class => 'box mod-index' do %>
              <%= sub_menus.first.pic_or_icon :has_title => true %>
            <% end %>
          </li>
        <% end %>
        <ol>
          <% sub_menus[1..-1].each do |menu| %>
            <li>
              <%= link_to menu_url(menu), :class => 'box mod-index' do %>
                <%= menu.pic_or_icon :has_title => true, :pic_type => "thumb" %>
              <% end %>
            </li>
          <% end %>
        </ol>
      <% else %>
        <ol>
          <% sub_menus[0..3].each do |menu| %>
            <li>
              <%= link_to menu_url(menu), :class => 'box mod-index' do %>
                <%= menu.pic_or_icon :has_title => true, :pic_type => "thumb" %>
              <% end %>
            </li>
          <% end %>
        </ol>
        <% if sub_menus[4] %>
          <li>
            <%= link_to menu_url(sub_menus[4]), :class => 'box mod-index' do %>
              <%= sub_menus[4].pic_or_icon :has_title => true %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>