<% unless @website_menus.size.zero? %>
    <div class="list8 clearfix">

      <% @website_menus[0..2].each do |menu| %>
          <%= link_to menu_url(menu), class: 'box' do %>
              <div class="img-box">
                <%= menu.pic_or_icon has_title: false, pic_type: "custom", pic_wrap_tag_i: :no, show_picture_material: :no, class: 'img' %>
              </div>
              <div class="text-box">
                <div class="text-title"><%= menu.title %></div>
              </div>
          <% end %>
      <% end %>

      <% @website_menus[3..-1].to_a.in_groups_of(3, false).each do |menus| %>
          <% menus.unshift(nil) if menus.size == 1 %>
          <% menus.each do |menu| %>
              <% if menu %>
                  <%= link_to menu_url(menu), class: 'box' do %>
                      <div class="img-box">
                        <%= menu.pic_or_icon has_title: false, pic_type: "custom", pic_wrap_tag_i: :no, show_picture_material: :no, class: 'img' %>
                      </div>
                      <div class="text-box">
                        <div class="text-title"><%= menu.title %></div>
                      </div>
                  <% end %>
              <% else %>
                  <a href="javascript:;" class="box"></a>
              <% end %>
          <% end %>
      <% end %>
    </div>
<% end %>