<%= render :partial => "slider" %>

<div class="index">
  <div class="mod-index">
    <ul>
      <% website_menus.each do |menu| %>
        <% next unless menu.multiple_graphic? || menu.has_sub_menus? %>
        <% if menu.multiple_graphic? %>
            <% main_material = menu.menuable %>
            <% next unless main_material%>

            <li>
              <h1>
                <%= link_to menu.title, menu_url(menu) %>
              </h1>
              <div class="bd">
                <%= link_to material_type_url(main_material, menu), class: 'mod-index-a' do %>
                    <i><%= image_tag main_material.pic.thumb if main_material.pic? %></i>
                    <small><%= main_material.title %></small>
                <% end %>
                <% main_material.children.each do |child| %>
                    <%= link_to material_type_url(main_material, menu), class: 'mod-index-a' do %>
                        <i><%= image_tag child.pic.thumb if child.pic? %></i>
                        <small><%= child.title %></small>
                    <% end %>
                <% end %>
              </div>
            </li>


        <% else %>
            <li>
              <h1>
                <%= link_to menu.title, menu_url(menu) %>
              </h1>
              <div class="bd">
                <% menu.sub_menus.each do |child| %>
                    <%= link_to menu_url(child), class: 'mod-index-a' do %>
                        <% if child.pic? or child.font_icon.present? %>
                            <% if child.pic? %>
                                <i><%= image_tag child.pic.large %></i>
                            <% elsif child.font_icon.present? %>
                                <i class="<%= child.font_icon %>"></i>
                            <% else %>
                                <i></i>
                            <% end %>
                        <% else %>
                            <i></i>
                        <% end %>
                        <small><%= child.title %></small>
                    <% end %>
                <% end %>
              </div>
            </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>