<div class="mod-logo">
  <i><%= image_tag website.logo_url if website.logo_key.present? %></i>
</div>
<div class="index" id="index">
  <% website_menus.each do |menu| %>
    <%= link_to menu_url(menu), class: 'box mod-index' do %>
        <%= menu.pic_or_icon has_title: true, pic_type: "custom" %>
    <% end %>
  <% end %>
</div>

<%= render "iscroll", {:selector => "#stage"} %>

<% content_for :document_ready_js do %>
    <% if @website_setting.bg_image.present? %>
        // 静态背景图
        //$(".html").css("background-image", "url(<%= @website_setting.bg_image %>)");
    <% end %>
<% end %>