<%= render "slider", {:has_slider_text => :yes} %>

<div class="index">
  <div class="navLine-img">
    <% website_menus[0..7].each do |menu| %>
        <li>
          <%= link_to menu_url(menu), class: 'box mod-index-img' do %>
              <%= menu.pic_or_icon :has_title => true, :pic_type => "thumb" %>
          <% end %>
        </li>
    <% end %>
  </div>

  <% website_menus.each do |menu| %>
      <% next unless menu.multiple_graphic? || menu.has_sub_menus? %>
      <p class="index-title">
        <%= menu.pic_or_icon :has_title => false, :pic_type => "thumb" if menu.pic? || menu.font_icon.present? %>
        <b><%= menu.title %></b>
      </p>

      <ul class="ul-text">
        <% if menu.multiple_graphic? %>

            <% main_material = menu.menuable %>

            <% if main_material.present? %>
                <li>
                  <%= link_to material_type_url(main_material, menu), class: 'box mod-index' do %>
                      <i><%= main_material.title %></i>
                  <% end %>
                </li>
            <% end %>

            <% main_material.children.each do |child| %>
                <li>
                  <%= link_to material_type_url(child, menu), class: 'box mod-index' do %>
                      <i><%= child.title %></i>
                  <% end %>
                </li>
            <% end if main_material.present? %>

        <% else %>

            <% menu.sub_menus.each do |child| %>
                <li>
                  <%= link_to menu_url(child), class: 'box mod-index' do %>
                    <i><%= child.name %></i>
                  <% end %>
                </li>
            <% end %>

        <% end %>
      </ul>
  <% end %>

</div>