<div class="mod-logo">
  <%= image_tag website.logo_url if website.logo_key.present? %>
</div>

<%= render "slider" %>

<div class="index">
  <% website_menus.each do |menu| %>
      <%= link_to menu_url(menu), class: 'box mod-index' do %>
          <div class="index-img">
            <%= menu.pic_or_icon has_title: false, pic_type: "thumb" %>
          </div>
          <div class="index-text">
            <b><%= menu.title %></b>
            <small></small>
          </div>
      <% end %>
  <% end %>
</div>