<%= render :partial => "slider", :locals => {:has_slider_text => :yes} %>

<div class="index">

  <% website_menus.each_with_index do |menu, index| %>
    <%= link_to menu_url(menu), :class => 'box mod-index' do %>
      <% if index % 2 == 0%>
        <div class="index-text">
          <p><b><%= menu.title %></b><!-- <small>副标题</small> --> </p>
        </div>
        <div class="index-img">
          <%= menu.pic_or_icon :has_title => false, :pic_type => "custom" %>
        </div>
      <% else %>
        <div class="index-img">
          <%= menu.pic_or_icon :has_title => false, :pic_type => "custom" %>
        </div>
        <div class="index-text">
          <p><b><%= menu.title %></b><!-- <small>副标题</small> --> </p>
        </div>
      <% end %>
    <% end %>
  <% end %>

</div>