<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '微医疗', hospitals_url %></li>
        <li><%= link_to '预约管理', hospital_orders_url %></li>
      </ul>
      <%= render partial:'/layouts/qrcode' %>
    </div>

    <div class="page-content">
      <div class="tabbable">
      <%= render "pro/hospitals/top_hospital" %>
      <div class="tab-content no-border padding-24">
      <%= form_for @search, url: history_hospital_orders_path, :html => { :method => :get} do |f| %>
          <div class="col-sm-12 no-padding">
            <div class="col-sm-3 no-padding">
              <div class="input-group input-group-text">
                <span class="input-group-addon">预约单号：</span>
                <%= f.text_field :order_no_like, class:"col-sm-12" %>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group input-group-text">
                <span class="input-group-addon">预约人：</span>
                <%= f.text_field :username_like, class:"col-sm-12" %>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group input-group-text">
                <span class="input-group-addon">状态：</span>
                <%= f.select :status_eq, HospitalOrder.status_options, {include_blank: '全部'},class:"col-sm-12" %>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group input-group-text">
                <span class="input-group-addon">预约医生：</span>
                <%= f.select :hospital_doctor_id_eq, @hospital.hospital_doctors.pluck(:name, :id), {include_blank: '全部'},class:"col-sm-12" %>
              </div>
            </div>

            </div>
          <div class="col-sm-12 no-padding margin-top-10">
            <div class="col-sm-3 no-padding ">
              <div class="input-group input-group-text">
                <span class="input-group-addon">预约日期：</span>
                <div class="input-group">
                  <%= f.text_field :booking_at_gte, value: @search.booking_at_gte.try(:to_date), class: "input-small datepicker" %>
                      <span class="input-group-addon input-group-addon-text">
                         -
                      </span>
                  <%= f.text_field :booking_at_lte, value: @search.booking_at_lte.try(:to_date), class: "input-small datepicker" %>
                </div>
              </div>
            </div>
            <div class="col-sm-3 row">
              <input type="submit" class="btn btn-primary btn-sm btn-filter" value="查询">
            </div>
          </div>

      <% end %>

      <div class="row">
        <div class="col-sm-12 margin-top-20">
          <table id="orderTable" class="table table-striped table-bordered table-hover ">
            <thead>
              <tr>
                <th>预约单号</th>
                <th>预约人</th>
                <th>预约医生</th>
                <th>科室</th>
                <th>预约日期</th>
                <th>状态</th>
               <!-- <th>操作</th>-->
              </tr>
            </thead>
            <tbody>
              <% @hospital_orders.each do |order| %>
                <tr>
                  <td><%= order.order_no %></td>
                  <td><%= order.username %></td>
                  <td><%= order.hospital_doctor.try(:name) %></td>
                  <td><%= order.hospital_department.try(:name) %></td>
                  <td><%= cn_am_pm order.booking_at %></td>
                  <td><%= order.status_name %></td>
                  <!--<td>
                    <%= link_to "详情", "javascript:void(0);", class: "fgreen", data: { toggle: "modals", height: "400", title: "预约详情", iframe: hospital_order_url(order) } %>
                    <%= link_to "就诊", complete_hospital_order_path(order), class: "fgreen", data: { toggle: "modals", target: "addDish", method: 'post', confirm: "确定已就诊？" } if order.appointment? %>
                    <%= link_to "取消", cancele_hospital_order_path(order), class: "fgreen", data: { toggle: "modals", target: "delModal", method: 'post', confirm: "确定要取消？" } if order.appointment? %>
                  </td>-->
                </tr>
              <% end %>
              <% if @hospital_orders.blank? %>
                <tr><td colspan="7" class="green text-center">无记录</td></tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @hospital_orders %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<% end %>
