
<header>
  <a href="<%= app_trips_url %>" class="ico-prev tleft"><img src="/assets/mobile/wtrave/ico-back.png"></a>
  <h1>我的预约单</h1>
</header><!-- header end -->
<section>
  <div class="box-order box">
    <% if @orders.count == 0 %>
    <div class="order-null">
      您还没有预订单，快去逛逛吧！
    </div>
    <% else %>
      <% @orders.each do |order| %>
        <div class="order-li">
          <div class="hd">预约单号：<%= order.order_no %></div><!-- hd end -->
          <div class="bd">
            <a class="fw">
              <div class="fl"><img src="<%= order.trip_ticket.pic.thumb if order.trip_ticket.pic? %>"></div>
              <div class="fr">
                <p><span><%= order.ticket_name %></span><b>￥<%= f order.price %><br>x<%= order.qty %></b></p>
                <p>游玩时间：<%= order.booking_at.try(:to_date) %></p>
              </div>
            </a>
          </div><!-- bd end -->
          <div class="bd">
            <div class="fr">
              <p>
                <span>总       价：</span>
                <b class="fred">￥<%= f order.total_amount %></b>
              </p>
            </div>
          </div><!-- ft end -->
          <div class="order-bg"></div>
        </div><!-- list-li end -->
      <% end %>
  <% end %>
</div>
</section><!-- section end -->