<div class="box-des fl">

  <div class="des-l" style="width:230px; height: 450px; min-height: 450px;">
    <div class="des-view" style="width:218px;"> 
      <b class="activity_notice_title_preview"><%=  @activity.active_activity_notice.title %></b>
      <span><%= Date.today %></span>
      <p class="img upload-preview-img-218-100">
        <%= image_tag @activity.active_activity_notice.pic, class: 'active_notice_pic' %>
      </p>
      <p class="intro activity_notice_summary_preview">
        <%= @activity.active_activity_notice.summary || @activity.active_activity_notice.description %>
      </p>
    </div>
  </div>

  <div class="des-r" style="width:493px; height: 450px; min-height: 450px;">
    <div class="box-form form-row fl">
      <div class="p">
        <span>活动开始微信消息标题 <em>*</em><span class="fgray">（不能超过64个字）</span></span>
        <%= aan.text_field :title, maxlength: 64, class: "activity_notice_title input-text" %>
      </div>
    </div>

    <div class="p">
      <span>
        活动开始微信消息图片 <em>*</em>
      </span>
      <div class="box-upload">
        <div class="margin">
          <div class="box-file">
            <%= aan.file_field :pic, class: 'img_preview', rel: 'active_notice_pic' %>
            <a class="btn btn-big">上传图片</a>
          </div>
          <span class="p-file fgray">（图片建议尺寸：720像素*400像素）</span>
        </div>
      </div>
    </div>

    <div class="box-form form-row fl">
      <div class="p">
        <span>活动开始微信消息摘要 <span class="fgray">（不能超过255个字<%= '. "{}"中的内容为动态内容，去掉后将不显示.' if @activity.activity_type.consume? %>）</span></span>
        <%= aan.text_area :summary, maxlength: 255, rows: 5, class: "activity_notice_summary", style: 'height: 80px;' %>
      </div>
  
      <div class="p">
        <span>活动开始说明<span class="fgray">（不能超过2000个字）</span></span>
        <%= aan.text_area :description, rows: 5, class: "activity_notice_description", style: 'height: 80px;' %>
      </div>
    </div>
    
  </div> 

</div>


