<%= render 'p_note' %>
<style type="text/css">
  .box-form .p .input-date { width: 160px; }
</style>

<div class="box-des fl">
  <div class="des-l" style="width:230px;">
    <div class="des-view" style="width:218px;">
      <b class="activity_notice_title_preview"><%=  @activity.ready_activity_notice.title %></b>
      <span><%= Date.today %></span>
      <p class="img upload-preview-img-218-100">
        <%= image_tag @activity.ready_activity_notice.pic, class: 'ready_pic' %>
      </p>
      <p class="intro activity_notice_summary_preview">
        <%= @activity.ready_activity_notice.summary || @activity.ready_activity_notice.description %>
      </p>
    </div>
  </div>
  <div class="des-r" style="width:493px">
    <div class="box-form form-row fl">
      <div class="p">
        <span>活动预热微信消息标题 <em>*</em><span class="fgray">（不能超过64个字）</span></span>
        <%= ran.text_field :title, maxlength: 64, class: "activity_notice_title input-text" %>
      </div>
    </div>

    <div class="p">
      <span>
        活动预热微信消息图片 <em>*</em>
      </span>
      <div class="box-upload">
        <div class="margin">
          <div class="box-file">
            <%= ran.file_field :pic, class: 'img_preview', rel: 'ready_pic' %>
            <a class="btn btn-big">上传图片</a>
          </div>
          <span class="p-file fgray">（图片建议尺寸：720像素*400像素）</span>
        </div>
      </div>
    </div>

    <div class="box-form form-row fl">
      <div class="p">
        <span>活动预热微信消息摘要<span class="fgray">（不能超过255个字<%= '. "{}"中的内容为动态内容，去掉后将不显示.' if @activity.activity_type.consume? %>）</span></span>
        <%= ran.text_area :summary, maxlength: 255, rows: 5, class: "activity_notice_summary", style: 'height: 80px;' %>
      </div>
      <div class="p">
        <span>活动预热说明<span class="fgray">（不能超过2000个字）</span></span>
        <%= ran.text_area :description, rows: 5, class: "activity_notice_description", style: 'height: 80px;' %>
      </div>
      <div class="p">
        <span>
          活动时间
          <em>*</em>
          <span class="fgray">（请确保活动预热时间比活动开始时间早，若和活动开始时间一样，则表示该活动没有预热）</span>
        </span>
        <i>活动预热时间 从</i>
        <%= f.text_field :ready_at, class: 'datetimepicker input-date', readonly: true %>
        <i>到活动开始时间<em>*</em><em style="width:80px;"></em></i> <i class="ready-at-message red hide"></i>
      </div>
      <div class="p">
        <i>活动开始时间 从</i>
        <%= f.text_field :start_at, class: 'datetimepicker input-date', readonly: true %>
        <i>到</i>
        <%= f.text_field :end_at, class: 'datetimepicker input-date', readonly: true %>
        <i><em>*</em></i> <i class="start-at-message red hide"></i>
      </div>
      <div class="p">
        <i>活动触发关键词 </i>
        <em>*</em>
          <span class="fgray">（活动的关键词不能重复）</span>
        <%= f.text_field :keyword, class: "input-text", style: "margin-left:12px; width:160px;" %>
      </div>
    </div>

    <div class="box-form form-row fl">
      <% if @activity.activity_type.consume? %>
        <%= f.fields_for :activity_property do |activity_property| %>
        <div class="p">
          <i>优惠券发放总数 </i><%= activity_property.text_field :coupon_count, class: 'remove-last-dot input-text', style: "margin-left:12px;width:122px;" %>
          <i>张<em>*</em>&ensp;</i> <i class="coupon-count-message red"></i>
        </div>

        <div class="p">
          <i>每人允许领取数 </i><%= activity_property.text_field :get_limit_count, class: 'remove-last-dot input-text', style: "margin-left:12px;width:122px;" %>
          <i>张<em>*</em>&ensp;</i> <i class="get-limit-count-message red"></i>
        </div>
        <div class="p">
          <i>重复抽奖时回复 <em>*</em>超过允许领取数时，回复此内容</i><%= activity_property.text_field :repeat_draw_msg, class: 'input-text', style: "width:268px;" %>
          <i class="repeat-draw-msg-message red"></i>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
