<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '微互动', activity_forms_path %></li>
        <li><%= link_to '微调研', surveys_activities_path %></li>
      </ul>
      <!-- .breadcrumb -->
      <%= render '/layouts/qrcode' %>

    </div>
    <div class="page-content">
      <div class="tabbable">
        <ul class="nav nav-tabs padding-24 tab-size-bigger">
          <li class="active">
            <a href="/activities/surveys">
              微调研管理
            </a>
          </li>
          <li>
            <a href="/survey_questions/user_data">
              用户数据
            </a>
          </li>
        </ul>
        <div class="tab-content no-border padding-24">
          <div id="tab-1" class="tab-pane fade active in">
            <div class="row">
              <div class="col-xs-12">
                <div class="alert alert-block alert-info">
                  <strong class="pull-left">提示：</strong>
                  <ul class="vwebsiteHeadAlert">
                    <%= activity_notes(@activity_type_id) %>
                  </ul>
                </div>
              </div>

              <%= form_for @search, url: {action: action_name}, html: { method: :get } do |f| %>
              <div class="col-sm-12">
                <div class="col-md-3 row">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">活动名称：</span>
                    <%= f.text_field :name_like, class: "col-xs-12" %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon">关键词：</span>
                    <%= f.text_field :keyword_like, class: "col-xs-12" %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group input-group-text">
                    <span class="input-group-addon"> 状态：</span>
                    <%#= f.select :status_eq,  Activity.status_options_by_type_id(@activity_type_id), {}, class: "col-xs-12" %>
                    <%= select_tag :status,  options_for_select(Activity.status_options_by_type_id(@activity_type_id), params[:status]), {class: 'col-xs-12'} %>
                  </div>
                </div>
                <div class="col-md-3 row pull-right">
                  <input type="submit" class="btn btn-primary btn-sm btn-filter" value="查询" />
                  <%= link_to "新增", "/activities/survey", class: "btn btn-primary btn-sm btn-filter pull-right", title: "新增微调研" %>
                </div>
              </div>
              <% end %>

                <div class="col-md-12 margin-top-20">

                  <table id="researchTable" class="table table-striped table-bordered table-hover dataTable ">
                    <thead>
                      <tr>
                        <th width="30%">活动名称</th>
                        <th>关键词</th>
                        <th>活动时间</th>
                        <th>状态</th>
                        <th>题目</th>
                        <th width="25%">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @activities.each do |activity| %>
                        <% attrs = activity.survey_status_attrs %>
                        <tr>
                          <td><%= truncate_u activity.name, length: 16 %></td>
                          <td><%= activity.keyword %></td>
                          <td><%= activity.duration %></td>
                          <td>
                            <%= attrs[0] %>
                            <%#= show_activity_status(activity) %>
                            <%#= activity.activity_type.fight? ? (activity.setted? ? activity.activity_status_name : (activity.setting? ? "未设题" : activity.status_name)) : "" %>
                          </td>
                          <td title="题目数量">
                            <%= activity.survey_questions.count %>
                          </td>
                          <td class="tleft">
                            <%= link_to "编辑", "/activities/#{activity.id}/survey", title: "编辑微调研" %> &nbsp;

                            <% if activity.allow_set_question? %>
                              <%= link_to "题目", "/survey_questions?activity_id=#{activity.id}" %> &nbsp;
                            <% end %>

                            <% if !(attrs[0] == Activity::NOT_START_NAME) && activity.survey_questions.present? %>
                              <%= link_to "统计图表", diagram_survey_questions_path(activity_id: activity.id) %> &nbsp;
                            <% end %>

                            <%= link_to "停止&nbsp;".html_safe, [:stop, activity], method: :post, :data => { :confirm => t('.confirm', :default => "调研活动正在进行，确认停止吗？") } if attrs[2] %>
                            <%= link_to "开启&nbsp;".html_safe, [:active, activity], method: :post, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } if attrs[1] %>
                            <%# if activity.allow_delete? %>
                              <%= link_to '删除', activity, method: :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } if attrs[3] %>
                            <%# end %>
                            <%= link_to '调研链接', vote_qrcode_activity_url(activity), class: 'fgreen', data: {target: "qrocde-#{activity.id}", remote: true} %>
                            <div class="new-add" style="display: none;" id="qrocde-<%= activity.id %>">
                              <!--p class="mod-loading"><img src="/assets/loading.gif"/></p-->
                            </div>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>

                  <%= paginate @activities %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% content_for :custom_js do %>
    <script>
    $(function(){
      $("#researchTable").on("click", '.fgreen', function(){
        $('.new-add').hide();
        $('#'+$(this).data('target')).show();  
      });
       
      $(".new-add").on("click", '.close', function(){
        $('#'+$(this).data('target')).hide();
      });
    });
    </script>
  <% end %>