<header>
  <a href="<%= @url.present? ? @url : 'javascript:void(0);' %>" class="ico-prev tleft"><img src="/assets/mobile/wtrave/ico-back.png"></a>
  <h1><%= @trip.name %></h1>
  <a href="<%= mobile_trip_orders_url %>" class="tright"><img src="/assets/mobile/wtrave/ico-order.png"></a>
</header>

<section>
  <div class="box-img" id="slider" style="visibility: visible;">
    <ul class="box-img-list" style="list-style: none; width: 5700px; transition: 0ms; -webkit-transition: 0ms; -webkit-transform: translate3d(-4275px, 0, 0);">
      <% @trip_ads.each do |ad| %>
        <li style="width: 1425px; display: table-cell; vertical-align: top;"><img src="<%= ad.pic_url %>"></li>
      <% end %>
    </ul>

    <div class="box-text">
      <span class="box-bd ellipsis fl" id="slider-span"><%= @trip_ads.first.try(:title) %></span>
      <div id="pagenavi" class="fr box-img-page">
        <% @trip_ads.each_with_index do |ad,index| %>
          <a href="#" class="<%= 'active' if index == 0 %>"><%= ad.title %></a>
        <% end %>
      </div>
      <div class="box-bg"></div>
    </div><!--box-text end-->
  </div><!--box-img end-->

  <!--nav开始-->
  <div class="order-title" id="order-title" style="display:none;">
    <ul class="trip-ticket-categories">
      <li><%= link_to '全部', mobile_trips_url, class: @category ? '' : 'active' %></li>
    </ul>
  </div>
  <div class="order-titles" id="order-titles" style="display:none;">
    <ul class="trip-ticket-categories">
    </ul>
  </div>
  <!--nav结束-->

  <div class="box-list">
    <% if @trip_tickets.blank? %>
      <div class="box-null">
        真遗憾，暂时没有门票哦！
      </div>
    <% else %>
      <% @trip_tickets.each do |ticket| %>
        <div class="list-li">
          <a class="hd" href="<%= mobile_trip_path(id: ticket.id) %>">
            <img src="<%= ticket.pic_url if ticket.pic_url.present? %>">
          </a>
          <div class="bd">
            <a href="<%= mobile_trip_path(id: ticket.id) %>">
              <p class="li-name"><%= ticket.name.to_s[0..25] %></p>
              <p class="li-intro"><%= ticket.description.to_s[0..29] %></p>
            </a>
            <a class="btn fr" href="<%= mobile_trip_path(id: ticket.id) %>">门票详情</a>
            <p class="li-sale">
              <span class="fl"><b class="fred"><%= f ticket.price %></b>元</span>
              <a class="btn fr" href="<%= new_mobile_trip_order_path(ticket_id: ticket.id) %>">在线预定</a>
              <!-- <a class="btn btn-gray fr">在线预定</a> -->
            </p>
          </div><!-- bd end -->
        </div><!-- list-li end -->
      <% end %>
    <% end %>
  </div>
</section><!-- section end -->

<script type="text/javascript">
    $(function(){
        var texts=<%= raw @trip_ads.collect(&:title).to_json %>;
        new Swipe(document.getElementById('slider'), {
            speed:500,
            auto:3000,
            callback: function(){
              var lis = $(this.element).next("div").find("#pagenavi").children();
              lis.removeClass("active").eq(this.index).addClass("active");
              $("#slider-span").html(texts[this.index]);
            }
        });
        $(".box-list .list-li").on({
            touchstart:function(){
                $(this).addClass("active");
            },
            touchend:function(){
                $(this).removeClass("active");
            }
        });
    });

    var category_data = <%= raw JSON.pretty_generate(@site.trip_ticket_categories.order(:position).collect{|t| {id: t.id, parent_id: t.parent_id.to_i, name: t.name, position: t.position}})%>, 
        select_data = []
        series = <%= raw @category.try(:series) || 1 %>;

    function select_categories(id, parent_id, level){
      var data = {level: level, selected: id, categories: []}, 
          category=null, 
          parent=null;
      $.each(category_data, function(i,c){
        if(c.parent_id == parent_id){
          data.categories.push(c);
        }
        if(c.id == id){
          category=c;
        }
        if(c.id == parent_id){
          parent=c;
        }
      });

      if(data.categories.length > 0){
        data.categories = data.categories.sort(function(a, b){return a.position-b.position});
        select_data.unshift(data);
      }

      if(parent){
        select_categories(parent.id, parent.parent_id, level - 1);
      }else{
        
        if(select_data.length > 0){
          var selected = select_data[select_data.length - 1].selected,
              categories = select_data[select_data.length - 1].categories;
          if(categories.length > 0 && selected != 0){

            data = {selected: '', level: series + 1, categories: []}
            $.each(category_data, function(i, c){
              if(c.parent_id == selected){
                data.categories.push(c);
              }
            });
            if(data.categories.length > 0){
              select_data.push(data);
            }
          }
        }
        
        $.each(select_data, function(i, data){
          $select = $('ul.trip-ticket-categories').eq(i);
          var html ='';
          $.each(data.categories, function(j, c){
            if(c.id == data.selected){
              html += '<li><a href="<%= mobile_trips_url %>?trip_ticket_category_id='+c.id+'" class="active">'+c.name+'</a></li>'
            }else{
              html += ' <li><a href="<%= mobile_trips_url %>?trip_ticket_category_id='+c.id+'" >'+c.name+'</a></li>'
            }
        
          });
          $select.append(html);
          $select.closest('div').show();
          vcScroll("#"+$select.closest('div').attr('id'));

        });

      }   
    }

    $(function(){
      select_categories(<%= @category.try(:id).to_i %>, <%= @category.try(:parent_id).to_i %>, series);
    });
</script>
