<% if website_menu.cover_pic_key.present? %>
    <div class="mod-slider slider-hor" id="index">
      <ul class="slider-list">
        <li><a><%= image_tag website_menu.cover_pic_url %></a></li>
      </ul>
      <div class="slider-text">
        <span class="fl slider-span" id="slider-span"><%= website_menu.name %></span>
      </div>
    </div>
<% end %>

<div class="index">
  <ul>
    <% left_arr , right_arr = [], [] %>
    <% if main_material %>

        <% left_arr << main_material %>

        <% child_material.each_with_index do |child, index| %>
            <% if index % 3 == 2 %>
                <% left_arr << child %>
            <% else %>
                <% right_arr << child %>
            <% end %>
        <% end %>

        <li>
            <% left_arr.each do |child| %>
              <%= link_to material_type_url(child, website_menu), class: 'box mod-index' do %>
                  <i><%= image_tag main_material.pic_url if child.pic_url %></i>
                  <small><%= child.title %></small>
              <% end %>
            <% end %>
        </li>

        <li>
          <% right_arr.each do |child| %>
              <%= link_to material_type_url(child, website_menu), class: 'box mod-index' do %>
                  <i><%= image_tag main_material.pic_url if child.pic_url %></i>
                  <small><%= child.title %></small>
              <% end %>
          <% end %>
        </li>

    <% elsif website_menu %>
        <% website_menu.sub_menus.each_with_index do |child, index| %>
            <% if index % 3 == 0 %>
                <% left_arr << child %>
            <% else %>
                <% right_arr << child %>
            <% end %>
        <% end %>

        <li>
          <% left_arr.each do |child| %>
              <%= link_to menu_url(child), class: 'box mod-index' do %>
                  <% if child.pic_url or child.font_icon.present? %>
                      <% if child.pic_url %>
                          <i><%= image_tag child.pic_url %></i>
                      <% elsif child.font_icon.present? %>
                          <i class="<%= child.font_icon %>"></i>
                      <% else %>
                          <i></i>
                      <% end %>
                  <% else %>
                      <i></i>
                  <% end %>
                  <small><%= child.title %></small>
              <% end %>
          <% end %>
        </li>

        <li>
          <% right_arr.each do |child| %>
              <%= link_to menu_url(child), class: 'box mod-index' do %>
                  <% if child.pic_url or child.font_icon.present? %>
                      <% if child.pic_url %>
                          <i><%= image_tag child.pic_url %></i>
                      <% elsif child.font_icon.present? %>
                          <i class="<%= child.font_icon %>"></i>
                      <% else %>
                          <i></i>
                      <% end %>
                  <% else %>
                      <i></i>
                  <% end %>
                  <small><%= child.title %></small>
              <% end %>
          <% end %>
        </li>

    <% end %>
  </ul>
</div>