<% if website_menu.cover_pic? %>
    <div class="mod-slider slider-hor" id="index">
      <ul class="slider-list">
        <li><a><%= image_tag website_menu.cover_pic.custom %></a></li>
      </ul>
      <div class="slider-text">
        <span class="fl slider-span" id="slider-span"><%= website_menu.name %></span>
      </div>
    </div>
<% end %>

<div class="index">
  <ul>
    <% if main_material %>
        <li>
          <%= link_to material_type_url(main_material, website_menu), class: 'box mod-index' do %>
              <i><%= image_tag main_material.pic.large if main_material.pic? %></i>
              <small><%= main_material.title %></small>
          <% end %>
        </li>

        <% child_material.each do |child| %>
            <li>
                <%= link_to material_type_url(child, website_menu), class: 'box mod-index' do %>
                    <i><%= image_tag child.pic.large if child.pic? %></i>
                    <small><%= child.title %></small>
                <% end %>
            </li>
        <% end %>
    <% elsif website_menu %>
        <% website_menu.sub_menus.each do |child| %>
            <li>
                <%= link_to menu_url(child), class: 'box mod-index'  do %>
                    <% if child.pic? or child.font_icon.present? %>
                        <% if child.pic? %>
                            <i><%= image_tag child.pic.large %></i>
                        <% elsif child.font_icon.present? %>
                            <i class="<%= child.font_icon %>"></i>
                        <% else %>
                            <i></i>
                        <% end %>
                    <% else %>
                      <i></i>
                    <% end %>
                    <small><%= child.title %></small>
                <% end %>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>