<header class="header">
    <div class="center960">
        <h1>
          <a href="<%= root_path %>">
            <!-- <img src="/assets/v5/global_logo.png" alt="微枚迪" title="微枚迪"> -->
          </a>
        </h1>
        <nav>
            <ul class="clearfix">
                <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "首页", root_url %></li>
                <li class="<%= 'active' if %w(navigation solution mobile).include?(action_name) %>">
                    <a href="javascript:;">微信平台<i class="arrow-down"></i></a>
                    <div class="nav-son">
                        <a class="nav-item <%= 'active' if action_name == 'navigation' %>" href="<%= navigation_path %>">
                            <span class="nav-icon"><i class="fa fa-book"></i></span>
                            <strong class="nav-txt">功能介绍</strong>
                        </a>
                        <a class="nav-item <%= 'active' if action_name == 'solution' %>" href="<%= solution_path %>">
                            <span class="nav-icon"><i class="fa fa-inbox"></i></span>
                            <strong class="nav-txt">客户案例</strong>
                        </a>
                        <a class="nav-item <%= 'active' if action_name == 'mobile' %>" href="/mobile">
                            <span class="nav-icon"><i class="fa fa-cloud-download"></i></span>
                            <strong class="nav-txt">APP下载</strong>
                        </a>
<!--                         <a href="#" class="nav-item">
                            <span class="nav-icon"><i class="fa fa-pencil-square"></i></span>
                            <strong class="nav-txt">大客户定制</strong>
                        </a> -->
                    </div>
                </li>
                <!-- <li><a href="./oa.html">移动OA</a></li> -->
                <li class="<%= 'active' if current_page?(yeahsite_path) %>"><%= link_to "移动建站", yeahsite_path %></li>
                <li class="<%= 'active' if current_page?(fxt_path) || controller_name == 'fxt'%>"><%= link_to "移动广告", fxt_path %></li>
                <li class="<%= 'active' if current_page?(wlife_path) %>"><%= link_to "移动商圈", wlife_path %></li>
                <li class="<%= 'active' if current_page?(spread_path) %>"><%= link_to "代理商加盟", spread_path %></li>
            </ul>
        </nav>
        <div class="header-link">
          <%= link_to "登录", sign_in_path, class: 'header-log' %>
          <%= link_to "注册", register_path, class: "header-reg" %>
        </div>
    </div>
</header>
