<div class="form-group">
  <label>活动名称<span class="required-star">*</span></label>
  <div class="clearfix">
    <%= activity.text_field :name, class: 'col-xs-6', id: 'keyword', placeholder: '不能超过64个字' %>
  </div>
</div>
<div class="form-group">
  <label class="control-label">活动触发关键词<span class="required-star">*</span><span class="icon-question-sign" data-rel="popover" data-trigger="hover" data-placement="right" data-content="关键词不能和其他进行中的活动的关键词重复"> </span></label>
  <div class="clearfix">
    <%= activity.text_field :keyword, class: 'col-xs-6', id: 'keyword', validate: true %>
  </div>
</div>

<div class="form-group">
  <label class="control-label">活动预热微信消息标题<span class="required-star">*</span><span class="icon-question-sign" data-rel="popover" data-trigger="hover" data-placement="right" data-content="发送关键词后返回的微信消息标题"> </span></label>
  <div class="clearfix">
    <%= notice.text_field :title, class: 'col-xs-6', id: 'wx_title',  placeholder: '请输入微信消息标题' %>
  </div>
</div>

<div class="form-group">
  <label class="control-label">活动预热微信消息图片<span class="icon-question-sign" data-rel="popover" data-trigger="hover" data-placement="right" data-content="发送关键词后返回的微信消息图片"></span></label>
  <div class="clearfix">
    <div data-name="activity[ready_activity_notice_attributes][pic_key]" data-img = "<%= data_img %>" data-key="<%= pic_data_key %>" class="cieldon-file width-100px" data-type="1" data-div="#img-1" data-height="200"></div>
    <small class="help-inline text-warning line-height-30">图片建议尺寸：720像素*400像素</small>
  </div>
</div>

<div class="form-group">
  <label class="control-label">活动预热微信消息摘要<span class="icon-question-sign" data-rel="popover" data-trigger="hover" data-placement="right" data-content="发送关键词后返回的微信消息摘要"></span></label>
  <div class="clearfix">
    <%= notice.text_area :summary, rows: 5, class: 'form-control', id: 'wx_summary', placeholder: '不能超过128个字', maxlength: 128 %>
  </div>
</div>

<div class="form-group">
    <label>
        活动预热说明
        <span class="required-star">*</span>
    </label>
    <div class="clearfix">
        <%= render "shared/form_rich_text", field_name: "description", obj: notice.object, f: notice, wrapper_html_options: {class: "col-md-11 activity_notice_description"}%>
    </div>
</div>

<div class="form-group">
    <label>活动预热时间<span class="icon-question-sign" data-rel="popover" data-trigger="hover" data-placement="right" data-content="请确保活动预热时间比活动开始时间早，若和活动开始时间一样或者不填活动预热时间，则表示该活动没有预热"></span></label>
    <div class="clearfix">
      <span class="pull-left">从</span>
      <%= activity.text_field :ready_at, class: 'date-time inputSmall width-30 pull-left required' %>
      <span class="pull-left">到活动开始时间</span>
    </div>
</div>

<div class="form-group">
  <label>
    活动时间
    <span class="required-star">*</span>
  </label>
  <div class="clearfix">
    <div class="col-md-8 no-padding">
      <%= datetime_range_tag activity, options: {class: 'required datetimerange col-sm-8'} %>
    </div>
  </div>
</div>
