<% current_class = (controller.send(:_layout) == "application_gm") ? 'pagecurrent current' : 'pagecurrent current' %>
<ul class="box-nav box important">
  <li class="<%= current_page?(websites_path) ? current_class : '' %>">
    <%= link_to websites_path do %><span>微官网设置</span><% end %>
  </li>
  <li class="<%= current_page?(website_settings_path) || (controller_name == 'website_settings' && action_name == 'show') ? current_class : '' %>">
    <%= link_to  website_settings_path do %><span>模板样式</span><% end %>
  </li>
  <li class="<%= controller_name == 'website_menus' ? current_class : '' %>">
    <%= link_to website_menus_path do %><span>站点内容</span><% end %>
  </li>

  <li class="<%= controller_name == 'website_pictures' ? current_class : '' %>">
    <%= link_to website_pictures_path do %><span>首页幻灯片</span><% end %>
  </li>

  <li class="<%= controller_name == 'website_settings' && action_name == 'bg_pic' ? current_class : '' %>">
    <%= link_to bg_pic_website_settings_path do %><span>首页背景图</span><% end %>
  </li>

  <li class="<%= controller_name == 'website_popup_menus' && @nav_type != WebsitePopupMenu::POPUP_MENU ? current_class : '' %>">
    <%= link_to website_popup_menus_path(nav_type: WebsitePopupMenu::HOME_NAV_MENU) do %><span>导航菜单</span><% end %>
  </li>

  <li class="<%= controller_name == 'website_popup_menus' && (@nav_type.blank? || @nav_type == WebsitePopupMenu::POPUP_MENU) ? current_class : '' %>">
    <%= link_to website_popup_menus_path(nav_type: WebsitePopupMenu::POPUP_MENU) do %><span>快键菜单</span><% end %>
  </li>

  <li class="<%= action_name == 'qrcode' ? current_class : '' %>">
    <%= link_to  qrcode_websites_path do %><span>二维码</span><% end %>
  </li>
  
  <li class="<%= action_name == 'domain' ? current_class : '' %>">
    <%= link_to  domain_websites_path do %><span>个性化域名</span><% end %>
  </li>

  <li class="<%= controller_name == "flow_reports" ? "pagecurrent current" : '' %>">
    <%= link_to flow_reports_path do %><span>流量统计</span></span><i></i><% end %>
  </li>

  <!--<div class="help">-->
    <!--<%#= link_to '', help_websites_path %>-->
  <!--</div>-->

</ul>

<script>
$(function(){
  $(".box-nav").on("click","a",function(){
    var $this = $(this);

    if ( $this.hasClass('product_item') ) {
      alert('您的套餐类型无法使用该功能，请联系经销商升级高版本套餐')
      return false;
    }
  });
});
</script>