<% if current_user.bqq_account? %>
<ul class="box-nav box important">
  <% if current_user.has_privilege_for?(1001) %>
  <li class="<%= action_name == 'helpers' ? "pagecurrent current" : "" %>">
    <%= link_to helpers_url do %>
      <span>生活小助手</span>
    <% end %>
  </li>
  <% end %>
  <% if current_user.has_privilege_for?(1002) %>
  <li class="<%= action_name == 'games' ? "pagecurrent current" : "" %>">
    <%= link_to games_url do %>
      <span>休闲小游戏</span>
    <% end %>
  </li>
  <% end %>
</ul>
<% else %>
<ul class="box-nav box important">
  <li class="<%= current_page?(welcome_wx_mp_users_path) ? "pagecurrent current" : '' %>">
    <%= link_to welcome_wx_mp_users_path do %><span>首次关注</span><% end %>
  </li>
  <li class="<%= current_page?(reply_wx_mp_users_path) ? "pagecurrent current" : '' %>">
    <%= link_to reply_wx_mp_users_path do %><span>自动回复</span><% end %>
  </li>
  <li class="<%= controller_name.include?("materials") ? "pagecurrent current" : "" %>">
    <%= link_to materials_url do %><span>素材管理</span><% end %>
  </li>
  <li class="<%= (controller_name == 'questions' && action_name != 'reply') || controller_name == 'answers' ? "pagecurrent current" : "" %>"><%= link_to questions_url do %><span>关键字回复</span><% end %></li>
  <li class="<%= controller_name == 'wx_menus' ? "pagecurrent current" : "" %>"><%= link_to wx_menus_url do %><span>自定义菜单</span><% end %></li>
  <li class="<%= action_name == 'helpers' ? "pagecurrent current" : "" %>">
    <%= link_to helpers_url do %>
      <span>生活小助手</span>
    <% end %>
  </li>
  <li class="<%= action_name == 'games' ? "pagecurrent current" : "" %>">
    <%= link_to games_url do %>
      <span>休闲小游戏</span>
    <% end %>
  </li>
</ul>
<% end %>
