<% current_class = (controller.send(:_layout) == "application_gm") ? 'pagecurrent current' : 'pagecurrent current' %>

<ul class="box-nav box important">
    <li class="<%= (controller_name =~ /micro_shop/i) ? "pagecurrent current" : '' %>">
      <%= link_to micro_shops_url do %><span>微门店</span><% end %>
    </li>
    <li class="<%= (controller_name == 'activity_forms' or controller_name == 'activity_enrolls') ? current_class : '' %>">
      <%= link_to activity_forms_url do %><span>微报名</span><% end %>
    </li>
    <li class="<%= (request.original_url =~ /vote/i || (request.original_url =~ /user_data/i && !request.original_url.include?("survey")) || (request.original_url =~ /diagram/i && !request.original_url.include?('survey_questions')) || @activity.try(:activity_type_id)==12 || @activity_type_id=='12') ? current_class : '' %>">
      <%= link_to votes_activities_path do %><span>微投票</span><% end %>
    </li>
    <li class="<%= (controller_name.include?('survey_questions') || action_name.include?('surveys') || @activity.try(:activity_type_id)==15 ) ? current_class : '' %>">
      <%= link_to surveys_activities_path do %><span>微调研</span><% end %>
    </li>
    <li class="<%= (request.original_url =~ /groups/i || @activity.try(:activity_type_id)==14 || @activity_type_id=='14') && @activity.try(:activity_type_id)!=30 ? current_class : '' %>">
      <%= link_to groups_activities_path do %><span>微团购</span><% end %>
    </li>
    <li class="<%= (request.original_url =~ /group/i) and @activity.try(:activity_type_id)==30 ? current_class : ''%>">
      <%= link_to groups_path do %><span>微团购支付版</span><% end %>
    </li>

    <li class="<%= (request.original_url =~ /album/i || @activity.try(:activity_type_id)==19 || @activity_type_id=='19') ? current_class : '' %>">
      <%= link_to activity_albums_path do %><span>微相册</span><% end %>
    </li>
    <li class="<%= (request.original_url =~ /leaving_messages/i || @activity.try(:activity_type_id)==24 || @activity_type_id=='24') ? current_class : '' %>">
      <%= link_to edit_activity_leaving_messages_path do %><span>微留言</span><% end %>
    </li>
    <li class="<%= (request.original_url =~ /greet/i || @activity.try(:activity_type_id)==33 || @activity_type_id=='33') ? current_class : '' %>">
      <%= link_to activity_greets_path do %><span>微贺卡</span><% end %>
    </li>
    <li class="<%= ['kf_settings', 'staffs'].include?(controller_name) ? "pagecurrent current" : '' %>"><%= link_to kf_settings_path do %><span>微信客服系统</span><% end %></li>
    <li class="<%= ['prints', 'supplier_print_picutures', 'supplier_print_clients'].include?(controller_name) ? "pagecurrent current" : '' %>">
      <%= link_to activities_prints_path do %><span>微信打印系统</span><% end %>
    </li>

    <li class="<%= ['wifi_clients'].include?(controller_name) ? "pagecurrent current" : '' %>">
      <%= link_to wifi_clients_path do %><span>微WiFi</span><% end %>
    </li>

    <li class="<%= ['wx_walls','wx_wall_user_prizes','wx_wall_messages'].include?(controller_name) ? "pagecurrent current" : '' %>"><%= link_to wx_walls_path do %><span>微信墙</span><% end %></li>
    <li class="<%= ['wbbs_communities', 'wbbs_topics'].include?(controller_name) ? "pagecurrent current" : '' %>">
      <%= link_to wbbs_communities_path do %><span>微社区</span><% end %>
    </li>
</ul>

<%- if request.original_url =~ /greet/i || @activity.try(:activity_type_id)==33 || @activity_type_id=='33' %>
  <div class="help"><%= link_to "", help_greet_cards_path %></div>
<%- end %>

<%- if request.original_url =~ /wx_wall/i || @activity.try(:activity_type_id)==38 || @activity_type_id=='38' %>
  <div class="help"><%= link_to "", help_wx_walls_path %></div>
<%- end %>
