<div class="warpVMS">
  <div class="vMicroShow">
    <div class="vMSHd">
      <div class="vMSImg" id="img-1"><%#= image_tag @material.pic_url, width: '360' if @material.pic_url %></div>
      <p class="vMSTitle" id="preview_title"><%= @material.title || '标题' %></p>
    </div>

    <div class="vMSList">
      <% if @material.new_record? %>
        <div class="vMSli" data-id="1" data-body="1" data-url="#">
          <span class="pull-left" id='title-2'>标题</span>
          <span class="pull-right" id="img-2"></span>
        </div>
      <% else %>
        <% @material.children.each_with_index do |child, index| %>
          <div class="vMSli" data-id="<%= index+1 %>" data-body="<%= index+1 %>" data-url="#">
            <span class="pull-left" id="title-<%= index+2 %>"><%= child.title %></span>
            <span class="pull-right" id="img-<%= index+2 %>"></span>
          </div>
        <% end %>
      <% end %>

      <div class="addvMS">
        <a href="javascript:;" data-fn="addMater"><i class="fa fa-plus"></i> 增加一条</a>
      </div>
    </div>
  </div>
  <%= link_to '返回列表', multiple_materials_url, class: "btn btn-sm btn-default margin-top-20" %>
</div>

<% if @material.new_record? %>
  <% default_temp_pic_url = qiniu_image_url('FiF0tSo5WZzH_i0_CDUgemvPd8Et'); default_temp_pic_key = 'FiF0tSo5WZzH_i0_CDUgemvPd8Et' %>
<% else %>
  <% default_temp_pic_url = @material.pic_url; default_temp_pic_key = @material.pic_key %>
<% end %>

<div id="material-form-template" style="display:none;">
  <div id="file-upload-token" data-token='<%= qiniu_pictures_upload_token %>' data-bucket='<%= BUCKET_PICTURES %>'></div>

  <div class="form-wrap">
    <input name="materials[][site_id]" value="<%= @material.site_id %>" type="hidden" />
    <input name="materials[][material_type]" value="<%= @material.material_type %>" type="hidden" />

    <div class="form-group">
      <label class="control-label">标题<span class="required-star">*</span></label>
      <div class="clearfix">
        <input type="text" name="materials[][title]" class="col-xs-6 material_title" placeholder="不能超过64个字">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">封面<small class="help-inline text-warning line-height-32">图片建议尺寸：720像素*400像素</small></label>
      <div class="clearfix">
        <div class="cieldon-file width-100px" data-name='materials[][pic_key]' data-type="1" data-div="" data-height="70" data-width="70" data-img="<%= default_temp_pic_url %>" data-key="<%= default_temp_pic_key %>"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="margin-b-10">
        <input type="checkbox" checked="checked" name="materials[][is_show_pic]" class="ace">
        <span class="lbl">封面图片显示在正文中</span>
      </label>
    </div>

    <%#= render 'weixin_show_type', f: f %>
    <div class="form-group">
      <label class="control-label">展现类型<span class="required-star">*</span></label>
      <div class="clearfix">
        <%= select_tag 'materials[][reply_type]', options_for_select(Material.reply_type_options), class: "col-xs-6" %>
      </div>
    </div>

    <div class="form-group">
      <div class="tab-content no-border no-padding" id="tab1">
        <div class="tab-pane active" id="tab-1">
          <div class="form-group">
            <label class="control-label">摘要</label>
            <div class="clearfix">
              <%= text_area_tag 'materials[][summary]', '', class: 'form-control', rows: 3, maxlength: 120, placeholder: "不能超过120个字" %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">正文</label>
            <div class="clearfix">
              <%= render "shared/form_rich_text", field_name: "content", obj: Material.new, options: { name: 'materials[][content]' }, wrapper_html_options: { class: "col-xs-12" } %>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab-2">
          <div class="form-group">
            <label class="control-label">选择活动<span class="required-star">*</span></label>
            <div class="clearfix">
              <%= select_tag 'materials[][activity_id]', options_for_select(current_site.activities.active.unexpired.map{|m| [truncate_u(m.name), m.id] }), { class: 'col-xs-6' } %>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab-3">
          <div class="form-group">
            <label class="control-label">来源<span class="required-star">*</span></label>
            <div class="clearfix">
              <%= text_field_tag 'materials[][source_url]', '', class: 'col-xs-6', placeholder: "请输入URL" %>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group">
      <input type="submit" value="保存" class="btn btn-primary btn-sm"/>
    </div>
  </div>
</div>
