<% website_menus.each_with_index do |menu, index| %>

  <%if index % limit == 0%>
    <a href="<%= menu_url(menu)%>" class="box mod-index index-1" style="background: <%= @bg_colors[@menu_index % 10]%>">
      <p>
        <% if menu.pic? %>
          <i><%= image_tag menu.pic.thumb %></i>
        <% else %>
          <i class="fa <%= menu.font_icon %>"></i>
        <% end %>
      </p>
      <p>
        <span><%= menu.title %></span>
      </p>
    </a>
  <%else%>
    <%class_names = ["box", "mod-index"]%>
    <%if index % limit == 1%><div class="index-row"><%end%>
    <%= link_to menu_url(menu), class: class_names.join(" "), style: "background: #{@bg_colors[@menu_index % 10]}" do %>
        <% if menu.pic? %>
            <i><%= image_tag menu.pic.thumb %></i>
          <% else %>
            <i class="fa <%= menu.font_icon %>"></i>
          <% end %>
          <small><%= menu.title %></small>
        <% end %>
        <%if index % limit == (limit - 1)%></div><%end%>
    <%end%>

    <%@menu_index += 1%>
  <%end%>