<% if sub_menu.has_children? %>
    <dl menu_id="<%= sub_menu.id %>">
      <dt>
        <b><%= sub_menu.name %></b>
        <span>
          <% if sub_menu.allow_menu_layer %>
            <%= link_to '', new_ec_seller_cat_url(parent_cid: sub_menu.id, parent_id: sub_menu.id), class: 'ico-add', title: "新增子目录" %>
          <% end %>
          <%= link_to '', edit_ec_seller_cat_url(sub_menu), class: 'ico-edit', title: "编辑当前目录" %>
          <%#= link_to '', ec_seller_cat_path(sub_menu), method: :delete, confirm: "确认删除分类？", class: "ico-delete", title: "删除当前目录"%>
          <a class="ico-delete" href="javascript:void(0);" onclick="pop(this)" data-id="<%= sub_menu.id %>" data-w="300" data-h="180" data-title="系统提示" title="删除当前目录" data-bd="<div class='box-form form-row'><form><p>确认删除分类？<br>分类删除后它和它子分类的商品都将下架</p><p class='tcenter'><a class='btn btn-small btn-orange' href='<%= ec_seller_cat_path(sub_menu) %>' data-method= 'delete'>确认</a>　<input value='取消' class='btn btn-small btn-close'/></p></form></div>"></a>
          <%= link_to '', 'javascript:void(0);', class: 'ico ico-up', title: "上移", layer: sub_menu.parent ? 1 : 0, menu_id: sub_menu.id, parent_id: sub_menu.parent_id, type: 'up' %>
          <%= link_to '', 'javascript:void(0);', class: 'ico ico-down', title: "下移", layer: sub_menu.parent ? 1 : 0, menu_id: sub_menu.id, parent_id: sub_menu.parent_id, type: 'down' %>
        </span>
      </dt>
      <dd id="menu_list_<%= sub_menu.id %>">
        <%= render :partial=> "sub_menu", :collection => sub_menu.children.normal.order(:sort_order), :as =>:sub_menu %>
      </dd>
    </dl>
<% else %>
    <p>
      <b><%= sub_menu.name %></b>
        <span>
          <% if sub_menu.allow_menu_layer %>
            <%= link_to '', new_ec_seller_cat_url(parent_cid: sub_menu.id, parent_id: sub_menu.id), class: 'ico-add', title: "新增子目录" %>
          <% end %>
          <%= link_to '', edit_ec_seller_cat_url(sub_menu), class: 'ico-edit', title: "编辑当前目录" %>
          <%#= link_to '', ec_seller_cat_path(sub_menu), method: :delete, confirm: "确认删除分类？", title: "删除当前目录", class: "ico-delete"%>
          <a class="ico-delete" href="javascript:void(0);" onclick="pop(this)" data-id="<%= sub_menu.id %>" data-w="300" data-h="180" data-title="系统提示" title="删除当前目录" data-bd="<div class='box-form form-row'><form><p>确认删除分类？<br>分类删除后它和它子分类的商品都将下架</p><p class='tcenter'><a class='btn btn-small btn-orange' href='<%= ec_seller_cat_path(sub_menu) %>' data-method= 'delete'>确认</a>　<input value='取消' class='btn btn-small btn-close'/></p></form></div>"></a>
          <%= link_to '', 'javascript:void(0);', class: 'ico ico-up', title: "上移", layer: sub_menu.parent ? 1 : 0, menu_id: sub_menu.id, parent_id: sub_menu.parent_id, type: 'up' %>
          <%= link_to '', 'javascript:void(0);', class: 'ico ico-down', title: "下移", layer: sub_menu.parent ? 1 : 0, menu_id: sub_menu.id, parent_id: sub_menu.parent_id, type: 'down' %>
        </span>
    </p>
<% end %>
