var str = '';
var rel  = parseInt("<%= params[:rel].to_i %>");
var type = parseInt("<%= params[:type].to_i %>");
var current_select = $("#ec_seller_cat_id" + rel);
var next_select = $("#ec_seller_cat_id" + (rel + 1));
var select_start = '<select class="ec_seller_cat" id="ec_seller_cat_id' + (rel + 1) + '" name="ec_seller_cat_id' + (rel + 1) + '" rel="' + (rel + 1) + '">';
var select_end = '</select>';
var next_select_start_val = "<%= @ec_seller_cat.children.order(:sort_order).first.try(:id) %>";

if(type == 2 || type == 3){
    str += '<option value="-1">不限</option>'
}

<%  @ec_seller_cat.children.normal.order(:sort_order).each_with_index do |child, index| %>
str += '<option value="<%= child.id%>"><%= child.name %></option>'
<% end %>

<% if @ec_seller_cat.allow_menu_layer %>
if(rel != 0){
    if(next_select.length == 0){
        current_select.after(select_start + str + select_end);
    }else{
        next_select.html(str);
    }
    if(str == ""){
        if(type == 2){
            $.each($('.ec_seller_cat'), function(){
                if(parseInt($(this).attr('rel')) > rel){
                    $(this).html('<option value="-1">不限</option>');
                }
            });
        }else{
            $.each($('.ec_seller_cat'), function(){
                if(parseInt($(this).attr('rel')) > rel){
                    $(this).remove();
                }
            });
        }
        $(".hidden_ec_seller_cat_id").val(<%= @ec_seller_cat.id %>);
    }else{
        if(type == 2){
            $.each($('.ec_seller_cat'), function(){
                if(parseInt($(this).attr('rel')) > (rel+1)){
                    $(this).html('<option value="-1">不限</option>');
                }
            });
            $(".hidden_ec_seller_cat_id").val(<%= @ec_seller_cat.id %>);
        }else if(type == 3){
            $.each($('.ec_seller_cat'), function(){
                if(parseInt($(this).attr('rel')) > (rel+1)){
                    $(this).remove();
                }
                if($(this).find('option').length == 1){
                    $(this).remove();
                }
            });

            $(".hidden_ec_seller_cat_id").val(<%= @ec_seller_cat.id %>);
        }
        else{
            $(".hidden_ec_seller_cat_id").val(next_select_start_val);
        }

        $("#ec_seller_cat_id" + (rel + 1)).show();

        if($("#ec_seller_cat_id" + (rel + 1)).val() == "-1"){

        }else{
            if($("#ec_seller_cat_id" + (rel + 1)).val()){
                $.ajax({
                    type: "GET",
                    url: "/ec_seller_cats/" + $("#ec_seller_cat_id" + (rel + 1)).val() + "?rel=" + (rel + 1) + "&&type=" + type,
                    success: function(data) {
                        return false;
                    },
                    error: function() {
                        return false;
                    }
                });
            }
        }
    }
}
<% else %>
$(".hidden_ec_seller_cat_id").val(<%= @ec_seller_cat.id %>);
<% end %>