<div class="list-li">
  <div class="hd"><a href="<%= app_ebusiness_url(item) %>"><%= image_tag item.pic_url %></a><span class="ft"><%= item.price %></span></div>
  <div class="bd"><a href="<%= app_ebusiness_url(item) %>"><%= item.title  %></a><a href="<%= app_ecomments_url(:id => item.id)  %>" class="ico-comment fr"><%= item.ec_comments.count %></a></div>
</div>
