<div class="mod-block">

  <%= link_to mobile_micro_store_url(:site_id => branch.site_id, id: branch.id, ref: "table", anchor: "mp.weixin.qq.com"), class: "mod-product" do %>
  <div class="product-text">
    <b><%= branch.name %></b>
    <span><%= branch.ditu_address %></span>
  </div>
  <% end %><!-- 详情 -->

  <div class="mod-btns">
    <ul class="navLine-ul">
      <li>
        <a
        href="<%= take_out_mobile_shop_branch_url(site_id: session[:site_id], id: branch.id) %>"
        >
          <span class="icon icon-wine">外卖</span>
        </a>
      </li>
      <li>
        <a href="tel:<%= branch.tel %>">
          <span class="icon icon-phone">电话</span>
        </a>
      </li>
      <li>
        <a href="<%= baidu_map_address_http(branch.location_y,branch.location_x,branch.ditu_address) %>">
          <span class="icon icon-location">导航</span>
        </a>
      </li>

    </ul>
  </div>
</div>