<% provide(:title, '我要订座') %>
<div class="stage" id="stage">
	<header>
		<a href="javascript:history.go(-1);" class="fa fa-angle-left fl"></a>
		<h1>请选择订座门店</h1>
	</header>
	<section id="sec-index">
		<div class="body">
			<div class="box-search">
				 <%= form_for @search, url: book_table_mobile_shops_url(site_id: session[:site_id]), method: :get, html: { class: 'fl' } do |f| %>
				   <%= f.search_field :name_like, id: 'in', placeholder: '请输入要查找的门店', class: "input fl" %>
				   <input type="submit" class="btn btn-small" value="搜索">
				 <% end %>
				<div class="fr">
					<%= link_to "我的订座", mobile_shop_table_orders_url(site_id: session[:site_id], anchor: "mp.weixin.qq.com"), class: "fa fa-map-marker" %>
				</div>
			</div>
			<div class="index">

				<!-- begin list -->
				<%= render :partial => 'shop_branch_book_table', :collection => @shop_branches, :as => :branch %>
				<!-- end list -->
				
			</div>
		</div>
	</section>
</div>
<script type="text/javascript">
    $(function() {
        <% if flash[:notice] %>
        alert("<%= flash[:notice] %>");
        <% elsif flash[:alert] %>
        alert("<%= flash[:alert] %>");
        <% end %>
        <% flash.clear %>
    });
</script>
