<% title "汽车-试驾、保养预约" %>
<% content_for :ng_app do %>ng-app="app" ng-controller="customersController"<% end %>
<% content_for :header do %>
  <header>
    <a href="javascript:;"></a>
      <span class="text">汽车-试驾、保养预约</span>
    <a href="javascript:;"><span class="filter"></span></a>
  </header>
<% end %>

<% content_for :mod_pop do %>
  <div class="mod-pop">
    <div class="mod-bg"></div>
    <div class="mod-body">
      <ul>
        <li class="<%= 'active' if params[:bespeak_type].blank? %>"><a href="/merchant_app/orders/car_orders?role=account&role_id=<%= @login_user.id %>&token=<%= @login_user.auth_token %>&phone_or_nickname_like=<%= params[:phone_or_nickname_like]%>">全部</a></li>
        <li class="<%= 'active' if params[:bespeak_type] == CarBespeak::TEST_DRIVE %>"><a href="/merchant_app/orders/car_orders?role=account&role_id=<%= @login_user.id %>&token=<%= @login_user.auth_token %>&phone_or_nickname_like=<%= params[:phone_or_nickname_like]%>&bespeak_type=<%= CarBespeak::TEST_DRIVE %>">试驾预约</a></li>
        <li class="<%= 'active' if params[:bespeak_type] == CarBespeak::REPAIR %>"><a href="/merchant_app/orders/car_orders?role=account&role_id=<%= @login_user.id %>&token=<%= @login_user.auth_token %>&phone_or_nickname_like=<%= params[:phone_or_nickname_like]%>&bespeak_type=<%= CarBespeak::REPAIR %>">保养预约</a></li>
      </ul>
    </div>
  </div>
<% end %>

<%= form_tag car_orders_merchant_app_orders_url, method: :get do %>
  <%= hidden_field_tag :role, 'account' %>
  <%= hidden_field_tag :role_id, @login_user.id %>
  <%= hidden_field_tag :token, @login_user.auth_token %>
  <div class="search-box">
    <div class="search">
      <div class="s-icon"></div>
      <%= text_field_tag 'mobile_or_name_like', params[:mobile_or_name_like], placeholder: '手机/姓名' %>
    </div>
  </div>
<% end %>

<div infinite-scroll='demo.nextPage()' infinite-scroll-disabled='demo.busy' infinite-scroll-distance='1'>
  <div class="mod-list" ng-repeat="order in demo.orders">
    <dl>
      <dt class="icon-right {{order.dt_class}}">
        <a href='/merchant_app/orders/{{order.id}}/car_order_detail?role=account&&role_id=<%= @login_user.id %>&&token=<%= @login_user.auth_token %>'>{{order.title}}</a>
      </dt>
      <dd>
        <p>车系：{{order.car_catena}}</p>
        <p>车型：{{order.car_type}}</p>
        <p>预约时间：{{order.bespeak_date}}</p>
      </dd>
     </dl>
  </div>
</div>
<div class="mod-load" ng-show='demo.busy'>加载中…</div>

<script>
var app = angular.module('app', ['infinite-scroll']);


 app.controller('customersController', 
      function ($scope, Demo) {
          $scope.demo = new Demo();
      }
 );
  
  // 创建后台数据交互工厂
  app.factory('Demo', function ($http) {
     var Demo = function () {
         this.orders = [];
         this.busy = false;
         this.page = 1;
         this.last_order_id = null;
     };
     
     Demo.prototype.nextPage = function () {
         if (this.busy) return;
         this.busy = true;
         var url = '<%= raw "#{MERCHANT_APP_HOST}/v1/orders/cars?role=account&role_id=#{@login_user.id}&token=#{@login_user.auth_token}&bespeak_type=#{params[:bespeak_type]}&search[mobile_or_name_cont]=#{params[:mobile_or_name_like]}&page=" %>'+ this.page;
         $http.get(url).success(function (response) {
     if(response.result == 'success'){
             var items = response.data;
             this.busy = false;
             if(items.length > 0 && this.last_order_id != items[items.length-1]['id']){
             for(var i = 0; i < items.length; i++) {
                 this.orders.push(items[i]);
             }
             this.last_order_id = items[items.length-1].id
       this.page += 1;
             }  
           }
           else{
       console.log(response);
           }
   }.bind(this))
         .error(function(response) {
            console.log(response);
         }.bind(this));
     };
 
     return Demo;
});
</script>

<script>
$(function(){
    $(document).on("click",".filter",function(){
        $(".mod-pop").fadeIn(function(){
            $(".mod-pop").find(".mod-body").slideDown();
        });
    });
    var time,flag = true;
    $(document).on("click",".mod-body li",function(){
        if(!flag)return false;
        var $this = $(this),
            $body = $this.parents(".mod-body"),
            $mod = $body.parent();
        $this.addClass("active").siblings().removeClass("active");
        clearTimeout(time)
        time = setTimeout(function(){
            flag = false;
            $body.slideUp(function(){
                $mod.fadeOut();
                flag = true;
            });
        },800);
    });
    $(document).on("click",".mod-bg",function(){
        $(".mod-body").slideUp(function(){
            $(".mod-pop").fadeOut();
        });
    });
});

</script>

