<% title "微预定-订单" %>
<% content_for :ng_app do %>ng-app="app" ng-controller="customersController"<% end %>
<% content_for :header do %>
  <header>
<!--     <a href="javascript:;" onclick="javascript:history.go(-1);"><span class="back"></span></a>
 -->      <span class="text">微预定-订单</span>
    <a href="javascript:;"><span class="filter"></span></a>
  </header>
<% end %>

<% content_for :mod_pop do %>
  <div class="mod-pop">
    <div class="mod-bg"></div>
    <div class="mod-body">
      <ul>
        <li ng-repeat="activity in activities" class="{{activity.id == <%= params[:activity_id].to_i %> ? 'active' : ''}}"><a href="/merchant_app/orders/reservation_orders?role=account&role_id=<%= @login_user.id %>&token=<%= @login_user.auth_token %>&value_like=<%= params[:value_like]%>&activity_id={{activity.id}}">{{activity.name}}</a></li>
      </ul>
    </div>
  </div>
<% end %>

<%= form_tag reservation_orders_merchant_app_orders_url, method: :get do %>
  <%= hidden_field_tag :role, 'account' %>
  <%= hidden_field_tag :role_id, @login_user.id %>
  <%= hidden_field_tag :token, @login_user.auth_token %>
  <div class="search-box">
    <div class="search">
      <div class="s-icon"></div>
      <%= text_field_tag 'value_like', params[:value_like], placeholder: '搜索' %>
    </div>
  </div>
<% end %>

<div infinite-scroll='demo.nextPage()' infinite-scroll-disabled='demo.busy' infinite-scroll-distance='1'>
  <div class="mod-list" ng-repeat="order in demo.orders">
    <dl ng-show='order'>
      <dt class="icon-right {{order.dt_class}}">
        <a href='/merchant_app/orders/{{order.id}}/reservation_order_detail?role=account&role_id=<%= @login_user.id %>&token=<%= @login_user.auth_token %>'>创建时间：{{order.created_at}}</a>
      </dt>
      <dd>
        <p ng-repeat="(key,value) in order"><span ng-show="key != 'status' && key != 'id' && key != 'created_at' && key != 'dt_class' ">{{key == 'activity_name' ? '活动名称' : key}}：{{value}}<span></p>
      </dd>
     </dl>
  </div>
</div>
<div class="mod-load" ng-show='demo.busy'>加载中…</div>

<script>
 var app = angular.module('app', ['infinite-scroll']);

 app.controller('customersController',
  function ($scope, Demo) {
    $scope.demo = new Demo();
  }
  );

  // 创建后台数据交互工厂
  app.factory('Demo', function ($http) {
   var Demo = function () {
     this.orders = [];
     this.order_ids = [];
     this.activities = [];
     this.busy = false;
     this.page = 1;
     this.last_order_id = null;
   };

   Demo.prototype.nextPage = function () {
     if (this.busy) return;
     this.busy = true;
     var url = '<%= raw "#{MERCHANT_APP_HOST}/v1/orders/reservations?role=account&role_id=#{@login_user.id}&token=#{@login_user.auth_token}&value_like=#{params[:value_like]}&activity_id=#{params[:activity_id]}&page=" %>'+ this.page;
     $http.get(url).success(function (response) {
       if(response.result == 'success'){
         this.activities = response.data['activities'];
         var items = response.data['orders'];
         this.busy = false;
         if(items.length > 0 && this.last_order_id != items[items.length-1]['id']){
           for(var i = 0; i < items.length; i++) {
             if(this.order_ids.indexOf() == -1){
               this.orders.push(items[i]);
               this.order_ids.push(items[i].id);
             }
           }
           this.last_order_id = items[items.length-1].id
           this.page = this.orders.length % 10 == 0 ? (this.orders.length == 0 ? 1 : this.page + 1) : this.page;
         }
       }
       else{
         console.log(response);
       }
     }.bind(this))
     .error(function(response) {
      console.log(response);
    }.bind(this));
   };

   return Demo;
 });


</script>

