<% title "详情" %>
<% content_for :ng_app do %>ng-app="app" ng-controller="customersController"  ng-init="hide=true"<% end %>
<% content_for :header do %>
  <header>
    <%= link_to reservation_orders_merchant_app_orders_url(role: 'supplier', role_id: @login_user.id, token: @login_user.auth_token) do %><span class="back"></span><% end %>
    <span class="text">详情</span>
    <a href="javascript:;"></a>
  </header>
  <div class="mod-foot">
    <div class="cell" ng-hide="hide">
      <a href="javascript:;" class="btn btn-biger btn-primary" ng-click="change_status(1)">完成</a>
    </div>
    <div class="cell" ng-hide="hide">
      <a href="javascript:;" class="btn btn-biger btn-primary" ng-click="change_status(-1)">流单</a>
    </div>
  </div>
<% end %>


<div class="mod-list">
  <dl>
    <dd>
      <p>创建时间：{{created_at}}</p>
      <p ng-repeat="(key,value) in order">{{key == 'activity_name' ? '活动名称' : key}}：{{value}}</p>
      <p>状态：{{status_name}}</p>
    </dd>
  </dl>
</div>

<script>
var app = angular.module('app', []);
function customersController($scope,$http) {
    $http.get('<%= raw "#{MERCHANT_APP_HOST}/v1/orders/reservations/#{params[:id]}?role=supplier&role_id=#{@login_user.id}&token=#{@login_user.auth_token}" %>')
    .success(function(response) {
        if(response.result == 'success'){
 	  $scope.order = response.data;
        $scope.created_at = response.created_at;
        $scope.status_name = response.status_name;
          $scope.set_visable($scope.order.status, false);
        }
        else{
          console.log(response);
        }

    })
    .error(function(response) {
      console.log(response);
    });

    $http.post('<%= raw "#{MERCHANT_APP_HOST}/v1/igetuis/igetui_app_message?role=supplier&role_id=#{@login_user.id}&token=#{@login_user.auth_token}&messageable_id=#{params[:id]}&messageable_type=ReservationOrder&source=winwemedia_reservation&is_read=1" %>')
    .success(function(response) {
	console.log(response);
    })
    .error(function(response) {
        console.log(response);
    });

    $scope.change_status = function(status) {
        if(confirm('确认是否执行此操作？')){
          $http.post('<%= raw "#{MERCHANT_APP_HOST}/v1/orders/reservations/#{params[:id]}?role=supplier&role_id=#{@login_user.id}&token=#{@login_user.auth_token}&status=" %>'+status)
          .success(function(response) {
	     if(response.result == 'success'){
               $scope.set_visable(status, true);
             }
             else{
               console.log(response);
               alert('操作失败');
             }
          })
          .error(function(response) {
            console.log(response);
            alert('操作失败');
          });
        }
    };

    $scope.set_visable = function(status, flag) {
      if(flag){
        window.location.href = '<%= raw reservation_orders_merchant_app_orders_url(role: 'supplier', role_id: @login_user.id, token: @login_user.auth_token) %>'
      }
      else{
        switch(status){
          case 0:
          $scope.hide = true;
          break;
          default:
            $scope.hide = false;
            break;
        }
      }
    }
}

customersController.inject = ['$scope', '$http'];
app.controller('customersController', customersController);
</script>
