<% content_for :main_content do %>
  <div class="main-content ">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '微现场', wx_walls_path %></li>
        <li><%= link_to '摇一摇', shakes_path %></li>
        <li><%= link_to '摇一摇管理', shakes_path %></li>
      </ul>
      <%= render partial: '/layouts/qrcode' %>
    </div>
    <div class="page-content">
      <div class="tabbable">
        <ul class="nav nav-tabs padding-24 tab-size-bigger ">
          <li class="active">
            <a href="<%= shakes_path %>">
              摇一摇管理
            </a>
          </li>
          <li>
            <a href="<%= shake_round_shakes_path %>">
              活动数据
            </a>
          </li>
        </ul>
        <div class="tab-content no-border padding-24">
          <div class="tab-pane fade active in">
            <div class="row">
              <div class="col-sm-12">
                <div class="alert alert-block alert-info">
                  <strong class="pull-left">提示：</strong>
                  <ul class="vwebsiteHeadAlert">
                    <li> 1、建议使用<a href="https://www.google.com/intl/zh-CN/chrome/browser/">谷歌浏览器</a>最新版，以保证最佳的动画效果；</li>
                    <li> 2、进入活动页面后，点击键盘上的“ F11 ”可实现全屏；</li>
                    <li> 3、活动进行中有默认的音效；</li>
                    <li> 4、一个活动可重复进行多轮。</li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-12">
                <%= form_for @search, url: shakes_path, class: 'box-form form-row', html: { method: :get } do |f| %>
                  <div class="col-md-3 row">
                    <div class="input-group input-group-text">
                      <span class="input-group-addon">活动名称：</span>
                      <%= f.text_field :activity_name_like, class: 'col-xs-12' %>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button type="submit" class="btn btn-primary btn-sm btn-filter">查询</button>
                  </div>
                <% end %>
                <div class="col-md-3 row pull-right">
                  <a href="<%= new_shake_path %>" class="btn btn-sm btn-primary pull-right">新增</a>
                </div>
              </div>
              <div class="col-md-12 margin-top-20">
                <table id="couponTable" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th width="30%">活动名称</th>
                      <th>关键词</th>
                      <th>参与人次</th>
                      <th>创建时间</th>
                      <th width="25%">操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @shakes.each do |shake| %>
                      <tr>
                        <td><%= truncate_u shake.name, length: 16 %></td>
                        <td><%= shake.keyword %></td>
                        <td><%= shake.shake_users.count %></td>
                        <td><%= shake.created_at %></td>
                        <td>
                          <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                            <%= link_to "", shake_sites_path(id: shake.id, site_id: Des.encrypt(current_site.id.to_s)), class: "icon-eye-open", title: "摇一摇活动页面", target: '_blank' %>
                            <%= link_to "", edit_shake_path(shake), class: "icon-pencil", title: "编辑摇一摇" %>
                            <%= link_to "", shake_round_shakes_path("search[activity_id_eq]" => shake.activity.id), class: "icon-bar-chart", title: "活动数据" %>
                            <% if shake.stopped? %>
                              <%= link_to "", set_status_shake_path(shake), class: "icon-play", title: "开启", method: "post" %>
                            <% else %>
                              <%= link_to "", set_status_shake_path(shake), class: "icon-pause", title: "停止", method: "post" %>
                            <% end %>
                          </div>
                        </td>
                      </tr>
                    <% end.blank? %>
                      <tr><td colspan="5" class="green text-center">还没有创建活动</td></tr>
                    <% end %>
                  </tbody>
                </table>
                <%= paginate @shakes %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% content_for :custom_js do %>
<% end %>