<div class="box box-list">
  <a href="<%= material_type_url main_material, website_menu  %>" class="table">
      <% if main_material.pic_url %>
          <span class="fl box-circle td">
            <b style="background-image:url(<%= main_material.pic_url %>)"></b>
          </span>
      <% end %>
      <span class="<%= main_material.pic_url ? "fr td" : "fw td" %>">
      <b><%= main_material.title %></b>
        <i><%= date_format_full_l(main_material.created_at)  %></i>
        <em class="arrow"></em>
      </span>
    </a>
  <% child_material.each do |child| %>
    <a href="<%= material_type_url child, website_menu %>" class="table">
      <% if child.pic_url %>
          <span class="fl box-circle td">
            <b style="background-image:url(<%= child.pic_url %>)"></b>
          </span>
      <% end %>
      <span class="<%= child.pic_url ? "fr td" : "fw td" %>">
      <b><%= child.title %></b>
        <i><%= date_format_full_l(child.created_at)  %></i>
        <em class="arrow"></em>
      </span>
    </a>
  <% end  %>
</div>
