<div class="box box-list">
  <div class="bd list-room">
    <a href="<%= material_type_url main_material, website_menu %>">
        <% if main_material.pic? %>
          <b><img src="<%= main_material.pic.try(:large) %>"></b>
        <% end %>
        <span><%= main_material.title %></span>
      </a>
    <% child_material.each do |child| %>
      <a href="<%= material_type_url child, website_menu %>" >
        <% if child.pic? %>
          <b><img src="<%= child.pic.try(:large) %>"></b>
        <% end %>
        <span><%= child.title %></span>
      </a>
    <% end  %>
  </div>
</div>

<% content_for :load_view_js do %>
    <script type="text/javascript">
        $(function(){
            new Swipe(document.getElementById('slider'), {
                speed:500,
                auto:3000
            });
            navSwip=new Swipe(document.getElementById('sliderNav'), {
                speed:500
            });
        });
    </script>
<% end %>
