<% child_materials =  Kaminari.paginate_array(child_material).page(params[:page]).per(3) %>
<div class="box box-list">
  <a href="<%= material_type_url main_material, website_menu %>" class="table">
    <% if main_material.pic? %>
          <span class="fl box-circle td">
            <b style="background-image:url(<%= main_material.pic.try(:thumb) %>)"></b>
          </span>
    <% end %>
    <span class="<%= main_material.pic? ? "fr td" : "fw td" %>">
      <b><%= main_material.title %></b>
      <i><%= date_format_full_l(main_material.created_at)  %></i>
      <em class="arrow"></em>
    </span>
  </a>
  <% child_materials.each do |child| %>
      <a href="<%= material_type_url child, website_menu %>" class="table">
        <% if child.pic? %>
          <span class="fl box-circle td">
            <b style="background-image:url(<%= child.pic.try(:thumb) %>)"></b>
          </span>
        <% end %>
        <span class="<%= child.pic? ? "fr td" : "fw td" %>">
            <b><%= child.title %></b>
            <i><%= date_format_full_l(child.created_at)  %></i>
            <em class="arrow"></em>
        </span>
      </a>
  <% end  %>
</div>
<div class="box-page">
  <% if (link_to_previous_page child_materials, '上一页').present? %>
      <%= link_to_previous_page child_materials, '上一页', class: "btn", :params => { :anchor => "mp.weixin.qq.com" }  %>
  <% else %>
      <a class="btn active">上一页</a>
  <% end %>
  <% if (link_to_next_page child_materials, '下一页').present? %>
      <%= link_to_next_page child_materials, '下一页', class: "btn", :params => { :anchor => "mp.weixin.qq.com" }  %>
  <% else %>
      <a class="btn active">下一页</a>
  <% end %>
</div>
<div class="box-nav">
  <a href="javascript:history.go(-1);"><span class="ico-goback">返回</span></a>
  <a href="javascript:history.go(+1);"><span class="ico-goto">前进</span></a>
  <a href="<%= mobile_root_url(supplier_id: @website.supplier_id,id: @website.id, aid: session[:activity_id], wxmuid: @website.wx_mp_user_id, anchor: "mp.weixin.qq.com") %>"><span class="ico-home" >首页</span></a>
  <a onclick="window.location.reload()"><span class="ico-refresh">刷新</span></a>
</div>
