<div class="box box-list">
  <a href="<%= material_type_url main_material, website_menu %>" class="bg-arrow table">
    <span class="fl td">
      <b><%= image_tag main_material.pic_url if main_material.pic_url.present? %></b>
    </span>
    <span class="fr td">
      <b><%= main_material.title %></b>
      <i><%= date_format_full_l(main_material.created_at)  %></i>
    </span>
  </a>
  <% child_material.each do |child| %>
  <a href="<%= material_type_url child, website_menu %>" class="bg-arrow table">
    <span class="fl td">
      <b><%= image_tag child.pic_url if child.pic_url %></b>
    </span>
    <span class="fr td">
      <b><%= child.title %></b>
      <i><%= date_format_full_l(child.created_at)  %></i>
    </span>
  </a>
  <% end %>
</div>
