<% content_for :website_top_pic do %>
    <header>
      <a href="javascript:history.go(-1);" class="nav-1">
        <img src="/assets/website/template11/nav1.png"/>
      </a>
      <a href="<%= mobile_root_url(site_id: @website.site_id,id: @website.id, aid: session[:activity_id], anchor: "mp.weixin.qq.com") %>" class="nav-2">
        <img src="/assets/website/template11/nav2.png"/>
      </a>
      <a href="<%= @website.tel? ? "tel:#{@website.tel}" : "#" %>" class="nav-3">
        <img src="/assets/website/template11/nav3.png"/>
      </a>
      <a class="nav-4 last ico-list">
        <img src="/assets/website/template11/nav4.png"/>
      </a>
    </header>
<% end %>

  <div class="box box-list">
    <a href="<%= material_type_url main_material, website_menu %>"  class="box-block"></a>
    <div class="hd">
      <b><%= main_material.title %></b>
      <span><%= date_format_full_l(main_material.created_at)  %></span>
    </div>
    <% if main_material.pic_url %>
        <div class="bd">
          <%= image_tag main_material.pic_url%>
        </div>
    <% end %>
    <div class="ft">
      查看全文 >
    </div>
  </div>
  <% child_material.each do |child| %>
      <div class="box box-list">
        <a href="<%= material_type_url child, website_menu %>"  class="box-block"></a>
        <div class="hd">
          <b><%= child.title %></b>
          <span><%= date_format_full_l(child.created_at)  %></span>
        </div>
        <% if child.pic_url %>
        <div class="bd">
          <%= image_tag child.pic_url%>
        </div>
        <% end %>
        <div class="ft">
          查看全文 >
        </div>
      </div>
  <% end  %>

<% content_for :pop_pop_share do %>
    <div class="pop-nav pop">
      <div class="pop-bg"></div>
      <div class="pop-bd">
        <div class="hd"><span>取消</span></div>
        <div class="bd">
          <% @website.website_menus.root.each do |menu| %>
              <dl>
                <dt><a href="<%= menu_url(menu) %>"><span><%= menu.name %></span><i class="ico ico-angle-right fr"></i></a></dt>
                <dd></dd>
              </dl>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
