<div class="box box-list">
  <a href="<%= material_type_url main_material, website_menu %>" class="box-block"></a>
  <div class="hd">
    <b><%= main_material.title %></b>
    <span><%= date_format_full_l(main_material.created_at)  %></span>
  </div>
  <div class="bd">
    <%= image_tag main_material.pic_url if main_material.pic_url %>
  </div>
  <div class="ft">
    查看全文 >
  </div>
</div>

<% child_material.each do |child| %>
    <div class="box box-list">
      <a href="<%= material_type_url child, website_menu %>" class="box-block"></a>
      <div class="hd">
        <b><%= child.title %></b>
        <span><%= date_format_full_l(child.created_at)  %></span>
      </div>
      <div class="bd">
        <%= image_tag child.pic_url if child.pic_url %>
      </div>
      <div class="ft">
        查看全文 >
      </div>
    </div>
<% end %>