<div class="box box-list">
<!-- link_to mobile_micro_store_url( :supplier_id => session[:supplier_id] , id: branch.id) -->
  <%= link_to mobile_micro_store_url(:supplier_id => branch.supplier_id, id: branch.id ,ref: "dinner", anchor: "mp.weixin.qq.com"), class: "bd fw" do %>
    <b><%= branch.name %></b>
    <p><%= branch.ditu_address %></p>
  <% end %><!-- 详情 -->
  <div class="ft table">
      <a class="td" href="<%= want_dinner_app_shop_branch_url(branch) %>">
        <img src="/assets/micro_stores/ico-wine.png">订餐
      </a>
      <a class="td" href="tel:<%= branch.tel %>"><img src="/assets/micro_stores/ico-call.png">电话</a>
      <a class="td" href="http://api.map.baidu.com/geocoder?address=<%= branch.ditu_address %>&output=html">
        <img src="/assets/micro_stores/ico-location.png">导航
      </a>
  </div>
</div>