<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Form Elements - Ace Admin</title>
  <meta name="description" content="Common form elements and layouts"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>微枚迪后台管理系统</title>
  <%= stylesheet_link_tag 'application', 'application_1', 'ace.min', 'application_2', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%= render 'application/baidu_tongji' %>
</head>
<body class="modal-body-bg">
  <%= yield %>
</body>

<%= yield :custom_js if content_for?(:custom_js) %>

<%= render 'notice' %>

<script type="text/javascript">
    $(function(){
        $('input[type=file]').each(function(){
            $(this).attr('data-token', '<%= qiniu_pictures_upload_token%>');
            $(this).attr('data-bucket', '<%= BUCKET_PICTURES%>');
        });
    });
</script>

<%= yield(:insert_to_html) if content_for?(:insert_to_html) %>

</html>
