<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= content_for?(:title) ? yield(:title) : "" %></title>
    <%= stylesheet_link_tag "merchant_app/main" %>
    <%= javascript_include_tag "merchant_app/index" %>
</head>
<body <%= yield :ng_app %>>
<div class="main">
    <section>
        <%= yield :header %>
        <div class="body">
            <%= yield %>
        </div>
    </section>
</div>

<%= yield :mod_pop %>

<% if @login_user.class.eql?(Account) %>
  <% @account_footer = @login_user.account_footer %>
  <% #if @login_user && @account_footer && @login_user.try(:is_show_mark?) %>
    <%- unless @not_show_mark %>
      <footer>
        <%= @account_footer.footer_link.present? ? link_to(@account_footer.footer_content, @account_footer.footer_link) : @account_footer.footer_content %>
      </footer>
    <% end %>
  <%#- end %>

<% end %>

<script>
$(function(){
    $(document).on("click",".filter",function(){
        $(".mod-pop").fadeIn(function(){
            $(".mod-pop").find(".mod-body").slideDown();
        });
    });
    var time,flag = true;
    $(document).on("click",".mod-body li",function(){
        if(!flag)return false;
        var $this = $(this),
            $body = $this.parents(".mod-body"),
            $mod = $body.parent();
        $this.addClass("active").siblings().removeClass("active");
        clearTimeout(time)
        time = setTimeout(function(){
            flag = false;
            $body.slideUp(function(){
                $mod.fadeOut();
                flag = true;
            });
        },800);
        var url = $this.find('a').attr('href');
        if(url != "javascript:;" && typeof(url) != 'undefined'){
          window.location.href = url;
        }
    });
    $(document).on("click",".mod-bg",function(){
        $(".mod-body").slideUp(function(){
            $(".mod-pop").fadeOut();
        });
    });
    bottomLoad(loaded);
});
function topLoad(callBack){
    var $top,$start,$end,$move;
    document.addEventListener("touchstart",function(e){
        var t=e.touches[0];
        $top = $(document).scrollTop();
        $start = t.pageY;
    });
    document.addEventListener("touchmove",function(e){
        var t=e.touches[0];
        $end = t.pageY;
        $move = $end - $start;
        if($top-$move<=0){
            $(".mod-load").addClass("loading").fadeIn();
        }
    });
    document.addEventListener("touchend",function(e){
        callBack();
    });
}
function bottomLoad(callBack){
    var $winH = $(window).height(),
        $docH = $(document).height(),
        $top,$start,$end,$move;
    document.addEventListener("touchstart",function(e){
        var t=e.touches[0];
        $top = $(document).scrollTop();
        $start = t.pageY;
    });
    document.addEventListener("touchmove",function(e){
        var t=e.touches[0];
        $end = t.pageY;
        $move = $start-$end;
    });
    document.addEventListener("touchend",function(e){
        if($top+$move+$winH>$docH){
            $(".mod-load").addClass("loading").fadeIn();
        }
        callBack();
    });
}
function loaded(){
    setTimeout(function(){
        $(".mod-load").fadeOut().removeClass("loading");
    },1000)
}
</script>

</body>
</html>
