<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <link href="/assets/favicon.ico" rel="shortcut icon">
  <title><%= content_for?(:title) ? yield(:title) : "微枚迪" %></title>
  <meta name="keywords"  content="<%= content_for?(:meta_keywords) ? yield(:meta_keywords) : "微枚迪" %>"/>
  <meta name="description"  content="<%= content_for?(:meta_description) ? yield(:meta_description) : "微枚迪" %>"/>
  <%= stylesheet_link_tag    "/stylesheets/vcool.css", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "/stylesheets/common.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= render 'application/baidu_tongji' %>
</head>
<body>
  <%= render 'header' %>
  <%= render 'custom_service' %>

  <div class="banner-wrap banner-dream-wrap">
    <div class="banner banner-dream"><img src="/assets/banner_dream.jpg" /></div>
  </div>

  <div class="content-wrap">
    <div class="common-content">
      <div class="common-main clearfix">

        <dl class="common-template-nav fl">
          <dt>合作代理</dt>
          <dd><%= link_to '免费申请试用', register_path(anchor: 'new_supplier_apply'), class: current_page?(register_path) ? 'active' : '' %></dd>
          <dd><%= link_to '渠道代理流程', supplier_applies_path, class: current_page?(supplier_applies_path) ? 'active' : '' %></dd>
          <dd class='end'><%= link_to '申请成为代理商', new_supplier_apply_path(anchor: 'new_supplier_apply'), class: current_page?(new_supplier_apply_path) ? 'active' : '' %></dd>
        </dl>

        <div class="common-template-main fr">
          <%= yield %>
          <span class="box-bar btm-bar"></span>
        </div>
      </div>
    </div>
  </div>

  <%= render 'footer2' %>
  <%= render 'analytics' %>

  <script>
  <% if flash[:notice] || flash[:alert] %>
    alert("<%= flash[:notice] || flash[:alert] %>");
  <% end %>
  </script>
</body>
</html>