<% content_for :main_content do %>
  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <%= render 'partials/home' %>
        <li><%= link_to '系统设置', profile_path %></li>
        <li><%= link_to '我的账号', 'javascript:;' %></li>
      </ul>
      <%= render '/layouts/qrcode' %>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="col-sm-12">
          <%= form_for current_user, validate: true, html: { class: 'form width-800' } do |f| -%>
            <div class="form-group">
              <label class="control-label">登录账号<span class="required-star">*</span></label>
              <div class="clearfix">
                <%= f.text_field :nickname, class: 'col-sm-4' %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">联系人</label>
              <div class="clearfix">
                <%= f.text_field :contact, class: 'col-sm-4' %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">手机号码<span class="required-star">*</span></label>
              <div class="clearfix">
                <%= f.text_field :mobile, class: 'col-sm-4' %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">工作电话</label>
              <div class="clearfix">
                <%= f.text_field :tel, class: 'col-sm-4' %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">QQ号码</label>
              <div class="clearfix">
                <%= f.text_field :qq, class: 'col-sm-4' %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">电子邮箱<span class="required-star">*</span></label>
              <div class="clearfix">
                <%= f.text_field :email, class: 'col-sm-4' %>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" id="save_account" value="保存">
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
<% end %>
