<div class="m-main">
  <%= form_for @account, validate: true, remote: true do |f| %>
    <%#= f.hidden_field :address, value: "filler" %>
    <%#= f.hidden_field :source, value: 1 %>

    <div class="m-form">
      <div class="m-icon circle"><i class="fa fa-user"></i></div>
      <div class="m-title">注册账号</div>
      <div class="m-input-text">
        <%= f.text_field :nickname, class: "input-focus validate", validate: false, data: {tip: "请输入您的账号"} %>
      </div>
      <div class="m-input-text m-input-pass">
        <%= f.password_field :password, :class => "input-focus validate", validate: false, data: {tip: "请输入密码，长度为6~20位字符"} %>
      </div>
      <div class="m-input-text m-input-pass">
        <%= f.password_field :password_confirmation, :class => "input-focus validate", validate: false, data: {tip: "确认密码"} %>
      </div>
      <div class="m-input-text">
        <%= rucaptcha_input_tag(class: 'input-focus validate', id: "check-place", data: {tip: "请输入验证码"}) %>
        <div class="m-check-num">
          <a class="rucaptcha-image-box" href="javascript:;"><%= rucaptcha_image_tag %></a>
        </div>
      </div>

      <div class="m-input-text">
        <%= f.text_field :company_name, class: "input-focus validate", validate: false, data: {tip: "请输入您公司名称"} %>
      </div>

      <div class="clearfix m-select select-industry">
        <%= collection_select(:account, :account_category_id, AccountCategory.all, :id, :name, { prompt: "请选择行业" }, { class: "m-select-real" }) %>
      </div>

      <div class="clearfix m-select">
        <%= address_select(@account, class: "m-select-real m-select-prov") %>
      </div>
      <div class="m-input-text">
        <%= f.text_field :address, class: "input-focus validate", validate: false, data: {tip: "详情地址"} %>
      </div>

      <div class="m-input-text">
        <%= f.text_field :contact, class: "input-focus validate", validate: false, data: {tip: "联系人"} %>
      </div>
      <div class="m-input-text">
        <%= f.text_field :mobile, :class => "input-focus validate", validate: false, data: {tip: "手机号"} %>
      </div>
<!-- 
      <div class="m-input-text m-input-check">
        <input class="input-focus radius-tr0 radius-br0 validate" id="captcha" name="captcha" type="text" data-tip="请输入验证码" />
        <input class="input-check clickable input-check-forbid" type="button" value="发送验证码" />
      </div>
 -->
      <div class="m-input-text">
        <%= f.text_field :email, class: "input-focus validate", validate: false, data: {tip: "电子邮件，可用于找回密码，请填写"} %>
      </div>
      <div class="m-link-tip">
        <a class="m-link-tip-rg" href="<%= sign_in_path %>">已有账号，点此登录&gt;</a>
      </div>
      <div class="m-input-btn m-input-btn-ps">
        <%= f.submit "提交", class: "m-input-btn-s", disabled: true, disable_with: "提交中..." %>
      </div>
    </div>
  <% end %>
</div>

<%= content_for :custom_js do %>
    <script>
        $(".rucaptcha-image-box").on('click', function(){
          var img = $(this).find('img:first'),
            currentSrc = img.attr('src');
          img.attr('src', currentSrc.split('?')[0] + '?' + (new Date()).getTime());
        });

        var chec_image_code = false;
        var reg_mobile = /^[0-9_\-]{11}$/,
                reg_email = /^([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$/i;
        $(function () {
            $(".m-input-text input").Ztip({
                exceptClass: ["validate"]
            });
            var count = 60;
            // $(".input-check").on("click", function () {
            //     var self = $(this);
            //     var checkClass = "input-check-forbid";
            //     var countStr = "重发验证码({munber})";
            //     var sendStr = "发送验证码";

            //     var timer;
            //     var counter = function () {
            //         if (--count < 0) {
            //             count = 60;
            //             self.val(sendStr);
            //             if ($("#account_mobile").val() != "" && $("#account_mobile").val() != "手机号") {
            //                 self.removeClass(checkClass);
            //             }
            //             clearTimeout(timer);
            //             return false;
            //         }

            //         self.val(countStr.replace(/{munber}/, count));
            //         timer = setTimeout(function () {
            //             counter();
            //         }, 1000);
            //     };
            //     if (!self.hasClass(checkClass)) {
            //         if (validate_image_code() == false){
            //             return false;
            //         }
            //         //发送验证码
            //         if ($('#account_mobile').val() == "" || !reg_mobile.test($('#account_mobile').val())) {
            //             alert('请输入正确的手机号码');
            //             return false;
            //         } else {
            //             result = $.ajax({
            //                 url: "<%= send_sms_accounts_path %>?mobile=" + $('#account_mobile').val() + '&verify_code=' + $("#check-place").val(),
            //                 type: 'get',
            //                 dataType: 'json',
            //                 success: function (data, textStatus, jqXhr) {
            //                     if (data.errcode == -1) {
            //                         alert('请输入正确的验证码');
            //                     } else {
            //                         counter();
            //                         self.addClass(checkClass);
            //                     }
            //                 }
            //             });
            //         }
            //     }
            // });

            $("#account_mobile").on("input", function () {
                if ($(this).val() && count == 60) {
                    $('input.clickable').removeClass("input-check-forbid");
                } else {
                    $('input.clickable').addClass("input-check-forbid");
                }
            });
        });

        var input = $(".validate");
        input.on("input", function () {
            var flag = true;
            input.each(function (i) {
                var $val = $(this).val();
                if (!$val || $val == "请输入您的账号" || $val == "请输入长度为6~20位字符的密码" || $val == "确认密码" || $val == "请输入您公司名称" || $val == "联系人" || $val == "手机号" || $val == "电子邮件，可用于找回密码，请填写") {
                    flag = false;
                    $(".m-input-btn-s").removeClass("m-input-btn-active").attr("disabled", true);
                    return false;
                }
            });
            if (flag) {
                $(".m-input-btn-s").addClass("m-input-btn-active").removeAttr("disabled");
            }
        });

        input.on("blur", function () {
            var val = $(this).val(),
                    id = $(this).attr("id");
            if (!val) {
                error_msg($(this), "不能为空");
            } else if (id == "account_password" && val.length < 6) {
                error_msg($(this), "密码太短最少6位");
            } else if (id == "account_password_confirmation" && val != $("#account_password").val()) {
                error_msg($(this), "确认密码不一致");
            } else if (id == "account_mobile" && !reg_mobile.test(val)) {
                error_msg($(this), "请输入正确的手机号码");
            } else if (id == "account_email" && !reg_email.test(val)) {
                error_msg($(this), "邮箱格式错误");
            } else {
                checkInputDel($(this).closest(".m-input-text"));
            }
        });

        function error_msg(obj, msg) {
            checkInput(obj.closest(".m-input-text"), 0, msg);
            $(".m-input-btn-s").removeClass("m-input-btn-active").attr("disabled", true);
        }

        function validate_image_code(){
            var image_code_val = $("#check-place").val();
            var url = "<%= validate_image_code_path %>";
            $.ajax({
                type: 'GET',
                url: url,
                async : false,
                data: {image_code: image_code_val},
                success: function(result){
                    if(result["code"] == -1){
                        chec_image_code = false;
                        checkInput($(".m-input-text").eq(result["num"]), result["status"], result["message"]);
                    }else{
                        chec_image_code = true;
                        checkInputDel($("#check-place").closest(".m-input-text"));
                    }
                }
            });
            return chec_image_code;
        }
    </script>

    <script>
        $("#new_account").bind("ajax:success", function (event, xhr, settings) {
            checkInputDel($(".m-input-text"));
            if (xhr["code"] == 0) {
                location.href = "/platforms";
            } else {
                messages = xhr["message"].split("; ")
                $.each(messages, function (i, e) {
                    error_list = e.split(":")
                    error_input = $("[name='account[" + error_list[0] + "]']")

                    if (xhr["status"] == 1 || xhr["code"] == -9) {
                        $(".m-input-text").eq(-1).find("input").focus();
                        checkInput($(".m-input-text").eq(xhr["num"]), xhr["status"], xhr["message"]);
                    } else if (xhr["code"] == -1) {
                        $(".m-input-text").eq(xhr["num"]).find("input").focus();
                        checkInput($("#captcha").closest(".m-input-text"), 0, xhr["message"]);
                    } else if (xhr["code"] == -4) {
                        $(".m-input-text").eq(xhr["num"]).find("input").focus();
                        checkInput($("#check-place").closest(".m-input-text"), 0, xhr["message"]);
                    } else if (xhr["code"] == -3) {
                        $(".m-input-text").eq(xhr["num"]).find("input").focus();
                        checkInput($(".m-input-text").eq(xhr["num"]), xhr["status"], xhr["message"]);
                    } else if (error_input) {
                        error_input.focus();
                        checkInput(error_input.closest(".m-input-text"), 0, error_list[1]);
                    }
                });
            }
        });
    </script>

<% end %>
