<% content_for :sidebar do %>
  <%= render 'sidebar_ec_shop' %>
<% end %>

<% content_for :topbar do %>
  <h1 class="pagecurrent">轮播图片</h1>
<% end %>

<div id="cont4" class="cont">
  <div class="box-photo fl" id="photoList">
    <%#= form_tag "/trips/ad_add", id: "ad_form", multipart: true do %>
    <div class="photo-li li-add" style="width: 235px; height: 133.33333333333334px;">
      <a class="btn-add" onclick="popUrl(this)" data-name="name" data-w="900" data-h="550" data-title="新增图片" data-url="<%= new_ec_ad_path %>">
        <!--<input type="file" name="pic" id="ad_add">-->
        <span>添加图片</span>
      </a>
    </div><!--photo-li end-->
    <%# end %>
    <% @pictures.each do |picture| %>
        <div class="photo-li" id="photo_<%= picture.id %>" style="width: 235px; height: 133.33333333333334px;" >
          <div class="li-img">
            <img src="<%= picture.pic.large %>">
          </div>
          <div class="li-btn">
            <div class="li-p" data-id="<%= picture.id %>" data-title="<%= picture.title %>">
              <span class="fl" style="width: 80%;"><%= picture.title %></span>
              <span class="fr" style="display: block;">
                <a class="btn-edit" onclick="popUrl(this)" data-name="name" data-w="900" data-h="560" data-title="编辑图片" data-url="<%= edit_ec_ad_path(picture) %>"></a>
                <a class="btn-detele" onclick="pop(this)" data-name="name" data-w="300" data-h="140" data-title="删除"
                   data-bd="<div class='box-form form-row'><form><p>确认要删除吗？</p>
               <p data-p-id=< class='tcenter'><input type='button' value='确认' class='btn btn-small btn-close btn-orange' onclick='delete_pic(<%= picture.id %>)'/>　　 　
               <input type='button' value='取消' class='btn btn-small btn-close'/></p></form></div>"></a>
              </span>
            </div>
            <div class="li-bg"></div>
          </div>
        </div><!--photo-li end-->
    <% end %>

  </div>
</div><!--box-des end-->
<script type="text/javascript">
    function delete_pic(id){
        var del_url = "/ec_ads/" + id;
        jQuery.ajax({
            type: "DELETE",
            url: del_url,
            dataType: "json",
            success: function(data){
                if(data.id){
                    $('#photo_' + id ).remove();
                    showTip('success',"删除成功");
                }else{
                    showTip('warning',"删除失败");
                }
            }
        });
    }
</script>

<style>
    img {
        height: 133px;
        width: 235px;
    }
</style>